/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

.u-clearfix::after, .container::after, .row::after {
  display: table;
  clear: both;
  content: ""; }

.u-hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.u-visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.u-hide {
  display: none; }

.u-show {
  display: block; }

.u-padding {
  padding: 30px; }

.u-margin {
  margin: 30px; }

@font-face {
  font-family: "Benton-Sans";
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot");
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot?") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-3.woff") format("woff"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Benton-Sans";
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot");
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot?") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-3.woff") format("woff"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Benton-Sans";
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Benton-Sans";
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot");
  src: url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot?") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-3.woff") format("woff"), url("//www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "TiemposText";
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot");
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "TiemposText";
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot");
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "TiemposText";
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold.eot");
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold.eot?#iefix") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "TiemposText";
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold-Italic.eot");
  src: url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold-Italic.eot?#iefix") format("embedded-opentype"), url("//www.bu.edu/cdn/fonts/TiemposText/TiemposText-Semibold-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "bu-default-icons";
  src: url("//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot?") format("embedded-opentype");
  src: url("//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.woff") format("woff"), url("//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.ttf") format("truetype"), url("//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.svg#bu-default-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

*,
*::before,
*::after {
  box-sizing: border-box; }

figure {
  margin: 0; }

html {
  -moz-osx-font-smoothing: grayscale; }

section {
  margin: 60px 0 0; }

img,
a img,
object,
embed,
figure {
  height: auto;
  max-width: 100%; }

.wrapper {
  overflow: hidden; }

.container {
  margin: 0 auto;
  padding: 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .container {
      max-width: 750px;
      padding: 60px 30px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }

.row {
  margin: 0 -15px; }
  @media (min-width: 768px) {
    .row {
      margin: 0 -30px; } }

.row [class*="col-"] {
  padding-left: 30px;
  padding-right: 30px; }

.col-1, .col-2, .col-quarter, .col-3, .col-third, .col-4, .col-5, .col-half, .col-6, .col-7, .col-two-third, .col-8, .col-three-quarter, .col-9, .col-10, .col-11, .col-full, .col-12, .col-margin-remove, .col-margin-0, .col-push-remove, .col-push-0, .col-pull-remove, .col-pull-0, .col-offset-remove, .col-offset-0, .col-margin-1, .col-push-1, .col-pull-1, .col-offset-1, .col-margin-2, .col-push-2, .col-pull-2, .col-offset-2, .col-margin-quarter, .col-margin-3, .col-push-quarter, .col-push-3, .col-pull-quarter, .col-pull-3, .col-offset-quarter, .col-offset-3, .col-margin-third, .col-margin-4, .col-push-third, .col-push-4, .col-pull-third, .col-pull-4, .col-offset-third, .col-offset-4, .col-margin-5, .col-push-5, .col-pull-5, .col-offset-5, .col-margin-half, .col-margin-6, .col-push-half, .col-push-6, .col-pull-half, .col-pull-6, .col-offset-half, .col-offset-6, .col-margin-7, .col-push-7, .col-pull-7, .col-offset-7, .col-margin-two-third, .col-margin-8, .col-push-two-third, .col-push-8, .col-pull-two-third, .col-pull-8, .col-offset-two-third, .col-offset-8, .col-margin-three-quarter, .col-margin-9, .col-push-three-quarter, .col-push-9, .col-pull-three-quarter, .col-pull-9, .col-offset-three-quarter, .col-offset-9, .col-margin-10, .col-push-10, .col-pull-10, .col-offset-10, .col-margin-11, .col-push-11, .col-pull-11, .col-offset-11, .col-margin-full, .col-margin-12, .col-push-full, .col-push-12, .col-pull-full, .col-pull-12, .col-offset-full, .col-offset-12 {
  float: left;
  position: relative;
  min-height: 1px; }

.col-margin-remove, .col-margin-0, .col-margin-1, .col-margin-2, .col-margin-quarter, .col-margin-3, .col-margin-third, .col-margin-4, .col-margin-5, .col-margin-half, .col-margin-6, .col-margin-7, .col-margin-two-third, .col-margin-8, .col-margin-three-quarter, .col-margin-9, .col-margin-10, .col-margin-11, .col-margin-full, .col-margin-12 {
  float: left;
  margin-bottom: 2.5641025641%;
  margin-left: 2.5641025641%;
  margin-top: 0;
  padding: 30px; }

.col-margin-parent {
  margin-left: -2.5641025641%;
  margin-right: 0; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-quarter, .col-3 {
  width: 25%; }

.col-third, .col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-half, .col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-two-third, .col-8 {
  width: 66.6666666667%; }

.col-three-quarter, .col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-full, .col-12 {
  width: 100%; }

.col-margin-remove, .col-margin-0 {
  width: initial; }

.col-push-remove, .col-push-0 {
  left: initial; }

.col-pull-remove, .col-pull-0 {
  right: initial; }

.col-offset-remove, .col-offset-0 {
  margin-left: initial; }

.col-margin-1 {
  width: 5.7692307692%; }

.col-push-1 {
  left: 8.3333333333%; }

.col-pull-1 {
  right: 8.3333333333%; }

.col-offset-1 {
  margin-left: 8.3333333333%; }

.col-margin-2 {
  width: 14.1025641026%; }

.col-push-2 {
  left: 16.6666666667%; }

.col-pull-2 {
  right: 16.6666666667%; }

.col-offset-2 {
  margin-left: 16.6666666667%; }

.col-margin-quarter, .col-margin-3 {
  width: 22.4358974359%; }

.col-push-quarter, .col-push-3 {
  left: 25%; }

.col-pull-quarter, .col-pull-3 {
  right: 25%; }

.col-offset-quarter, .col-offset-3 {
  margin-left: 25%; }

.col-margin-third, .col-margin-4 {
  width: 30.7692307692%; }

.col-push-third, .col-push-4 {
  left: 33.3333333333%; }

.col-pull-third, .col-pull-4 {
  right: 33.3333333333%; }

.col-offset-third, .col-offset-4 {
  margin-left: 33.3333333333%; }

.col-margin-5 {
  width: 39.1025641026%; }

.col-push-5 {
  left: 41.6666666667%; }

.col-pull-5 {
  right: 41.6666666667%; }

.col-offset-5 {
  margin-left: 41.6666666667%; }

.col-margin-half, .col-margin-6 {
  width: 47.4358974359%; }

.col-push-half, .col-push-6 {
  left: 50%; }

.col-pull-half, .col-pull-6 {
  right: 50%; }

.col-offset-half, .col-offset-6 {
  margin-left: 50%; }

.col-margin-7 {
  width: 55.7692307692%; }

.col-push-7 {
  left: 58.3333333333%; }

.col-pull-7 {
  right: 58.3333333333%; }

.col-offset-7 {
  margin-left: 58.3333333333%; }

.col-margin-two-third, .col-margin-8 {
  width: 64.1025641026%; }

.col-push-two-third, .col-push-8 {
  left: 66.6666666667%; }

.col-pull-two-third, .col-pull-8 {
  right: 66.6666666667%; }

.col-offset-two-third, .col-offset-8 {
  margin-left: 66.6666666667%; }

.col-margin-three-quarter, .col-margin-9 {
  width: 72.4358974359%; }

.col-push-three-quarter, .col-push-9 {
  left: 75%; }

.col-pull-three-quarter, .col-pull-9 {
  right: 75%; }

.col-offset-three-quarter, .col-offset-9 {
  margin-left: 75%; }

.col-margin-10 {
  width: 80.7692307692%; }

.col-push-10 {
  left: 83.3333333333%; }

.col-pull-10 {
  right: 83.3333333333%; }

.col-offset-10 {
  margin-left: 83.3333333333%; }

.col-margin-11 {
  width: 89.1025641026%; }

.col-push-11 {
  left: 91.6666666667%; }

.col-pull-11 {
  right: 91.6666666667%; }

.col-offset-11 {
  margin-left: 91.6666666667%; }

.col-margin-full, .col-margin-12 {
  width: 97.4358974359%; }

.col-push-full, .col-push-12 {
  left: 100%; }

.col-pull-full, .col-pull-12 {
  right: 100%; }

.col-offset-full, .col-offset-12 {
  margin-left: 100%; }

@media (min-width: 500px) {
  .col-xs-margin-remove, .col-xs-margin-0, .col-xs-margin-1, .col-xs-margin-2, .col-xs-margin-quarter, .col-xs-margin-3, .col-xs-margin-third, .col-xs-margin-4, .col-xs-margin-5, .col-xs-margin-half, .col-xs-margin-6, .col-xs-margin-7, .col-xs-margin-two-third, .col-xs-margin-8, .col-xs-margin-three-quarter, .col-xs-margin-9, .col-xs-margin-10, .col-xs-margin-11, .col-xs-margin-full, .col-xs-margin-12 {
    float: left;
    margin-bottom: 2.5641025641%;
    margin-left: 2.5641025641%;
    margin-top: 0;
    padding: 30px; }
  .col-xs-margin-parent {
    margin-left: -2.5641025641%; }
  .col-xs-remove, .col-xs-0 {
    float: left;
    position: relative;
    min-height: 1px;
    width: initial; }
  .col-xs-1 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 8.3333333333%; }
  .col-xs-2 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 16.6666666667%; }
  .col-xs-quarter, .col-xs-3 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 25%; }
  .col-xs-third, .col-xs-4 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 33.3333333333%; }
  .col-xs-5 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 41.6666666667%; }
  .col-xs-half, .col-xs-6 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 50%; }
  .col-xs-7 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 58.3333333333%; }
  .col-xs-two-third, .col-xs-8 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 66.6666666667%; }
  .col-xs-three-quarter, .col-xs-9 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 75%; }
  .col-xs-10 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 83.3333333333%; }
  .col-xs-11 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 91.6666666667%; }
  .col-xs-full, .col-xs-12 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%; }
  .col-xs-margin-remove, .col-xs-margin-0 {
    width: initial; }
  .col-xs-margin-1 {
    width: 5.7692307692%; }
  .col-xs-margin-2 {
    width: 14.1025641026%; }
  .col-xs-margin-quarter, .col-xs-margin-3 {
    width: 22.4358974359%; }
  .col-xs-margin-third, .col-xs-margin-4 {
    width: 30.7692307692%; }
  .col-xs-margin-5 {
    width: 39.1025641026%; }
  .col-xs-margin-half, .col-xs-margin-6 {
    width: 47.4358974359%; }
  .col-xs-margin-7 {
    width: 55.7692307692%; }
  .col-xs-margin-two-third, .col-xs-margin-8 {
    width: 64.1025641026%; }
  .col-xs-margin-three-quarter, .col-xs-margin-9 {
    width: 72.4358974359%; }
  .col-xs-margin-10 {
    width: 80.7692307692%; }
  .col-xs-margin-11 {
    width: 89.1025641026%; }
  .col-xs-margin-full, .col-xs-margin-12 {
    width: 97.4358974359%; }
  .col-xs-push-remove, .col-xs-push-0 {
    left: initial; }
  .col-xs-push-1 {
    left: 8.3333333333%; }
  .col-xs-push-2 {
    left: 16.6666666667%; }
  .col-xs-push-quarter, .col-xs-push-3 {
    left: 25%; }
  .col-xs-push-third, .col-xs-push-4 {
    left: 33.3333333333%; }
  .col-xs-push-5 {
    left: 41.6666666667%; }
  .col-xs-push-half, .col-xs-push-6 {
    left: 50%; }
  .col-xs-push-7 {
    left: 58.3333333333%; }
  .col-xs-push-two-third, .col-xs-push-8 {
    left: 66.6666666667%; }
  .col-xs-push-three-quarter, .col-xs-push-9 {
    left: 75%; }
  .col-xs-push-10 {
    left: 83.3333333333%; }
  .col-xs-push-11 {
    left: 91.6666666667%; }
  .col-xs-push-full, .col-xs-push-12 {
    left: 100%; }
  .col-xs-pull-remove, .col-xs-pull-0 {
    right: initial; }
  .col-xs-pull-1 {
    right: 8.3333333333%; }
  .col-xs-pull-2 {
    right: 16.6666666667%; }
  .col-xs-pull-quarter, .col-xs-pull-3 {
    right: 25%; }
  .col-xs-pull-third, .col-xs-pull-4 {
    right: 33.3333333333%; }
  .col-xs-pull-5 {
    right: 41.6666666667%; }
  .col-xs-pull-half, .col-xs-pull-6 {
    right: 50%; }
  .col-xs-pull-7 {
    right: 58.3333333333%; }
  .col-xs-pull-two-third, .col-xs-pull-8 {
    right: 66.6666666667%; }
  .col-xs-pull-three-quarter, .col-xs-pull-9 {
    right: 75%; }
  .col-xs-pull-10 {
    right: 83.3333333333%; }
  .col-xs-pull-11 {
    right: 91.6666666667%; }
  .col-xs-pull-full, .col-xs-pull-12 {
    right: 100%; }
  .col-xs-offset-remove, .col-xs-offset-0 {
    margin-left: initial; }
  .col-xs-offset-1 {
    margin-left: 8.3333333333%; }
  .col-xs-offset-2 {
    margin-left: 16.6666666667%; }
  .col-xs-offset-quarter, .col-xs-offset-3 {
    margin-left: 25%; }
  .col-xs-offset-third, .col-xs-offset-4 {
    margin-left: 33.3333333333%; }
  .col-xs-offset-5 {
    margin-left: 41.6666666667%; }
  .col-xs-offset-half, .col-xs-offset-6 {
    margin-left: 50%; }
  .col-xs-offset-7 {
    margin-left: 58.3333333333%; }
  .col-xs-offset-two-third, .col-xs-offset-8 {
    margin-left: 66.6666666667%; }
  .col-xs-offset-three-quarter, .col-xs-offset-9 {
    margin-left: 75%; }
  .col-xs-offset-10 {
    margin-left: 83.3333333333%; }
  .col-xs-offset-11 {
    margin-left: 91.6666666667%; }
  .col-xs-offset-full, .col-xs-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-sm-margin-remove, .col-sm-margin-0, .col-sm-margin-1, .col-sm-margin-2, .col-sm-margin-quarter, .col-sm-margin-3, .col-sm-margin-third, .col-sm-margin-4, .col-sm-margin-5, .col-sm-margin-half, .col-sm-margin-6, .col-sm-margin-7, .col-sm-margin-two-third, .col-sm-margin-8, .col-sm-margin-three-quarter, .col-sm-margin-9, .col-sm-margin-10, .col-sm-margin-11, .col-sm-margin-full, .col-sm-margin-12 {
    float: left;
    margin-bottom: 2.5641025641%;
    margin-left: 2.5641025641%;
    margin-top: 0;
    padding: 30px; }
  .col-sm-margin-parent {
    margin-left: -2.5641025641%; }
  .col-sm-remove, .col-sm-0 {
    float: left;
    position: relative;
    min-height: 1px;
    width: initial; }
  .col-sm-1 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 8.3333333333%; }
  .col-sm-2 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 16.6666666667%; }
  .col-sm-quarter, .col-sm-3 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 25%; }
  .col-sm-third, .col-sm-4 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 33.3333333333%; }
  .col-sm-5 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 41.6666666667%; }
  .col-sm-half, .col-sm-6 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 50%; }
  .col-sm-7 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 58.3333333333%; }
  .col-sm-two-third, .col-sm-8 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 66.6666666667%; }
  .col-sm-three-quarter, .col-sm-9 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 75%; }
  .col-sm-10 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 83.3333333333%; }
  .col-sm-11 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 91.6666666667%; }
  .col-sm-full, .col-sm-12 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%; }
  .col-sm-margin-remove, .col-sm-margin-0 {
    width: initial; }
  .col-sm-margin-1 {
    width: 5.7692307692%; }
  .col-sm-margin-2 {
    width: 14.1025641026%; }
  .col-sm-margin-quarter, .col-sm-margin-3 {
    width: 22.4358974359%; }
  .col-sm-margin-third, .col-sm-margin-4 {
    width: 30.7692307692%; }
  .col-sm-margin-5 {
    width: 39.1025641026%; }
  .col-sm-margin-half, .col-sm-margin-6 {
    width: 47.4358974359%; }
  .col-sm-margin-7 {
    width: 55.7692307692%; }
  .col-sm-margin-two-third, .col-sm-margin-8 {
    width: 64.1025641026%; }
  .col-sm-margin-three-quarter, .col-sm-margin-9 {
    width: 72.4358974359%; }
  .col-sm-margin-10 {
    width: 80.7692307692%; }
  .col-sm-margin-11 {
    width: 89.1025641026%; }
  .col-sm-margin-full, .col-sm-margin-12 {
    width: 97.4358974359%; }
  .col-sm-push-remove, .col-sm-push-0 {
    left: initial; }
  .col-sm-push-1 {
    left: 8.3333333333%; }
  .col-sm-push-2 {
    left: 16.6666666667%; }
  .col-sm-push-quarter, .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-third, .col-sm-push-4 {
    left: 33.3333333333%; }
  .col-sm-push-5 {
    left: 41.6666666667%; }
  .col-sm-push-half, .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.3333333333%; }
  .col-sm-push-two-third, .col-sm-push-8 {
    left: 66.6666666667%; }
  .col-sm-push-three-quarter, .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.3333333333%; }
  .col-sm-push-11 {
    left: 91.6666666667%; }
  .col-sm-push-full, .col-sm-push-12 {
    left: 100%; }
  .col-sm-pull-remove, .col-sm-pull-0 {
    right: initial; }
  .col-sm-pull-1 {
    right: 8.3333333333%; }
  .col-sm-pull-2 {
    right: 16.6666666667%; }
  .col-sm-pull-quarter, .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-third, .col-sm-pull-4 {
    right: 33.3333333333%; }
  .col-sm-pull-5 {
    right: 41.6666666667%; }
  .col-sm-pull-half, .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.3333333333%; }
  .col-sm-pull-two-third, .col-sm-pull-8 {
    right: 66.6666666667%; }
  .col-sm-pull-three-quarter, .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.3333333333%; }
  .col-sm-pull-11 {
    right: 91.6666666667%; }
  .col-sm-pull-full, .col-sm-pull-12 {
    right: 100%; }
  .col-sm-offset-remove, .col-sm-offset-0 {
    margin-left: initial; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-quarter, .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-third, .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-half, .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-two-third, .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-three-quarter, .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-full, .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-margin-remove, .col-md-margin-0, .col-md-margin-1, .col-md-margin-2, .col-md-margin-quarter, .col-md-margin-3, .col-md-margin-third, .col-md-margin-4, .col-md-margin-5, .col-md-margin-half, .col-md-margin-6, .col-md-margin-7, .col-md-margin-two-third, .col-md-margin-8, .col-md-margin-three-quarter, .col-md-margin-9, .col-md-margin-10, .col-md-margin-11, .col-md-margin-full, .col-md-margin-12 {
    float: left;
    margin-bottom: 2.5641025641%;
    margin-left: 2.5641025641%;
    margin-top: 0;
    padding: 30px; }
  .col-md-margin-parent {
    margin-left: -2.5641025641%; }
  .col-md-remove, .col-md-0 {
    float: left;
    position: relative;
    min-height: 1px;
    width: initial; }
  .col-md-1 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 8.3333333333%; }
  .col-md-2 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 16.6666666667%; }
  .col-md-quarter, .col-md-3 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 25%; }
  .col-md-third, .col-md-4 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 33.3333333333%; }
  .col-md-5 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 41.6666666667%; }
  .col-md-half, .col-md-6 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 50%; }
  .col-md-7 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 58.3333333333%; }
  .col-md-two-third, .col-md-8 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 66.6666666667%; }
  .col-md-three-quarter, .col-md-9 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 75%; }
  .col-md-10 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 83.3333333333%; }
  .col-md-11 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 91.6666666667%; }
  .col-md-full, .col-md-12 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%; }
  .col-md-margin-remove, .col-md-margin-0 {
    width: initial; }
  .col-md-margin-1 {
    width: 5.7692307692%; }
  .col-md-margin-2 {
    width: 14.1025641026%; }
  .col-md-margin-quarter, .col-md-margin-3 {
    width: 22.4358974359%; }
  .col-md-margin-third, .col-md-margin-4 {
    width: 30.7692307692%; }
  .col-md-margin-5 {
    width: 39.1025641026%; }
  .col-md-margin-half, .col-md-margin-6 {
    width: 47.4358974359%; }
  .col-md-margin-7 {
    width: 55.7692307692%; }
  .col-md-margin-two-third, .col-md-margin-8 {
    width: 64.1025641026%; }
  .col-md-margin-three-quarter, .col-md-margin-9 {
    width: 72.4358974359%; }
  .col-md-margin-10 {
    width: 80.7692307692%; }
  .col-md-margin-11 {
    width: 89.1025641026%; }
  .col-md-margin-full, .col-md-margin-12 {
    width: 97.4358974359%; }
  .col-md-push-remove, .col-md-push-0 {
    left: initial; }
  .col-md-push-1 {
    left: 8.3333333333%; }
  .col-md-push-2 {
    left: 16.6666666667%; }
  .col-md-push-quarter, .col-md-push-3 {
    left: 25%; }
  .col-md-push-third, .col-md-push-4 {
    left: 33.3333333333%; }
  .col-md-push-5 {
    left: 41.6666666667%; }
  .col-md-push-half, .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.3333333333%; }
  .col-md-push-two-third, .col-md-push-8 {
    left: 66.6666666667%; }
  .col-md-push-three-quarter, .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.3333333333%; }
  .col-md-push-11 {
    left: 91.6666666667%; }
  .col-md-push-full, .col-md-push-12 {
    left: 100%; }
  .col-md-pull-remove, .col-md-pull-0 {
    right: initial; }
  .col-md-pull-1 {
    right: 8.3333333333%; }
  .col-md-pull-2 {
    right: 16.6666666667%; }
  .col-md-pull-quarter, .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-third, .col-md-pull-4 {
    right: 33.3333333333%; }
  .col-md-pull-5 {
    right: 41.6666666667%; }
  .col-md-pull-half, .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.3333333333%; }
  .col-md-pull-two-third, .col-md-pull-8 {
    right: 66.6666666667%; }
  .col-md-pull-three-quarter, .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.3333333333%; }
  .col-md-pull-11 {
    right: 91.6666666667%; }
  .col-md-pull-full, .col-md-pull-12 {
    right: 100%; }
  .col-md-offset-remove, .col-md-offset-0 {
    margin-left: initial; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-quarter, .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-third, .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-half, .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-two-third, .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-three-quarter, .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-full, .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-margin-remove, .col-lg-margin-0, .col-lg-margin-1, .col-lg-margin-2, .col-lg-margin-quarter, .col-lg-margin-3, .col-lg-margin-third, .col-lg-margin-4, .col-lg-margin-5, .col-lg-margin-half, .col-lg-margin-6, .col-lg-margin-7, .col-lg-margin-two-third, .col-lg-margin-8, .col-lg-margin-three-quarter, .col-lg-margin-9, .col-lg-margin-10, .col-lg-margin-11, .col-lg-margin-full, .col-lg-margin-12 {
    float: left;
    margin-bottom: 2.5641025641%;
    margin-left: 2.5641025641%;
    margin-top: 0;
    padding: 30px; }
  .col-lg-margin-parent {
    margin-left: -2.5641025641%; }
  .col-lg-remove, .col-lg-0 {
    float: left;
    position: relative;
    min-height: 1px;
    width: initial; }
  .col-lg-1 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 8.3333333333%; }
  .col-lg-2 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 16.6666666667%; }
  .col-lg-quarter, .col-lg-3 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 25%; }
  .col-lg-third, .col-lg-4 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 33.3333333333%; }
  .col-lg-5 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 41.6666666667%; }
  .col-lg-half, .col-lg-6 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 50%; }
  .col-lg-7 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 58.3333333333%; }
  .col-lg-two-third, .col-lg-8 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 66.6666666667%; }
  .col-lg-three-quarter, .col-lg-9 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 75%; }
  .col-lg-10 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 83.3333333333%; }
  .col-lg-11 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 91.6666666667%; }
  .col-lg-full, .col-lg-12 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%; }
  .col-lg-margin-remove, .col-lg-margin-0 {
    width: initial; }
  .col-lg-margin-1 {
    width: 5.7692307692%; }
  .col-lg-margin-2 {
    width: 14.1025641026%; }
  .col-lg-margin-quarter, .col-lg-margin-3 {
    width: 22.4358974359%; }
  .col-lg-margin-third, .col-lg-margin-4 {
    width: 30.7692307692%; }
  .col-lg-margin-5 {
    width: 39.1025641026%; }
  .col-lg-margin-half, .col-lg-margin-6 {
    width: 47.4358974359%; }
  .col-lg-margin-7 {
    width: 55.7692307692%; }
  .col-lg-margin-two-third, .col-lg-margin-8 {
    width: 64.1025641026%; }
  .col-lg-margin-three-quarter, .col-lg-margin-9 {
    width: 72.4358974359%; }
  .col-lg-margin-10 {
    width: 80.7692307692%; }
  .col-lg-margin-11 {
    width: 89.1025641026%; }
  .col-lg-margin-full, .col-lg-margin-12 {
    width: 97.4358974359%; }
  .col-lg-push-remove, .col-lg-push-0 {
    left: initial; }
  .col-lg-push-1 {
    left: 8.3333333333%; }
  .col-lg-push-2 {
    left: 16.6666666667%; }
  .col-lg-push-quarter, .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-third, .col-lg-push-4 {
    left: 33.3333333333%; }
  .col-lg-push-5 {
    left: 41.6666666667%; }
  .col-lg-push-half, .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.3333333333%; }
  .col-lg-push-two-third, .col-lg-push-8 {
    left: 66.6666666667%; }
  .col-lg-push-three-quarter, .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.3333333333%; }
  .col-lg-push-11 {
    left: 91.6666666667%; }
  .col-lg-push-full, .col-lg-push-12 {
    left: 100%; }
  .col-lg-pull-remove, .col-lg-pull-0 {
    right: initial; }
  .col-lg-pull-1 {
    right: 8.3333333333%; }
  .col-lg-pull-2 {
    right: 16.6666666667%; }
  .col-lg-pull-quarter, .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-third, .col-lg-pull-4 {
    right: 33.3333333333%; }
  .col-lg-pull-5 {
    right: 41.6666666667%; }
  .col-lg-pull-half, .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.3333333333%; }
  .col-lg-pull-two-third, .col-lg-pull-8 {
    right: 66.6666666667%; }
  .col-lg-pull-three-quarter, .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.3333333333%; }
  .col-lg-pull-11 {
    right: 91.6666666667%; }
  .col-lg-pull-full, .col-lg-pull-12 {
    right: 100%; }
  .col-lg-offset-remove, .col-lg-offset-0 {
    margin-left: initial; }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg-offset-quarter, .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-third, .col-lg-offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg-offset-half, .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg-offset-two-third, .col-lg-offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg-offset-three-quarter, .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }
  .col-lg-offset-full, .col-lg-offset-12 {
    margin-left: 100%; } }

.content {
  position: relative; }

.row .row:nth-last-of-type(1) {
  margin-bottom: 0; }

body {
  color: #555;
  font-family: "Benton-Sans", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.6; }

a {
  color: #0f69d7; }
  a:visited {
    color: #7337af; }
  a:hover, a:active {
    text-decoration: none; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit; }

.font-size-secondary, table, form {
  font-size: 12px;
  line-height: 1.15; }
  @media (min-width: 500px) {
    .font-size-secondary, table, form {
      font-size: 16px;
      line-height: 1.15; } }

.font-size-minimum {
  font-size: 11px;
  line-height: 1.15; }
  @media (min-width: 500px) {
    .font-size-minimum {
      font-size: 13px;
      line-height: 1.15; } }

.font-size-maximum {
  font-size: 2.7151960336em;
  line-height: 1.15; }
  @media (min-width: 500px) {
    .font-size-maximum {
      font-size: 4.5256807357em;
      line-height: 1.15; } }

.font-size-1, h1 {
  font-size: 2em;
  line-height: 1.1508505173; }
  @media (min-width: 500px) {
    .font-size-1, h1 {
      font-size: 3.0555555556em;
      line-height: 1.1508505173; } }

.font-size-2, h2 {
  font-size: 1.5282817877em;
  line-height: 1.1596225045; }
  @media (min-width: 500px) {
    .font-size-2, h2 {
      font-size: 2.0859125636em;
      line-height: 1.1596225045; } }

.font-size-3, h3 {
  font-size: 1.2419249129em;
  line-height: 1.1897747564; }
  @media (min-width: 500px) {
    .font-size-3, h3 {
      font-size: 1.4972900987em;
      line-height: 1.1897747564; } }

.font-size-4, h4 {
  font-size: 1.0883883476em;
  line-height: 1.2588662108; }
  @media (min-width: 500px) {
    .font-size-4, h4 {
      font-size: 1.1816871591em;
      line-height: 1.2588662108; } }

.font-size-5, h5 {
  font-size: 1.0213833433em;
  line-height: 1.3877268045; }
  @media (min-width: 500px) {
    .font-size-5, h5 {
      font-size: 1.0439546501em;
      line-height: 1.3877268045; } }

.font-size-6, h6 {
  font-size: 1em;
  line-height: 1.6; }
  @media (min-width: 500px) {
    .font-size-6, h6 {
      font-size: 1em;
      line-height: 1.6; } }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Benton-Sans", "Helvetica", sans-serif;
  margin-bottom: 0.6em;
  margin-top: 1em; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #666;
    font-size: 0.75em;
    font-weight: normal; }
  .page-title.u-visually-hidden + h1, .page-title.u-visually-hidden + h2, .page-title.u-visually-hidden + h3, .page-title.u-visually-hidden + h4, .page-title.u-visually-hidden + h5, .page-title.u-visually-hidden + h6 {
    margin-top: 0; }

abbr[title] {
  cursor: help; }

blockquote {
  margin: 1em 60px; }

p,
pre {
  margin: 0 0 1.5em 0; }

code,
kbd,
pre,
samp {
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
  font-size: 18px; }

[hidden] {
  display: none !important; }

dl,
menu,
ol,
ul {
  margin: 0 0 1.5em 0; }

dd {
  margin: 0 0 0 30px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  margin: 0;
  padding: 0; }

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0; }

code {
  background: #f5f5f5;
  color: #666;
  padding: 0.2em 0.4em;
  white-space: nowrap; }

.code {
  background: #f5f5f5;
  border: 1px solid #ddd;
  margin: 30px 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 20px; }
  .code + .code {
    margin-top: -15px; }
  .code code {
    background: none;
    font-size: 95%;
    padding: 0;
    white-space: pre;
    word-wrap: normal; }

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  empty-cells: show;
  margin: 30px 0;
  width: 100%; }
  table caption {
    color: #666;
    font-style: italic;
    padding: 0 0 10px;
    text-align: center; }
  table td,
  table th {
    border-left: 1px solid #ddd;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em; }
    table td:first-child,
    table th:first-child {
      border-left-width: 0; }
    table td[class*="col-"],
    table th[class*="col-"] {
      display: table-cell;
      float: none; }
  table th {
    border-bottom: 1px solid #ddd; }
  table td {
    background-color: transparent;
    vertical-align: top; }
  table thead {
    background: #eee;
    color: #000;
    text-align: left;
    vertical-align: bottom; }
  table col[class*="col-"] {
    display: table-column;
    float: none; }

.table-striped tr:nth-child(2n-1) td,
.u-odd td {
  background: #f5f5f5; }

.table-bordered td {
  border-bottom: 1px solid #ddd; }

.table-horizontal td,
.table-horizontal th {
  border: 0;
  border-bottom: 1px solid #ddd; }

.table-bordered tbody > tr:last-child td,
.table-horizontal tbody > tr:last-child td,
.section-row tbody > tr:last-child td {
  border-bottom-width: 0; }

table.sortable thead tr th.header {
  border: 1px solid #ddd; }

button,
[type="button"],
[type="reset"],
[type="submit"], .button, .button-primary,
.button-selected {
  background-color: #eee;
  border: 0;
  border-radius: 2px;
  color: #444;
  display: inline-block;
  font-family: "Benton-Sans", "Helvetica", sans-serif;
  font-size: inherit;
  line-height: normal;
  margin: 0 15px 15px 0;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline; }
  button:hover,
  :hover[type="button"],
  :hover[type="reset"],
  :hover[type="submit"], .button:hover, .button-primary:hover,
  .button-selected:hover {
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00000000', EndColorStr='#1A000000'); }
  button:active,
  :active[type="button"],
  :active[type="reset"],
  :active[type="submit"], .button:active, .button-primary:active,
  .button-selected:active {
    -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
    -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  *display: inline;
  *font-size: 90%;
  *overflow: visible;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  white-space: nowrap;
  zoom: 1; }
  button[disabled],
  [disabled][type="button"],
  [disabled][type="reset"],
  [disabled][type="submit"] {
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: #ddd;
    color: #777;
    cursor: not-allowed; }

.button-primary,
.button-selected {
  background-color: #0074E0;
  color: #fff; }
  .button-primary:hover,
  .button-selected:hover, .button-primary:active,
  .button-selected:active, .button-primary:visited,
  .button-selected:visited {
    color: #fff; }

form {
  font-family: "Benton-Sans", "Helvetica", sans-serif; }

fieldset {
  border: 0;
  margin: 30px 0;
  padding: 0; }

legend {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 30px;
  padding: 0 0 0.5em;
  width: 100%; }

select,
textarea {
  font-family: inherit; }

label {
  display: block;
  font-weight: bold;
  margin: 0.5em 0; }

/*!
Pure v0.5.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="date"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="week"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="color"]:focus,
select:focus,
textarea:focus, [type="file"]:focus,
[type="radio"]:focus,
[type="checkbox"]:focus {
  -ms-box-shadow: 0 0 4px 0 rgba(18, 159, 234, 0.2);
  -o-box-shadow: 0 0 4px 0 rgba(18, 159, 234, 0.2);
  box-shadow: 0 0 4px 0 rgba(18, 159, 234, 0.2); }

[type="text"],
[type="password"],
[type="email"],
[type="url"],
[type="date"],
[type="month"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="week"],
[type="number"],
[type="search"],
[type="tel"],
[type="color"],
select,
textarea {
  -ms-box-shadow: inset 0 1px 3px #eee;
  -o-box-shadow: inset 0 1px 3px #eee;
  box-shadow: inset 0 1px 3px #eee;
  border-radius: 0;
  border: 1px solid #ddd;
  display: inline-block;
  line-height: 1;
  margin: 0 0 15px;
  padding: 0.5em; }
  [type="text"]:focus,
  [type="password"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="date"]:focus,
  [type="month"]:focus,
  [type="time"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="week"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="color"]:focus,
  select:focus,
  textarea:focus {
    border-color: #129fea;
    outline: 0;
    outline: thin dotted \9;
    outline: 1px auto #129fea; }

[type="file"]:focus,
[type="radio"]:focus,
[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #129fea; }

.checkbox,
.radio {
  margin: 0.5em 0; }

[disabled] {
  background-color: #eee;
  color: #ccc;
  cursor: not-allowed; }

[readonly] {
  background: #eee;
  border-color: #ccc;
  color: #777; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: #e9322d;
  color: #b94a48; }

[type="file"]:focus:invalid,
[type="radio"]:focus:invalid,
[type="checkbox"]:focus:invalid {
  outline-color: #e9322d; }

select {
  background-color: #fff;
  border: 1px solid #ccc; }
  select[multiple] {
    height: auto; }

.form-row {
  margin: 0 0 15px; }

.form-controls {
  margin: 30px 0 0; }

.required {
  color: #c00; }

.form-stacked [type="text"],
.form-aligned [type="text"], .form-stacked
[type="password"],
.form-aligned
[type="password"], .form-stacked
[type="email"],
.form-aligned
[type="email"], .form-stacked
[type="url"],
.form-aligned
[type="url"], .form-stacked
[type="date"],
.form-aligned
[type="date"], .form-stacked
[type="month"],
.form-aligned
[type="month"], .form-stacked
[type="time"],
.form-aligned
[type="time"], .form-stacked
[type="datetime"],
.form-aligned
[type="datetime"], .form-stacked
[type="datetime-local"],
.form-aligned
[type="datetime-local"], .form-stacked
[type="week"],
.form-aligned
[type="week"], .form-stacked
[type="number"],
.form-aligned
[type="number"], .form-stacked
[type="search"],
.form-aligned
[type="search"], .form-stacked
[type="tel"],
.form-aligned
[type="tel"], .form-stacked
[type="color"],
.form-aligned
[type="color"], .form-stacked
select,
.form-aligned
select, .form-stacked
label,
.form-aligned
label, .form-stacked
textarea,
.form-aligned
textarea {
  display: block;
  margin: 0 0 15px; }

@media (min-width: 992px) {
  .form-aligned input,
  .form-aligned textarea,
  .form-aligned select {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    *zoom: 1; }
  .form-aligned textarea {
    vertical-align: top; }
  .form-aligned label {
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: right;
    vertical-align: middle;
    width: 200px; }
  .form-aligned .form-row-checkbox,
  .form-aligned .form-row-radio {
    margin: 0 0 15px;
    margin-left: 220px; }
  .form-aligned .form-controls {
    margin-left: 220px; } }

.gform_wrapper li {
  list-style: none; }
  .gform_wrapper li::before {
    content: "";
    font-size: 0; }

.gform_wrapper table {
  table-layout: initial; }

.gform_wrapper [type="radio"] {
  margin-left: 1px; }

@media print {
  .content-container,
  .content-area {
    float: none;
    margin: 0;
    width: 100%; }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact; }
  @page {
    margin: 2cm; }
  body {
    background: #fff !important;
    color: #555;
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    margin: 0;
    padding: 0; }
  h1 {
    font-size: 24pt; }
  h2,
  h3,
  h4 {
    font-size: 14pt;
    margin-top: 25px; }
  blockquote {
    font-style: italic;
    page-break-inside: avoid; }
    blockquote::before {
      content: '' !important;
      margin: 0 !important; }
    blockquote > p:first-of-type {
      margin: 0 !important; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid; }
  img {
    max-width: 100% !important;
    page-break-after: avoid;
    page-break-inside: avoid; }
  table,
  pre {
    page-break-inside: avoid; }
  ul,
  ol,
  dl {
    page-break-before: avoid; }
  a {
    font-weight: bold;
    page-break-inside: avoid;
    text-align: left; }
    a:link, a:visited {
      font-weight: bold;
      text-align: left; }
    a article {
      font-weight: bolder;
      text-decoration: none; }
    a::after > img {
      content: ''; }
    a[href^='http']::after {
      content: " <" attr(href) "> "; }
    a[href*='mailto:']::after {
      color: #000;
      content: " (" attr(href) ") ";
      font-size: 14px; }
  .alignleft {
    float: left;
    margin: 0 15px 15px 0; }
  .aligncenter {
    display: block;
    margin: 0 auto 15px; }
  .alignright {
    float: right;
    margin: 0 0 15px 15px; }
  .alignright,
  .alignleft {
    max-width: 50%; }
  iframe {
    display: none;
    height: 0 !important;
    line-height: 0 !important;
    overflow: hidden !important;
    white-space: nowrap;
    width: 0 !important; }
    iframe[src^='https://maps.bu.edu'] {
      display: block;
      height: 500px !important;
      width: 100% !important; }
  .responsive-video,
  .responsive-youtube,
  .buvideoWrapper {
    display: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute; }
  .primary-nav,
  .utility-nav,
  .sidebar,
  form,
  .bu-sharing,
  .archive-link-container,
  #comments,
  .footbar,
  .site-footer-disclaimer,
  .site-footer-menus,
  .skip-link,
  .edit-link,
  button,
  .button,
  .button-primary,
  .bu-slideshow-container,
  article a[href^='#'] {
    display: none !important; }
  .icon-plus::before,
  .bu_collapsible::before {
    content: ''; }
  .bu_copyright {
    display: block;
    font-size: 11pt;
    margin: 0 auto;
    text-align: center; }
  .site-footer {
    background: transparent !important; }
  p,
  address,
  li,
  dt,
  dd,
  blockquote {
    font-size: 100%; }
  code,
  pre {
    font-family: 'Courier New', Courier, mono; }
  ul,
  ol {
    list-style: square;
    margin-bottom: 20pt;
    margin-left: 18pt; }
  li {
    line-height: 1.6em; } }

.color-grayscale-0 {
  background-color: #000;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-1 {
  background-color: #111;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-2 {
  background-color: #222;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-3 {
  background-color: #333;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-4 {
  background-color: #444;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-5 {
  background-color: #555;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-6 {
  background-color: #666;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-7 {
  background-color: #777;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-8 {
  background-color: #888;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-9 {
  background-color: #999;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-a {
  background-color: #aaa;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-b {
  background-color: #bbb;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-c {
  background-color: #ccc;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-d {
  background-color: #ddd;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-e {
  background-color: #eee;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-f0 {
  background-color: #f0f0f0;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-f5 {
  background-color: #f5f5f5;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }

.color-grayscale-f {
  background-color: #fff;
  display: block;
  float: left;
  height: 100px;
  width: 100px; }