// =================================================================
// Supported Icons
// =================================================================

@import 'node_modules/@fortawesome/fontawesome-free/scss/variables';

// Import fontawesome icons partial.
@import 'fontawesome/fontawesome-all';

// Import fontawesome brand icons partial.
@import 'fontawesome/fontawesome-brands';



// Supported Icons
//
// A map of all the icons this site supports.
// Currently, we support all icons in FontAwesome Free.
// FontAwesome was added as a dependency in Responsive Foundation 5.0
// and the decision to retire BU Default Icons was made at that time.
//
// All icons get a name and a UTF-8 value. It's unlikely you'll
// need to change these, and you probably shouldn't. However,
// if you're using your own icon font, you may want to add to it.
//
// In 5.0, icons have moved to FontAwesome.
//
// Styleguide Utilities.Icons.Supported Icons
//
// Access: Public
//
// Since: 2.0.0





/// Icons specific to Responsive Framework, with backwards
/// compatibility mappings for BU Default Icons.
/// @group global
/// @access private
/// @since 5.0.0

$icons-responsive: (

	// BU Default Icons backwards compatibility mappings

	menu: $fa-var-bars,
	hyphen: $fa-var-minus,
	scaleup: $fa-var-expand-arrows-alt,
	close: $fa-var-times,
	delete: $fa-var-times,
	googleplus: $fa-var-google-plus-g,
	pocket: $fa-var-get-pocket,
	link-alt: $fa-var-external-link-alt,
	instagram-alt: $fa-var-instagram,
	navigateright: $fa-var-chevron-right,
	navigateleft: $fa-var-chevron-left,
	navigateup: $fa-var-chevron-up,
	navigatedown: $fa-var-chevron-down,
	replay: $fa-var-arrow-circle-left,
	refresh: $fa-var-arrow-circle-right,
	action: $fa-var-share-square,
	volume: $fa-var-volume-up,
	chat: $fa-var-comment,
);


// These icons are only available in the BU Default Icons font.
$icons-budefaulticons: (
	// BU Hub Indicator
	buhub: '\F700',
	buhub-alt: '\F702',
	buhub-wide: '\F700',
	questionmark: '\2753',

	rhett: '\F701',
	bluesky: '\F652',
	twitter: '\F611',
	x: '\F615',
	x-alt: '\F62B',
);


// These icons are centered to match FontAwesome icon positioning.
// These icons are only available in the BU Default Icons font.
$icons-budefaulticons-fontawesome-centered: (
	twitter: '\F703',
	x: '\F703',
	bluesky: '\F704'
);

// Merge BU Default font icons and BU Default Icons FontAwesome Centered Icons.
$icons-budefaulticons: map_merge( $icons-budefaulticons, $icons-budefaulticons-fontawesome-centered );

// Merge Responsive Icons and BU Default font icons.
$icons-responsive: map_merge( $icons-responsive, $icons-budefaulticons );

// Merge Fontawesome brands and standard fontawesome icons together.
$icons-fontawesome: map_merge( $icons-fontawesome, $icons-fontawesome-brands );

// Merge everything together into a single map with all fontawesome and budefault icons.
$icons-responsive: map_merge( $icons-fontawesome, $icons-responsive );

/// Merges custom icons and overrides with the default supported icons map.
/// $icons-theme must be set BEFORE this is called.
/// @group global
/// @access private
/// @since 2.0.0

@if variable-exists( icons-theme ) {
	$icons-responsive: map_merge( $icons-responsive, $icons-theme );
}
