/* Branding
----------------------------------------------------------------- */

%vertical-center-child {
	@include vertical-center-child;
}
%vertical-center {
	@include vertical-center;
}

.brand {
	@extend %vertical-center-child;
	overflow: hidden;
	height: $height-brand;
	padding: 0 0 0 20px;
	font-family: $fontFamily-brand;
	font-size: 18px;
	line-height: 1.3;
}
.brand [class*="brand-"] {
	@extend %vertical-center;
	display: block;
	float: left;
	font-weight: 400;
	color: $color-brand;
	text-decoration: none;
	&:visited {
		color: $color-brand;
	}
}
.brand strong {
	font-weight: 600;
}
.brand .siteDescription {
	@extend %vertical-center;
	display: none;
	@include breakpoint(md) {
		display: block;
		font-family: $fontFamily-base;
		font-size: $fontSize-small;
		color: $color-grayScale-9;
	}
}

/* Sub-brand signature */
.brand-signature, .brand-sponsored {
	padding: 10px 30px 9px 56px;
	background: url($image-subBrand) no-repeat 0 49%;
	@include retina {
		background-image: url($image-subBrand-retina);
		background-size: 49px 35px;
	}
}
.brand-signature strong {
	display: none;
}

/* Sponsored branding */
.brand-sponsored, .brand-sponsored .siteName {
	display: block;
}

.brand-unbranded .siteName {
	font-family: $fontFamily-brand-sponsored;
	font-weight: 600;
	font-size: 20px;
	color: #cc0000;
}
.brand-unbranded .siteName {
	font-family: $fontFamily-brand-unbranded;
}

.brand .brand-sponsored.has-title strong {
	font-weight:400 !important;
}

.brand .brand-sponsored.has-title.has-parent strong,
.brand .brand-sponsored.has-title.has-parent.has-subparent strong {
	font-weight:600 !important;	
}

.brand .brand-sponsored.has-title {
	font-size:18px;
}
.brand .brand-sponsored.has-title.has-parent,
.brand .brand-sponsored.has-title.has-parent.has-subparent {
	 font-size:16px;
 }
 
/* Master logo in footer */
.brand-masterPlate {
	@extend %hide-text;
	display: block;
	width: 112px;
	height: 50px;
	background: url($image-masterPlate) no-repeat 0 0;
	@include retina {
		background-image: url($image-masterPlate-retina);
		background-size: 112px 50px;
	}
}

/* BUMC logo in footer */
.brand-bumcLogo {
	@extend %hide-text;
	display: block;
	background: url($image-bumcLogo) no-repeat 0 0;
	width: 96px;
	height: 40px;

	@include retina {
		background-image: url($image-bumcLogo-retina);
		background-size: 96px 40px;
	}
}