// =================================================================
// Branding
// =================================================================

/// A placeholder for vertically centering children in the branding partial.
/// @group branding
/// @access private
/// @since 1.4.0

%_vertical-center-child {
	@include vertical-center-child;
}

/// A placeholder for vertical centering in the branding partial.
/// @group branding
/// @access private
/// @since 1.4.0

%_vertical-center {
	@include vertical-center;
}

/// A placeholder for ensuring background images print.
/// @group branding
/// @access private
/// @since 1.4.0

%_brand-print {
	@media print {
		-webkit-print-color-adjust: exact;
	}
}

/// Controls styling for elements in the branding area, including the logo and
/// site description.
/// @group branding
/// @access public
/// @since 1.0.0

.brand {
	@extend %_vertical-center-child;
	font-family: $font-family-brand;
	font-size: 18px;
	height: $height-brand;
	line-height: 1.3;
	padding: 0 20px;

	> .has-parent {
		font-size: 16px;
	}

	> .brand-unbranded {
		font-size: inherit;
	}
}

/// Controls styling for the logo container.
/// @group branding
/// @access public
/// @since 1.0.0

.brand-container {
	@extend %_vertical-center;
	color: $color-brand;
	display: block;
	float: left;
	font-weight: 400;
	text-decoration: none;

	&:visited {
		color: $color-brand;
	}
}

/// Resets the font-weight to the appropriate weight for branding.
/// @group branding
/// @access private
/// @since 1.0.0

%_brand-strong {
	font-weight: 600;
}

/// Controls styling for the signature brand style.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-signature {
	@extend %_brand-print;
	background: url( $image-subbrand ) no-repeat 0 49%;
	min-height: 35px;
	padding: 10px 30px 9px 56px;

	@include retina {
		background-image: url( $image-subbrand-retina );
		background-size: 49px 35px;
	}

	&.has-parent {
		background-position: 0 3px;
		padding-bottom: 0;
		padding-top: 0;
	}
}

/// Controls styling for the unbranded brand style.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-unbranded {
	@extend %_brand-strong;
	color: $color-unbranded;
	font-family: $font-family-brand-unbranded;
	font-size: 20px;

	&:visited {
		color: $color-unbranded;
	}
}

/// Controls styling for the logotype brand part.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-part-logotype {
	@extend %_brand-strong;
}

/// Controls styling for the site name brand part.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-part-sitename {
	display: block;

	.brand-part-logotype + & {
		display: inline;
	}
}

/// Controls styling for the parent entity brand part.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-part-parent {
	@extend %_brand-strong;

	.brand-part-logotype + & {
		font-weight: 400;
	}
}

/// Controls styling for the subparent entity brand part.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-part-subparent {
	display: block;
}

/// Controls styling for the site description.
/// @group branding
/// @access public
/// @since 1.4.0

.brand-site-description {
	@extend %font-size-secondary;
	@extend %_vertical-center;
	display: none;

	@include breakpoint( md ) {
		color: $color-grayscale-9;
		display: block;
		font-family: $font-family-base; // TODO: inherits whitney from brand if you take away
	}
}


/// Controls styling for the masterplate.
/// @group branding
/// @access public
/// @since 1.0.0

.brand-masterplate {
	@extend %_brand-print;
	@extend %hide-text;
	background: url( $image-masterplate ) no-repeat 0 0;
	display: block;
	height: 50px;
	width: 112px;

	@include retina {
		background-image: url( $image-masterplate-retina );
		background-size: 112px 50px;
	}
}

/// Controls styling for the BUMC logo.
/// @group branding
/// @access public
/// @since 1.0.0

.brand-bumclogo {
	@extend %_brand-print;
	@extend %hide-text;
	background: url( $image-bumclogo ) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 96px;

	@include retina {
		background-image: url( $image-bumclogo-retina );
		background-size: 96px 40px;
	}
}
