// Branding

%vertical-center-child {
	@include vertical-center-child;
}
%vertical-center {
	@include vertical-center;
}
%_brand-print {
	@media print {
		-webkit-print-color-adjust: exact;
	}
}

.brand {
	@extend %vertical-center-child;
	font-family: $font-family-brand;
	font-size: 18px;
	height: $height-brand;
	line-height: 1.3;
	padding: 0 0 0 20px;

	> .has-parent {
		font-size:16px;
	}
	> .brand-unbranded {
		font-size: inherit;
	}
}
.brand-container {
	@extend %vertical-center;
	color: $color-brand;
	display: block;
	float: left;
	font-weight: 400;
	text-decoration: none;

	&:visited {
		color: $color-brand;
	}
}
%brand-strong {
	font-weight: 600;
}
.brand-part-logotype {
	@extend %brand-strong;
}
.brand-site-description {
	@extend %vertical-center;
	display: none;

	@include breakpoint(md) {
		color: $color-grayscale-9;
		display: block;
		font-family: $font-family-base;
		font-size: $font-size-small;
	}
}

// Sub-brand signature
.brand-signature {
	@extend %_brand-print;
	background: url($image-subbrand) no-repeat 0 49%;
	min-height: 35px;
	padding: 10px 30px 9px 56px;

	@include retina {
		background-image: url($image-subbrand-retina);
		background-size: 49px 35px;
	}

	&.has-parent {
		background-position: 0 3px;
		padding-bottom: 0;
		padding-top: 0;
	}
}

// Sponsored branding
.brand-part-sitename {
	display: block;

	.brand-part-logotype + & {
		display: inline;
	}
}
.brand-unbranded {
	@extend %brand-strong;
	color: $color-unbranded;
	font-family: $font-family-brand-unbranded;
	font-size: 20px;

	&:visited {
		color: $color-unbranded;
	}
}
.brand-part-parent {
	@extend %brand-strong;

	.brand-part-logotype + & {
		font-weight: 400;
	}
}
.brand-part-subparent {
	display: block;
}


// Master logo in footer
.brand-masterplate {
	@extend %_brand-print;
	@extend %hide-text;
	background: url($image-masterplate) no-repeat 0 0;
	display: block;
	height: 50px;
	width: 112px;

	@include retina {
		background-image: url($image-masterplate-retina);
		background-size: 112px 50px;
	}
}

// BUMC logo in footer
.brand-bumclogo {
	@extend %_brand-print;
	@extend %hide-text;
	background: url($image-bumclogo) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 96px;

	@include retina {
		background-image: url($image-bumclogo-retina);
		background-size: 96px 40px;
	}
}