/* Branding
----------------------------------------------------------------- */

%vertical-center-child {
	@include vertical-center-child;
}
%vertical-center {
	@include vertical-center;
}

.brand {
	@extend %vertical-center-child;
	overflow: hidden;
	height: $height-brand;
	padding: 0 0 0 20px;
	font-family: $fontFamily-brand;
	font-size: 18px;
	line-height: 1.3;

	> .has-parent {
		font-size:16px;
	}
}
.brand-container {
	@extend %vertical-center;
	display: block;
	float: left;
	font-weight: 400;
	color: $color-brand;
	text-decoration: none;

	&:visited {
		color: $color-brand;
	}
}
%brand-strong {
	font-weight: 600;
}
.brandPart-logotype {
	@extend %brand-strong;
}
.brand-siteDescription {
	@extend %vertical-center;
	display: none;
	@include breakpoint(md) {
		display: block;
		font-family: $fontFamily-base;
		font-size: $fontSize-small;
		color: $color-grayScale-9;
	}
}

/* Sub-brand signature */
.brand-sponsored {
	padding: 10px 30px 9px 56px;
	min-height: 35px;
	background: url($image-subBrand) no-repeat 0 49%;

	@include retina {
		background-image: url($image-subBrand-retina);
		background-size: 49px 35px;
	}

	&.has-parent {
		padding-top: 0;
		padding-bottom: 0;
		background-position: 0 3px;
	}
}

/* Sponsored branding */
.brandPart-siteName {
	display: block;

	.brandPart-logotype + & {
		display: inline;
	}
}
.brand-unbranded {
	@extend %brand-strong;
	font-family: $fontFamily-brand-unbranded;
	font-size: 20px;
	color: #cc0000;

	&:visited {
		color: #cc0000;
	}
}
.brandPart-parent {
	@extend %brand-strong;

	.brandPart-logotype + & {
		font-weight: 400;
	}
}
.brandPart-subParent {
	display: block;
}


/* Master logo in footer */
.brand-masterPlate {
	@extend %hide-text;
	display: block;
	width: 112px;
	height: 50px;
	background: url($image-masterPlate) no-repeat 0 0;

	@include retina {
		background-image: url($image-masterPlate-retina);
		background-size: 112px 50px;
	}
}

/* BUMC logo in footer */
.brand-bumcLogo {
	@extend %hide-text;
	display: block;
	background: url($image-bumcLogo) no-repeat 0 0;
	width: 96px;
	height: 40px;

	@include retina {
		background-image: url($image-bumcLogo-retina);
		background-size: 96px 40px;
	}
}