// comments
// -----------------------------------------------------------------

/// Controls styling for the comments section on posts.
/// @group comments
/// @access public
/// @since 1.0.0

.comments-area {
	color: $color-comments;

	// Remove defaults for all OL on this page
	ol {
		list-style: none;
		//margin: 0;
		padding: 0;
	}
}

/// Controls styling for comment threads on posts.
/// @group comments
/// @access public
/// @since 1.0.0

.comments-list {
	margin-left: -10px;
	margin-right: -10px;

	@include breakpoint( sm ) {
		margin: 0;
	}
}

/// Controls styling for the comment container.
/// @group comments
/// @access public
/// @since 1.0.0

.comment {
	margin-left: $comment-reply-depth-mobile;

	@include breakpoint( sm ) {
		margin-left: $comment-reply-depth;
	}

	&.depth-1 {
		margin: $comment-margin-mobile 0;
		padding: 0;

		@include breakpoint( sm ) {
			margin: $comment-margin 0;
		}
	}
}

/// Controls styling for individual comments on posts.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-body {
	border: $border-comment;
	border-width: $border-width-comment;
	font-family: $font-family-comment;
	font-size: $font-size-smaller;
	padding: $comment-padding-mobile;
	position: relative;

	@include breakpoint( sm ) {
		margin: $comment-reply-margin 0;
		padding: $comment-padding;
	}

	.children & {
		@media screen and ( max-width: $sm - 1 ) {
			border-top: 0; // Prevents borders from stacking on child comments
		}
	}
}

/// Controls styling for the comment reply link.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-reply-link {
	color: $color-comment-reply;
	font-size: $font-size-smallest;
}

/// Controls styling for the comment author.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-author {
	font-size: $font-size-small;
	color: $color-comment-author-name;
}

/// Controls styling for the "says" text after comment author.
/// @group comments
/// @access public
/// @since 2.0.0

.says {
	color: $color-comment-author-says;
}

/// Controls styling for the date and time of comments.
/// This was hidden in the past, but in emergency situations, comments
/// are often used as a means of communication, both officially and unofficially.
/// Readers need to know how recent the last reliable update was should this happen.
/// Disable or hide only with great caution, only using the `%visually-hidden` placeholder.
/// @group comments
/// @access public
/// @since 2.0.0

.comment-metadata {
	font-size: $font-size-smallest;
	position: absolute;
	right: $comment-padding-mobile;
	top: $comment-padding-mobile;

	@include breakpoint( sm ) {
		right: $comment-padding;
		top: $comment-padding;
	}
}

/// Styles the container which holds the comment content.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-content {
	margin: .5em 0;

	p:last-child {
		margin-bottom: 0;
	}
}

/// Styles the comment form container.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-respond {
	@include border-radius( 5px );
	background: $color-comment-form-bg;
	border: $border-comment-form;
	border-width: $border-width-comment-form;
	margin: 15px 0 20px;
	padding: 20px;
	position: relative;

	fieldset {
		padding: 0;
		margin: 0;
		border: 0;
	}

	p {
		margin: 0 0 20px;
	}

	label {
		display: block;
		margin: 0 0 2px;

		@include breakpoint( sm ) {
			float: left;
			margin: $form-label-margin;
			padding-right: 10px;
			width: 25%;
		}
	}
}

/// Styles the comment form title.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-respond-title {
	font-size: $font-size-medium;
	margin: 0 0 20px;
}

/// Styles the container around the comment form submit button.
/// @group comments
/// @access public
/// @since 1.0.0

.comment-form-submit {
	margin: 15px 0 0;
}

/// Styles "view guidelines" and other helper text in the comment form.
/// @group comments
/// @access public
/// @since 1.0.0

.form-tip {
	color: $color-grayscale-8;
	font-size: $font-size-smallest;

	@include breakpoint( sm ) {
		display: block;
	}

	a {
		color: inherit;
	}
}

.comment-form {
	.button {
		@include breakpoint( sm ) {
			margin-left: 25%;
		}
	}

	textarea {
		@include transition(height 50ms ease-in-out 0s);
		width: 100%;
		height: 6em;

		&:focus,
		&:valid {
			@include transition(height 50ms ease-in-out 0s);
			height: 12em;
		}

		@include breakpoint( sm ) {
			width: 75%;
		}
	}
}

// TODO: The link below this is hidden with a style attribute in markup. Intentional?
.cancel-comment-reply {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	font-size: $font-size-smallest;
}