/* comments
----------------------------------------------------------------- */

.comments-area {
	color: $color-comments;
}
.comments-area ol {
	padding: 0;
	margin: 0;
list-style: none;
}
.comments-area li {
}
.comments-list {
	border-bottom: 1px solid #dddddd;
}
.comments-list li li article {
	padding-left: 30px;
}
.comments-list li li li article {
	padding-left: 60px;
}
.comments-list li li li li article {
	padding-left: 90px;
}
.comments-list li li li li li article {
	padding-left: 120px;
}
.comments-list article {
	position: relative;
	padding: $comment-padding;
	margin: $comment-margin;
	border: $border-comment;
	border-width: $borderWidth-comment;
	font-family: $fontFamily-comment;
	font-size: $fontSize-smaller;
}
.reply a {
	font-size: $fontSize-smallest;
	color: $color-comment-reply;
}
.comment-author {
	color: $color-comment-author;
}
// TODO: probably shouldn't be outputting gravatar markup and hiding here...
.comment-author img {
	display: none;
}
.comment-author .fn {
	font-size: $fontSize-small;
	color: $color-comment-authorName;
}
// TODO: change markup, then style
.comment-metadata time {
	display: none;
}
.comment-content p {
	margin: 12px 0;
}
.comment-content p:first-child {
	margin-top: 1px;
}
/* comment form */
.comment-respond {
	@include border-radius(5px);
	position: relative;
	padding: 20px;
	margin: 15px 0 20px;
	border: $border-commentForm;
	border-width: $borderWidth-commentForm;
	background: $color-commentForm-bg;
}
.comment-respond-title {
	margin: 0 0 20px;
	font-size: $fontSize-medium;
}
.comment-respond fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
.comment-respond p {
	margin: 0 0 20px;
}
.comment-respond .comment-form-submit {
	margin: 15px 0 0;
}
.comment-respond fieldset .form-tip {
	font-size: $fontSize-smallest;
	@include breakpoint(small) {
		display: block;
	}
}
.comment-respond fieldset .form-tip,
.comment-respond fieldset .form-tip a {
	color: #aaaaaa;
}
.comment-respond label {
	display: block;
	margin: 0 0 2px;
	@include breakpoint(small) {
		float: left;
		width: 25%;
		padding-right: 10px;
		margin: $form-label-margin;
	}
}
.comment-form .button {
	@include breakpoint(small) {
		margin-left: 25%;
	}
}
.comment-form textarea {
	@include transition(height, 5ms, ease-in-out, 0s); // TODO: expand height on focus, but don't shrink if it contains content
	width: 100%;
	height: 6em;
	@include breakpoint(small) {
		width: 75%;
	}
}
.comment-respond .cancel-comment-reply {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	font-size: $fontSize-smallest;
}