/* comments
----------------------------------------------------------------- */

.comments-area {
	color: $color-comments;
	// Remove defaults for all OL on this page
	ol {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
.comments-list {
	border-bottom: 1px solid #dddddd;
	// Nested padding
	li {
		li {
			padding: $comment-padding;
		}
	}
}

.comment {
	border: $border-comment;
	border-width: $border-width-comment;
}
.comment-body {
	position: relative;
	margin: $comment-margin;
	font-family: $font-family-comment;
	font-size: $font-size-smaller;
}
.comment-reply-link {
	font-size: $font-size-smallest;
	color: $color-comment-reply;
}
.comment-author {
	color: $color-comment-author;
	// TODO: probably shouldn't be outputting gravatar markup and hiding here...
	img {
		display: none;
	}
	.fn {
		font-size: $font-size-small;
		color: $color-comment-author-name;
	}
}

// TODO: change markup, then style
.comment-metadata time {
	display: none;
}
.comment-content p {
	margin: 12px 0;
}
.comment-content p:first-child {
	margin-top: 1px;
}
/* comment form */
.comment-respond {
	@include border-radius(5px);
	position: relative;
	padding: 20px;
	margin: 15px 0 20px;
	border: $border-comment-form;
	border-width: $border-width-comment-form;
	background: $color-comment-form-bg;
	fieldset {
		padding: 0;
		margin: 0;
		border: 0;
	}
	p {
		margin: 0 0 20px;
	}
	label {
		display: block;
		margin: 0 0 2px;
		@include breakpoint(sm) {
			float: left;
			width: 25%;
			padding-right: 10px;
			margin: $form-label-margin;
		}
	}
}
.comment-respond-title {
	margin: 0 0 20px;
	font-size: $font-size-medium;
}
.comment-form-submit {
	margin: 15px 0 0;
}
.form-tip {
	color: #aaaaaa;
	font-size: $font-size-smallest;
	@include breakpoint(sm) {
		display: block;
	}
	a {
		color: #aaaaaa;
	}
}

.comment-form {
	.button {
		@include breakpoint(sm) {
			margin-left: 25%;
		}
	}
	textarea {
		@include transition(height 5ms ease-in-out 0s); // TODO: expand height on focus, but don't shrink if it contains content
		width: 100%;
		height: 6em;
		@include breakpoint(sm) {
			width: 75%;
		}
	}
} 

// TODO: The link below this is hidden with a style attribute in markup. Intentional?
.cancel-comment-reply {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	font-size: $font-size-smallest;
}