/// A helper variable to control the number of columns a gallery
/// supports in our WordPress environment.
/// @group content
/// @access priavte
/// @since 1.4.0

$_wp-supported-gallery-columns: 9;

/// Base styles for the gallery shortcode in WordPress.
/// @group content
/// @access public
/// @since 1.4.0

.gallery {
	@extend %clearfix;
	margin-right: -10px;

	a {
		display: block;
		margin-right: 10px;
	}

	img {
		width: 100%;
	}
}

/// Styles for each supported number of columns in the WordPress gallery shortcode.
/// @group content
/// @access public
/// @since 1.4.0

@for $i from 1 through $_wp-supported-gallery-columns {
	.gallery-columns-#{$i} {
		.gallery-item {
			float: left;
			width: 33.33%;

			@include breakpoint( xs ) {
				width: 100 / $i#{"%"};

				&:nth-child(#{$i + 1}) {
					clear: left;
				}
			}
		}
	}
}

.admin-bar {
	.lg-outer {
		margin-top: 32px;
	}
}
