@font-face {
	font-family: "bu-default-icons";
	src: url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot?") format("embedded-opentype");
	src: url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.woff") format("woff"),
		url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.ttf") format("truetype"),
		url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.svg#bu-default-icons") format("svg");
	font-weight: normal;
	font-style: normal;
	 // unicode-range: U+??????; /* Include all Unicode possiblities */
}
// Basic icon styles. Replaces .icon.
// Helpful if you don't want to use :before or you're some mad scientist with content we don't know about
%icon {
	/* These classes are using %icon. */
	display: inline-block;
	padding-bottom: 0.2em; /* Accomodate for inline icons */
	vertical-align: middle;
	font-family: $fontFamily-icons;
	font-weight: normal !important;
	font-style: normal !important;
	font-variant: normal !important;
	color: $color-icons;
	line-height: 1;
	text-decoration: none !important;
	text-transform: none !important;
	white-space: nowrap;
	speak: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	// Hide labels. Replaces [class^="icon-"] span and [class*=" icon-"] span
	span {
		display: none;
	}
}
%icon-iefix {
	.lt-ie9:hover & {
		/* These classes are using %icon-iefix. */
		// This triggers a redraw in IE to Fix IE8"s :before content rendering.
		-ms-zoom: 1;
	}
}
// Choose which icon you'd like to use. Based off %icon.

/* social icons */
%icon-dropbox {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-dropbox. */
		@extend %icon;
		content: "\F653";
	}
}
%icon-dropbox-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-dropbox-alt. */
		@extend %icon;
		content: "\F65A";
	}
}
%icon-facebook {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-facebook. */
		@extend %icon;
		content: "\F610";
	}
}
%icon-facebook-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-facebook-alt. */
		@extend %icon;
		content: "\F61A";
	}
}
%icon-flickr {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-flickr. */
		@extend %icon;
		content: "\F640";
	}
}
%icon-flickr-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-flickr-alt. */
		@extend %icon;
		content: "\F644";
	}
}
%icon-foursquare {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-foursquare. */
		@extend %icon;
		content: "\F690";
	}
}
%icon-foursquare-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-foursquare-alt. */
		@extend %icon;
		content: "\F691";
	}
}
%icon-github {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-github. */
		@extend %icon;
		content: "\F670";
	}
}
%icon-github-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-github-alt. */
		@extend %icon;
		content: "\F671";
	}
}
%icon-googleplus {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-googleplus. */
		@extend %icon;
		content: "\F613";
	}
}
%icon-googleplus-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-googleplus-alt. */
		@extend %icon;
		content: "\F614";
	}
}
%icon-instagram {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-instagram. */
		@extend %icon;
		content: "\F641";
	}
}
%icon-instagram-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-instagram-alt. */
		@extend %icon;
		content: "\F64A";
	}
}
%icon-kickstarter {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-kickstarter. */
		@extend %icon;
		content: "\F681";
	}
}
%icon-kickstarter-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-kickstarter-alt. */
		@extend %icon;
		content: "\F68A";
	}
}
%icon-linkedin {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-linkedin. */
		@extend %icon;
		content: "\F612";
	}
}
%icon-linkedin-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-linkedin-alt. */
		@extend %icon;
		content: "\F61E";
	}
}
%icon-paypal {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-paypal. */
		@extend %icon;
		content: "\F680";
	}
}
%icon-paypal-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-paypal-alt. */
		@extend %icon;
		content: "\F68B";
	}
}
%icon-pinterest {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pinterest. */
		@extend %icon;
		content: "\F650";
	}
}
%icon-pinterest-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pinterest-alt. */
		@extend %icon;
		content: "\F651";
	}
}
%icon-pocket {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pocket. */
		@extend %icon;
		content: "\F634";
	}
}
%icon-pocket-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pocket-alt. */
		@extend %icon;
		content: "\F635";
	}
}
%icon-reddit {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-reddit. */
		@extend %icon;
		content: "\F616";
	}
}
%icon-reddit-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-reddit-alt. */
		@extend %icon;
		content: "\F617";
	}
}
%icon-renren {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-renren. */
		@extend %icon;
		content: "\F61C";
	}
}
%icon-retweet {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-retweet. */
		@extend %icon;
		content: "\F600";
	}
}
%icon-soundcloud {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-soundcloud. */
		@extend %icon;
		content: "\F6B3";
	}
}
%icon-soundcloud-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-soundcloud-alt. */
		@extend %icon;
		content: "\F6B4";
	}
}
%icon-spotify {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-spotify. */
		@extend %icon;
		content: "\F6B1";
	}
}
%icon-stackexchange {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stackexchange. */
		@extend %icon;
		content: "\F673";
	}
}
%icon-stackexchange-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stackexchange-alt. */
		@extend %icon;
		content: "\F67B";
	}
}
%icon-stackoverflow {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stackoverflow. */
		@extend %icon;
		content: "\F672";
	}
}
%icon-stackoverflow-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stackoverflow-alt. */
		@extend %icon;
		content: "\F67A";
	}
}
%icon-stumbleupon {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stumbleupon. */
		@extend %icon;
		content: "\F63A"
	}
}
%icon-stumbleupon-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stumbleupon-alt. */
		@extend %icon;
		content: "\F63D"
	}
}
%icon-twitter {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-twitter. */
		@extend %icon;
		content: "\F611";
	}
}
%icon-twitter-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-twitter-alt. */
		@extend %icon;
		content: "\F62B";
	}
}
%icon-tumblr {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-tumblr. */
		@extend %icon;
		content: "\F620";
	}
}
%icon-tumblr-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-tumblr-alt. */
		@extend %icon;
		content: "\F62A";
	}
}
%icon-vimeo {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-vimeo. */
		@extend %icon;
		content: "\F631";
	}
}
%icon-vimeo-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-vimeo-alt. */
		@extend %icon;
		content: "\F63C";
	}
}
%icon-vine {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-vine. */
		@extend %icon;
		content: "\F633";
	}
}
%icon-vine-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-vine-alt. */
		@extend %icon;
		content: "\F63B";
	}
}
%icon-weibo {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-weibo. */
		@extend %icon;
		content: "\F61B";
	}
}
%icon-weibo-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-weibo-alt. */
		@extend %icon;
		content: "\F61D";
	}
}
%icon-wordpress {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-wordpress. */
		@extend %icon;
		content: "\F621";
	}
}
%icon-youtube {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-youtube. */
		@extend %icon;
		content: "\F630";
	}
}
%icon-youtube-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-youtube-alt. */
		@extend %icon;
		content: "\F632";
	}
}

/* general icons */

%icon-action {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-action. */
		@extend %icon;
		content: "\EE00";
	}
}
%icon-alert {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-alert. */
		@extend %icon;
		content: "\26A0";
	}
}
%icon-android {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-android. */
		@extend %icon;
		content: "\F6F3";
	}
}
%icon-appleinc {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-appleinc. */
		@extend %icon;
		content: "\F8FF";
	}
}
%icon-burst {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-burst. */
		@extend %icon;
		content: "\F552";
	}
}
%icon-calculator {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-calculator. */
		@extend %icon;
		content: "\E551";
	}
}
%icon-cart {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-cart. */
		@extend %icon;
		content: "\E500";
	}
}
%icon-code {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-code. */
		@extend %icon;
		content: "\E780";
	}
}
%icon-compass {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-compass. */
		@extend %icon;
		content: "\E671";
	}
}
%icon-contract {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-contract. */
		@extend %icon;
		content: "\EE01";
	}
}
%icon-dashboard {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-dashboard. */
		@extend %icon;
		content: "\F000";
	}
}
%icon-download {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-download. */
		@extend %icon;
		content: "\EB01";
	}
}
%icon-downloadbox {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-downloadbox. */
		@extend %icon;
		content: "\EB02";
	}
}
%icon-ban {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-ban. */
		@extend %icon;
		content: "\1F6AB";
	}
}
%icon-barchart {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-barchart. */
		@extend %icon;
		content: "\1F4CA";
	}
}
%icon-bike {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-bike. */
		@extend %icon;
		content: "\1F6B2";
	}
}
%icon-book {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-book. */
		@extend %icon;
		content: "\1F4D5";
	}
}
%icon-bookmark {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-bookmark. */
		@extend %icon;
		content: "\1F516";
	}
}
%icon-box {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-box. */
		@extend %icon;
		content: "\1F4E6";
	}
}
%icon-briefcase {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-briefcase. */
		@extend %icon;
		content: "\1F4BC";
	}
}
%icon-bug {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-bug. */
		@extend %icon;
		content: "\1F41B";
	}
}
%icon-calendar {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-calendar. */
		@extend %icon;
		content: "\1F4C5";
	}
}
%icon-camera {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-camera. */
		@extend %icon;
		content: "\1F4F7";
	}
}
%icon-car {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-car. */
		@extend %icon;
		content: "\1F698";
	}
}
%icon-chat {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-chat. */
		@extend %icon;
		content: "\1F4AC";
	}
}
%icon-check {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-check. */
		@extend %icon;
		content: "\2713";
	}
}
%icon-close {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-close. */
		@extend %icon;
		content: "\E421";
	}
}
%icon-clipboard {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-clipboard. */
		@extend %icon;
		content: "\1F4CB";
	}
}
%icon-clock {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-clock. */
		@extend %icon;
		content: "\23F2";
	}
}
%icon-cloud {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-cloud. */
		@extend %icon;
		content: "\2601";
	}
}
%icon-compose {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-compose. */
		@extend %icon;
		content: "\1F4DD";
	}
}
%icon-contacts {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-contacts. */
		@extend %icon;
		content: "\1F4C7";
	}
}
%icon-crosshair {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-crosshair. */
		@extend %icon;
		content: "\2316";
	}
}
%icon-delete {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-delete. */
		@extend %icon;
		content: "\2421";
	}
}
%icon-desktop {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-desktop. */
		@extend %icon;
		content: "\1F4BB";
	}
}
%icon-directleft {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-directleft. */
		@extend %icon;
		content: "\25C3";
	}
}
%icon-directright {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-directright. */
		@extend %icon;
		content: "\25B9";
	}
}
%icon-directup {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-directup. */
		@extend %icon;
		content: "\25B4";
	}
}
%icon-dislike {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-dislike. */
		@extend %icon;
		content: "\1F44E";
	}
}
%icon-down {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-down. */
		@extend %icon;
		content: "\2B07";
	}
}
%icon-dropdown {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-dropdown. */
		@extend %icon;
		content: "\25BE";
	}
}
%icon-emptycart {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-emptycart. */
		@extend %icon;
		content: "\E507";
	}
}
%icon-grid {
	/* These classes are %icon-grid. */
	@extend %icon-iefix;
	&:before {
		@extend %icon;
		content: "\E9A0";
	}
}
%icon-index {
	/* These classes are %icon-index. */
	@extend %icon-iefix;
	&:before {
		@extend %icon;
		content: "\E902";
	}
}
%icon-envelope {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-envelope. */
		@extend %icon;
		content: "\2709";
	}
}
%icon-expand {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-expand. */
		@extend %icon;
		content: "\2922";
	}
}
%icon-fastforward {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-fastforward. */
		@extend %icon;
		content: "\29E3";
	}
}
%icon-file {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-file. */
		@extend %icon;
		content: "\1F4C4";
	}
}
%icon-files {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-files. */
		@extend %icon;
		content: "\EC00";
	}
}
%icon-flag {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-flag. */
		@extend %icon;
		content: "\2691";
	}
}
%icon-flask {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-flask. */
		@extend %icon;
		content: "\F4C0";
	}
}
%icon-folder {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-folder. */
		@extend %icon;
		content: "\1F4C1";
	}
}
%icon-globe {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-globe. */
		@extend %icon;
		content: "\1F310";
	}
}
%icon-headphones {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-headphones. */
		@extend %icon;
		content: "\1F3A7";
	}
}
%icon-heart {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-heart. */
		@extend %icon;
		content: "\2665";
	}
}
%icon-home {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-home. */
		@extend %icon;
		content: "\2302";
	}
}
%icon-hyphen {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-hyphen. */
		@extend %icon;
		content: "\002D";
	}
}
%icon-infinity {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-infinity. */
		@extend %icon;
		content: "\221E";
	}
}
%icon-info {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-info. */
		@extend %icon;
		content: "\2139";
	}
}
%icon-key {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-key. */
		@extend %icon;
		content: "\1F511";
	}
}
%icon-laptop {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-laptop. */
		@extend %icon;
		content: "\EA00";
	}
}
%icon-layers {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-layers. */
		@extend %icon;
		content: "\E202";
	}
}
%icon-layout {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-layout. */
		@extend %icon;
		content: "\E202";
	}
}
%icon-left {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-left. */
		@extend %icon;
		content: "\2B05";
	}
}
%icon-lightbulb {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-lightbulb. */
		@extend %icon;
		content: "\1F4A1";
	}
}
%icon-lightning {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-lightning. */
		@extend %icon;
		content: "\2607";
	}
}
%icon-like {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-like. */
		@extend %icon;
		content: "\1F44D";
	}
}
%icon-like-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-like-alt. */
		@extend %icon;
		content: "\1F44B";
	}
}
%icon-link {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-link. */
		@extend %icon;
		content: "\1F51B";
	}
}
%icon-link-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-link-alt. */
		@extend %icon;
		content: "\F699";
	}
}
%icon-list {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-list. */
		@extend %icon;
		content: "\ED50";
	}
}
%icon-location {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-location. */
		@extend %icon;
		content: "\E6D0";
	}
}
%icon-lock {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-lock. */
		@extend %icon;
		content: "\1F512";
	}
}
%icon-map {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-map. */
		@extend %icon;
		content: "\E673";
	}
}
%icon-megaphone {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-megaphone. */
		@extend %icon;
		content: "\1F4E2";
	}
}
%icon-menu {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-menu. */
		@extend %icon;
		content: "\E9A1";
	}
}
%icon-mic {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-mic. */
		@extend %icon;
		content: "\1F3A4";
	}
}
%icon-music {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-music. */
		@extend %icon;
		content: "\266B";
	}
}
%icon-navigate {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-navigate. */
		@extend %icon;
		content: "\E670";
	}
}
%icon-navigateleft {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-navigateleft. */
		@extend %icon;
		content: "\25C5";
	}
}
%icon-navigateright {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-navigateright. */
		@extend %icon;
		content: "\25BB";
	}
}
%icon-navigatedown {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-navigatedown. */
		@extend %icon;
		content: "\F501";
	}
}
%icon-navigateup {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-navigateup. */
		@extend %icon;
		content: "\F500";
	}
}
%icon-notebook {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-notebook. */
		@extend %icon;
		content: "\1F4D3";
	}
}
%icon-notifications {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-notifications. */
		@extend %icon;
		content: "\1F514";
	}
}
%icon-pause {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pause. */
		@extend %icon;
		content: "\E8A0";
	}
}
%icon-phone {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-phone. */
		@extend %icon;
		content: "\1F4DE";
	}
}
%icon-picture {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-picture. */
		@extend %icon;
		content: "\1F304";
	}
}
%icon-piechart {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-piechart. */
		@extend %icon;
		content: "\E570";
	}
}
%icon-pinboard {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pinboard. */
		@extend %icon;
		content: "\F654";
	}
}
%icon-pin {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-pin. */
		@extend %icon;
		content: "\1F4CD";
	}
}
%icon-plane {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-plane. */
		@extend %icon;
		content: "\2708";
	}
}
%icon-planet {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-planet. */
		@extend %icon;
		content: "\F280";
	}
}
%icon-play {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-play. */
		@extend %icon;
		content: "\25B6";
	}
}
%icon-plus {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-plus. */
		@extend %icon;
		content: "\002B";
	}
}
%icon-poo {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-poo. */
		@extend %icon;
		content: "\1F4A9";
	}
}
%icon-print {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-print. */
		@extend %icon;
		content: "\2399";
	}
}
%icon-puzzle {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-puzzle. */
		@extend %icon;
		content: "\E710";
	}
}
%icon-record {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-record. */
		@extend %icon;
		content: "\25CF";
	}
}
%icon-rss {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-rss. */
		@extend %icon;
		content: "\E310";
	}
}
%icon-rss-alt {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-rss-alt. */
		@extend %icon;
		content: "\E31A";
	}
}
%icon-redirect {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-redirect. */
		@extend %icon;
		content: "\21AA";
	}
}
%icon-refresh {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-refresh. */
		@extend %icon;
		content: "\21BB";
	}
}
%icon-replay {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-replay. */
		@extend %icon;
		content: "\21BA";
	}
}
%icon-reply {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-reply. */
		@extend %icon;
		content: "\21A9";
	}
}
%icon-rewind {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-rewind. */
		@extend %icon;
		content: "\23EA";
	}
}
%icon-right {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-right. */
		@extend %icon;
		content: "\27A1";
	}
}
%icon-rotaryphone {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-rotaryphone. */
		@extend %icon;
		content: "\260E";
	}
}
%icon-scaledown {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-scaledown. */
		@extend %icon;
		content: "\EE05";
	}
}
%icon-scaleup {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-scaleup. */
		@extend %icon;
		content: "\EE04";
	}
}
%icon-screwdriver {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-screwdriver. */
		@extend %icon;
		content: "\F037";
	}
}
%icon-share {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-share. */
		@extend %icon;
		content: "\F601";
	}
}
%icon-signpost {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-signpost. */
		@extend %icon;
		content: "\E672";
	}
}
%icon-smartphone {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-smartphone. */
		@extend %icon;
		content: "\EA02";
	}
}
%icon-search {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-search. */
		@extend %icon;
		content: "\1F50E";
	}
}
%icon-settings {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-settings. */
		@extend %icon;
		content: "\2699";
	}
}
%icon-skipback {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-skipback. */
		@extend %icon;
		content: "\23EE";
	}
}
%icon-skipforward {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-skipforward. */
		@extend %icon;
		content: "\23ED";
	}
}
%icon-star {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-star. */
		@extend %icon;
		content: "\22C6";
	}
}
%icon-stop {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stop. */
		@extend %icon;
		content: "\25A0";
	}
}
%icon-stock {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-stock. */
		@extend %icon;
		content: "\E579";
	}
}
%icon-storagebox {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-storagebox. */
		@extend %icon;
		content: "\E901";
	}
}
%icon-sync {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-sync. */
		@extend %icon;
		content: "\EB82";
	}
}
%icon-tablet {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-tablet. */
		@extend %icon;
		content: "\EA01";
	}
}
%icon-tag {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-tag. */
		@extend %icon;
		content: "\E100";
	}
}
%icon-thermometer {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-thermometer. */
		@extend %icon;
		content: "\F201";
	}
}
%icon-thumbnails {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-thumbnails. */
		@extend %icon;
		content: "\E9A3";
	}
}
%icon-toolbox {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-toolbox. */
		@extend %icon;
		content: "\F030";
	}
}
%icon-tv {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-tv. */
		@extend %icon;
		content: "\1F4FA";
	}
}
%icon-unlock {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-unlock. */
		@extend %icon;
		content: "\1F513";
	}
}
%icon-up {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-up. */
		@extend %icon;
		content: "\2806";
	}
}
%icon-upload {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-upload. */
		@extend %icon;
		content: "\EB41";
	}
}
%icon-uploadcloud {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-uploadcloud. */
		@extend %icon;
		content: "\EB40";
	}
}
%icon-user {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-user. */
		@extend %icon;
		content: "\1F464";
	}
}
%icon-users {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-users. */
		@extend %icon;
		content: "\1F465";
	}
}
%icon-utensils {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-utensils. */
		@extend %icon;
		content: "\1F374";
	}
}
%icon-video {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-video. */
		@extend %icon;
		content: "\1F4F9";
	}
}
%icon-view {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-view. */
		@extend %icon;
		content: "\1F440";
	}
}
%icon-volume {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-volume. */
		@extend %icon;
		content: "\1F508";
	}
}
%icon-watch {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-watch. */
		@extend %icon;
		content: "\231A";
	}
}
%icon-wrench {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-wrench. */
		@extend %icon;
		content: "\1F527";
	}
}
%icon-write {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-write. */
		@extend %icon;
		content: "\270E";
	}
}
%icon-wifi {
	@extend %icon-iefix;
	&:before {
		/* These classes are using %icon-wifi. */
		@extend %icon;
		content: "\EB84";
	}
}

/* Footer links */

.siteFooter-social a {
	@include transition(color, 200ms, ease-in-out, 0s);
}

.siteFooter-social i {
	@extend %icon;
	font-size: $fontSize-large;
}
.siteFooter-social a[href*="dropbox.com"] i {
	@extend %icon-dropbox;
}
.siteFooter-social a[href*="facebook.com"] i {
	@extend %icon-facebook;
}
.siteFooter-social a[href*="flickr.com"] i {
	@extend %icon-flickr;
}
.siteFooter-social a[href*="foursquare.com"] i {
	@extend %icon-foursquare;
}
.siteFooter-social a[href*="github.com"] i {
	@extend %icon-github;
}
.siteFooter-social a[href*="instagram.com"] i {
	@extend %icon-instagram;
}
.siteFooter-social a[href*="kickstarter.com"] i {
	@extend %icon-kickstarter;
}
.siteFooter-social a[href*="linkedin.com"] i {
	@extend %icon-linkedin;
}
.siteFooter-social a[href*="pinterest.com"] i {
	@extend %icon-pinterest;
}
.siteFooter-social a[href*="plus.google.com"] i {
	@extend %icon-googleplus;
}
.siteFooter-social a[href*="getpocket.com"] i {
	@extend %icon-pocket;
}
.siteFooter-social a[href*="reddit.com"] i {
	@extend %icon-reddit;
}
.siteFooter-social a[href*="tumblr.com"] i {
	@extend %icon-tumblr;
}
.siteFooter-social a[href*="twitter.com"] i {
	@extend %icon-twitter;
}
.siteFooter-social a[href*="vimeo.com"] i {
	@extend %icon-vimeo;
}
.siteFooter-social a[href*="vine.co"] i {
	@extend %icon-vine;
}
.siteFooter-social a[href*="youtube.com"] i {
	@extend %icon-youtube;
}
/* hide labels */
.siteFooter-social a[href*="dropbox.com"] span,
.siteFooter-social a[href*="facebook.com"] span,
.siteFooter-social a[href*="flickr.com"] span,
.siteFooter-social a[href*="foursquare.com"] span,
.siteFooter-social a[href*="github.com"] span,
.siteFooter-social a[href*="instagram.com"] span,
.siteFooter-social a[href*="kickstarter.com"] span,
.siteFooter-social a[href*="linkedin.com"] span,
.siteFooter-social a[href*="pinterest.com"] span,
.siteFooter-social a[href*="plus.google.com"] span,
.siteFooter-social a[href*="getpocket.com"] span,
.siteFooter-social a[href*="reddit.com"] span,
.siteFooter-social a[href*="tumblr.com"] span,
.siteFooter-social a[href*="twitter.com"] span,
.siteFooter-social a[href*="vimeo.com"] span,
.siteFooter-social a[href*="vine.co"] span,
.siteFooter-social a[href*="youtube.com"] span {
	display: none;
}