// =================================================================
// Layout
// =================================================================

body {
	background: $color-body-bg;
}

/// Controls styling for all content, from the masthead to the site footer.
/// @group layout
/// @access public
/// @since 1.0.0

.content {
	background: $color-content-bg;
}

/// A wrapper to contain content to a certain size. Sits just below the window
/// width banner and just above the footbar.
/// @group layout
/// @access public
/// @since 1.0.0

.content-container {
	@extend %container-styles;
}

// Masthead
// -----------------------------------------------------------------

/// Controls all styling related to the masthead. This includes
/// navigation, branding, and search.
/// @group layout
/// @access public
/// @since 1.0.0

.masthead {
	@extend %clearfix;
	background: $color-masthead-bg;
	border: $border-masthead;
	border-width: $border-width-masthead;
	position: relative;
}

/// A wrapper for items in the masthead. Often used to restrict the
/// masthead to a certain width without interfering with the background.
/// @group layout
/// @access public
/// @since 1.0.0

.masthead-container {
	position: relative;
}

// Content Banner
// -----------------------------------------------------------------

/// General styles for all content banner positions.
/// @group layout
/// @access public
/// @since 1.0.0

.banner-container {
	padding: 0;
	text-align: center;

	img {
		display: block;
		margin: 0 auto;
	}
}

/// Styles for the window-width content banner position.
/// Sits outside of `.content-container`.
/// @group layout
/// @access public
/// @since 1.0.0

.banner-container-window-width {
	@include breakpoint( lg ) {
		background: $color-banner-container;
		padding: 20px;
	}
}

/// Styles for the page-width content banner position.
/// Sits directly inside `.content-container` and just
/// outside of `.content-area`.
/// @group layout
/// @access public
/// @since 1.0.0

.banner-container-page-width {
	margin: -$grid-container-padding;
	margin-bottom: $grid-container-padding;

	@include breakpoint( sm ) {
		margin: 0 0 60px;
	}

	img {
		@include breakpoint( md ) {
			background: $color-banner-container;
			width: 100%;
		}
	}
}

/// Styles for the content-width content banner position.
/// Sits directly inside `.content-area`.
/// @group layout
/// @access public
/// @since 1.0.0

.banner-container-content-width {
	background: none;
	margin: -$grid-container-padding;
	margin-bottom: ( 1.5 * $grid-container-padding );
	padding: 0;

	@include breakpoint( sm ) {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
}

// Content Area
// -----------------------------------------------------------------

/// A helper variable to figure out the proper width for the content
/// based on the desired number of columns in the design.
/// Note that this is different from the number of columns supported in
/// the grid.
/// By default, the width is one less than the number of columns.
/// @group layout
/// @access private
/// @since 1.0.0

$_content-width: $grid-number-columns * ( ( $number-columns - 1 ) / $number-columns );

/// A helper variable to figure out the proper width for the sidebar
/// based on the desired number of columns in the design.
/// Note that this is different from the number of columns supported in
/// the grid.
/// By default, the width is one column.
/// @group layout
/// @access private
/// @since 1.0.0

$_sidebar-width: $grid-number-columns * ( 1 / $number-columns );

/// Styles for the content area (formerly styled by article[role=main]).
/// Sits next to the sidebar.
/// @group layout
/// @access public
/// @since 1.0.0

.content-area {
	padding-bottom: $column-padding-bottom;

	@include breakpoint( sm ) {
		padding-bottom: $column-padding-bottom-large-screen;
	}

	.content-container & {
		@extend %col-md-#{$_content-width};
	}

	// Left layout
	.sidebar-location-left & {
		@extend %col-md-push-#{$_sidebar-width};
	}

	.page-template-no-sidebars & {
		left: 0;
		width: 100%;
	}
}

/// Styles for the bottom sidebar location.
/// @group layout
/// @access public
/// @since 1.0.0

.sidebar-location-bottom {
	@extend %template-narrow;

	.sidebar {
		@extend %col-sm-margin-parent;
		clear: both;
		float: none;
		margin-bottom: $widget-margin-bottom;
		overflow: hidden;
		padding-left: 0;
		width: auto;

		.widget {
			@extend %col-sm-margin-half;
		}
	}
}


// Sidebar
// -----------------------------------------------------------------

/// Controls styles for the sidebar.
/// You may extend this class if you can't use .sidebar for some reason.
/// @group layout
/// @access public
/// @since 1.2.0

%sidebar-styles {
	@extend %font-size-secondary;
	@extend %col-md-#{$_sidebar-width};
	clear: none;

	// TODO: sunset this in a future release -
	// this padding should really only apply to .sidebar-location-right
	@include breakpoint( md ) {
		padding-left: $sidebar-padding;
	}

	// Left layout
	.sidebar-location-left & {
		@extend %col-md-pull-#{$_content-width};

		@include breakpoint( md ) {
			// TODO: sunset in a future release
			padding: 0;
			padding-right: $sidebar-padding;
		}
	}
}

/// The default class for styling sidebars.
/// @group layout
/// @access public
/// @since 1.0.0

.sidebar {
	@extend %sidebar-styles;
}

// layouts
// -----------------------------------------------------------------

/// Styles for the left sidebar location.
/// @group layout
/// @access public
/// @since 1.2.0

.sidebar-location-left {
	.sidebar {
		@extend %col-md-pull-#{$_content-width};

		@include breakpoint( md ) {
			// TODO: sunset in a future release
			padding: 0;
			padding-right: $sidebar-padding;
		}
	}

	.sidebar-posts {
		@extend %remove-template-narrow-sidebar;
	}
}

// Footbar
// -----------------------------------------------------------------

/// The width a widget should take up, including the margin, in the footbar.
/// First, width gets equally divided among widgets.
/// Next, calculate the amount of margin you need to subtract from the width.
/// You need to split the margin equally, but the first margin in every row
/// will always be left out.
/// So if there are 3 widgets in the footbar, you only need to account for margin on two,
/// which makes the basic formula something like this: width - (margin * 2/3).
/// @group layout
/// @access private
/// @since 1.0.0

$_footbar-widget-width: ( 100% / $number-widgets-footbar ) - $margin-width * ( ( $number-widgets-footbar - 1 ) / $number-widgets-footbar );

/// Controls styling for the footbar.
/// @group layout
/// @access public
/// @since 1.0.0

.footbar {
	@extend %clearfix;
	background: $color-footbar-bg;
	border: $border-footbar;
	border-width: $border-width-footbar;
	padding-bottom: $footbar-padding-bottom;
	width: 100%;
}

/// Controls styling for the footbar container and width of widgets inside.
/// Often used to put a maximum width on the footbar without affecting the background.
/// @group layout
/// @access public
/// @since 1.0.0

.footbar-container {
	@extend %container-styles;
	background: $color-footbar-container-bg;

	@include breakpoint( md ) {
		padding: $grid-container-padding-large-screen;
	}

	.widget {
		width: 100%;

		@include breakpoint( md ) {
			float: left;
			margin-left: $margin-width;
			margin-top: 0;
			padding: 0;
			width: $_footbar-widget-width;

			&:first-child,
			&:nth-child(#{$number-widgets-footbar}n+1) {
				clear: left;
				margin-left: 0;
			}
		}
	}
}

// Footer
// -----------------------------------------------------------------

/// Controls styling for the site footer - branding, address, and social links.
/// @group layout
/// @access public
/// @since 1.0.0

.site-footer {
	@extend %font-size-secondary;
	@extend %clearfix;
	background: $color-site-footer-bg;
	clear: both;
	color: $color-grayscale-8;
	display: block;
	font-family: $font-family-sans-serif;
	padding: $padding-site-footer;
	position: relative;
	width: 100%;

	a {
		color: $color-site-footer-link;

		&:hover {
			color: $color-site-footer-link-hover;
		}
	}

	li {
		line-height: 1.4;
		margin: 0 0 5px;

		&:last-child {
			margin: 0;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend %font-size-secondary;
		color: $color-site-footer;
		font-family: $font-family-sans-serif;
		margin: 0 0 3px;
	}
}

/// A helper placeholder for listing links in an inline style.
/// @group layout
/// @access private
/// @since 1.0.0

%_u-list-inlineLinks {
	display: inline-block;
	margin-right: 20px;
	padding: 0;

	&:last-child {
		margin-right: 0;
	}
}

/// Styles the social media links menu in the footer based on
/// the content around it.
/// @group layout
/// @access public
/// @since 1.0.0

.site-footer-social {
	@extend %col-sm-half;
	text-align: center;

	@include breakpoint( sm ) {
		float: right;
		text-align: right;
	}

	.has-branding &,
	.has-footer-info & {
		@include breakpoint( sm ) {
			text-align: left;
		}
	}

	li {
		@extend %_u-list-inlineLinks;
	}

	a {
		@include transition( color 200ms ease-in-out 0s );
		font-size: $font-size-icon;
	}

	[href*="dropbox.com"] {
		@extend %icon-dropbox;
	}

	[href*="facebook.com"] {
		@extend %icon-facebook;
	}

	[href*="flickr.com"] {
		@extend %icon-flickr;
	}

	[href*="foursquare.com"] {
		@extend %icon-foursquare;
	}

	[href*="github.com"] {
		@extend %icon-github;
	}

	[href*="instagram.com"] {
		@extend %icon-instagram;
	}

	[href*="kickstarter.com"] {
		@extend %icon-kickstarter;
	}

	[href*="linkedin.com"] {
		@extend %icon-linkedin;
	}

	[href*="pinterest.com"] {
		@extend %icon-pinterest;
	}

	[href*="plus.google.com"] {
		@extend %icon-googleplus;
	}

	[href*="getpocket.com"] {
		@extend %icon-pocket;
	}

	[href*="reddit.com"] {
		@extend %icon-reddit;
	}

	[href*="tumblr.com"] {
		@extend %icon-tumblr;
	}

	[href*="twitter.com"] {
		@extend %icon-twitter;
	}

	[href*="vimeo.com"] {
		@extend %icon-vimeo;
	}

	[href*="vine.co"] {
		@extend %icon-vine;
	}

	[href*="youtube.com"] {
		@extend %icon-youtube;
	}
}

/// Styles the container which holds branding assets in the site footer.
/// @group layout
/// @access public
/// @since 2.0.0

.site-footer-brand-assets {
	@extend %col-sm-half;
	text-align: center;

	@include breakpoint( sm ) {
		text-align: left;
	}

	.has-branding & {
		@extend %col-md-two-third;
	}

	a {
		display: block;
		margin: 0 auto 30px;

		@include breakpoint( xs ) {
			display: inline-block;
			height: 50px;
			margin-right: 30px;
			vertical-align: middle;
		}

		@include breakpoint( sm ) {
			float: left;
			text-align: left;
		}
	}
}

/// Styles the disclaimer, which shows in the site footer.
/// @group layout
/// @access public
/// @since 1.0.0

.disclaimer {
	line-height: 50px;
}

/// Styles the container which holds menus (footer links and social) in the site footer
/// based on the content around it.
/// @group layout
/// @access public
/// @since 2.0.0

.site-footer-menus {
	clear: both;

	.has-footer-info & {
		@extend %col-sm-half;
		clear: none;

		@include breakpoint( sm ) {
			float: right;
		}
	}

	.has-branding & {
		@extend %col-sm-half;
		@extend %col-md-third;
		clear: none;

		@include breakpoint( sm ) {
			float: right;
		}
	}
}

/// Styles the container which holds footer links
/// based on the content around it.
/// @group layout
/// @access public
/// @since 1.0.0

.site-footer-links {
	@extend %col-sm-half;
	margin-bottom: 30px;
	text-align: center;

	@include breakpoint( sm ) {
		text-align: left;
	}

	li {
		@extend %_u-list-inlineLinks;

		.has-branding & {
			display: block;
		}
	}
}

/// Styles the container which holds footer information
/// based on the content around it.
/// Note: this is slated to be controlled by the branding plugin
/// in a future release.
/// @group layout
/// @access public
/// @since 1.0.0

.site-footer-info {
	clear: both;
	display: block;
	margin-bottom: 30px;

	@include breakpoint( sm ) {
		padding-right: 30px;
	}

	.brand-masterplate + & {
		@include breakpoint( sm ) {
			clear: none;
			float: left;
			max-width: 60%;
		}

		@include breakpoint( md ) {
			max-width: 75%;
		}
	}

	.brand-bumclogo + & {
		@include breakpoint( md ) {
			clear: none;
			float: left;
			max-width: 50%;
		}

		@include breakpoint( lg ) {
			max-width: 65%;
		}
	}

	.disclaimer + & {
		@include breakpoint( md ) {
			clear: none;
			float: left;
			max-width: 33%;
		}

		@include breakpoint( lg ) {
			max-width: 50%;
		}
	}
}
