body {
	background: $color-body-bg;
}
.content {
	background: $color-content-bg;
}
.content-container {
	@extend %container-styles;
}

/* masthead
----------------------------------------------------------------- */

.masthead {
	@extend %clearfix;
	position: relative;
	border: $border-masthead;
	border-width: $borderWidth-masthead;
	background: $color-masthead-bg;
}
.masthead-container {
	position: relative;
}

/* .bannerContainer
----------------------------------------------------------------- */

.banner-container {
	padding: 0;
	text-align: center;
}
.banner-container img {
	display: block;
	margin: 0 auto;
}
.banner-container-windowWidth {
	@include breakpoint(lg) {
		padding: 20px;
		background: $color-bannerContainer;
	}
}
.banner-container-pageWidth {
	margin: -15px 0 35px;
	@include breakpoint(sm) {
		margin: 0 0 60px;
	}
}
.banner-container-pageWidth img {
	@include breakpoint(md) {
		width: 100%;
		background: $color-bannerContainer;
	}
}
.banner-container-contentWidth {
	padding: 0;
	margin: -15px 0 35px;
	background: none;
	@include breakpoint(sm) {
		margin-top: 0;
	}
}

/* content
----------------------------------------------------------------- */

.content-area {
	@extend %col-md-#{$grid-number-columns*((($number-columns)-1)/$number-columns)};
	padding-bottom: $column-padding-bottom;
	@include breakpoint(sm) {
		padding-bottom: $column-padding-bottom-large-screen;
	}

	// Left layout
	.sidebar-location-left & {
		@extend %col-md-push-#{$grid-number-columns*(1/$number-columns)};
	}
	.page-template-no-sidebars & {
		left: 0;
		width: 100%;
	}
}

// Bottom layout
.sidebar-location-bottom {
	@extend %templateNarrow;

	.sidebar {
		@extend %col-sm-margin-parent;
		clear: both;
		overflow: hidden;
		width: auto;
		float: none;
		padding-left: 0;
		margin-bottom: $widget-marginBottom;

		.widget {
			@extend %col-sm-margin-half;
		}
	}
}


/* sidebar
----------------------------------------------------------------- */

%sidebar-styles {
	@extend %col-md-#{$grid-number-columns*(1/$number-columns)};
	font-size: $fontSize-small;
	clear: none;

	// TODO: sunset this in a future release - this padding should really only apply to .sidebar-location-right
	@include breakpoint(md) {
		padding-left: $sidebar-padding;
	}

	// Left layout
	.sidebar-location-left & {
		@extend %col-md-pull-#{$grid-number-columns*(1-(1/$number-columns))};

		@include breakpoint(md) {
			// TODO: sunset in a future release
			padding: 0;
			padding-right: $sidebar-padding;
		}
	}
}

.sidebar {
	@extend %sidebar-styles;
}

/* layouts
----------------------------------------------------------------- */

// Left layout
.sidebar-location-left {
	.sidebar {
		@extend %col-md-pull-#{$grid-number-columns*(1-(1/$number-columns))};

		@include breakpoint(md) {
			// TODO: sunset in a future release
			padding: 0;
			padding-right: $sidebar-padding;
		}
	}
	.sidebar-posts {
		@extend %removeTemplateNarrowSidebar;
	}
}

/* .footbar
----------------------------------------------------------------- */

.footbar {
	@extend %clearfix;
	width: 100%;
	padding-bottom: $footbar-paddingBottom;
	border: $border-footbar;
	border-width: $borderWidth-footbar;
	background: $color-footbar-bg;
}
.footbar-container {
	@extend %container-styles;
	background: $color-footbar-container-bg;
	@include breakpoint(md) {
		padding: $grid-container-padding-large-screen;
	}
}
.footbar-container .widget {
	@extend %col-base;
	@extend %col-float;
	width: 100%;

	@include breakpoint(md) {
		// Bet you're really reconsidering overriding this width now!
		// Don't worry, it's not so bad.
		// First, width gets equally divided among widgets.
		// Next, calculate the amount of margin you need to subtract from the width.
		// You need to split the margin equally, but the first margin in every row will always be left out.
		// So if there are 3 widgets in the footbar, you only need to account for margin on two:
		// width - (margin * 2/3)
		// See? Totally fine.
		width: (100%/$number-widgets-footbar) - $margin-width * ((($number-widgets-footbar)-1)/$number-widgets-footbar);
		float: left;
		margin-left: $margin-width;
		margin-top: 0;
		padding: 0;

		&:first-child,
		&:nth-child(#{$number-widgets-footbar}n+1) {
			margin-left: 0;
			clear: left;
		}
	}
}



/* footer
----------------------------------------------------------------- */

.site-footer {
	@extend %clearfix;
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	padding: $padding-siteFooter;
	background: $color-siteFooter-bg;
	font-family: $font-family-sans-serif;
	font-size: $fontSize-small;
	line-height: $lineHeight-small;
	color: $color-grayScale-8;
}
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
	margin: 0 0 3px;
	font-family: $font-family-sans-serif;
	font-size: $fontSize-small;
	line-height: $lineHeight-small;
	color: $color-siteFooter;
}
.site-footer a {
	color: $color-siteFooter-link;
	&:hover {
		color: $color-siteFooter-link-hover;
	}
}
.site-footer li {
	margin: 0 0 5px;
	line-height: 1.4;
	&:last-child {
		margin: 0;
	}
}
.site-footer-info {
	@extend %col-sm-half;

	@include breakpoint(sm) {
		padding: 0 0 10px 30px;
		text-align:left;
	}
}
.site-footer-links,
.site-footer-social {
	@extend %col-sm-quarter;
	padding: 0 0 30px;
	@include breakpoint(sm) {
		padding-left: 30px;
	}
}
.site-footer-social {
	text-align: center;
	@include breakpoint(sm) {
		text-align: left;
	}
}


/* utility class for displaying lists of links inline. Use @extend */
%u-list-inlineLinks {
	/* These classes are using %u-list-inlineLinks. */
	display: inline-block;
	padding: 0;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}

/* Add master logo if specified by theme */
.has-branding {
	min-height: 140px;
}
.has-branding .site-footer-brand {
	width: 112px;
	margin: 6px auto 35px;
	@include breakpoint(sm) {
		position: absolute;
		top: 40px;
		left: 20px;
	}
}
.site-footer-brand + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 112px;
	}
}

/* Add BUMC logo if specified by theme */
.site-footer-bumc {
	width: 96px;
	margin: 6px auto 35px;

	@include breakpoint(sm) {
		margin:0;
		position: absolute;
		top: 40px;
		left: 20px;
	}
}
.site-footer-brand + .site-footer-bumc {
	@include breakpoint(sm) {
		position: absolute;
		top: 48px;
		left: 162px;
	}
}
.site-footer-bumc + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 112px;
	}
}
.site-footer-brand + .site-footer-bumc + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 234px;
	}
}

/* Add disclaimer if specified by theme */
.site-footer-disclaimer {
	margin-bottom:20px;
	text-align:center;

	@include breakpoint(sm) {
		margin-bottom:0;
		position: absolute;
	}
}
.has-branding .site-footer-disclaimer,
.site-footer-bumc + .site-footer-disclaimer {

	@include breakpoint(sm) {
		position: absolute;
		top: 48px;
		left: 162px;
	}
}
.site-footer-disclaimer + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 112px;
	}
}
.site-footer-brand + .site-footer-disclaimer + .site-footer-content,
.site-footer-bumc + .site-footer-disclaimer + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 234px;
	}
}
.site-footer-brand + .site-footer-bumc + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 234px;
	}
}
.site-footer-brand + .site-footer-bumc + .site-footer-disclaimer {
	@include breakpoint(sm) {
		left: 282px;
	}
}
.site-footer-brand + .site-footer-bumc + .site-footer-disclaimer + .site-footer-content {
	@include breakpoint(sm) {
		margin: 0 0 0 344px;
	}
}


/* Has only HTML info */
.has-info .site-footer-info {
	@extend %col-sm-full;
}

/* Has only general links */
.has-links .site-footer-links {
	@extend %col-sm-full;
}
.has-links .site-footer-links li {
	@extend %u-list-inlineLinks;
}

/* Has general + social media links */
.has-social .site-footer-social {
	@extend %col-sm-full;
}
.has-social .site-footer-social li {
	@extend %u-list-inlineLinks;
}
.has-links-social .site-footer-links,
.has-links-social .site-footer-social {
	@extend %col-sm-half;
}
.has-links-social .site-footer-links li,
.has-links-social .site-footer-social li {
	@extend %u-list-inlineLinks;
}

/* Has info + general links */
.has-info-links .site-footer-info {
	@extend %col-sm-three-quarter;
}
.has-info-links .site-footer-links {
	@extend %col-sm-quarter;
}
.has-info-links .site-footer-links li {
	@extend %u-list-inlineLinks;
}
/* Has info + social media links */
.has-info-social .site-footer-info {
	@extend %col-sm-three-quarter;
}
.has-info-social .site-footer-social {
	@extend %col-sm-quarter;
}
.has-info-social .site-footer-social li {
	@extend %u-list-inlineLinks;
}

/* Has all three */
.has-info-links-social .site-footer-info {
	@extend %col-sm-half;
}
.has-info-links-social .site-footer-links,
.has-info-links-social .site-footer-social {
	@extend %col-sm-quarter;
}
// .has-info-links-social .site-footer-links li, Doesn't always look good.
.has-info-links-social .site-footer-social li  {
    @extend %u-list-inlineLinks;
}
