body {
	background: $color-body-bg;
}
.contentWrapper {
	background: $color-contentWrapper-bg;
}

/* masthead
----------------------------------------------------------------- */

.masthead {
	background: $color-masthead-bg;
	@include clearfix;
}
.brand {
	padding: 40px 20px;
	overflow: hidden;
}
.siteName {
	float: left;
	font-family: $fontFamily-branding;
	font-weight: 600;
	text-decoration: none;
	color: $color-branding;

	&:visited {
		color: $color-branding;
	}
}
.siteName span {
	font-weight: 400;
}
.siteDescription {
	margin: 0;
}

/* .bannerContainer
----------------------------------------------------------------- */

.bannerContainer {
	text-align: center;
	padding: 0;
}
.bannerContainer img {
	display: block;
	margin: 0 auto;
}
.bannerContainer-windowWidth {
	@include breakpoint(large) {
		background: $color-bannerContainer;
		padding: 20px;
	}
}
.bannerContainer-pageWidth {
	margin-bottom: 20px;
}
.bannerContainer-pageWidth img {
	@include breakpoint(medium) {
		background: $color-bannerContainer;
		width: 100%;
	}
}
.bannerContainer-contentWidth {
	background: none;
	padding: 0;
	margin-bottom: 20px;
}

/* sidebar
----------------------------------------------------------------- */

.sidebar {
	@include breakpoint(medium) {
		padding: 0 0 0 60px;
	}
}

/* .footbar
----------------------------------------------------------------- */

.footbar {
	@include clearfix;
	background: $color-grayScale-f5;
	clear: left;
	width: 100%;

	@include breakpoint(medium) {
		padding: 40px 0;
	}
}
.footbar .footbar-container {
	@extend .container;

	@include breakpoint(medium) {
		padding: 0 20px;
		overflow: hidden;
	}
}
.footbar .widget {
	//padding: 0 20px;

	@include breakpoint(medium) {
		float: left;
		width: 33.333%;
		padding: 0 20px 1000px 20px;
		margin-bottom: -1000px;
	}
}
.footbar .post {
	border-bottom:1px solid $color-footbar-borderFallback;
	border-bottom:1px solid $color-footbar-border;	
}
.footbar .post h1 {
	color: $color-grayScale-f;
}
.footbar .post h1 a {
	color: $color-grayScale-f;
}
.footbar .date {
	border-right:1px solid $color-footbar-borderFallback;
	border-right:1px solid $color-footbar-border;
}
.footbar .day {
	color: $color-grayScale-f;
}

/* footer
----------------------------------------------------------------- */

.siteFooter {
	background: $color-grayScale-0;
	border-top:1px solid $color-footbar-borderFallback;
	border-top:1px solid $color-footbar-border;
	padding: 20px;
	display: block;
	clear: both;
	@include breakpoint(small) {
		padding: 40px;
	}
}
.siteFooter p {
	margin: 0;
	color: $color-grayScale-f;
}