body {
	background: $color-body-bg;
}
.contentWrapper {
	background: $color-contentWrapper-bg;
}

/* masthead
----------------------------------------------------------------- */

.masthead {
	background: $color-masthead-bg;
	position: relative;
	border: $border-masthead;
	border-width: $borderWidth-masthead;
	@include clearfix;
}
.brand {
	padding: 40px 20px;
	overflow: hidden;
}
.siteName {
	float: left;
	font-family: $fontFamily-branding;
	font-weight: 600;
	text-decoration: none;
	color: $color-branding;

	&:visited {
		color: $color-branding;
	}
}
.siteName span {
	font-weight: 400;
}
.siteDescription {
	margin: 0;
}

/* .bannerContainer
----------------------------------------------------------------- */

.bannerContainer {
	text-align: center;
	padding: 0;
}
.bannerContainer img {
	display: block;
	margin: 0 auto;
}
.bannerContainer-windowWidth {
	@include breakpoint(large) {
		background: $color-bannerContainer;
		padding: 20px;
	}
}
.bannerContainer-pageWidth {
	margin-bottom: 60px;
}
.bannerContainer-pageWidth img {
	@include breakpoint(medium) {
		background: $color-bannerContainer;
		width: 100%;
	}
}
.bannerContainer-contentWidth {
	background: none;
	padding: 0;
	margin: 25px 0 35px;
}

/* content
----------------------------------------------------------------- */

article[role=main] {
	@extend .col-md-8;
}

/* sidebar
----------------------------------------------------------------- */

.sidebar {
	@extend .col-md-4;

	@include breakpoint(medium) {
		padding: 0 0 0 60px;
	}
}

/* .footbar
----------------------------------------------------------------- */

.footbar {
	@include clearfix;
	background: $color-footbar-bg;
	width: 100%;

	@include breakpoint(medium) {
		padding: 60px 0 20px;
	}
}
.footbar .footbar-container {
	@extend .container;

	@include breakpoint(medium) {
		padding: 0 20px;
	}
}

/* footer
----------------------------------------------------------------- */

.siteFooter {
	background: $color-siteFooter-bg;
	border-top: 1px solid $color-footbar-border;
	padding: 20px;
	display: block;
	clear: both;
	@include breakpoint(small) {
		padding: 40px;
	}
}
.siteFooter p {
	margin: 0;
	color: $color-grayScale-f;
}