/* globals
----------------------------------------------------------------- */

body {
	background: $color-grayScale-1;
}
.wrapper {
	overflow:hidden;
}
.contentWrapper {
	position:relative;
}

/* header area
----------------------------------------------------------------- */

/* header */
header {
	padding: 0;
	background: $color-grayScale-f;
	@include clearfix;
}

/* #brand */
#brand {
	padding: 40px 20px;
	overflow: hidden;
}
#siteName {
	float: left;
	font-family: $fontFamily-branding;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	color: $color-grayScale-0;
}
#siteName span {
	font-family: $fontFamily-branding;
	font-weight: 400;
	font-style: normal;
}

/* .bannerContainer
----------------------------------------------------------------- */

.bannerContainer {
	text-align: center;
	padding: 0;
}
.bannerContainer img {
	display: block;
	margin: 0 auto;
}
.bannerContainer-windowWidth {
	@include breakpoint(large) {
		background: $color-grayScale-3;
		padding: 20px;
	}
}
.bannerContainer-pageWidth {
	margin-bottom: 20px;
}
.bannerContainer-pageWidth img {
	@include breakpoint(medium) {
		background: $color-grayScale-3;
		width: 100%;
	}
}
.bannerContainer-contentWidth {
	background: none;
	padding: 0;
	margin-bottom: 20px;
}

/* content formatting
----------------------------------------------------------------- */

/* article */
article header {
	background: none;
}
article footer {
	background: none;
	border: none;
}

/* lists */
article ul,
article ol {
	counter-reset: li;
	margin-bottom: 24px;
	margin-left: 20px;
}
article ul > li,
article ol > li {
	list-style-type: none;
	position: relative;
	margin-left: 20px;
	padding: 2px 0;
}
article ul > li:before,
article ol > li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	top: -3px;
	left: -2em;
	width: 2em;
	margin-right: 8px;
	padding: 4px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
article li ul,
article li ol {
	margin: 6px 0 0 0;
	counter-reset: li;
}
article ul > li:before {
	content: "+";
	font-size: 30px;
	font-weight: 400;
}

/* inline images (use WordPress class names) */
img.alignright {
	float: right;
	margin: 0.0 0 10px 10px;
}
div.alignright {
	float: right;
	margin: 0 0 10px 10px;
	background: $color-grayScale-f;
	width: auto !important;
	padding: 10px;
	max-width: 100%;
}
div.alignright p {
	margin-bottom: 0;
}
div.alignright img {
	margin-bottom: 5px;
}
img.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}
div.alignleft {
	float: left;
	margin: 0 10px 10px 0;
	background: $color-grayScale-f;
	width: auto !important;
	padding: 10px;
	max-width: 100%;
}
div.alignleft p {
	margin-bottom: 0;
}
div.alignleft img {
	margin-bottom: 5px;
}
img.aligncenter {
	display: block;
	margin: 0 auto 10px;
}
div.aligncenter {
	margin: 0 auto;
	background: $color-grayScale-f;
	padding: 10px;
	max-width: 100%;
}
div.aligncenter p {
	margin-bottom: 0;
}
div.aligncenter img {
	margin-bottom: 5px;
}

/* inline images (use WordPress class names) */
.wp-caption p {
	color: $color-grayScale-9;
	clear: both;
	font-size: 12px;
	line-height: 16px;
}
.wp-caption img {
	margin-bottom: 10px;
	margin-top: 0;
}

/* slideshows */
.bu-slideshow-container {
	text-align: center;
	margin-bottom: 30px;
}

/* sidebar
----------------------------------------------------------------- */

.sidebar {
	@include breakpoint(medium) {
		padding: 0 0 0 20px;
	}
}
#contentnav h3 {
	border: none;
	margin: 0;
}
#contentnav li a {
	display:block;
	border-bottom:1px solid $sidebar-borderFallback;
	border-bottom:1px solid $sidebar-border;
	margin: 0;
	padding: 14px 0;
}
#contentnav li:last-child a {
	border:none;
}
#contentnav li a:hover,
#contentnav li a:focus {
	color: $color-grayScale-0;
	text-decoration: none;
}
#contentnav li ul {
	margin-top: 5px;
}
#contentnav li ul li {
	border: none;
	padding: 5px 0 5px 20px;
}
.sidebar .widget_bu_pages {
	padding: 0 20px;
}
.sidebar .widget {
	border:1px solid $sidebar-borderFallback;
	border:1px solid $sidebar-border;
	background: $sidebar-bgFallback;
	background: $sidebar-bg
}
.sidebar .widget h3 {
	border-bottom:1px solid $sidebar-borderFallback;
	border-bottom:1px solid $sidebar-border;
}
.sidebar .post {
	border-bottom:1px solid $sidebar-borderFallback;
	border-bottom:1px solid $sidebar-border;
}
.sidebar .post:nth-last-of-type(1) {
	border-bottom: none;
}
.sidebar .graphic .date {
	border-right:3px solid $sidebar-borderFallback;
	border-right:3px solid $sidebar-border;
}
.sidebar .comment-counter {
	border-left:1px solid $sidebar-borderFallback;
	border-left:1px solid $sidebar-border;
}
/*
.sidebar .date, 
.sidebar .widget p {
	@include rgba-color('color', rgba($color-grayScale-0, .5), $color-grayScale-0);
}
*/

/* .footbar
----------------------------------------------------------------- */

.footbar {
	@include clearfix;
	background: $color-grayScale-2;
	clear: left;
	width: 100%;

	@include breakpoint(medium) {
		padding: 40px 0;
	}
}
.footbar .footbar-container {
	@extend .container;

	@include breakpoint(medium) {
		padding: 0 20px;
		overflow: hidden;
	}
}
.footbar .widget {
	border-top:3px solid $footbar-borderFallback;
	border-top:3px solid $footbar-border;
	padding: 20px;
	
	@include breakpoint(medium) {
		float: left;
		width: 33.333%;
		border:none;
		border-right:1px solid $footbar-borderFallback;
		border-right:1px solid $footbar-border;
		padding: 0 20px 1000px 20px;
		margin-bottom: -1000px;
	}
}
.footbar .widget h3 {
	border-bottom:1px solid $footbar-borderFallback;
	border-bottom:1px solid $footbar-border;
}
.footbar .textwidget {
	padding: 0;
}
.footbar .widget-first {
	border-top: none;

	@include breakpoint(medium) {
		border-left:1px solid $footbar-borderFallback;
		border-left:1px solid $footbar-border;
	}
}
.footbar .post {
	border-bottom:1px solid $footbar-borderFallback;
	border-bottom:1px solid $footbar-border;	
}
.footbar .post h1 {
	color: $color-grayScale-f;
}
.footbar .post h1 a {
	color: $color-grayScale-f;
}
.footbar .date {
	border-right:1px solid $footbar-borderFallback;
	border-right:1px solid $footbar-border;
}
.footbar .day {
	color: $color-grayScale-f;
}

/* footer
----------------------------------------------------------------- */

footer {
	background: $color-grayScale-0;
	border-top:1px solid $footbar-borderFallback;
	border-top:1px solid $footbar-border;
	padding: 20px;
	display: block;
	clear: both;
	@include breakpoint(small) {
		padding: 40px;
	}
}
footer p {
	margin: 0;
	color: $color-grayScale-f;
}