body {
	background: $color-body-bg;
}
.content {
	background: $color-content-bg;
}
.content-container {
	@extend %container-styles;
}

/* masthead
----------------------------------------------------------------- */

.masthead {
	@extend %clearfix;
	position: relative;
	border: $border-masthead;
	border-width: $borderWidth-masthead;
	background: $color-masthead-bg;
}
.masthead-container {
	position: relative;
}

/* .bannerContainer
----------------------------------------------------------------- */

.bannerContainer {
	padding: 0;
	text-align: center;
}
.bannerContainer img {
	display: block;
	margin: 0 auto;
}
.bannerContainer-windowWidth {
	@include breakpoint(large) {
		padding: 20px;
		background: $color-bannerContainer;
	}
}
.bannerContainer-pageWidth {
	margin: -15px 0 35px;
	@include breakpoint(small) {
		margin: 0 0 60px;
	}
}
.bannerContainer-pageWidth img {
	@include breakpoint(medium) {
		width: 100%;
		background: $color-bannerContainer;
	}
}
.bannerContainer-contentWidth {
	padding: 0;
	margin: -15px 0 35px;
	background: none;
	@include breakpoint(small) {
		margin-top: 0;
	}
}

/* content
----------------------------------------------------------------- */

article[role=main] {
	@extend %col-medium-#{$grid-number-columns*((($number-columns)-1)/$number-columns)};
	padding-bottom: $column-paddingBottom;
	@include breakpoint(small) {
		padding-bottom: $column-paddingBottom-largeScreen;
	}
}

.page-template-no-sidebars article[role=main] {
	width: 100%;
}


/* sidebar
----------------------------------------------------------------- */

.sidebar {
	@extend %col-medium-#{$grid-number-columns*(1/$number-columns)};
	font-size: $fontSize-small;
	@include breakpoint(medium) {
		padding: $sidebar-padding;
	}
}

/* .footbar
----------------------------------------------------------------- */

.footbar {
	@extend %clearfix;
	width: 100%;
	padding-bottom: $footbar-paddingBottom;
	border: $border-footbar;
	border-width: $borderWidth-footbar;
	background: $color-footbar-bg;
}
.footbar-container {
	@extend %container-styles;
	background: $color-footbar-container-bg;
	@include breakpoint(medium) {
		padding: $grid-container-padding-largeScreen;
	}
}
.footbar-container .widget {
	@extend %col-base;
	@extend %col-float;
	@include breakpoint(medium) {
		// Bet you're really reconsidering overriding this width now!
		// Don't worry, it's not so bad.
		// First, width gets equally divided among widgets.
		// Next, calculate the amount of margin you need to subtract from the width.
		// You need to split the margin equally, but the first margin in every row will always be left out.
		// So if there are 3 widgets in the footbar, you only need to account for margin on two:
		// width - (margin * 2/3)
		// See? Totally fine.
		width: (100%/$number-widgets-footbar) - $margin-width * ((($number-widgets-footbar)-1)/$number-widgets-footbar);
		float: left;
		margin-left: $margin-width;
		margin-top: 0;
		padding: 0;

		&:first-child,
		&:nth-child(#{$number-widgets-footbar}n+1) {
			margin-left: 0;
			clear: left;
		}
	}
}



/* footer
----------------------------------------------------------------- */

.siteFooter {
	@extend %clearfix;
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	padding: $padding-siteFooter;
	background: $color-siteFooter-bg;
	font-family: $fontFamily-sansSerif;
	font-size: $fontSize-small;
	line-height: $lineHeight-small;
	color: $color-grayScale-8;
}
.siteFooter h1,
.siteFooter h2,
.siteFooter h3,
.siteFooter h4,
.siteFooter h5,
.siteFooter h6 {
	margin: 0 0 3px;
	font-family: $fontFamily-sansSerif;
	font-size: $fontSize-small;
	line-height: $lineHeight-small;
	color: $color-siteFooter;
}
.siteFooter a {
	color: $color-siteFooter-link;
	&:hover {
		color: $color-siteFooter-link-hover;
	}
}
.siteFooter li {
	margin: 0 0 5px;
	line-height: 1.4;
	&:last-child {
		margin: 0;
	}
}
.siteFooter-info {
	@extend %col-small-one-half;
	@include breakpoint(small) {
		padding: 0 0 10px 30px;
	}
}
.siteFooter-links,
.siteFooter-social {
	@extend %col-small-one-quarter;
	padding: 0 0 30px;
	@include breakpoint(small) {
		padding-left: 30px;
	}
}
.siteFooter-social {
	text-align: center;
	@include breakpoint(small) {
		text-align: left;
	}
}

%u-list-inlineLinks {
	/* These classes are using %u-list-inlineLinks. */
	display: inline-block;
	padding: 0;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}
/* Add master logo if specified by theme */
.has-branding {
	min-height: 140px;
}
.siteFooter-brand {
	width: 112px;
	margin: 6px auto 35px;
	@include breakpoint(small) {
		position: absolute;
		top: 40px;
		left: 20px;
	}
}
.has-branding .siteFooter-content {
	@include breakpoint(small) {
		margin: 0 0 0 112px;
	}
}
/* Has only HTML info */
.has-info .siteFooter-info {
	@extend %col-small-full-width;
}
/* Has only general links */
.has-links .siteFooter-links {
	@extend %col-small-full-width;
}
.has-links .siteFooter-links li {
	@extend %u-list-inlineLinks;
}
/* Has general + social media links */
.has-social .siteFooter-social {
	@extend %col-small-full-width;
}
.has-social .siteFooter-social li {
	@extend %u-list-inlineLinks;
}
.has-links-social .siteFooter-links,
.has-links-social .siteFooter-social {
	@extend %col-small-one-half;
}
.has-links-social .siteFooter-links li,
.has-links-social .siteFooter-social li {
	@extend %u-list-inlineLinks;
}
/* Has info + general links */
.has-info-links .siteFooter-info {
	@extend %col-small-three-quarter;
}
.has-info-links .siteFooter-links {
	@extend %col-small-one-quarter;
}
.has-info-links .siteFooter-links li {
	@extend %u-list-inlineLinks;
}
/* Has info + social media links */
.has-info-social .siteFooter-info {
	@extend %col-small-three-quarter;
}
.has-info-social .siteFooter-social {
	@extend %col-small-one-quarter;
}
.has-info-social .siteFooter-social li {
	@extend %u-list-inlineLinks;
}

/* Has all three */
.has-info-links-social .siteFooter-info {
	@extend %col-small-one-half;
}
.has-info-links-social .siteFooter-links,
.has-info-links-social .siteFooter-social {
	@extend %col-small-one-quarter;
}
// .has-info-links-social .siteFooter-links li, Doesn't always look good.
.has-info-links-social .siteFooter-social li  {
    @extend %u-list-inlineLinks;
}