/* common
----------------------------------------------------------------- */

nav {
	font-family: $fontFamily-navigation;
}

/* .searchToggle appears only when header is small and above, otherwise it's hidden */
.brand .searchToggle {
	display: none;
}
.brand .siteDescription {
	float: left;
	width: auto;
}

/* #quicksearch (use WordPress plugin class name) */
#quicksearch {
	position: relative;
	display: none;
	padding: 0 15px 20px 15px;
	margin: 0;
	background: $color-search-bg;

	@include breakpoint(small) {
		padding: 0 20px 20px 20px;
	}
}
#quicksearch fieldset {
	margin: 0;
}
#quicksearch label,
#quicksearch select {
	display: none;
}
#quicksearch.is-open {
	display: block;
}
#q {
	width: 100%;
	padding: 10px 0;
	border: none;
	color: $color-search-text;
	background: none;

	@include breakpoint(large) {
		padding: 15px 0;
	}
}

/* nav menu */
.navToggle {
	@extend .hide-text;
	float: left;
	height: 60px;
	width: 60px;
	position: relative;
	cursor: pointer;

	@include breakpoint(small) {
		display: none;
	}
}
.navToggle span,
.navToggle span:before,
.navToggle span:after {
	position: absolute;
	top: 28px;
	left: 15px;
	display: block;
	height: 4px;
	width: 30px;
	background: white;
	cursor: pointer;
	content: '';
}
.navToggle span:before {
	top: -10px;
	left: 0;
}
.navToggle span:after {
	top: 10px;
	left: 0;
}
.navToggle span,
.navToggle span:before,
.navToggle span:after {
	@include transition(all, 250ms, ease-in-out, 0s);
}
.navToggle.is-open span {
	background-color: transparent;
}
.navToggle.is-open span:before,
.navToggle.is-open span:after {
	top: 0;
}
.navToggle.is-open span:before {
	@include rotate (45);
}
.navToggle.is-open span:after {
	@include rotate (-45);
}

/* search icon */
.searchToggle {
	@extend .hide-text;
	float: right;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background: transparent url($image-searchToggle-sprite) no-repeat 15px 13px;

	@include breakpoint(small) {
		margin-top: 5px;
	}
}

/* when nav or search are opened */
.is-open .primaryNav,
.is-open .utilityNav {
	display: block;
	clear: left;
	// padding-top: 10px;
}

/* nav above and below masthead
----------------------------------------------------------------- */

/* .mainNav */
.navContainer {
	@include clearfix;
	background: $color-grayScale-1;
	display: block;
	padding: 0 10px;

/*
	@include breakpoint(small) {
		padding: 0 10px 0 20px;
	}
*/
}
.navContainer .utilityNav {
	@include breakpoint(small) {
		display: none;	
	}	
}
.navContainer.is-open {
	height: auto;
}

/* .primaryNav */
.primaryNav {
	display: none;
	margin: 40px 10px 20px 10px;
	border-bottom: 1px solid $color-nav-border;

	@include breakpoint(small) {
		display: inline;
		border: none;
		margin: 0;
	}
}
.primaryNav li {
	zoom: 1;
	display: block;
	@include breakpoint(small) {
		display: inline-block;
		*display: inline;
		border: none;
	}
}
.primaryNav a {
	display: block;
	padding: 10px 0;
	text-decoration: none;
	color: $color-nav-link;
	border-top: 1px solid $color-nav-border;
	
	&:hover,
	&:focus {
		color: $color-nav-link-hover;
	}
	@include breakpoint(small) {
		border:none;
		line-height: 70px;
		padding: 0 10px;
	}
}
/*
.l-default .primaryNav li:first-child a,
.l-topNav .primaryNav li:first-child a {
	@include breakpoint(small) {
		padding: 0 10px 0 0;
	}	
}
*/
.primaryNav li.current_page_item a,
.primaryNav li.current_page_parent a,
.primaryNav li.current_page_ancestor a {
	color: $color-grayScale-f;
}
.primaryNav ul {
	display: none;
	@include breakpoint(small) {
		display: block;
		position: absolute;
		left: -9999px;
		z-index: 2;
		background: $color-nav-dropdown-bg;
		width: 240px;
	}
}
.primaryNav li:hover ul,
.primaryNav li:focus ul {
	left: auto;
}
.primaryNav li li {
	display: block;
	padding: 0 10px;
}
.primaryNav li li a {
	line-height: $lineHeight-base;
	color: $color-nav-link;
	padding: 10px 0;
}
/*
.l-default .primaryNav li li:first-child a,
.l-default .primaryNav li:first-child li a,
.l-topNav .primaryNav li li:first-child a,
.l-topNav .primaryNav li:first-child li a, {
	padding: 10px 0;
}
*/

/* .utilityNav */
.utilityNav {
	border: none;
	display: none;
	margin: 0 10px 20px;

	@include breakpoint(small) {
		display: inline;
		border: none;
		float: right;
		margin: 0;
	}
}
.utilityNav li {
	border: none;
	padding: 0;

	@include breakpoint(small) {
		display: inline-block;
		*display: inline;
		border: none;
		padding-left: 10px;
	}
}
.utilityNav a {
	text-decoration: none;
	color: $color-utilityNav-link;
	
	&:hover,
	&:focus {
		color: $color-nav-link-hover;

		@include breakpoint(small) {
			color: $color-utilityNav-link-hover;
		}
	}
}

/* nav on left
----------------------------------------------------------------- */

.l-sideNav .contentWrapper {
	@include breakpoint(small) {	
		margin-left:60px;
	}
	@include breakpoint(large) {	
		margin-left:300px;
	}
}
.l-sideNav .navContainer  {	
	padding: 0;
	
	@include breakpoint(small) {	
		background: none;
		position: absolute;
		width: 300px;
	}
	@include breakpoint(large) {	
		display: block;
		padding: 20px;
	}
}
.l-sideNav .primaryNav {
	border-bottom: 1px solid $color-nav-border;

	@include breakpoint(small) {	
		display: none;
	}
	@include breakpoint(large) {	
		display: block;
		margin: 0 0 20px;
	}
}
.l-sideNav .primaryNav li {
	display: block;
	padding: 0;
}
.l-sideNav .primaryNav a {
	border-top: 1px solid $color-nav-border;
	padding: 10px 0;
	line-height: $lineHeight-base;
}
.l-sideNav .primaryNav ul {
	display: none;
}
.l-sideNav .is-open .primaryNav,
.l-sideNav .is-open .utilityNav {
	margin: 0 10px 20px;
}
.l-sideNav #quicksearch {
	background: $color-searchLight-bg;
	padding: 0;
	margin-top: 20px;
	
	@include breakpoint(small) {
		margin-top: 60px;
		background: $color-searchLight-bg;
	}
}
.l-sideNav #q {
	color: $color-searchLight-text;

	@include breakpoint(small) {
	}
}
.l-sideNav .navContainer .searchToggle {
	@include breakpoint(small) {	
		display: none;
	}
}
.l-sideNav .brand .searchToggle {
	@include breakpoint(small) {
		display: block;
		background-position: -45px 15px;
		margin: 0;
		position: absolute;
		right: 10px;
		top: 22px;
	}
}
.l-sideNav .navToggle {
	display: block;
	
	@include breakpoint(large) {
		display: none;
	}
}
.l-sideNav .utilityNav {
	@include breakpoint(large) {
		display: block;
		float: none;
	}
}
.l-sideNav .utilityNav a:hover {
	color: $color-grayScale-f;
}
.l-sideNav .utilityNav li {
	display:block;
	padding-left: 0;
}
.l-sideNav.nav-open .contentWrapper {
	@include breakpoint(small) {
		left: 240px;
	}
	@include breakpoint(large) {
		left: 0;
	}
}
.l-sideNav.nav-open .primaryNav,
.l-sideNav.nav-open .utilityNav {
	display:block;
	float: none;
}

/* no nav
----------------------------------------------------------------- */
.l-noNav .brand {
	padding: 40px 80px 40px 20px;
}
.l-noNav .siteName {
	float: none;
}
.l-noNav .brand .searchToggle {
	display: block;
	background-position: -45px 15px;
	margin: 0;
	position: absolute;
	right: 10px;
	top: 22px;
}
.l-noNav .brand #quicksearch {
	background: $color-searchLight-bg;
	padding: 0;
	margin-top: 20px;
	margin-right: -60px;
	
	@include breakpoint(small) { 
		margin-top: 40px;
	}
}
.l-noNav #q {
	margin-top: 20px;
	color: $color-searchLight-text;
	
	@include breakpoint(small) {
	}
}