/* common
----------------------------------------------------------------- */

nav {
	font-family: $font-family-navigation;
	font-size: $font-size-navigation;
}
nav a {
	text-decoration: none;
}

/* .search-toggle appears only when header is small and above, otherwise it's hidden */
.brand .search-toggle {
	display: none;
}
.brand .site-description {
	float: left;
	width: auto;
	margin-left: 50px;
}

/* quicksearch (use WordPress plugin class name)
----------------------------------------------------------------- */
#quicksearch {
	position: relative;
	display: none;
	padding: 30px 20px;
	margin: 0;
	background: $color-search-bg;
}
#quicksearch fieldset {
	margin: 0;
	@include breakpoint(sm) {
		max-width: $container-SM;
		padding: 0 20px;
		margin: 0 auto;
	}
}
#quicksearch .button {
	@extend %button-styles-primary;
	@include border-radius($borderRadius-quicksearch-button);
	width: 25%;
	padding:11px 0 12px 0;
	float:right;
	@include breakpoint(sm) {
		width: 15%;
	}
}
#quicksearch.is-open {
	display: block;
	border-bottom: $border-search;
}
#q {
	@include border-radius($borderRadius-quicksearch-input);
	width: 75%;
	padding-right: 10px;
	padding-left: 10px;
	color: $color-search-text;
	@include breakpoint(sm) {
		width: 85%;
	}
}

/* search-toggle
----------------------------------------------------------------- */
.search-toggle {
	@extend %icon-search;
	@include transition(color, 200ms, ease-in-out, 0s);
	float: right;
	width: 60px;
	height: 60px;
	padding: 0;
	font-size: 31px;
	line-height: 60px;
	color: $color-navToggle;
	text-align: center;
	&:visited {
		color: $color-navToggle;
	}
	&:hover {
		color: $color-navToggle-hover;
	}
}
.search-toggle span {
	display: none;
}

.search-toggle.is-open {
	@extend %icon-close;
}

/* when nav or search are opened */
.is-open .primary-nav-menu,
.is-open .utility-nav {
	display: block;
	clear: left;
}


/* navToggle
----------------------------------------------------------------- */

.nav-toggle {
	@extend %hide-text;
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	@include breakpoint(sm) {
		display: none;
	}
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
	position: absolute;
	top: 28px;
	left: 15px;
	display: block;
	width: 30px;
	height: 4px;
	background: $color-navToggle;
	content: "";
	cursor: pointer;
}
.nav-toggle span:before {
	top: -10px;
	left: 0;
}
.nav-toggle span:after {
	top: 10px;
	left: 0;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
	@include transition(all, 250ms, ease-in-out, 0s);
}
.nav-toggle.is-open span {
	background-color: transparent;
}
.nav-toggle.is-open span:before,
.nav-toggle.is-open span:after {
	top: 0;
}
.nav-toggle.is-open span:before {
	@include rotate (45);
}
.nav-toggle.is-open span:after {
	@include rotate (-45);
}

/* primaryNav and menu
----------------------------------------------------------------- */

.primary-nav {
	@extend %clearfix;
	display: block;
	padding: 0 10px;
	background: $color-primaryNav-bg;
}
.masthead-container .primary-nav .utility-nav {
	@include breakpoint(sm) {
		display: none;
	}
}
.primary-nav.is-open {
	height: auto;
	padding-bottom: 20px;
	@include breakpoint(sm) {
		padding-bottom: 0;
	}
}
.primary-nav-menu {
	display: none;
	margin: 40px 10px 0 10px;
	@include breakpoint(sm) {
		display: inline;
		margin: 0;
		border: none;
	}
}
.primary-nav-menu li {
	display: block;
	zoom: 1;
	@include breakpoint(sm) {
		display: inline-block;
		border: none;
		.lt-ie8 & {
			display: inline;
		}
	}
}
.primary-nav-menu a {
	display: block;
	padding: 10px 0;
	border: 1px solid $color-primaryNav-border;
	border-width: $border-width-primaryNav;
	color: $color-primaryNav-link;
	text-decoration: none;
	@include breakpoint(sm) {
		padding: 0 10px;
		border: $border-primaryNav-desktop;
		line-height: 60px;
	}
	&:hover,
	&:focus {
		color: $color-primaryNav-link-hover;
	}
}
.primary-nav-menu li a.active,
.primary-nav-menu li a.active_section {
	color: $color-primaryNav-link-current;
}
.primary-nav-menu ul {
	display: none;
	@include breakpoint(sm) {
		position: absolute;
		left: -9999px;
		z-index: 2;
		display: block;
		width: 240px;
		background: $color-primaryNav-dropdown-bg;
	}
}
.primary-nav-menu li:hover ul,
.primary-nav-menu li:focus ul {
	left: auto;
}
.primary-nav-menu li li {
	display: block;
	padding: 0 10px;
}
.primary-nav-menu li li a {
	padding: 10px 0;
	line-height: $lineHeight-base;
	color: $color-primaryNav-dropdown-link;
	&:hover,
	&:focus {
		color: $color-primaryNav-dropdown-link-hover;
	}
}

/* utilityNav
----------------------------------------------------------------- */

.utility-nav {
	display: none;
	padding: 20px 0 0;
	margin: 0 10px;
	border: 1px solid $color-primaryNav-border;
	border-width: $border-width-utilityNav;
	font-size: $font-size-utilityNav;
}
.masthead-container .utility-nav {
	@include breakpoint(sm) {
		display: block;
		padding: 0;
		margin: 0;
		border: none;
	}
}
.utility-nav li {
	padding: 0;
	border: none;
	@include breakpoint(sm) {
		display: inline-block;
		padding-left: 10px;
		border: none;
		*display: inline;
	}
}
.utility-nav a {
	color: $color-utilityNav-link;
	text-decoration: none;
	&:hover {
		color: $color-utilityNav-link-hover;
	}
}
// Required for mobile styles, when utility nav is in primary nav menu
.primary-nav .utility-nav a {
	color: $color-utilityNav-inPrimaryNav-link;
	&:hover {
		color: $color-utilityNav-inPrimaryNav-link-hover;
	}
}

/* default
----------------------------------------------------------------- */

.l-default .utility-nav {
	@include breakpoint(sm) {
		position: absolute;
		top: ($height-brand / 2) - ($font-size-utilityNav / 2);
		right: 20px;
		line-height: 1;
	}
}

/* side-nav
----------------------------------------------------------------- */

.l-side-nav .wrapper {
	background: $color-primaryNav-bg;
}
.l-side-nav .content {
	@include breakpoint(sm) {
		margin-left: 60px;
	}
	@include breakpoint(lg) {
		margin-left: $width-side-nav;
	}
}
.l-side-nav .primary-nav {
	@include breakpoint(sm) {
		position: absolute;
		top: $height-brand;
		width: $width-side-nav;
		background: none;
	}
	@include breakpoint(lg) {
		display: block;
		padding: 20px 10px;
	}
}
.search-open.l-side-nav .primary-nav {
	@include breakpoint(sm) {
		top: $height-brand + 98px; /* adds the height of the open search form */
	}
}
.l-side-nav .nav-toggle {
	@include breakpoint(sm) {
		margin-left: -10px;
	}
}
.l-side-nav .primary-nav-menu {
	@include breakpoint(sm) {
		display: none;
		margin: 0 10px;
	}
	@include breakpoint(lg) {
		display: block;
	}
}
.l-side-nav .primary-nav-menu li {
	display: block;
	padding: 0;
}
.l-side-nav .primary-nav-menu a {
	padding: 10px 0;
	border: 1px solid $color-primaryNav-border;
	border-width: $border-width-primaryNav;
	line-height: $lineHeight-base;
}
.l-side-nav .primary-nav-menu li:first-child a {
	@include breakpoint(lg) {
		border: 0;
	}
}
.l-side-nav .primary-nav-menu ul {
	display: none;
}
/* side-nav and no-nav: quicksearch */
.l-side-nav #quicksearch {
	@include breakpoint(sm) {
		border: 1px solid $color-quicksearch-border;
		border-width: $border-width-quicksearch;
	}
}
.l-side-nav .brand .search-toggle,
.l-no-nav .brand .search-toggle {
	color: $color-navToggle-alt;
	@include breakpoint(sm) {
		right: 10px;
		display: block;
		@include vertical-center;
	}
	&:visited {
		color: $color-navToggle-alt;
	}
	&:hover {
		color: $color-navToggle-alt-hover;
	}
}
.l-side-nav .primary-nav .search-toggle {
	@include breakpoint(sm) {
		display: none;
	}
}
/* side-nav: navToggle */
.l-side-nav .nav-toggle {
	display: block;
	@include breakpoint(lg) {
		display: none;
	}
}
.l-side-nav .masthead-container .utility-nav {
	margin: 0 10px;
	@include breakpoint(lg) {
		position: relative;
		top: auto;
		right: auto;
		display: block;
	}
}
.l-side-nav .utility-nav li {
	display: block;
	padding-left: 0;
}
.l-side-nav.nav-open .content {
	@include breakpoint(sm) {
		left: 240px;
		margin-left: 0;
	}
	@include breakpoint(lg) {
		left: 0;
		margin-left: 240px;
	}
}
.l-side-nav.nav-open .primary-nav-menu,
.l-side-nav.nav-open .utility-nav {
	display: block;
	float: none;
}

/* top nav
----------------------------------------------------------------- */

.l-top-nav .utility-nav {
	@include breakpoint(sm) {
		position: absolute;
		top: (($height-brand / 2) - ($font-size-utilityNav / 2)) + 60;
		right: 20px;
		line-height: 1;
	}
}

.l-top-nav.search-open .utility-nav {
	@include breakpoint(sm) {
		top: 209px;
	}
}

.l-top-nav #quicksearch {
	border-bottom: 1px solid $color-grayScale-d;
}

/* no-nav
----------------------------------------------------------------- */

.l-no-nav .primary-nav {
	@include breakpoint(sm) {
		display: none;
	}
}
.l-no-nav .brand {
	padding-right: 60px;
}
.l-no-nav .masthead-container .utility-nav {
	display: none;
	@include breakpoint(sm) {
		position: absolute;
		top: ($height-brand / 2) - ($font-size-utilityNav / 2) - 5;
		right: 80px;
		display: block;
	}
}
.l-no-nav .brand .search-toggle {
	display: block;
	margin: 0 -60px 0 0;
	font-size: 24px;
}
.l-no-nav #quicksearch {
	border-top: 1px solid $color-grayScale-d;
}