// Navigation contents:

//	1. Global Styles
//	2. Search
//	3. Nav Toggle
//	4. Primary Navigation

// -----------------------------------------------------------------

/// Handles styling shared across all types of navigation.
/// @group navigation
/// @access public
/// @since 1.0.0

nav {
	font-family: $font-family-navigation;
	font-size: $font-size-navigation;

	a {
		text-decoration: none;
	}
}

/// Handles styling for the WordPress site description.
/// @group navigation
/// @access public
/// @since 1.0.0

.site-description {
	float: left;
	margin-left: 50px;
	width: auto;
}

// Search
// -----------------------------------------------------------------

/// Handles styling for the search toggle.
/// @group navigation
/// @access public
/// @since 1.0.0

.search-toggle {
	@extend %icon-search;
	@include transition(color 200ms ease-in-out 0s);
	float: right;
	width: 60px;
	height: 60px;
	padding: 0;
	font-size: 31px;
	line-height: 60px;
	color: $color-nav-toggle;
	text-align: center;

	&:visited {
		color: $color-nav-toggle;
	}
	&:hover {
		color: $color-nav-toggle-hover;
	}

	&.is-open {
		@extend %icon-close;
	}

	span {
		display: none;
	}
}

/// Handles styling for the search form in the navigation.
/// @group navigation
/// @access public
/// @since 1.0.0

#quicksearch {
	background: $color-search-bg;
	display: none;
	margin: 0;
	padding: 30px 20px;
	position: relative;

	&.is-open {
		display: block;
		border-bottom: $border-search;
	}

	fieldset {
		margin: 0 auto;

		@include breakpoint(sm) {
			max-width: $container-sm;
			padding: 0 20px;
		}
	}
}

/// Handles styling for the search field in search forms.
/// @group navigation
/// @access public
/// @since 1.0.0

.search-field {
	@include border-radius($border-radius-quicksearch-input);
	color: $color-search-text;
	padding-left: 10px;
	padding-right: 10px;
	width: 75%;

	@include breakpoint(sm) {
		width: 85%;
	}
}

/// Handles styling for the search button in search forms.
/// @group navigation
/// @access public
/// @since 1.0.0

.search-submit {
	@extend %button-styles-primary;
	@include border-radius($border-radius-quicksearch-button);
	float: right;
	padding: 11px 0 12px 0;
	width: 25%;

	@include breakpoint(sm) {
		width: 15%;
	}
}

// Nav Toggle
// -----------------------------------------------------------------

/// Handles nav icon shared styles.
/// @group navigation
/// @access private
/// @since 1.0.0

%_nav-icon-shared {
	@include transition(all 250ms ease-in-out 0s);
	background: $color-nav-toggle;
	content: "";
	cursor: pointer;
	display: block;
	height: 4px;
	left: 15px;
	position: absolute;
	top: 28px;
	width: 30px;
}

/// Handles styling for the nav toggle height, width, and placement.
/// @group navigation
/// @access public
/// @since 1.0.0

.nav-toggle {
	@extend %hide-text;
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;

	@include breakpoint(sm) {
		display: none;
	}
}

/// Handles styling for the nav toggle icon.
/// @group navigation
/// @access public
/// @since 1.0.0

.nav-toggle-icon {
	@extend %_nav-icon-shared;

	&::before {
		@extend %_nav-icon-shared;
		top: -10px;
		left: 0;
	}

	&::after {
		@extend %_nav-icon-shared;
		top: 10px;
		left: 0;
	}

	.is-open & {
		background-color: transparent;

		&::before {
			top: 0;
			@include rotate( 45 );
		}

		&::after {
			top: 0;
			@include rotate( -45 );
		}
	}
}

// Primary Navigation
// -----------------------------------------------------------------

/// Handles styling for the primary navigation bar.
/// @group navigation
/// @access public
/// @since 1.0.0

.primary-nav {
	@extend %clearfix;
	background: $color-primary-nav-bg;
	display: block;
	padding: 0 10px;

	&.is-open {
		height: auto;
		padding-bottom: 20px;

		@include breakpoint( sm ) {
			padding-bottom: 0;
		}
	}
}

/// Handles styling for the menu inside primary navigation.
/// @group navigation
/// @access public
/// @since 1.0.0

.primary-nav-menu {
	display: none;
	margin: 40px 10px 0 10px;

	@include breakpoint( sm ) {
		border: none;
		display: inline;
		margin: 0;
	}

	.is-open & {
		clear: left;
		display: block;
	}
}

/// Handles styling for list items and drop downs in primary navigation.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu li, // Remove when navigation plugin is updated
.primary-nav-menu-item,
.primary-nav-menu-section-item {
	display: block;
	zoom: 1;

	@include breakpoint( sm ) {
		border: none;
		display: inline-block;

		.lt-ie8 & {
			display: inline;
		}
	}

	&:hover,
	&:focus {
		ul {
			left: auto;
		}
	}
}


/// Handles styling for links in primary navigation.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu a, // Remove when navigation plugin is updated
.primary-nav-menu-link,
.primary-nav-menu-section-link {
	border: 1px solid $color-primary-nav-border;
	border-width: $border-width-primary-nav;
	color: $color-primary-nav-link;
	display: block;
	padding: 10px 0;
	text-decoration: none;

	@include breakpoint(sm) {
		border: $border-primary-nav-desktop;
		line-height: 60px;
		padding: 0 10px;
	}

	&.active,
	&.active_section {
		color: $color-primary-nav-link-current;
	}

	&:hover,
	&:focus {
		color: $color-primary-nav-link-hover;
	}
}

/// Handles styling for sections of children within the primary navigation.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu	ul, // Remove when navigation plugin is updated
.primary-nav-menu-section {
	display: none;

	@include breakpoint(sm) {
		background: $color-primary-nav-dropdown-bg;
		display: block;
		left: -9999px;
		position: absolute;
		width: 240px;
		z-index: 2;
	}
}

/// Handles styling for child page containers in primary navigation.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu li li, // Remove when navigation plugin is updated
.primary-nav-menu-section-item {
	display: block;
	padding: 0 10px;
}

/// Handles styling for child page links within a section in primary navigation.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu li li a, // Remove when navigation plugin is updated
.primary-nav-menu-section-link {
	color: $color-primary-nav-dropdown-link;
	line-height: $line-height-base;
	padding: 10px 0;

	&:hover,
	&:focus {
		color: $color-primary-nav-dropdown-link-hover;
	}
}

// utilityNav
// -----------------------------------------------------------------

.utility-nav {
	border: 1px solid $color-primary-nav-border;
	border-width: $border-width-utility-nav;
	display: none;
	font-size: $font-size-utility-nav;
	margin: 0 10px;
	padding: 20px 0 0;

	.is-open & {
		clear: left;
		display: block;
	}

	li {
		border: none;
		padding: 0;

		@include breakpoint(sm) {
			border: none;
			*display: inline;
			display: inline-block;
			padding-left: 10px;
		}
	}

	a {
		color: $color-utility-nav-link;
		text-decoration: none;

		&:hover {
			color: $color-utility-nav-link-hover;
		}
	}
}
.masthead-container .utility-nav {
	@include breakpoint(sm) {
		border: none;
		display: block;
		margin: 0;
		padding: 0;
	}
}

.utility-nav li {
	padding: 0;
	border: none;

	@include breakpoint(sm) {
		display: inline-block;
		padding-left: 10px;
		border: none;
		*display: inline;
	}
}

.utility-nav a {
	color: $color-utility-nav-mobile-link;
	text-decoration: none;

	@include breakpoint(sm) {
		color: $color-utility-nav-link;
	}

	&:hover {
		color: $color-utility-nav-mobile-link-hover;

		@include breakpoint(sm) {
			color: $color-utility-nav-link-hover;
		}
	}
}

// default
// -----------------------------------------------------------------

.l-default .utility-nav {
	@include breakpoint(sm) {
		position: absolute;
		top: ($height-brand / 2) - ($font-size-utility-nav / 2);
		right: 20px;
		line-height: 1;
	}
}

// side-nav
// -----------------------------------------------------------------

.l-side-nav {
	.masthead:after {
		@include breakpoint(sm) {
			display: none;
		}
	}

	.wrapper {
		background: $color-primary-nav-bg;
	}

	.primary-nav {
		@include breakpoint(sm) {
			position: relative;
			top: 0;
			width: $width-side-nav;
			background: none;
			float: left;
			margin-left: -$width-side-nav + 60px;
			left: 0;

			&.is-open {
				left: $width-side-nav - 60px;

				@include breakpoint(lg) {
					left: 0;
				}
			}
		}

		@include breakpoint(lg) {
			margin-left: 0;
			display: block;
			width: $width-side-nav;
			padding: 20px 10px;
		}
	}

	.nav-toggle {
		@include breakpoint(sm) {
			float: right;
			margin-right: -10px;
		}
	}

	.primary-nav-menu {
		@include breakpoint(sm) {
			display: none;
			margin: 0 10px;
		}

		@include breakpoint(lg) {
			display: block;
		}

		li {
			display: block;
			padding: 0;

			&:first-child {
				a {
					@include breakpoint(lg) {
						border: 0;
					}
				}
			}
		}

		a {
			padding: 10px 0;
			border: 1px solid $color-primary-nav-border;
			border-width: $border-width-primary-nav;
			line-height: $line-height-base;
		}

		ul {
			display: none;
		}
	}
}

.l-side-nav .search-toggle {
	position: absolute;
	top: $height-brand + 30px;
	right: 0;
	color: $color-grayscale-f;

	@include breakpoint(sm) {
		right: 10px;
		display: block;
		position: relative;
		@include vertical-center;
		color: $color-nav-toggle-alt;
	}

	&:active,
	&:visited {
		color: currentColor;
	}
	&:hover {
		color: currentColor;

		@include breakpoint(sm) {
			color: $color-nav-toggle-alt-hover;
		}
	}
}

$_search-height: 103px;

.search-open.l-side-nav {
	.primary-nav {
		@include breakpoint(sm) {
			top: $_search-height; // adds the height of the open search form
		}
	}
	.content {
		@include breakpoint(sm) {
			margin-top: $_search-height; // adds the height of the open search form
		}
	}
}

// side-nav and no-nav: quicksearch
.l-side-nav {
	#quicksearch {
		@include breakpoint(sm) {
			position: absolute;
			width: 100%;
			border: 1px solid $color-quicksearch-border;
			border-width: $border-width-quicksearch;
		}
	}

	.primary-nav {
		.search-toggle {
			@include breakpoint(sm) {
				display: none;
			}
		}
	}
}

.l-side-nav.nav-open {
	.content {
		@include breakpoint(sm) {
			left: $width-side-nav - 60px;
		}
		@include breakpoint(lg) {
			left: 0;
		}
	}
	.nav-toggle {
		float: left;
		margin-left: -10px;
	}
}

.l-no-nav .brand .search-toggle {
	color: $color-nav-toggle-alt;
	@include breakpoint(sm) {
		right: 10px;
		display: block;
		@include vertical-center;
	}
	&:visited {
		color: $color-nav-toggle-alt;
	}
	&:hover {
		color: $color-nav-toggle-alt-hover;
	}
}

// side-nav: nav-toggle
.l-side-nav .nav-toggle {
	display: block;
	@include breakpoint(lg) {
		display: none;
	}
}
.l-side-nav .masthead-container .utility-nav {
	margin: 0 10px;

	@include breakpoint(lg) {
		position: relative;
		top: auto;
		right: auto;
		display: block;
	}
}

.l-side-nav .utility-nav li {
	display: block;
	padding-left: 0;
}

.l-side-nav.nav-open .primary-nav-menu,
.l-side-nav.nav-open .utility-nav {
	display: block;
	float: none;
}

// top nav
// -----------------------------------------------------------------

.l-top-nav {
	.utility-nav {
		@include breakpoint(sm) {
			position: absolute;
			top: (($height-brand / 2) - ($font-size-utility-nav / 2)) + 60;
			right: 20px;
			line-height: 1;
		}
	}

	#quicksearch {
		border-bottom: 1px solid $color-grayscale-d;
	}
}
.l-top-nav.search-open .utility-nav {
	@include breakpoint(sm) {
		top: 209px;
	}
}

// no-nav
// -----------------------------------------------------------------

.l-no-nav {
	.primary-nav {
		@include breakpoint(sm) {
			display: none;
		}
	}

	.brand {
		padding-right: 60px;
		.search-toggle {
			display: block;
			margin: 0 -60px 0 0;
			font-size: 24px;
		}
	}

	#quicksearch {
		border-top: 1px solid $color-grayscale-d;
	}

	.masthead-container {
		.utility-nav {
			display: none;

			@include breakpoint(sm) {
				position: absolute;
				top: ($height-brand / 2) - ($font-size-utility-nav / 2) - 5;
				right: 80px;
				display: block;
			}
		}
	}
}