/* Plugins contents:

	1. Collapsible divs
	2. Profiles
	3. Course feeds

----------------------------------------------------------------- */

/* Collapsible Divs
----------------------------------------------------------------- */

.bu_collapsible {
	position: relative;
	padding-right: 30px;
}
.bu_collapsible:after {
	position: absolute;
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	margin-top: -4px;
	border: 8px solid transparent;
	border-top-color: $color-collapsible-after-border;
	content: "";
}
.bu_collapsible_open .bu_collapsible:after {
	margin-top: -12px;
	border-top-color: transparent;
	border-bottom-color: $color-collapsible-after-border;
}
.bu_collapsible:hover:after,
.bu_collapsible:focus:after {
	border-top-color: $color-collapsible-after-border-hover;
}
.bu_collapsible_open .bu_collapsible:hover:after,
.bu_collapsible_open .bu_collapsible:focus:after {
	border-top-color: transparent;
	border-bottom-color: $color-collapsible-after-border-hover;
}

// Print styles for collapsibles

@media print {
	.bu_collapsible_section {
		display: block !important; // important required to override inline styles added by JS
	}
}

/* Profiles
----------------------------------------------------------------- */

.profile-listing {
	@extend %clearfix;
}
.profile-listing ul {
	padding: 0;
}
.profile-listing li {
	position: relative;
	margin-bottom: 25px;
	list-style: none;
}
.profile-listing p {
	margin-bottom: 0;
}
.profile-listing a {
	text-decoration: none;
}
.profile-listing figure,
.single-profile .profile-thumb figure  {
	@include border-radius($borderRadius-profile-figure);
	line-height: 0;
}
.profile-listing figure img {
	width: 100%;
}
.profile-listing .profile-name {
	font-family: $fontFamily-profile-name;
	font-size: $fontSize-profile-name;
	color: $color-profile-name;
	text-decoration: underline;
}
.profile-listing a:hover .profile-name,
.profile-listing a:focus .profile-name {
	text-decoration: none;
}
.profile-listing .profile-title {
	display: block;
	font-family: $fontFamily-profile-title;
	font-size: $fontSize-profile-title;
	color: $color-profile-title;
}
.profile-listing .basic {
	border-top: $border-profiles;
}
.profile-listing .basic li {
	min-height: 100px;
	padding: 25px 65px 25px 0;
	margin-bottom: 0;
	border-bottom: $border-profiles;
}
.profile-listing .basic figure {
	position: absolute;
	right: 0;
	overflow: hidden;
	width: 50px;
	height: 50px;
}
.profile-listing .advanced {
	@extend %clearfix;
}
.profile-listing .advanced li {
	@extend %col-md-third;
}
.profile-listing .advanced li:nth-child(3n+1) {
	clear: left;
}
.profile-listing .advanced a {
	display: block;
	padding: 0 15px;
	text-align: center;
}
.profile-listing .advanced figure {
	overflow: hidden;
	width: 150px;
	height: 150px;
	margin: 0 auto 15px;
}
.profile-listing .mini {
	@extend %clearfix;
}
.profile-listing .mini li {
	@extend %col-md-6;
	min-height: 90px;
	padding: 0 0 15px 75px;
	margin: 0;

	@include breakpoint(md) {
		padding: 0 0 15px 95px;
		min-height: 110px;
	}
}
.profile-listing .mini li:nth-child(2n+1) {
	clear: left;
	padding-right: 15px;
}
.profile-listing .mini .name {
	font-family: $fontFamily-profile-name;
	font-size: $fontSize-profile-mini-name;
}
.profile-listing .mini .email a {
	margin-top: 5px;
	font-size: $fontSize-profile-mini-email;
	line-height: $lineHeight-profile-mini-email;
	text-decoration: underline;
	word-wrap: break-word;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.profile-listing .mini .summary {
	margin-top: 5px;
	font-size: $fontSize-profile-mini-email;
	line-height: $lineHeight-profile-mini-email;
	word-wrap: break-word;
}
.profile-listing .mini figure {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	height: 60px;
	@include breakpoint(md) {
		width: 80px;
		height: 80px;
	}
}

/* single profile */

.single-profile article[role=main] h1 {
	padding-top: 145px;
	margin-bottom: 0;
	text-align: center;
}
.single-profile article[role=main] h2 {
	text-align: center;
}
.single-profile .profile-thumb figure {
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	width: 120px;
	height: 120px;
	margin-left: -60px;
}
.single-profile figure img {
	width: 100%;
}
.profile-info {
	@extend %message-styles;
	margin: 0 0 20px 0;
	@include breakpoint(sm) {
		float: right;
		width: 33.33333333333333%;
		margin: 0 0 20px 20px;
	}
}
.profile-info ul {
	padding: 0;
	margin: 0;
}
.profile-info li {
	margin: 0 0 20px 0;
	list-style: none;
	font-size: $fontSize-small;
	word-wrap: break-word;
}
.profile-info .label {
	display: block;
	font-family: $fontFamily-sansSerif;
	font-weight: 700;
	font-size: $fontSize-smaller;
	color: $color-profile-info-label;
	text-transform: uppercase;
}

/* Course Feeds
----------------------------------------------------------------- */

.cf-course table {
	width: 100%;
}