// =================================================================
// Plugins
// =================================================================

// TODO: Needs cleanup

// Plugins contents:

//	1. Collapsible divs
//	2. Profiles
//	3. Course feeds

// -----------------------------------------------------------------

// Collapsible Divs
// -----------------------------------------------------------------

/// Styles a collapsible item.
/// @group content
/// @access public
/// @since 1.0.0

.bu_collapsible_container {
	padding: .5em 0;
	position: relative;

	& + & {
		border-top: $border-collapsible;
	}
}

/// Styles the header on a collapsible item.
/// @group content
/// @access public
/// @since 1.0.0

.bu_collapsible {
	@extend %icon-plus;
	margin-bottom: 0;
	padding-right: 30px;
	position: relative;

	&::before {
		color: $color-collapsible-icon;
		position: absolute;
		right: 7px;
		top: 50%;
		margin-top: -10px;
		font-size: 16px;
	}

	&:hover,
	&:focus {
		&::before {
			color: $color-collapsible-icon-hover;
		}
	}

	.bu_collapsible_open & {
		@extend %icon-hyphen;
	}
}

/// Print styles for collapsibles.
/// @group content
/// @access public
/// @since 1.0.0

@media print {
	.bu_collapsible_section {
		display: block !important; // important required to override inline styles added by JS
	}
}

// Slideshow
// -----------------------------------------------------------------

/// BU Slideshow styles.
/// @group content
/// @access public
/// @since 1.0.0

.bu-slideshow-container {
	z-index: 1;
	margin-bottom: 30px;
	text-align: center;
}

// Profiles
// -----------------------------------------------------------------

.profile-listing {
	@extend %clearfix;
	padding: 0;
}

.profile-item {
	position: relative;
	margin-bottom: 25px;
	list-style: none;
}

.profile-photo {
	img {
		width: 100%;
	}
}

.profile-title {
	display: block;
	font-family: $font-family-profile-title;
	font-size: $font-size-profile-title;
	color: $color-profile-title;
}

.profile-name {
	font-family: $font-family-profile-name;
	font-size: $font-size-profile-name;
	color: $color-profile-name;
	text-decoration: underline;
	margin-bottom: 0;
}

.profile-link {
	text-decoration: none;
}

.profile-format-basic,
.profile-format-default {
	border-top: $border-profiles;
}

.profile-item-basic,
.profile-item-default {
	min-height: 100px;
	padding: 25px 65px 25px 0;
	margin-bottom: 0;
	border-bottom: $border-profiles;
}

.profile-photo-basic,
.profile-photo-default {
	position: absolute;
	right: 0;
	overflow: hidden;
	width: 50px;
	height: 50px;
}

.profile-format-advanced {
	@extend %clearfix;
}

$_profile-adv-cols-xs: $grid-number-columns / $profiles-advanced-cols-xs;
$_profile-adv-cols-md: $grid-number-columns / $profiles-advanced-cols-md;

.profile-item-advanced {
	@extend %col-xs-#{$_profile-adv-cols-xs};
	@extend %col-md-#{$_profile-adv-cols-md};

	&:nth-child( #{$profiles-advanced-cols-xs}n+1 ) {
		clear: left;

		@include breakpoint(md) {
			clear: none;
		}
	}

	@include breakpoint(md) {
		&:nth-child( #{$profiles-advanced-cols-md}n+1 ) {
			clear: left;
		}
	}
}

.profile-link-advanced {
	display: block;
	padding: 0 15px;
	text-align: center;
}

.profile-photo-advanced {
	overflow: hidden;
	width: 150px;
	height: 150px;
	margin: 0 auto 15px;
}

.profile-format-mini {
	@extend %clearfix;

	li {
		@extend %col-md-6;
		min-height: 90px;
		padding: 0 0 15px 75px;
		margin: 0;

		@include breakpoint(md) {
			padding: 0 0 15px 95px;
			min-height: 110px;
		}
	}

	li:nth-child(2n+1) {
		clear: left;
		padding-right: 15px;
	}

	.name {
		font-family: $font-family-profile-name;
		font-size: $font-size-profile-mini-name;
	}

	.summary {
		margin-top: 5px;
		font-size: $font-size-profile-mini-email;
		line-height: $line-height-profile-mini-email;
		word-wrap: break-word;
	}

	figure {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		height: 60px;
		@include breakpoint(md) {
			width: 80px;
			height: 80px;
		}
	}
}

.profile-listing figure,
.single-profile .profile-thumb figure  {
	@include border-radius($border-radius-profile-figure);
	line-height: 0;
}

.profile-listing a:hover .profile-name,
.profile-listing a:focus .profile-name {
	text-decoration: none;
}

.profile-listing .mini .email a {
	margin-top: 5px;
	font-size: $font-size-profile-mini-email;
	line-height: $line-height-profile-mini-email;
	text-decoration: underline;
	word-wrap: break-word;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// single profile
.single-profile {
	.content-area {
		h1 {
			margin-bottom: 0;
			padding-top: 145px;
			text-align: center;
		}
		h2 {
			text-align: center;
		}
	}
	.profile-thumb {
		figure {
			height: 120px;
			left: 50%;
			margin-left: -60px;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 120px;
		}
	}
	.figure {
		img {
			width: 100%;
		}
	}
}

.profile-info {
	@extend %card-styles;
	margin: 0 0 20px 0;

	@include breakpoint(sm) {
		float: right;
		margin: 0 0 20px 20px;
		width: 33.33333333333333%;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		font-size: $font-size-small;
		list-style: none;
		margin: 0 0 20px 0;
		word-wrap: break-word;
	}

	.label {
		color: $color-profile-info-label;
		display: block;
		font-family: $font-family-sans-serif;
		font-size: $font-size-smaller;
		font-weight: 700;
		text-transform: uppercase;
	}
}

// Course Feeds
// -----------------------------------------------------------------

.cf-course table {
	width: 100%;
}