// =================================================================
// Plugins
// =================================================================

// TODO: Needs cleanup

// Plugins contents:

//	1. Collapsible divs
//	2. Course feeds
//	3. Profiles

// -----------------------------------------------------------------

// Collapsible Divs
// -----------------------------------------------------------------

/// Styles a collapsible item.
/// @group content
/// @access public
/// @since 1.0.0

.bu_collapsible_container {
	padding: .5em 0;
	position: relative;

	& + & {
		border-top: $border-collapsible;
	}
}

/// Styles the header on a collapsible item.
/// @group content
/// @access public
/// @since 1.0.0

.bu_collapsible {
	@extend %icon-plus;
	margin-bottom: 0;
	padding-right: 30px;
	position: relative;

	&::before {
		color: $color-collapsible-icon;
		position: absolute;
		right: 7px;
		top: 50%;
		margin-top: -10px;
		font-size: 16px;
	}

	&:hover,
	&:focus {
		&::before {
			color: $color-collapsible-icon-hover;
		}
	}

	.bu_collapsible_open & {
		@extend %icon-hyphen;
	}
}

/// Print styles for collapsibles.
/// @group content
/// @access public
/// @since 1.0.0

@media print {
	.bu_collapsible_section {
		display: block !important; // important required to override inline styles added by JS
	}
}

// Course Feeds
// -----------------------------------------------------------------

/// Controls the styling for a single course in a course feed.
/// @group content
/// @access public
/// @since 1.0.0

.cf-course {
	margin-top: 2em;
	padding-top: 2em;
	border-top: $border-base;

	&:first-child {
		border: 0;
		margin: 0;
	}
}

/// Controls the styling for the course title in a course feed.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-title {
	margin-bottom: .2em;
}

/// Controls the styling for the course id (college, department, and number) in a course feed.
/// You may style each of these individually as well using `.cf-course-college`,
/// `.cf-course-dept`, etc.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-id {
	display: block;
	color: $color-grayscale-7;
	font-size: .5em;
	margin-bottom: .5em;
	font-family: $font-family-sans-serif;
}

/// Controls the styling for course credits, availability, and prerequisites.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-info {
	font-size: .8em;
}

/// Controls the styling for the section table.
/// @group content
/// @access public
/// @since 2.0.0

.cf-table {
	width: 100%;
	font-size: .8em;
}

/// Controls the styling for the section title.
/// @group content
/// @access public
/// @since 2.0.0

.cf-section-title {
	font-weight: bold;
	color: inherit;
	text-align: left;
	font-style: normal;
}

/// Controls the styling for the section start and end dates.
/// @group content
/// @access public
/// @since 2.0.0

.cf-section-dates {
	float: right;
}

/// Conditional styling to label course availability.
/// There isn't currently a way to do this in the course template reliably.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-offered {
	&:not(:empty):before {
		content: "Available during ";
	}
}

/// Conditional styling to label course prerequisites.
/// There isn't currently a way to do this in the course template reliably.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-prereqs {
	&:not(:empty):before {
		content: "Prerequisites: ";
	}
}

// Slideshow
// -----------------------------------------------------------------

/// BU Slideshow styles.
/// @group content
/// @access public
/// @since 1.0.0

.bu-slideshow-container {
	z-index: 1;
	margin-bottom: 30px;
	text-align: center;
}

// Profiles
// -----------------------------------------------------------------

/// Styles for all profile listings.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-listing {
	@extend %clearfix;
	padding: 0;
}

/// Styles for all profile items in a listing.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-item {
	position: relative;
	margin-bottom: 25px;
	list-style: none;
}

/// Styles for all profile photos.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-photo {
	@include border-radius( $border-radius-profile-figure );
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

/// Styles for all profile titles.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-title {
	display: block;
	font-family: $font-family-profile-title;
	font-size: $font-size-profile-title;
	color: $color-profile-title;
}

.profile-name {
	font-family: $font-family-profile-name;
	font-size: $font-size-profile-name;
	color: $color-profile-name;
	text-decoration: underline;
	margin-bottom: 0;
}

.profile-link {
	display: block;
	text-decoration: none;

	&:hover,
	&:focus {
		.profile-name {
			text-decoration: none;
		}
	}
}

.profile-format-basic,
.profile-format-default {
	border-top: $border-profiles;
}

.profile-item-basic,
.profile-item-default {
	min-height: 100px;
	padding: 25px 65px 25px 0;
	margin-bottom: 0;
	border-bottom: $border-profiles;
}

.profile-photo-basic,
.profile-photo-default {
	position: absolute;
	right: 0;
	overflow: hidden;
	width: 50px;
	height: 50px;
}

.profile-format-advanced {
	@extend %clearfix;
}

$_profile-adv-cols-xs: $grid-number-columns / $profiles-advanced-cols-xs;
$_profile-adv-cols-md: $grid-number-columns / $profiles-advanced-cols-md;

.profile-item-advanced {
	@extend %col-xs-#{$_profile-adv-cols-xs};
	@extend %col-md-#{$_profile-adv-cols-md};

	&:nth-child( #{$profiles-advanced-cols-xs}n+1 ) {
		clear: left;

		@include breakpoint(md) {
			clear: none;
		}
	}

	@include breakpoint(md) {
		&:nth-child( #{$profiles-advanced-cols-md}n+1 ) {
			clear: left;
		}
	}
}

.profile-link-advanced {
	display: block;
	padding: 0 15px;
	text-align: center;
}

.profile-photo-advanced {
	overflow: hidden;
	width: 150px;
	height: 150px;
	margin: 0 auto 15px;
}

.profile-item-mini {
	@extend %clearfix;
}

$_profile-mini-cols-sm: $grid-number-columns / $profiles-mini-cols-sm;

.profile-item-mini {
	@extend %col-sm-#{$_profile-mini-cols-sm};

	&:nth-child(#{$profiles-mini-cols-sm}n+1) {
		clear: left;
		padding-right: 15px;
	}
}

.profile-photo-mini {
	@extend %col-2;
	height: 0;
	padding-bottom: 16%;
}

.profile-details-mini {
	@extend %col-10;
	padding-left: 20px;
	font-size: $font-size-profile-mini-description;
	line-height: $line-height-profile-mini-description;
}

.profile-name-mini {
	font-size: $font-size-profile-mini-name;
	color: inherit;
	text-decoration: none;
}

.profile-email-mini {
	margin: 5px 0;
	word-wrap: break-word;
}

// single profile

.profile-single-name {
	margin-bottom: 0;
	text-align: center;
}

.profile-single-title {
	text-align: center;
}

.profile-single-photo {
	width: 120px;
	margin: 0 auto 20px;
}

.profile-single-details {
	@extend %card-styles;
	font-size: $font-size-small;
	margin: 0 0 20px 0;

	@include breakpoint(sm) {
		float: right;
		margin: 0 0 20px 20px;
		width: 33.33333333333333%;
	}
}

.label {
	display: block;
	font-family: $font-family-sans-serif;
	font-size: $font-size-smaller;
	font-weight: 700;
	text-transform: uppercase;
}

.profile-details-label {
	color: $color-profile-info-label;
}

.profile-details-list {
	margin: 0;
	padding: 0;
}

.profile-details-item {
	list-style: none;
	margin: 0 0 20px 0;
	word-wrap: break-word;
}
