// =================================================================
// Plugins
// =================================================================

// Plugins contents:

//	1. Collapsible divs
//	2. Course feeds
//	3. Profiles

// -----------------------------------------------------------------

// Collapsible Divs
// -----------------------------------------------------------------

/// Styles a collapsible item.
/// @group content
/// @access public
/// @since 1.0.0

.bu_collapsible_container {
	padding: 0.5em 0;
	position: relative;

	& + & {
		border-top: $border-collapsible;
	}
}

/// Styles the header on a collapsible item.
/// @group content
/// @access public
/// @since 1.0.0

.bu_collapsible {
	@extend %icon-plus;
	margin-bottom: 0;
	padding-right: 30px;
	position: relative;

	&::before {
		color: $color-collapsible-icon;
		font-size: 16px;
		margin-top: -10px;
		position: absolute;
		right: 7px;
		top: 50%;
	}

	&:hover,
	&:focus {
		&::before {
			color: $color-collapsible-icon-hover;
		}
	}

	.bu_collapsible_open & {
		@extend %icon-hyphen;
	}
}

/// Print styles for collapsibles.
/// @group content
/// @access public
/// @since 1.0.0

@media print {
	.bu_collapsible_section {
		display: block !important; // important required to override inline styles added by JS
	}
}

// Course Feeds
// -----------------------------------------------------------------

/// Controls the styling for a single course in a course feed.
/// @group content
/// @access public
/// @since 1.0.0

.cf-course {
	border-top: $border-base;
	margin-top: 2em;
	padding-top: 2em;

	&:first-child {
		border: 0;
		margin: 0;
	}
}

/// Controls the styling for the course title in a course feed.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-title {
	margin-bottom: 0.2em;
}

/// Controls the styling for the course id (college, department, and number) in a course feed.
/// You may style each of these individually as well using `.cf-course-college`,
/// `.cf-course-dept`, etc.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-id {
	color: $color-grayscale-7;
	display: block;
	font-family: $font-family-sans-serif;
	font-size: 0.5em;
	margin-bottom: 0.5em;
}

/// Controls the styling for course credits, availability, and prerequisites.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-info {
	font-size: 0.8em;
}

/// Controls the styling for the section table.
/// @group content
/// @access public
/// @since 2.0.0

.cf-table {
	font-size: 0.8em;
	width: 100%;
}

/// Controls the styling for the section title.
/// @group content
/// @access public
/// @since 2.0.0

.cf-section-title {
	color: inherit;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

/// Controls the styling for the section start and end dates.
/// @group content
/// @access public
/// @since 2.0.0

.cf-section-dates {
	float: right;
}

/// Conditional styling to label course availability.
/// There isn't currently a way to do this in the course template reliably.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-offered {
	&:not(:empty)::before {
		content: "Available during ";
	}
}

/// Conditional styling to label course prerequisites.
/// There isn't currently a way to do this in the course template reliably.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-prereqs {
	&:not(:empty)::before {
		content: "Prerequisites: ";
	}
}

// Slideshow
// -----------------------------------------------------------------

/// BU Slideshow styles.
/// @group content
/// @access public
/// @since 1.0.0

.bu-slideshow-container {
	margin-bottom: 30px;
	text-align: center;
	z-index: 1;
}

// Profiles
// -----------------------------------------------------------------

/// Styles for all profile listings.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-listing {
	@extend %clearfix;
	padding: 0;
}

/// Styles for all profile items in a listing.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-item {
	list-style: none;
	margin-bottom: 25px;
	position: relative;
}

/// Styles for all profile photos.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-photo {
	@include border-radius( $border-radius-profile-figure );
	overflow: hidden;

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

/// Styles for all profile names.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-name {
	color: $color-profile-name;
	font-family: $font-family-profile-name;
	margin-bottom: 0;
	text-decoration: underline;
}

/// Styles for all profile titles.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-title {
	color: $color-profile-title;
	display: block;
	font-family: $font-family-profile-title;
}

/// Styles for all profile links.
/// Since links are usually wrapped around the whole profile,
/// we leave link styling to specific child elements to avoid
/// visual chaos.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-link {
	display: block;
	text-decoration: none;

	&:hover,
	&:focus {
		.profile-name {
			text-decoration: none;
		}
	}
}

/// Styles the default profile format.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-format-default {
	border-top: $border-profiles;
}

/// Styles a default profile item.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-item-default {
	border-bottom: $border-profiles;
	margin-bottom: 0;
	min-height: 100px;
	padding: 25px 65px 25px 0;
}

/// Styles a default profile photo.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-photo-default {
	height: 50px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 50px;
}

/// Styles the basic profile format.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-format-basic {
	border-top: $border-profiles;
}

/// Styles a basic profile item.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-item-basic {
	border-bottom: $border-profiles;
	margin-bottom: 0;
	min-height: 100px;
	padding: 25px 65px 25px 0;
}

/// Styles a basic profile photo.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-photo-basic {
	height: 50px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 50px;
}

/// Styles the advanced profile format.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-format-advanced {
	@extend %clearfix;
}

/// A helper variable to determine which grid class to extend
/// for advanced profile items at the `xs` breakpoint.
/// @group profiles
/// @access private
/// @since 2.0.0

$_profile-adv-cols-xs: $grid-number-columns / $profiles-advanced-cols-xs;

/// A helper variable to determine which grid class to extend
/// for advanced profile items at the `md` breakpoint.
/// @group profiles
/// @access private
/// @since 2.0.0

$_profile-adv-cols-md: $grid-number-columns / $profiles-advanced-cols-md;

/// Styles an advanced profile item.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-item-advanced {
	@extend %col-xs-#{$_profile-adv-cols-xs};
	@extend %col-md-#{$_profile-adv-cols-md};

	@include breakpoint( md ) {
		&:nth-child( #{$profiles-advanced-cols-md}n+1 ) {
			clear: left;
		}
	}

	&:nth-child( #{$profiles-advanced-cols-xs}n+1 ) {
		clear: left;

		@include breakpoint( md ) {
			clear: none;
		}
	}
}

/// Styles an advanced profile item link.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-link-advanced {
	display: block;
	padding: 0 15px;
	text-align: center;
}

/// Styles an advanced profile item photo.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-photo-advanced {
	height: 150px;
	margin: 0 auto 15px;
	overflow: hidden;
	width: 150px;
}

/// A helper variable to determine which grid class to extend
/// for mini profile items at the `sm` breakpoint.
/// @group profiles
/// @access private
/// @since 2.0.0

$_profile-mini-cols-sm: $grid-number-columns / $profiles-mini-cols-sm;

/// Styles the mini profile format.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-item-mini {
	@extend %clearfix;
	@extend %col-sm-#{$_profile-mini-cols-sm};

	&:nth-child(#{$profiles-mini-cols-sm}n+1) {
		clear: left;
		padding-right: 15px;
	}
}

/// Styles the mini profile photo.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-photo-mini {
	@extend %col-2;
	height: 0;
	padding-bottom: 16%;
}

/// Styles the mini profile details.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-details-mini {
	@extend %col-10;
	padding-left: 20px;

	p {
		@extend %font-size-minimum;
	}
}

/// Styles the mini profile name.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-name-mini {
	color: inherit;
	text-decoration: none;
}

/// Styles the mini profile email.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-email-mini {
	margin: 5px 0;
	word-wrap: break-word;
}
