// =================================================================
// Templates
// =================================================================

// TODO: Needs cleanup

// template contents:

//	1. Narrow Content Column
//	2. Narrow Sidebar
//	3. News & Archive Template
//	4. Single Post
//	5. Calendar Template
//	6. Calendar Single Event
//	7. 404 page

// -----------------------------------------------------------------

// Narrow Content Column
// -----------------------------------------------------------------

%template-narrow {
	.content-container {
		max-width: $container-sm;
	}

	.content-area {
		@extend %col-md-full;
	}
}

// A utility class to easily undo narrow column widths.
// Always overrides %template-narrow.
%remove-template-narrow {
	.content-container {
		max-width: $container-lg;
	}

	.content-area {
		@include breakpoint(md) {
		float: left;
			width: 66.66667%;
		}
	}
}

.home.blog,
.archive,
.page-template-news,
.single-post,
.page-template-profiles,
.single-profile,
.post-type-archive-profile {
	@extend %template-narrow;
}

// Does not have a sidebar.
.single-calendar {
	@extend %template-narrow;

	.content-area {
		float: none;
		margin: 0 auto;
	}
}

// Layouts
.sidebar-location-left,
.sidebar-location-right {
	@extend %remove-template-narrow;
}

// Narrow Sidebar
// -----------------------------------------------------------------

// A utility class to style sidebars on narrow width templates.
%template-narrow-sidebar {
	@extend %clearfix;
	@extend %col-sm-margin-parent;
	width: auto;
	float: none;
	clear: both;
	margin-bottom: $widget-margin-bottom;

	.widget {
		@extend %col-sm-margin-half;
		@include breakpoint(sm) {
			padding: 0;
		}
	}
}

// A utility class to easily undo narrow width sidebar styles.
// Always overrides %template-narrow-sidebar.
%remove-template-narrow-sidebar {
	@extend %sidebar-styles;
	@extend %container-styles;
	@include breakpoint(md) {
		float: left;
		clear: none;
	}

	.widget {
		width: 100%;
		margin-left: 0;
		margin-bottom: $widget-margin-bottom;
	}
}

.sidebar-posts,
.sidebar-profiles {
	@extend %template-narrow-sidebar;

	// Layouts
	.sidebar-location-left &,
	.sidebar-location-right & {
		@extend %remove-template-narrow-sidebar;
	}
}

// News & Archive Template
// -----------------------------------------------------------------

.news-posts h2,
.archive .content-container h2 {
	margin-bottom: 10px;
}
.news-posts .post,
.archive .content-container article {
	position: relative;
	padding-top: 30px;
	margin-top: 30px;
	border: $border-news-post;
	border-width: $border-width-news-post;
}
.news-posts .post:first-child,
.archive .content-container article:first-child {
	padding-top: 0;
	margin-top: 0;
	border-top: none;
}
.news-posts .meta,
.archive .content-container .entry-meta,
.archive .content-container .categories,
.archive .content-container .tags,
.archive .content-container .taxonomies {
	margin-bottom: 20px;
	font-family: $font-family-news-meta;
	font-size: $font-size-news-meta;
}
.news-posts .meta span:before {
	content: "\a0\b7\a0";
	color: $color-news-meta-before;
}
.news-posts .meta span:first-child:before {
	content: "";
}
.news-posts .meta em {
	color: $color-news-meta-em;
}
.paging-navigation {
	@extend %clearfix;
	padding-top: 30px;
	margin-top: 30px;
	border: $border-news-post;
	border-width: $border-width-news-post;
	// TODO: probably shouldn't be using visibility hidden here...
	.screen-reader-text {
		display: none;
	}
	a {
		@extend %button-styles;
		@extend %button-styles-primary;
	}
	.nav-previous {
		float: left;
	}
	.nav-next {
		float: right;
	}
}

// Homepage set to show Posts
// -----------------------------------------------------------------
.home.blog {
	.paging-navigation {
		margin-bottom:30px;
	}
	.tags {
		margin-bottom:24px;
	}
	.content-container {
		article {
			position: relative;
			padding-top: 30px;
			margin-top: 30px;
			border: $border-news-post;
			border-width: $border-width-news-post;
			&:first-child {
				border: none;
			}
		}
	}
}

// Single Post
// -----------------------------------------------------------------
.single {
	.content-area {
		.meta {
			@extend %card-styles;
			@include border-radius($border-radius-single-meta);
			padding: $padding-single-meta;
			margin-bottom: 30px;
			border: $border-single-meta;
			border-width: $border-width-single-meta;
			border-left-color: $color-single-meta-border-left;
			background-color: $color-single-meta-bg;
			font-size: $font-size-single-meta;
		}
	}
	.meta {
		.post-title {
			margin-bottom: 10px;
		}
		.byline {
			margin-bottom: 10px;
			font-weight: normal;
			font-size: $font-size-single-meta;
		}
		p:last-child {
			margin-bottom: 0;
		}
		p {
			margin-bottom: 10px;
			font-family: $font-family-news-meta;
		}
		em {
			color: $color-news-meta-em;
		}
	}
}
.archive-link {
	@extend %button-styles;
	@extend %button-styles-primary;
	@extend %back-link-styles;
	width: 100%;
}

// Calendar Template
// -----------------------------------------------------------------

.calendar-topic {
	font-size: $font-size-calendar-topic;
}
.calendar-range {
	color: $color-calendar-heading-date-range;
}
.event-list {
	.event-date {
		font-size: $font-size-calendar-event-date;
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
	}
}

.event-link {
	color: $color-calendar-event-link;
	&:hover,
	&:focus {
		color: $color-calendar-event-link-hover;
	}
}

/* sidebar */
.month {
	width: 100%;
	caption {
		font-family: $font-family-calendar-month-caption;
		font-style: normal;
		font-size: $font-size-calendar-month-caption;
		color: $color-calendar-month-caption;
	}
	th,
	td {
		width: 14.285714285%;
		padding: $padding-calendar-month-cell;
		font-family: $font-family-calendar-month-cell;
		text-align: center;
	}
	th {
		background: $color-calendar-month-th-bg;
		color: $color-calendar-month-th;
	}
	td {
		a {
			color: $color-calendar-month-link;
			&:hover,
			&::focus {
				color: $color-calendar-month-link-hover;
			}
		}
	}
	.out {
		background: $color-calendar-month-link-out-bg;
		a {
			color: $color-calendar-month-link-out;
			text-decoration: none;
		}
	}
	.today {
		background: $color-calendar-month-link-today-bg;
		a {
			color: $color-calendar-month-link-today;
			text-decoration: none;
		}
	}
}
.calendar-topics ul {
	padding-left: 20px;
}

// Calendar Single Event
// -----------------------------------------------------------------

.single-event .label {
	font-family: $font-family-single-event-label;
	font-weight: $font-weight-calendar-label;
	font-size: $font-size-smaller;
	color: $color-single-event-label;
	text-transform: uppercase;
}
.date-summary {
	@extend %card-styles;
	margin: 0 0 20px 0;
	@include breakpoint(sm) {
		float: right;
		width: 33.33333333333333%;
		margin: 0 0 20px 20px;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		margin-top: 10px;
		list-style: none;
		&:first-child {
			margin-top: 0;
		}
		em {
			display: none;
		}
	}
	.label {
		display: block;
	}
	.time {
		display: block;
		font-weight: bold;
		font-size: $font-size-medium;
		color: #000000;
	}
}
.single-event .description {
	margin: $font-margin-base;
}

.single-event .additional-details dd {
	margin: 0 0 20px 0;
}

// 404 page

.error-404 {
	#quicksearch {
		position: static;
		display: block;
		background: transparent !important; // required to override Responsive layout styles
		border: none;
		padding: 0;
		margin: 50px 0;
		max-width: 500px;
		font-size: 16.5px;

		fieldset {
			padding: 0;
		}

		select {
			display: none;
		}
	}
}