// =================================================================
// Templates
// =================================================================

// TODO: Needs cleanup

// template contents:

//	1. Narrow Content Column
//	2. Narrow Sidebar
//	3. News & Archive Template
//	4. Single Post
//	5. Calendar Template
//	6. Calendar Single Event
//	7. 404 page

// -----------------------------------------------------------------

// Narrow Content Column
// -----------------------------------------------------------------

%template-narrow {
	.content-container {
		max-width: $container-sm;
	}

	.content-area {
		@extend %col-md-full;
	}
}

// A utility class to easily undo narrow column widths.
// Always overrides %template-narrow.
%remove-template-narrow {
	.content-container {
		max-width: $container-lg;
	}

	.content-area {
		@include breakpoint( md ) {
			float: left;
			width: 66.66667%;
		}
	}
}

.blog,
.archive,
.page-template-news,
.single-post,
.page-template-profiles,
.single-profile,
.post-type-archive-profile {
	@extend %template-narrow;
}

// Does not have a sidebar.
.single-calendar {
	@extend %template-narrow;

	.content-area {
		float: none;
		margin: 0 auto;
	}
}

// Layouts
.sidebar-location-left,
.sidebar-location-right {
	@extend %remove-template-narrow;
}

// Narrow Sidebar
// -----------------------------------------------------------------

// A utility class to style sidebars on narrow width templates.
%template-narrow-sidebar {
	@extend %clearfix;
	@extend %col-sm-margin-parent;
	clear: both;
	float: none;
	margin-bottom: $widget-margin-bottom;
	width: auto;

	.widget {
		@extend %col-sm-margin-half;
	}
}

// A utility class to easily undo narrow width sidebar styles.
// Always overrides %template-narrow-sidebar.
%remove-template-narrow-sidebar {
	@extend %sidebar-styles;
	@extend %container-styles;

	@include breakpoint( md ) {
		clear: none;
		float: left;
	}

	.widget {
		margin-bottom: $widget-margin-bottom;
		margin-left: 0;
		width: 100%;
	}
}

.sidebar-posts,
.sidebar-profiles {
	@extend %template-narrow-sidebar;

	// Layouts
	.sidebar-location-left &,
	.sidebar-location-right & {
		@extend %remove-template-narrow-sidebar;
	}
}

// News & Archive Template
// -----------------------------------------------------------------

.meta {
	font-family: $font-family-news-meta;

	em {
		color: $color-news-meta-em;
	}
}

/// Handles the previous and next links at the bottom of post listings.
/// @group news
/// @access public
/// @since 1.0.0

.paging-navigation {
	@extend %clearfix;
	border: $border-news-post;
	border-width: $border-width-news-post;
	margin-top: 30px;
	padding-top: 30px;

	a {
		@extend %button-styles;
		@extend %button-styles-primary;
	}
}

/// Handles the previous link at the bottom of post listings.
/// @group news
/// @access public
/// @since 1.0.0

.nav-previous {
	float: left;
}

/// Handles the next link at the bottom of post listings.
/// @group news
/// @access public
/// @since 1.0.0

.nav-next {
	float: right;
}

/// Handles styling for posts in news listings and archive pages.
/// @group news
/// @access public
/// @since 2.0.0

.post-part {
	border: $border-news-post;
	border-width: $border-width-news-post;
	margin-top: 30px;
	padding-top: 30px;
	position: relative;

	&:first-child {
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/// Handles styling for headlines in the post template partial,
/// usually used on post listings and archive pages.
/// @group news
/// @access public
/// @since 2.0.0

.post-headline {
	margin-bottom: 10px;
}

/// Handles styling for thumbnails in the post template partial,
/// usually used on post listings and archive pages.
/// @group news
/// @access public
/// @since 2.0.0

.post-thumb {
	float: right;
}

/// Handles styling for metadata in post parts.
/// @group news
/// @access public
/// @since 2.0.0

.post-part-meta {
	font-family: $font-family-news-meta;
	font-size: $font-size-news-meta;
	margin-bottom: 20px;

	span {
		&::before {
			color: $color-news-meta-before;
			content: "\a0\b7\a0";
		}

		&:first-child::before {
			content: "";
		}
	}
}

// Single Post
// -----------------------------------------------------------------

/// Handles styling for the metadata card at the bottom of posts.
/// @group news
/// @access public
/// @since 2.0.0

.single-meta {
	@extend %card-styles;
	@include border-radius( $border-radius-single-meta );
	background-color: $color-single-meta-bg;
	border: $border-single-meta;
	border-left-color: $color-single-meta-border-left;
	border-width: $border-width-single-meta;
	font-size: $font-size-single-meta;
	margin-bottom: 30px;
	padding: $padding-single-meta;
}

/// Handles styling for the title in the metadata card at the bottom of posts.
/// @group news
/// @access public
/// @since 2.0.0

.single-meta-post-title {
	margin-bottom: 10px;
}

/// Handles styling for the byline in the metadata card at the bottom of posts.
/// @group news
/// @access public
/// @since 2.0.0

.single-meta-byline {
	font-size: inherit;
	font-weight: normal;
	margin-bottom: 10px;
}

/// Handles styling for categories and tags in the metadata card at the bottom of posts.
/// @group news
/// @access public
/// @since 2.0.0

.single-meta-info {
	margin-bottom: 0;
	margin-top: 10px;
}

/// Handles styling for the archive (View all posts) link container.
/// @group news
/// @access public
/// @since 2.0.0

.archive-link-container {
	text-align: center;
}

/// Handles styling for the archive (View all posts) link.
/// @group news
/// @access public
/// @since 2.0.0

.archive-link {
	@extend %button-styles;
	@extend %button-styles-primary;
	@extend %back-link-styles;
}

// Calendar Template
// -----------------------------------------------------------------

/// Handles styling for the calendar topic on the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-topic {
	font-size: $font-size-calendar-topic;
}

/// Handles styling for the selected date range in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-range {
	color: $color-calendar-heading-date-range;
}

/// Handles styling for the date above events
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-date {
	font-size: $font-size-calendar-event-date;
}

/// Handles styling for groups of events on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-events {
	margin-bottom: 3em;
	padding: 0;
}

/// Handles styling for an individual event on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event {
	font-size: 0.9em;
	line-height: 1.3;
	list-style: none;
	margin-bottom: 0.5em;
}

/// Handles styling for the first event in a group of events at
/// the same time in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-first-at-time {
	border-top: 1px dotted $color-grayscale-c;
	margin-bottom: 0.75em;
	padding-top: 0.75em;
}

/// Handles styling for an individual event on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-time {
	color: $color-grayscale-6;
	font-weight: 700;
	position: absolute;
}

/// Handles styling for the link to an individual event
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-link {
	color: $color-calendar-event-link;
	display: block;
	margin-left: 5.1em;

	&:hover,
	&:focus {
		color: $color-calendar-event-link-hover;
	}
}

// Calendar Single Event
// -----------------------------------------------------------------

/// Handles styling for the container around start and end times on
/// a single calendar event.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-schedule {
	@extend %card-styles;
	@extend %col-sm-third;
	margin: 0 0 20px;

	@include breakpoint( sm ) {
		float: right;
		margin-left: $grid-margin-width#{"%"};
	}
}

/// Handles styling for the list of start and end times on
/// a single calendar event.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-schedule-list {
	margin: 0;
	padding: 0;
}

/// Handles styling for list items in the schedule of
/// a single calendar event. Use if you need to add something to the
/// calendar schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

%single-event-schedule-list-item {
	list-style: none;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}
}

/// Controls whether or not to make the event time into a sentence.
/// By default, this is visually hidden so screen readers still read
/// it as a sentence, but it is displayed as list information.
/// You can override this with `@extend %remove-visually-hidden`.
/// @group calendar
/// @access public
/// @since 2.0.0

.event-time-make-sentence {
	@extend %visuallyhidden;
}

/// Handles styling for start time in the schedule of
/// a single calendar event.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-schedule-start {
	@extend %single-event-schedule-list-item;
}

/// Handles styling for end time in the schedule of
/// a single calendar event.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-schedule-end {
	@extend %single-event-schedule-list-item;
}

/// Handles styling for all single calendar labels.
/// @group calendar
/// @access public
/// @since 2.0.0

%single-event-label {
	color: $color-single-event-label;
	display: block;
	font-family: $font-family-single-event-label;
	font-size: $font-size-smaller;
	font-weight: $font-weight-calendar-label;
	text-transform: uppercase;
}

/// Handles styling for labels in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-label {
	@extend %single-event-label;
}

/// Handles styling for times in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-time {
	color: $color-grayscale-0;
	display: block;
	font-size: $font-size-medium;
	font-weight: bold;
}

/// Handles styling for the event description in the single calendar
/// event template.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-description {
	margin: $font-margin-base;
}

/// Handles styling for additional details in the single calendar
/// event template.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-additional-details {
	margin: 0 0 20px;
}

/// Handles styling for additional details information in the
/// single calendar event template.
/// @group calendar
/// @access public
/// @since 2.0.0

%single-event-info {
	margin: 0 0 20px;
}

/// Handles styling for the speakers label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-speakers-label {
	@extend %single-event-label;
}

/// Handles styling for speaker information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-speakers-info {
	@extend %single-event-info;
}

/// Handles styling for the audience label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-audience-label {
	@extend %single-event-label;
}

/// Handles styling for audience information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-audience-info {
	@extend %single-event-info;
}

/// Handles styling for the departments label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-departments-label {
	@extend %single-event-label;
}

/// Handles styling for department information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-departments-info {
	@extend %single-event-info;
}

/// Handles styling for the location label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-location-label {
	@extend %single-event-label;
}

/// Handles styling for location information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-location-info {
	@extend %single-event-info;
}

/// Handles styling for the building location label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-location-building-label {
	@extend %single-event-label;
}

/// Handles styling for building location information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-location-building-info {
	@extend %single-event-info;
}

/// Handles styling for the room location label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-location-room-label {
	@extend %single-event-label;
}

/// Handles styling for room location information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-location-room-info {
	@extend %single-event-info;
}

/// Handles styling for the multiple fees label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fees-label {
	@extend %single-event-label;
}

/// Handles styling for multiple fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fees-info {
	@extend %single-event-info;
}

/// Handles styling for the a single fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-label {
	@extend %single-event-label;
}

/// Handles styling for a single fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-info {
	@extend %single-event-info;
}

/// Handles styling for the general fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-general-label {
	@extend %single-event-label;
}

/// Handles styling for general fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-general-info {
	@extend %single-event-info;
}

/// Handles styling for the public fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-public-label {
	@extend %single-event-label;
}

/// Handles styling for public fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-public-info {
	@extend %single-event-info;
}

/// Handles styling for the staff fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-staff-label {
	@extend %single-event-label;
}

/// Handles styling for staff fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-staff-info {
	@extend %single-event-info;
}

/// Handles styling for the student fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-student-label {
	@extend %single-event-label;
}

/// Handles styling for student fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-student-info {
	@extend %single-event-info;
}

/// Handles styling for the BU student fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-bu-student-label {
	@extend %single-event-label;
}

/// Handles styling for BU student fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-bu-student-info {
	@extend %single-event-info;
}

/// Handles styling for the senior fee label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-senior-label {
	@extend %single-event-label;
}

/// Handles styling for senior fee information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-fee-senior-info {
	@extend %single-event-info;
}

/// Handles styling for the deadlines label in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-deadline-label {
	@extend %single-event-label;
}

/// Handles styling for deadline information in the single calendar
/// event schedule.
/// @group calendar
/// @access public
/// @since 2.0.0

.single-event-deadline-info {
	@extend %single-event-info;
}


// 404 page

.error-404 {
	#quicksearch {
		background: transparent !important; // required to override Responsive layout styles
		border: 0;
		display: block;
		font-size: 16.5px;
		margin: 50px 0;
		max-width: 500px;
		padding: 0;
		position: static;

		fieldset {
			padding: 0;
		}

		select {
			display: none;
		}
	}
}
