/* template contents:

	1. Narrow Content Column
	2. Narrow Sidebar
	3. News & Archive Template
	4. Single Post
	5. Calendar Template
	6. Calendar Single Event

----------------------------------------------------------------- */

/* Narrow Content Column
----------------------------------------------------------------- */

%templateNarrow {
	/* These classes are using %templateNarrow. */
	.content-container {
		max-width: $container-S;
	}
	article[role=main] {
		@extend %col-medium-full-width;
	}
}

// A utility class to easily undo narrow column widths.
// Always overrides %templateNarrow.
%removeTemplateNarrow {
	/* These classes are using %removeTemplateNarrow. */
	.content-container {
		max-width: $container-L;
	}
	article[role=main] {
		@include breakpoint(medium) {
			width: 66.66667%;
    		float: left;
		}
	}
}

.archive,
.page-template-news,
.single-post,
.single-calendar,
.page-template-profiles,
.single-profile,
.post-type-archive-profile {
	@extend %templateNarrow;
}

.single-profile {
	@extend %removeTemplateNarrow;
}

/* Narrow Sidebar
----------------------------------------------------------------- */

// A utility class to style sidebars on narrow width templates.
%templateNarrowSidebar {
	/* These classes are using %templateNarrowSidebar. */
	@extend %clearfix;
	float: none;
	margin: 0 auto;

	.widget {
		@extend %col-small-one-half;
		@include breakpoint(small) {
			padding: $grid-sidebar-padding;

			&:first-child {
				padding: 0;
			}
		}
	}
}

// A utility class to easily undo narrow width sidebar styles.
// Always overrides %templateNarrowSidebar.
%removeTemplateNarrowSidebar {
	/* These classes are using %removeTemplateNarrowSidebar. */
	@extend .sidebar;
	@extend %container-styles;
	@include breakpoint(medium) {
		float: left;
	}

	.widget {
		width: 100%;

		@include breakpoint(small) {
			padding: 0;
		}
		@include breakpoint(medium) {
			padding-right: 60px;
		}
		@include breakpoint(large) {
			padding-right: 0;
		}
	}
}

.sidebarPosts,
.sidebarProfiles {
	@extend %templateNarrowSidebar;
}

.sidebarProfiles {
	@extend %removeTemplateNarrowSidebar;
}

/* News & Archive Template
----------------------------------------------------------------- */

.news-posts h2,
.archive .content-container h2 {
	margin-bottom: 10px;
}
.news-posts .post,
.archive .content-container article {
	position: relative;
	padding-top: 30px;
	margin-top: 30px;
	border: $border-news-post;
	border-width: $borderWidth-news-post;
}
.news-posts .post:first-child,
.archive .content-container article:first-child {
	padding-top: 0;
	margin-top: 0;
	border-top: none;
}
.news-posts .meta,
.archive .content-container .entry-meta,
.archive .content-container .categories,
.archive .content-container .tags,
.archive .content-container .taxonomies {
	margin-bottom: 20px;
	font-family: $fontFamily-news-meta;
	font-size: $fontSize-news-meta;
}
.news-posts .meta span:before {
	content: "\a0\b7\a0";
	color: $color-news-metaBefore;
}
.news-posts .meta span:first-child:before {
	content: "";
}
.news-posts .meta em {
	color: $color-news-metaEm;
}
.news-posts .paging-navigation,
.archive  .paging-navigation {
	@extend %clearfix;
	padding-top: 30px;
	margin-top: 30px;
	border: $border-news-post;
	border-width: $borderWidth-news-post;
}
.news-posts .paging-navigation .screen-reader-text,
.archive  .paging-navigation .screen-reader-text {
	display: none;
}
.news-posts .paging-navigation a,
.archive .paging-navigation a {
	@extend %button-styles;
	@extend %button-styles-primary;
}
.news-posts .paging-navigation .nav-previous,
.archive .paging-navigation .nav-previous {
	float: left;
}
.news-posts .paging-navigation .nav-next,
.archive  .paging-navigation .nav-next {
	float: right;
}

/* Single Post
----------------------------------------------------------------- */

.single article[role=main] .meta {
	@extend .message;
	@include border-radius($borderRadius-single-meta);
	padding: $padding-single-meta;
	margin-bottom: 30px;
	border: $border-single-meta;
	border-width: $borderWidth-single-meta;
	border-left-color: $color-single-meta-borderLeft;
	background-color: $color-single-meta-bg;
	font-size: $fontSize-single-meta;
}
.single .meta .post-title {
	margin-bottom: 10px;
}
.single .meta .byline {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: $fontSize-single-meta;
}
.single .meta p {
	margin-bottom: 10px;
	font-family: $fontFamily-news-meta;
}
.single .meta p:last-child {
	margin-bottom: 0;
}
.single .meta em {
	color: $color-news-metaEm;
}
.single .archiveLink,
.single-calendar .archiveLink {
	@extend %button-styles;
	@extend .backLink;
	@extend %button-styles-primary;
	width: 100%;
}

/* Calendar Template
----------------------------------------------------------------- */

.calendar-topic {
	font-size: $fontSize-calendar-topic;
}
.calendar-topic .calendar-range {
	color: $color-calendar-headingDateRange;
}
.event-list .event-date {
	font-size: $fontSize-calendar-eventDate;
}
.event-list ul {
	padding: 0;
}
.event-list li {
	list-style: none;
}

.event-list .event-link a {
	color: $color-calendar-eventLink;
}
.event-list .event-link a:hover,
.event-list .event-link a:focus {
	color: $color-calendar-eventLink-hover;
}
/* sidebar */
.monthCalendar {
	width: 100%;
}
.monthCalendar caption {
	font-family: $fontFamily-calendarMonth-caption;
	font-style: normal;
	font-size: $fontSize-calendarMonth-caption;
	color: $color-calendarMonth-caption;
}
.monthCalendar th,
.monthCalendar td {
	width: 14.285714285%;
	padding: $padding-monthCalendar-cell;
	font-family: $fontFamily-calendarMonth-cell;
	text-align: center;
}
.monthCalendar th {
	background: $color-calendarMonth-th-bg;
	color: $color-calendarMonth-th;
}
.monthCalendar td a {
	color: $color-calendarMonth-cellLink;
}
.monthCalendar td a:hover,
.monthCalendar td a:focus {
	color: $color-calendarMonth-cellLink-hover;
}
.monthCalendar .out {
	background: $color-calendarMonth-cellLinkOut-bg;
}
.monthCalendar .out a {
	color: $color-calendarMonth-cellLinkOut;
	text-decoration: none;
}
.monthCalendar .today {
	background: $color-calendarMonth-cellLinkToday-bg;
}
.monthCalendar .today a {
	color: $color-calendarMonth-cellLinkToday;
	text-decoration: none;
}

.calendar-topics ul {
	padding-left: 20px;
}

/* Calendar Single Event
----------------------------------------------------------------- */


.singleEvent .label {
	font-family: $fontFamily-singleEvent-label;
	font-weight: $fontWeight-calendar-label;
	font-size: $fontSize-smaller;
	color: $color-calendarSingle-label;
	text-transform: uppercase;
}
.singleEvent .dateSummary {
	@extend .message;
	margin: 0 0 20px 0;
	@include breakpoint(small) {
		float: right;
		width: 33.33333333333333%;
		margin: 0 0 20px 20px;
	}
}
.singleEvent .dateSummary ul {
	padding: 0;
	margin: 0;
}
.singleEvent .dateSummary li {
	margin-top: 10px;
	list-style: none;
	&:first-child {
		margin-top: 0;
	}
}
.singleEvent .dateSummary .label {
	display: block;
}
.singleEvent .dateSummary li em {
	display: none;
}
.singleEvent .dateSummary .time {
	display: block;
	font-weight: bold;
	font-size: $fontSize-medium;
	color: #000000;
}
.singleEvent .description {
	margin: $fontMargin-base;
}

.singleEvent .additionalDetails dd {
	margin: 0 0 20px 0;
}