/* News Template */
.page-template-news article[role=main] {
	margin: 0 auto;
	float: none;
}
.page-template-news .sidebar {
	display: none;
}
.news-posts h2 {
	margin-bottom: 10px;
}
.news-posts .post {
	margin-top: 30px;
	padding-top: 30px;
	border: $border-news-post;
	border-width: $borderWidth-news-post;
}
.news-posts .post:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.news-posts .meta {
	margin-bottom: 20px;
	font-family: $fontFamily-news-meta;
	font-size: $fontSize-news-meta;
}
.news-posts .meta span:before {
	content: "\a0\b7\a0";
	color: $color-news-metaBefore;
}
.news-posts .meta span:first-child:before {
	content: "";
}
.news-posts .meta em {
	color: $color-news-metaEm;
}
.news-posts nav {
	@include clearfix;
	margin-top: 30px;
	padding-top: 30px;
	border: $border-news-post;
	border-width: $borderWidth-news-post;
}
.news-posts nav .screen-reader-text {
	display: none;
}
.news-posts nav a {
	@extend .button;
}
.news-posts nav .nav-previous {
	float: left;
}
.news-posts nav .nav-next {
	float: right;
}

/* Single post */
.single-post article[role=main] {
	margin: 0 auto;
	float: none;
}
.single-post .sidebar {
	display: none;
}
.single article[role=main] .meta {
	@extend .message;
	@include border-radius($borderRadius-single-meta);
	background-color: $color-single-meta-bg;
	border: $border-single-meta;
	border-width: $borderWidth-single-meta;
	border-left-color: $borderLeftColor-single-meta;
	font-size: $fontSize-single-meta;
	padding: $padding-single-meta;
	margin-bottom: 30px;
}
.single .meta .post-title {
	margin-bottom: 10px;
}
.single .meta .byline {
	font-size: $fontSize-single-meta;
	font-weight: normal;
	margin-bottom: 10px;
}
.single .meta p {
	font-family: $fontFamily-news-meta;
	margin-bottom: 0;
}
.single .meta em {
	color: $color-news-metaEm;
}
.single .archiveLink,
.single-calendar .archiveLink {
	@extend .button;
	@extend .backLink;
	width: 100%;
}

/* Calendar */
.calendar-topic {
	font-size: $fontSize-calendar-topic;
}
.calendar-topic .calendar-range {
	color: $color-calendar-headingDateRange;
}
.event-list .event-date {
	font-size: $fontSize-calendar-eventDate;
}
.event-list ul {
	padding: 0;
}
.event-list li {
	list-style: none;
}
.event-list .event-time {

}
.event-list .event-link a {
	color: $color-calendar-eventLink;
}
.event-list .event-link a:hover,
.event-list .event-link a:focus {
	color: $color-calendar-eventLink-hover;
}
/* Calendar Sidebar */
.monthCalendar {
	width: 100%;
}
.monthCalendar caption {
	font-style: normal;
	font-family: $fontFamily-calendarMonth-caption;
	font-size: $fontSize-calendarMonth-caption;
	color: $color-calendarMonth-caption;
}
.monthCalendar th,
.monthCalendar td {
	font-family: $fontFamily-calendarMonth-cell;
	width: 14.285714285%;
	text-align: center;
	padding: $padding-monthCalendar-cell;
}
.monthCalendar th {
	background: $color-calendarMonth-th-bg;
	color: $color-calendarMonth-th;
}
.monthCalendar td a {
	color: $color-calendarMonth-cellLink;
}
.monthCalendar td a:hover,
.monthCalendar td a:focus {
	color: $color-calendarMonth-cellLink-hover;
}
.monthCalendar .out {
	background: $color-calendarMonth-cellLinkOut-bg;
}
.monthCalendar .out a {
	color: $color-calendarMonth-cellLinkOut;
	text-decoration: none;
}
.monthCalendar .today {
	background: $color-calendarMonth-cellLinkToday-bg;
}
.monthCalendar .today a {
	color: $color-calendarMonth-cellLinkToday;
	text-decoration: none;
}
.calendar-topics {
}
.calendar-topics ul {
	padding-left: 20px;
}
/* Calendar Single */
.singleEvent {
}
.singleEvent .label {
	font-family: $fontFamily-singleEvent-label;
	font-size: $fontSize-smaller;
	font-weight: bold;
}
.singleEvent .dateSummary {
	@extend .message;
	margin: 0 0 20px 0;
	
	@include breakpoint(small) {
		float: right;
		width: 33.33333333333333%;
		margin: 0 0 20px 20px;
	}
}
.singleEvent .dateSummary ul {
	margin: 0;
	padding: 0;
}
.singleEvent .dateSummary li {
	list-style: none;
	margin-top: 10px;
	
	&:first-child {
		margin-top: 0;
	}
}
.singleEvent .dateSummary .label {
	display: block;
}
.singleEvent .dateSummary li em {
	display: none;
}
.singleEvent .dateSummary .time {
	display: block;
	color: #000;
	font-size: $fontSize-medium;
	font-weight: bold;
}
.singleEvent .description {
	margin: $fontMargin-base;
}