// components
// -----------------------------------------------------------------

/// Provides a link for clients to edit the page within the page content.
/// @group wp-admin
/// @access public
/// @since 1.0.0

.edit-link {
	position: absolute;
	top: 0;
	right: 0;
}

/// A placeholder to mimic the styles of the "Back" link on archive pages.
/// @group utilities
/// @access public
/// @since 1.0.0

%back-link-styles {
	&:before {
		content: $back-link-before;
		color: $color-back-link-before;
	}
}

/// Controls the styles of the "Back" link on archive pages.
/// Use this class to only style CSS with the back link. Use the placeholder
/// to style anything that looks like a back link.
/// @group utilities
/// @access public
/// @since 1.0.0

.back-link {
	@extend %back-link-styles;
}

/// Controls card-like styles used throughout Foundation.
/// Use this class to only style CSS with the back link. Use the placeholder
/// @group utilities
/// @access public
/// @since 1.0.0

%card-styles {
	@include border-radius($border-radius-message);
	background-color: $color-message-bg;
	border: $border-message;
	border-left-color: $color-message-border-left;
	border-width: $border-width-message;
	font-size: $font-size-message;
	padding: $padding-message;
}

.message {
	@extend %card-styles;
}

%responsive-video-styles {
	margin-bottom: 14px;
	padding-bottom: 56.25%;
	padding-top: 45px;
	position: relative;

	div,
	embed,
	object,
	iframe {
		height: 100% !important;
		left: 0;
		position: absolute;
		top: 0;
		width: 100% !important;
	}
}

.responsive-video {
	@extend %responsive-video-styles;
}


// collapsibles (class name requires underscore due to dependency on front-end library)
.bu_collapsible {
	margin-bottom: 0;
}

// WordPress accessibility classes
// Hide visually but not from screen readers
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
	@extend %visuallyhidden;
}

// WordPress inline align classes (use WP standard class names)

// A placeholder just for align. Not meant to be extended elsewhere.
%align-styles {
	margin-bottom: $margin-floated-content;
	max-width: 100%;

	@include breakpoint(xs) {
		max-width: 50%;
	}
}

.alignright {
	@extend %align-styles;

	@include breakpoint(xs) {
		float: right;
		margin: 0 0 $margin-floated-content $margin-floated-content;
	}
}

.alignleft {
	@extend %align-styles;

	@include breakpoint(xs) {
		float: left;
		margin: 0 $margin-floated-content $margin-floated-content 0;
	}
}

.aligncenter {
	display: block;
	margin: 0 auto $margin-floated-content;
}

.wp-caption-text {
	clear: both;
	color: $color-caption;
	font-family: $font-family-caption;
	font-size: $font-size-caption;
	line-height: 1.4;
}

// slideshows
.bu-slideshow-container {
	z-index: 1;
	margin-bottom: 30px;
	text-align: center;
}

// Must be a class that wraps around a table to work properly.
%resposive-table-styles {
	position: relative;

	table {
		border: 1px solid $border-color-table;

		td,
		th {
			border: 1px solid $border-color-table;
		}
	}

	@include breakpoint( "max-width: #{$container_md}" ) {
		margin: 35px 0;
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		// Tighten up spacing
		table {
			margin: 0;
			table-layout: auto;

			td {
				border: 1px solid $border-color-table;
				white-space: nowrap; // Ensure the content doesn't wrap
			}
		}
	}
}

.responsive-table {
	@extend %resposive-table-styles;
}

// Special overrides for the bordered tables
.table-bordered {
	border: 0;

	// Nuke the appropriate borders so that the parent can handle them
	th,
	td {
		&:first-child {
			border-left: 0;
		}

		&:last-child {
			border-right: 0;
		}
	}

	// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
	// chances are there will be only one `tr` in a `thead` and that would
	// remove the border altogether.
	tbody,
	tfoot {

		tr:last-child {
			th,
			td {
				border-bottom: 0;
			}
		}
	}
}