/* components
----------------------------------------------------------------- */

/* edit link */
.edit-link {
	position: absolute;
	top: 0;
	right: 0;
}

/* message */
.message {
	@include border-radius($borderRadius-message);
	background-color: $color-message-bg;
	border: $border-message;
	border-width: $borderWidth-message;
	border-left-color: $borderLeftColor-message;
	font-size: $fontSize-message;
	padding: $padding-message;
}

/* .responsiveVideo */
.responsiveVideo {
	margin-bottom: 14px;
	padding-bottom: 56.25%;
	padding-top: 45px;
	position: relative;
}
.responsiveVideo div,
.responsiveVideo embed,
.responsiveVideo object,
.responsiveVideo iframe {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}

/* collapsibles (class name requires underscore due to dependency on front-end library) */
h1.bu_collapsible,
h2.bu_collapsible,
h3.bu_collapsible,
h4.bu_collapsible,
h5.bu_collapsible,
h6.bu_collapsible {
	margin-bottom: 0;
}

/* WordPress inline images (use WP standard class names) */
img.alignright {
	float: right;
	margin: 0.0 0 10px 10px;
}
div.alignright {
	float: right;
	margin: 0 0 10px 10px;
	background: $color-grayScale-f;
	width: auto !important;
	padding: 10px;
	max-width: 100%;
}
div.alignright p {
	margin-bottom: 0;
}
div.alignright img {
	margin-bottom: 5px;
}
img.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}
div.alignleft {
	float: left;
	margin: 0 10px 10px 0;
	background: $color-grayScale-f;
	width: auto !important;
	padding: 10px;
	max-width: 100%;
}
div.alignleft p {
	margin-bottom: 0;
}
div.alignleft img {
	margin-bottom: 5px;
}
img.aligncenter {
	display: block;
	margin: 0 auto 10px;
}
div.aligncenter {
	margin: 0 auto;
	background: $color-grayScale-f;
	padding: 10px;
	max-width: 100%;
}
div.aligncenter p {
	margin-bottom: 0;
}
div.aligncenter img {
	margin-bottom: 5px;
}
.wp-caption {
	color: $color-grayScale-9;
	font-size: $fontSize-smaller;
	line-height: 1.4;
	font-family: $fontFamily-sansSerif;
}
.wp-caption p {
	clear: both;
}
.wp-caption img {
	display: block;
	margin-bottom: 10px;
	margin-top: 0;
}

/* slideshows */
.bu-slideshow-container {
	text-align: center;
	margin-bottom: 30px;
	z-index: 1;
}