/* components
----------------------------------------------------------------- */

/* edit link */
.edit-link {
	position: absolute;
	top: 0;
	right: 0;
}

/* back link */
%backlink-styles {
	/* These classes are using %backlink-styles. */
	&:before {
		content: $backLink-before;
		color: $color-backLink-before;
	}
}
.backLink {
	@extend %backlink-styles;
}

/* message */
%message-styles {
	/* These classes are using %message-styles. */
	@include border-radius($borderRadius-message);
	padding: $padding-message;
	border: $border-message;
	border-width: $borderWidth-message;
	border-left-color: $color-message-borderLeft;
	background-color: $color-message-bg;
	font-size: $fontSize-message;
}
.message {
	@extend %message-styles;
}

/* .responsiveVideo */
%responsiveVideo-styles {
	/* These classes are using %responsiveVideo-styles. */
	position: relative;
	padding-top: 45px;
	padding-bottom: 56.25%;
	margin-bottom: 14px;
	div,
	embed,
	object,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}
.responsiveVideo {
	@extend %responsiveVideo-styles;
}


/* collapsibles (class name requires underscore due to dependency on front-end library) */
h1.bu_collapsible,
h2.bu_collapsible,
h3.bu_collapsible,
h4.bu_collapsible,
h5.bu_collapsible,
h6.bu_collapsible {
	margin-bottom: 0;
}

/* WordPress accessibility classes */
/* Hide visually but not from screen readers */
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* WordPress inline align classes (use WP standard class names) */

// A placeholder just for align. Not meant to be extended elsewhere.
%align-styles {
	max-width: 100%;
	margin-bottom: $margin-floatedContent;
	p {
		margin-bottom: 0;
	}
	img {
		margin-bottom: $margin-floatedContent / 2;
	}
	@include breakpoint(xs) {
		max-width: 50%;
	}
}
.alignright {
	@extend %align-styles;
	@include breakpoint(xs) {
		float: right;
		margin: 0.0 0 $margin-floatedContent $margin-floatedContent;
	}
}
.alignleft {
	@extend %align-styles;
	@include breakpoint(xs) {
		float: left;
		margin: 0 $margin-floatedContent $margin-floatedContent 0;
	}
}
.aligncenter {
	display: block;
	margin: 0 auto $margin-floatedContent;
}

.wp-caption,
.wp-caption-text {
	font-family: $fontFamily-caption;
	font-size: $fontSize-caption;
	line-height: 1.4;
	color: $color-caption;
}
.wp-caption p {
	clear: both;
}
.wp-caption img {
	display: block;
	margin-top: 0;
	margin-bottom: 10px;
}

/* slideshows */
.bu-slideshow-container {
	z-index: 1;
	margin-bottom: 30px;
	text-align: center;
}

// Must be a class that wraps around a table to work properly.
%resposive-table-styles {
	/* These classes are using %resposive-table-styles. */
	position: relative;
	table {
		border: 1px solid $borderColor-table;
		td,
		th {
			border: 1px solid $borderColor-table;
		}
	}
	@include breakpoint("max-width: #{$container_MD}") {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		margin: 35px 0;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		// Tighten up spacing
		table {
			margin: 0;
			table-layout: auto;
			// Ensure the content doesn't wrap
			td {
				border: 1px solid $borderColor-table;
				white-space: nowrap;
			}
		}
	}
}

.responsive-table {
	@extend %resposive-table-styles;
}
// Special overrides for the bordered tables
.table-bordered {
	border: 0;
	// Nuke the appropriate borders so that the parent can handle them
	th,
	td {
		&:first-child {
			border-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
	}
	// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
	// chances are there will be only one `tr` in a `thead` and that would
	// remove the border altogether.
	tbody,
	tfoot {
		tr:last-child {
			th,
			td {
				border-bottom: 0;
			}
		}
	}
}