// Theme-specific variables live here


// colors
// -----------------------------------------------------------------

$color-body-bg:                            $color-grayScale-0 !default;
$color-masthead-bg:                        $color-grayScale-f !default;
$color-search-bg:                          $color-grayScale-1 !default;
$color-search-text:                        $color-grayScale-f !default;
$color-searchLight-bg:                     $color-grayScale-f !default;
$color-searchLight-text:                   $color-base !default;
$color-nav-dropdown-bg:                    $color-grayScale-0 !default;
$color-nav-border:                         $color-grayScale-3 !default;
$color-nav-link:                           $color-grayScale-7 !default;
$color-nav-link-hover:                     $color-grayScale-f !default;
$color-utilityNav-link:                    $color-grayScale-7 !default;
$color-utilityNav-link-hover:              $color-grayScale-0 !default;
$color-bannerContainer:                    $color-grayScale-f0 !default;
$color-contentWrapper-bg:                  $color-grayScale-f !default;
$color-news-metaEm:                        $color-grayScale-7 !default;
$color-news-metaBefore:                    $color-grayScale-a !default;
$color-single-meta-bg:                     $color-grayScale-f0 !default;
$color-widgetTitle:                        $color-grayScale-0 !default;
$color-widget-calendarDate:                $color-grayScale-0 !default;
$color-widget-calendarDateDay:             $color-grayScale-0 !default;
$color-widget-calendarDateMonth:           $color-grayScale-0 !default;
$color-widget-contentnav:                  $color-link !default;
$color-widget-contentnav-hover:            $color-link !default;
$color-widget-contentnav-active:           $color-link-active !default;
$color-widget-postMeta:                    $color-grayScale-a;
$color-footbar-bg:                         $color-grayScale-f5 !default;
$color-footbar-border:                     $color-grayScale-c !default;
$color-siteFooter-bg:                      $color-grayScale-0 !default;
$color-comments:                           $color-base !default;
$color-comment-reply:                      $color-grayScale-a !default;
$color-comment-author:                     $color-grayScale-a !default;
$color-comment-authorName:                 $color-grayScale-0 !default;
$color-commentForm-bg:                     $color-grayScale-f5 !default;


// typography & vertical whitespace
// -----------------------------------------------------------------

// font-size
$fontSize-news-meta:                       $fontSize-smaller !default;
$fontSize-single-meta:                     $fontSize-small !default;
$fontSize-widget:                          $fontSize-small !default;
$fontSize-widgetTitle:                     $fontSize-medium !default;
$fontSize-widget-contentnav-link:          $fontSize-medium !default;
$fontSize-widget-contentnav-nestedLink:    $fontSize-medium !default;
$fontSize-widget-postHeadline:             $fontSize-medium !default;
$fontSize-widget-postExcerpt:              $fontSize-medium !default;
$fontSize-widget-postDate:                 $fontSize-smaller !default;
$fontSize-widget-postMeta:                 $fontSize-smaller !default;
$fontSize-widget-calendarDate:             $fontSize-smaller !default;
$fontSize-widget-calendarDateDay:          $fontSize-large !default;
$fontSize-widget-calendarDateMonth:        $fontSize-smaller !default;

// line-height
$lineHeight-widgetTitle:                   $lineHeight-large !default;
$lineHeight-widget-postHeadline:           1.4 !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$lineHeight-widget-calendarDate:           $lineHeight-large !default;


// font-family
$fontFamily-serif:                         "TiemposText", Georgia, serif !default;
$fontFamily-sansSerif:                     "Benton", sans-serif !default;
$fontFamily-navigation:                    $fontFamily-sansSerif !default;
$fontFamily-news-meta:                     $fontFamily-sansSerif !default;
$fontFamily-widgetTitle:                   $fontFamily-sansSerif !default;
$fontFamily-widget-contentnav:             $fontFamily-sansSerif !default;
$fontFamily-widget-calendar-date:          $fontFamily-sansSerif !default;
$fontFamily-comment:                       $fontFamily-sansSerif !default;

// margin/padding
$comment-margin:                           15px 0 !default;
$comment-padding:                          15px 0 0 !default;


// borders
// -----------------------------------------------------------------

$border-masthead:                          1px solid $color-grayScale-c !default;
$borderWidth-masthead:                     0 0 1px 0 !default;
$border-news-post:                         1px solid $color-grayScale-d;
$borderWidth-news-post:                    1px 0 0 0;
$border-single-meta:                       1px solid $color-grayScale-d;
$borderWidth-single-meta:                  1px 1px 1px 6px;
$borderLeftColor-single-meta:              $color-grayScale-0;
$border-widgetTitle:                       4px solid $color-grayScale-0 !default;
$borderWidth-widgetTitle:                  0 0 4px 0 !default;
$border-widgetList:                        1px solid $color-grayScale-c !default;
$borderWidth-widgetList:                   1px 0 0 0 !default;
$border-widget-contentnav:                 1px solid $color-grayScale-c !default;
$borderWidth-widget-contentnav:            1px 0 !default;
$border-comment:                           1px solid $color-grayScale-c !default;
$borderWidth-comment:                      1px 0 0 0 !default;
$border-commentForm:                       1px solid $color-grayScale-e !default;
$borderWidth-commentForm:                  3px !default;










