// Theme-specific variables live here


// colors
// -----------------------------------------------------------------

$color-body-bg:                            $color-grayScale-0 !default;
$color-masthead-bg:                        $color-grayScale-f !default;
$color-brand:                              $color-grayScale-0 !default;
$color-search-bg:                          $color-grayScale-f5 !default;
$color-search-text:                        $color-grayScale-0 !default;
$color-navToggle-sideNav:                  $color-grayScale-9 !default;
$color-navToggle-sideNav-hover:            $color-grayScale-0 !default;
$color-nav-dropdown-bg:                    $color-grayScale-0 !default;
$color-nav-border:                         $color-grayScale-3 !default;
$color-nav-link:                           $color-grayScale-9 !default;
$color-nav-link-hover:                     $color-grayScale-f !default;
$color-nav-link-current:                   $color-grayScale-f !default;
$color-navToggle:                          $color-grayScale-f !default;
$color-navToggle-hover:                    $color-grayScale-f !default;
$color-utilityNav-link:                    $color-grayScale-7 !default;
$color-utilityNav-link-hover:              $color-grayScale-0 !default;
$color-bannerContainer:                    $color-grayScale-f0 !default;
$color-content-bg:                         $color-grayScale-f !default;
$color-message-bg:                         $color-grayScale-f0 !default;
$color-news-metaEm:                        $color-grayScale-7 !default;
$color-news-metaBefore:                    $color-grayScale-a !default;
$color-single-meta-bg:                     $color-grayScale-f0 !default;
$color-calendar-headingDateRange:          $color-grayScale-9 !default;
$color-calendar-eventLink:                 $color-link !default;
$color-calendar-eventLink-hover:           $color-link !default;
$color-calendarSingle-label:               $color-grayScale-9 !default;
$color-calendarMonth-caption:              $color-grayScale-7 !default;
$color-calendarMonth-th-bg:                $color-grayScale-e !default;
$color-calendarMonth-th:                   $color-grayScale-0 !default;
$color-calendarMonth-cellLink:             $color-link !default;
$color-calendarMonth-cellLink-hover:       $color-link !default;
$color-calendarMonth-cellLinkOut-bg:       $color-grayScale-f5 !default;
$color-calendarMonth-cellLinkOut:          $color-grayScale-9 !default;
$color-calendarMonth-cellLinkToday-bg:     $color-grayScale-e !default;
$color-calendarMonth-cellLinkToday:        $color-grayScale-0 !default;
$color-profile-name:                       $color-link !default;
$color-profile-title:                      $color-base !default;
$color-widgetTitle:                        $color-grayScale-0 !default;
$color-widget-calendarDate:                $color-grayScale-0 !default;
$color-widget-calendarDateDay:             $color-grayScale-0 !default;
$color-widget-calendarDateMonth:           $color-grayScale-0 !default;
$color-widget-contentnav:                  $color-link !default;
$color-widget-contentnav-hover:            $color-link !default;
$color-widget-contentnav-active:           $color-link-active !default;
$color-widget-postMeta:                    $color-grayScale-a !default;
$color-footbar-bg:                         $color-grayScale-f5 !default;
$color-footbar-border:                     $color-grayScale-c !default;
$color-siteFooter-bg:                      $color-grayScale-0 !default;
$color-comments:                           $color-base !default;
$color-comment-reply:                      $color-grayScale-a !default;
$color-comment-author:                     $color-grayScale-a !default;
$color-comment-authorName:                 $color-grayScale-0 !default;
$color-commentForm-bg:                     $color-grayScale-f5 !default;


// typography & vertical whitespace
// -----------------------------------------------------------------

// font-size
$fontSize-navigation:                      $fontSize-small !default;
$fontSize-utilityNav:                      $fontSize-smaller !default;
$fontSize-message:                         $fontSize-small !default;
$fontSize-news-meta:                       $fontSize-smaller !default;
$fontSize-single-meta:                     $fontSize-small !default;
$fontSize-calendar-topic:                  $fontSize-large !default;
$fontSize-calendar-eventDate:              $fontSize-medium !default;
$fontSize-calendarMonth-caption:           $fontSize-medium !default;
$fontSize-widget:                          $fontSize-small !default;
$fontSize-widgetTitle:                     $fontSize-small !default;
$fontSize-widget-contentnav-link:          $fontSize-small !default;
$fontSize-widget-contentnav-nestedLink:    $fontSize-small !default;
$fontSize-widget-postHeadline:             $fontSize-small !default;
$fontSize-widget-postExcerpt:              $fontSize-small !default;
$fontSize-widget-postDate:                 $fontSize-smallest !default;
$fontSize-widget-postMeta:                 $fontSize-smallest !default;
$fontSize-widget-calendarDate:             $fontSize-smallest !default;
$fontSize-widget-calendarDateDay:          $fontSize-large !default;
$fontSize-widget-calendarDateMonth:        $fontSize-smallest !default;
$fontSize-profile-name:                    $fontSize-medium !default;
$fontSize-profile-title:                   $fontSize-small !default;
$fontSize-profile-mini-name:               $fontSize-small !default;
$fontSize-profile-mini-email:              $fontSize-smaller !default;

// line-height
$lineHeight-widgetTitle:                   $lineHeight-large !default;
$lineHeight-widget-postHeadline:           1.4 !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$lineHeight-widget-calendarDate:           $lineHeight-large !default;
$lineHeight-profile-mini-email:            $lineHeight-medium !default;


// font-family
$fontFamily-base:                          "Benton", sans-serif !default;
$fontFamily-serif:                         "TiemposText", Georgia, serif !default;
$fontFamily-sansSerif:                     "Benton", sans-serif !default;
$fontFamily-brand:                         "Whitney SSm A", "Whitney SSm B" !default;
$fontFamily-brand-sponsored:               $fontFamily-brand !default;
$fontFamily-brand-unbranded:               $fontFamily-sansSerif !default;
$fontFamily-navigation:                    $fontFamily-sansSerif !default;
$fontFamily-news-meta:                     $fontFamily-sansSerif !default;
$fontFamily-calendarMonth-caption:         $fontFamily-sansSerif !default;
$fontFamily-calendarMonth-cell:            $fontFamily-sansSerif !default;
$fontFamily-singleEvent-label:             $fontFamily-sansSerif !default;
$fontFamily-widgetTitle:                   $fontFamily-sansSerif !default;
$fontFamily-widget-contentnav:             $fontFamily-sansSerif !default;
$fontFamily-widget-calendar-date:          $fontFamily-sansSerif !default;
$fontFamily-comment:                       $fontFamily-sansSerif !default;
$fontFamily-profile-name:                  $fontFamily-sansSerif !default;
$fontFamily-profile-title:                 $fontFamily-base !default;

//font-weight
$fontWeight-calendar-label:                700;

// margin/padding
$column-paddingBottom:                     10px !default;
$column-paddingBottom-largeScreen:         35px !default;
$sidebar-padding:                          0 0 35px 60px !default;
$comment-margin:                           15px 0 !default;
$comment-padding:                          15px 0 0 !default;
$padding-message:                          20px !default;
$padding-single-meta:                      20px !default;
$padding-monthCalendar-cell:               4px !default;
$widget-marginBottom:                      40px !default;
$footbar-paddingBottom:                    20px !default;


// borders
// -----------------------------------------------------------------

$border-masthead:                          1px solid $color-grayScale-d !default;
$border-message:                           1px solid $color-grayScale-d;
$borderWidth-message:                      1px 1px 1px 5px !default;
$borderLeftColor-message:                  $color-grayScale-0 !default;
$borderRadius-message:                     3px !default;
$borderWidth-masthead:                     0 0 1px 0 !default;
$border-search:                            0 !default;
$border-news-post:                         1px solid $color-grayScale-d !default;
$borderWidth-news-post:                    1px 0 0 0 !default;
$border-single-meta:                       $border-message !default;
$borderWidth-single-meta:                  $borderWidth-message !default;
$borderLeftColor-single-meta:              $borderLeftColor-message !default;
$borderRadius-single-meta:                 $borderRadius-message !default;
$border-widgetTitle:                       4px solid $color-grayScale-0 !default;
$borderWidth-widgetTitle:                  0 0 4px 0 !default;
$border-widgetList:                        1px solid $color-grayScale-c !default;
$borderWidth-widgetList:                   1px 0 0 0 !default;
$border-widget-contentnav:                 1px solid $color-grayScale-c !default;
$borderWidth-widget-contentnav:            1px 0 !default;
$border-comment:                           1px solid $color-grayScale-c !default;
$borderWidth-comment:                      1px 0 0 0 !default;
$border-commentForm:                       1px solid $color-grayScale-e !default;
$borderWidth-commentForm:                  3px !default;
$borderColor-collapsible-after:            $color-grayScale-c !default;
$borderColor-collapsible-after-hover:      $color-link !default;
$border-profiles:                          1px solid $color-grayScale-c !default;
$borderRadius-profile-figure:              50%;
$borderColor-profile-mini:                 $color-grayScale-e !default;


// images
// -----------------------------------------------------------------
$image-masterPlate:         "http://www.bu.edu/cdn/images/logos/masterplate112x50.png" !default;
$image-masterPlate-retina:  "http://www.bu.edu/cdn/images/logos/masterplate112x50-retina.png" !default;
$image-subBrand:            "http://www.bu.edu/cdn/images/logos/subbrand49x35.png" !default;
$image-subBrand-retina:     "http://www.bu.edu/cdn/images/logos/subbrand49x35-retina.png" !default;
$image-searchToggle-sprite: "images/search.png" !default;

