// list the variables that are specific to the theme as a service such as customizer options

// colors
$color-body-bg:                            $color-grayScale-0 !default;
$color-masthead-bg:                        $color-grayScale-f !default;
$color-branding:                           $color-grayScale-0 !default;
$color-search-bg:                          $color-grayScale-1 !default;
$color-search-text:                        $color-base !default;
$color-searchLight-bg:                     $color-grayScale-f !default;
$color-searchLight-text:                   $color-base !default;
$color-nav-dropdown-bg:                    $color-grayScale-0 !default;
$color-nav-border:                         $color-grayScale-3 !default;
$color-nav-link:                           $color-grayScale-7 !default;
$color-nav-link-hover:                     $color-grayScale-f !default;
$color-utilityNav-link:                    $color-grayScale-7 !default;
$color-utilityNav-link-hover:              $color-grayScale-0 !default;
$color-bannerContainer:                    $color-grayScale-f0 !default;
$color-contentWrapper-bg:                  $color-grayScale-f !default;
$color-widget-calendarDate:                $color-grayScale-0 !default;
$color-widget-calendarDateDay:             $color-grayScale-0 !default;
$color-widget-calendarDateMonth:           $color-grayScale-0 !default;
$color-widget-contentnav:                  $color-link !default;
$color-widget-contentnav-hover:            $color-link !default;
$color-widget-contentnav-active:           $color-link-active !default;
$color-footbar-bg:                         $color-grayScale-f5 !default;
$color-footbar-border:                     $color-grayScale-c !default;
$color-siteFooter-bg:                      $color-grayScale-0 !default;

// widgets

$border-widgetTitle:                       4px solid $color-grayScale-0 !default;
$borderWidth-widgetTitle:                  0 0 4px 0 !default;

$border-widgetList:                        1px solid $color-grayScale-c !default;
$borderWidth-widgetList:                   1px 0 0 0 !default;

$border-widget-contentnav:                 1px solid $color-grayScale-c !default;
$borderWidth-widget-contentnav:            1px 0 !default;

// navigation

// fonts

$fontSize-widgetTitle:                     $fontSize-medium !default;
$fontSize-widget-contentnav-link:          $fontSize-medium !default;
$fontSize-widget-contentnav-nestedLink:    $fontSize-medium !default;
$fontSize-widget-postHeadline:             $fontSize-medium !default;
$fontSize-widget-postExcerpt:              $fontSize-medium !default;
$fontSize-widget-postDate:                 $fontSize-smallest !default;
$fontSize-widget-postMeta:                 $fontSize-smallest !default;
$fontSize-widget-calendarDate:             $fontSize-smallest !default;
$fontSize-widget-calendarDateDay:          $fontSize-large !default;
$fontSize-widget-calendarDateMonth:        $fontSize-smaller !default;

$lineHeight-widgetTitle:                   $lineHeight-large !default;
$lineHeight-widget-postHeadline:           $lineHeight-medium !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$lineHeight-widget-calendarDate:           $lineHeight-jumbo !default;

$fontFamily-widgetTitle:                   $fontFamily-large !default;


