 // -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Global
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Color and Typography

$color-body-bg:                            $color-grayScale-0 !default;
$font-family-base:                          "Benton", sans-serif !default;
$font-family-serif:                         "TiemposText", Georgia, serif !default;
$font-family-sans-serif:                     "Benton", "Helvetica", sans-serif !default;
$font-family-brand:                         "Whitney SSm A", "Whitney SSm B", $font-family-sans-serif !default;
$color-icons:										 unset;

// Grid

$number-columns: 									 3 !default;
$margin-width: 			  					    5.2% !default;
$number-widgets-footbar: 						 $number-columns !default;
$width-side-nav:                            240px !default;
$sidebar-padding:                          ($margin-width - $margin-width*(1/($number-widgets-footbar))) !default;
$column-padding-bottom:                     10px !default;
$column-padding-bottom-large-screen:         35px !default;

// Borders

$border-base:										 1px solid $color-grayScale-d !default;
$border-top:										 1px 0 0 0;
$border-bottom:									 0 0 1px 0;

// Message

$border-message:                           $border-base !default;
$border-width-message:                      1px 1px 1px 5px !default;
$border-radius-message:                     3px !default;
$padding-message:                          20px !default;
$font-size-message:                         $font-size-small !default;
$color-message-bg:                         $color-grayScale-f0 !default;
$color-message-border-left:                 $color-grayScale-0 !default;

// Wordpress WYSIWYG

$margin-floated-content: 						 10px !default;
$font-family-caption:                       $font-family-sans-serif !default;
$font-size-caption:                         $font-size-smaller !default;
$color-caption:                            $color-grayScale-9 !default;
$border-color-table:                        $color-grayScale-d !default;
$border-color-table-dark:                   $color-grayScale-9 !default;
$box-shadow-table:                          inset -20px 0px 20px -10px $color-grayScale-f0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Masthead and Brand

$border-masthead:                          $border-base !default;
$border-width-masthead:                     $border-bottom !default;
$color-masthead-bg:                        $color-grayScale-f !default;
$font-family-brand-sponsored:               $font-family-brand !default;
$font-family-brand-unbranded:               $font-family-sans-serif !default;
$height-brand:                             120px !default;
$color-brand:                              $color-grayScale-0 !default;
$color-unbranded:                            #cc0000;

// Primary Navigation

$border-width-primary-nav:                   $border-top !default;
$border-primary-nav-desktop: 					 none !default;
$color-primary-nav-border:                  $color-grayScale-3 !default;
$font-family-navigation:                    $font-family-sans-serif !default;
$font-size-navigation:                      $font-size-small !default;
$color-primary-nav-bg:                      $color-grayScale-0 !default;
$color-primary-nav-dropdown-bg:             $color-grayScale-0 !default;
$color-primary-nav-link:                    $color-grayScale-f !default;
$color-primary-nav-link-hover:              $color-grayScale-a !default;
$color-primary-nav-link-current:            $color-grayScale-9 !default;
$color-primary-nav-dropdown-link:           $color-primary-nav-link !default;
$color-primary-nav-dropdown-link-hover:     $color-primary-nav-link-hover !default;

// Utility Navigation

$border-width-utility-nav:                   $border-top !default;
$font-size-utility-nav:                      $font-size-smaller !default;
$color-utility-nav-link:                    $color-grayScale-7 !default;
$color-utility-nav-link-hover:              $color-grayScale-0 !default;
$color-utility-nav-in-primary-link:       $color-grayScale-a !default;
$color-utility-nav-in-primary-link-hover: $color-grayScale-f !default;

// Navigation and Search Toggles

$color-nav-toggle:                          $color-grayScale-f !default;
$color-nav-toggle-hover:                    $color-grayScale-a !default;
$color-nav-toggle-alt:                      $color-grayScale-9 !default;
$color-nav-toggle-alt-hover:                $color-grayScale-0 !default;

// Search

$border-width-quicksearch:                  $border-top !default;
$color-quicksearch-border:                 $color-grayScale-d !default;
$border-radius-quicksearch-input:           20px 0 0 20px !default;
$border-radius-quicksearch-button:          0 20px 20px 0 !default;
$border-search:                            0 !default;
$color-search-bg:                          $color-grayScale-f5 !default;
$color-search-text:                        $color-grayScale-0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content and Templates
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// All content and templates

$color-bannerContainer:                    $color-grayScale-f0 !default;
$color-content-bg:                         $color-grayScale-f !default;
$color-back-link-before:                    $color-grayScale-f !default;
$back-link-before:                          "← " !default;

// Calendar Template: Event List

$font-size-calendar-topic:                  $font-size-large !default;
$color-calendar-heading-date-range:          $color-grayScale-9 !default;
$font-size-calendar-event-date:              $font-size-medium !default;
$color-calendar-event-link:                 $color-link !default;
$color-calendar-event-link-hover:           $color-link !default;

// Calendar Template: Sidebar

$font-family-calendar-month-caption:         $font-family-sans-serif !default;
$font-size-calendar-month-caption:           $font-size-medium !default;
$color-calendar-month-caption:              $color-grayScale-7 !default;
$color-calendar-month-th-bg:                $color-grayScale-e !default;
$color-calendar-month-th:                   $color-grayScale-0 !default;
$padding-calendar-month-cell:               4px !default;
$font-family-calendar-month-cell:            $font-family-sans-serif !default;
$color-calendar-month-link:             $color-link !default;
$color-calendar-month-link-hover:       $color-link !default;
$color-calendar-month-link-out-bg:       $color-grayScale-f5 !default;
$color-calendar-month-link-out:          $color-grayScale-9 !default;
$color-calendar-month-link-today-bg:     $color-grayScale-e !default;
$color-calendar-month-link-today:        $color-grayScale-0 !default;

// Calendar Template: Single

$font-family-single-event-label:             $font-family-sans-serif !default;
$font-weight-calendar-label:                700 !default;
$color-single-event-label:               $color-grayScale-9 !default;

// Profiles Template: List

$border-profiles:                          $border-base !default;
$border-radius-profile-figure:              50% !default;
$font-family-profile-name:                  $font-family-sans-serif !default;
$font-size-profile-name:                    $font-size-medium !default;
$color-profile-name:                       $color-link !default;
$font-family-profile-title:                 $font-family-base !default;
$font-size-profile-title:                   $font-size-small !default;
$color-profile-title:                      $color-base !default;
$color-profile-info-label:                 $color-grayScale-a !default;

// Profiles Template: List Mini

$color-profile-mini-border:                $color-grayScale-e !default;
$font-size-profile-mini-name:               $font-size-small !default;
$font-size-profile-mini-email:              $font-size-smaller !default;
$line-height-profile-mini-email:            $line-height-medium !default;


$font-size-single-meta:                     $font-size-small !default;

// News and Archive Template: Listing

$border-news-post:                         $border-base !default;
$border-width-news-post:                    $border-top !default;

$font-family-news-meta:                     $font-family-sans-serif !default;
$font-size-news-meta:                       $font-size-smaller !default;
$color-news-meta-em:                        $color-grayScale-7 !default;
$color-news-meta-before:                    $color-grayScale-a !default;

// News and Archive Template: Single

$padding-single-meta:                      20px !default;
$border-single-meta:                       $border-message !default;
$border-width-single-meta:                  $border-width-message !default;
$border-radius-single-meta:                 $border-radius-message !default;
$color-single-meta-bg:                     $color-grayScale-f0 !default;
$color-single-meta-border-left:             $color-message-border-left !default;

$comment-margin:                           15px 0 !default;
$comment-padding:                          0 0 0 30px !default;
$border-comment:                           $border-base !default;
$border-width-comment:                      $border-top !default;
$border-comment-form:                       1px solid $color-grayScale-e !default;
$border-width-comment-form:                  3px !default;
$font-family-comment:                       $font-family-sans-serif !default;
$color-comments:                           $color-base !default;
$color-comment-reply:                      $color-grayScale-a !default;
$color-comment-author:                     $color-grayScale-a !default;
$color-comment-author-name:                 $color-grayScale-0 !default;
$color-comment-form-bg:                     $color-grayScale-f5 !default;

// Plugins and Shortcodes

$color-collapsible-after-border:           $color-grayScale-c !default;
$color-collapsible-after-border-hover:     $color-link !default;

/// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Widgets
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// All Widgets

$widget-margin-bottom:                      40px !default;
$font-size-widget:                          $font-size-small !default;
$line-height-widget:								 $line-height-base !default;

$font-family-widget-heading:                $font-family-sans-serif !default;
$font-family-widget-title:                   $font-family-sans-serif !default;
$border-widget-title:                       4px solid $color-grayScale-0 !default;
$border-width-widget-title:                  0 0 4px 0 !default;
$font-size-widget-title:                     $font-size-small !default;
$line-height-widget-title:                   $line-height-large !default;
$color-widget-title:                        $color-grayScale-0 !default;
$widget-title-link-after:                   " →" !default;
$color-widget-title-link-after:             $color-grayScale-a !default;
$color-widget-title-link-after-hover:       $color-grayScale-0 !default;

$color-widget-link:                        $color-link !default;
$color-widget-link-hover:                  $color-link !default;

// Calendar Widget

$font-family-widget-calendar-date:          $font-family-sans-serif !default;
$font-size-widget-calendar-date:             $font-size-smallest !default;
$line-height-widget-calendar-date:           $line-height-large !default;
$color-widget-calendar-date:                $color-grayScale-0 !default;
$font-size-widget-calendar-dateDay:          $font-size-large !default;
$color-widget-calendar-dateDay:             $color-widget-calendar-date !default;
$font-size-widget-calendar-dateMonth:        $font-size-smallest !default;
$color-widget-calendar-dateMonth:           $color-widget-calendar-date !default;

// Navigation and Menu Widgets

$border-widget-contentnav:                 $border-base !default;
$border-width-widget-contentnav:            $border-bottom !default;
$border-widget-list:                        $border-base !default;
$border-width-widget-list:                   $border-top !default;
$font-family-widget-contentnav:             $font-family-sans-serif !default;
$font-size-widget-contentnav-link:          $font-size-small !default;
$font-size-widget-contentnav-nested-link:    $font-size-small !default;
$color-widget-contentnav:                  $color-link !default;
$color-widget-contentnav-hover:            $color-link !default;
$color-widget-contentnav-active:           $color-link-active !default;

// BU Posts Widget

$font-size-widget-post-headline:             $font-size-small !default;
$line-height-widget-post-headline:           1.4 !default;
$font-size-widget-post-excerpt:              $font-size-small !default;
$line-height-widget-post-excerpt:            $line-height-medium !default;
$font-size-widget-post-date:                 $font-size-smallest !default;
$font-size-widget-post-meta:                 $font-size-smallest !default;
$color-widget-post-meta:                    $color-grayScale-a !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Footer
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$footbar-padding-bottom:                    20px !default;
$color-footbar-bg:                         $color-grayScale-f5 !default;
$color-footbar-border:                     $color-grayScale-c !default;
$border-footbar:                           1px solid $color-footbar-border !default;
$border-width-footbar:                      $border-top !default;
$color-footbar-container-bg:               $color-footbar-bg !default;
$color-footbar-widget-link:                $color-link !default;
$color-footbar-widget-link-hover:          $color-link !default;

$padding-site-footer:                       40px 20px 5px !default;
$color-site-footer-bg:                      $color-grayScale-0 !default;
$color-site-footer:								 $color-grayScale-f !default;
$color-site-footer-link:							 $color-grayScale-8 !default;
$color-site-footer-link-hover:					 $color-grayScale-f !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Miscellaneous
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$image-masterplate:         "https://www.bu.edu/cdn/images/logos/masterplate112x50.png" !default;
$image-masterplate-retina:  "https://www.bu.edu/cdn/images/logos/masterplate112x50-retina.png" !default;
$image-subbrand:            "https://www.bu.edu/cdn/images/logos/subbrand49x35.png" !default;
$image-subbrand-retina:     "https://www.bu.edu/cdn/images/logos/subbrand49x35-retina.png" !default;
$image-bumclogo:         "https://www.bu.edu/cdn/images/logos/bumclogo96x40.png" !default;
$image-bumclogo-retina:  "https://www.bu.edu/cdn/images/logos/bumclogo96x40-retina.png" !default;
