 // -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Global
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Color and Typography

$color-body-bg:                            $color-grayScale-0 !default;
$font-family-base:                          "Benton", sans-serif !default;
$font-family-serif:                         "TiemposText", Georgia, serif !default;
$font-family-sans-serif:                     "Benton", "Helvetica", sans-serif !default;
$font-family-brand:                         "Whitney SSm A", "Whitney SSm B", $font-family-sans-serif !default;
$color-icons:										 unset;

// Grid

$number-columns: 									 3 !default;
$margin-width: 			  					    5.2% !default;
$number-widgets-footbar: 						 $number-columns !default;
$width-side-nav:                            240px !default;
$sidebar-padding:                          ($margin-width - $margin-width*(1/($number-widgets-footbar))) !default;
$column-padding-bottom:                     10px !default;
$column-padding-bottom-large-screen:         35px !default;

// Borders

$border-base:										 1px solid $color-grayScale-d !default;
$border-top:										 1px 0 0 0;
$border-bottom:									 0 0 1px 0;

// Message

$border-message:                           $border-base !default;
$border-width-message:                      1px 1px 1px 5px !default;
$border-radius-message:                     3px !default;
$padding-message:                          20px !default;
$font-size-message:                         $font-size-small !default;
$color-message-bg:                         $color-grayScale-f0 !default;
$color-message-border-left:                 $color-grayScale-0 !default;

// Wordpress WYSIWYG

$margin-floated-content: 						 10px !default;
$font-family-caption:                       $font-family-sans-serif !default;
$font-size-caption:                         $font-size-smaller !default;
$color-caption:                            $color-grayScale-9 !default;
$border-color-table:                        $color-grayScale-d !default;
$border-color-table-dark:                   $color-grayScale-9 !default;
$boxShadow-table:                          inset -20px 0px 20px -10px $color-grayScale-f0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Masthead and Brand

$border-masthead:                          $border-base !default;
$borderWidth-masthead:                     $border-bottom !default;
$color-masthead-bg:                        $color-grayScale-f !default;
$font-family-brand-sponsored:               $font-family-brand !default;
$font-family-brand-unbranded:               $font-family-sans-serif !default;
$height-brand:                             120px !default;
$color-brand:                              $color-grayScale-0 !default;
$color-unbranded:                            #cc0000;

// Primary Navigation

$borderWidth-primaryNav:                   $border-top !default;
$border-primaryNav-desktop: 					 none !default;
$color-primaryNav-border:                  $color-grayScale-3 !default;
$font-family-navigation:                    $font-family-sans-serif !default;
$font-size-navigation:                      $font-size-small !default;
$color-primaryNav-bg:                      $color-grayScale-0 !default;
$color-primaryNav-dropdown-bg:             $color-grayScale-0 !default;
$color-primaryNav-link:                    $color-grayScale-f !default;
$color-primaryNav-link-hover:              $color-grayScale-a !default;
$color-primaryNav-link-current:            $color-grayScale-9 !default;
$color-primaryNav-dropdown-link:           $color-primaryNav-link !default;
$color-primaryNav-dropdown-link-hover:     $color-primaryNav-link-hover !default;

// Utility Navigation

$borderWidth-utilityNav:                   $border-top !default;
$font-size-utilityNav:                      $font-size-smaller !default;
$color-utilityNav-link:                    $color-grayScale-7 !default;
$color-utilityNav-link-hover:              $color-grayScale-0 !default;
$color-utilityNav-inPrimaryNav-link:       $color-grayScale-a !default;
$color-utilityNav-inPrimaryNav-link-hover: $color-grayScale-f !default;

// Navigation and Search Toggles

$color-navToggle:                          $color-grayScale-f !default;
$color-navToggle-hover:                    $color-grayScale-a !default;
$color-navToggle-alt:                      $color-grayScale-9 !default;
$color-navToggle-alt-hover:                $color-grayScale-0 !default;

// Search

$borderWidth-quicksearch:                  $border-top !default;
$color-quicksearch-border:                 $color-grayScale-d !default;
$borderRadius-quicksearch-input:           20px 0 0 20px !default;
$borderRadius-quicksearch-button:          0 20px 20px 0 !default;
$border-search:                            0 !default;
$color-search-bg:                          $color-grayScale-f5 !default;
$color-search-text:                        $color-grayScale-0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content and Templates
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// All content and templates

$color-bannerContainer:                    $color-grayScale-f0 !default;
$color-content-bg:                         $color-grayScale-f !default;
$color-backLink-before:                    $color-grayScale-f !default;
$backLink-before:                          "← " !default;

// Calendar Template: Event List

$font-size-calendar-topic:                  $font-size-large !default;
$color-calendar-headingDateRange:          $color-grayScale-9 !default;
$font-size-calendar-eventDate:              $font-size-medium !default;
$color-calendar-eventLink:                 $color-link !default;
$color-calendar-eventLink-hover:           $color-link !default;

// Calendar Template: Sidebar

$font-family-calendarMonth-caption:         $font-family-sans-serif !default;
$font-size-calendarMonth-caption:           $font-size-medium !default;
$color-calendarMonth-caption:              $color-grayScale-7 !default;
$color-calendarMonth-th-bg:                $color-grayScale-e !default;
$color-calendarMonth-th:                   $color-grayScale-0 !default;
$padding-monthCalendar-cell:               4px !default;
$font-family-calendarMonth-cell:            $font-family-sans-serif !default;
$color-calendarMonth-cellLink:             $color-link !default;
$color-calendarMonth-cellLink-hover:       $color-link !default;
$color-calendarMonth-cellLinkOut-bg:       $color-grayScale-f5 !default;
$color-calendarMonth-cellLinkOut:          $color-grayScale-9 !default;
$color-calendarMonth-cellLinkToday-bg:     $color-grayScale-e !default;
$color-calendarMonth-cellLinkToday:        $color-grayScale-0 !default;

// Calendar Template: Single

$font-family-singleEvent-label:             $font-family-sans-serif !default;
$fontWeight-calendar-label:                700 !default;
$color-calendarSingle-label:               $color-grayScale-9 !default;

// Profiles Template: List

$border-profiles:                          $border-base !default;
$borderRadius-profile-figure:              50% !default;
$font-family-profile-name:                  $font-family-sans-serif !default;
$font-size-profile-name:                    $font-size-medium !default;
$color-profile-name:                       $color-link !default;
$font-family-profile-title:                 $font-family-base !default;
$font-size-profile-title:                   $font-size-small !default;
$color-profile-title:                      $color-base !default;
$color-profile-info-label:                 $color-grayScale-a !default;

// Profiles Template: List Mini

$color-profile-mini-border:                $color-grayScale-e !default;
$font-size-profile-mini-name:               $font-size-small !default;
$font-size-profile-mini-email:              $font-size-smaller !default;
$lineHeight-profile-mini-email:            $lineHeight-medium !default;


$font-size-single-meta:                     $font-size-small !default;

// News and Archive Template: Listing

$border-news-post:                         $border-base !default;
$borderWidth-news-post:                    $border-top !default;

$font-family-news-meta:                     $font-family-sans-serif !default;
$font-size-news-meta:                       $font-size-smaller !default;
$color-news-metaEm:                        $color-grayScale-7 !default;
$color-news-metaBefore:                    $color-grayScale-a !default;

// News and Archive Template: Single

$padding-single-meta:                      20px !default;
$border-single-meta:                       $border-message !default;
$borderWidth-single-meta:                  $border-width-message !default;
$borderRadius-single-meta:                 $border-radius-message !default;
$color-single-meta-bg:                     $color-grayScale-f0 !default;
$color-single-meta-borderLeft:             $color-message-border-left !default;

$comment-margin:                           15px 0 !default;
$comment-padding:                          0 0 0 30px !default;
$border-comment:                           $border-base !default;
$borderWidth-comment:                      $border-top !default;
$border-commentForm:                       1px solid $color-grayScale-e !default;
$borderWidth-commentForm:                  3px !default;
$font-family-comment:                       $font-family-sans-serif !default;
$color-comments:                           $color-base !default;
$color-comment-reply:                      $color-grayScale-a !default;
$color-comment-author:                     $color-grayScale-a !default;
$color-comment-authorName:                 $color-grayScale-0 !default;
$color-commentForm-bg:                     $color-grayScale-f5 !default;

// Plugins and Shortcodes

$color-collapsible-after-border:           $color-grayScale-c !default;
$color-collapsible-after-border-hover:     $color-link !default;

/// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Widgets
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// All Widgets

$widget-marginBottom:                      40px !default;
$font-size-widget:                          $font-size-small !default;
$lineHeight-widget:								 $lineHeight-base !default;

$font-family-widget-heading:                $font-family-sans-serif !default;
$font-family-widgetTitle:                   $font-family-sans-serif !default;
$border-widgetTitle:                       4px solid $color-grayScale-0 !default;
$borderWidth-widgetTitle:                  0 0 4px 0 !default;
$font-size-widgetTitle:                     $font-size-small !default;
$lineHeight-widgetTitle:                   $lineHeight-large !default;
$color-widgetTitle:                        $color-grayScale-0 !default;
$widgetTitle-link-after:                   " →" !default;
$color-widgetTitle-link-after:             $color-grayScale-a !default;
$color-widgetTitle-link-after-hover:       $color-grayScale-0 !default;

$color-widget-link:                        $color-link !default;
$color-widget-link-hover:                  $color-link !default;

// Calendar Widget

$font-family-widget-calendar-date:          $font-family-sans-serif !default;
$font-size-widget-calendarDate:             $font-size-smallest !default;
$lineHeight-widget-calendarDate:           $lineHeight-large !default;
$color-widget-calendarDate:                $color-grayScale-0 !default;
$font-size-widget-calendarDateDay:          $font-size-large !default;
$color-widget-calendarDateDay:             $color-widget-calendarDate !default;
$font-size-widget-calendarDateMonth:        $font-size-smallest !default;
$color-widget-calendarDateMonth:           $color-widget-calendarDate !default;

// Navigation and Menu Widgets

$border-widget-contentnav:                 $border-base !default;
$borderWidth-widget-contentnav:            $border-bottom !default;
$border-widgetList:                        $border-base !default;
$borderWidth-widgetList:                   $border-top !default;
$font-family-widget-contentnav:             $font-family-sans-serif !default;
$font-size-widget-contentnav-link:          $font-size-small !default;
$font-size-widget-contentnav-nestedLink:    $font-size-small !default;
$color-widget-contentnav:                  $color-link !default;
$color-widget-contentnav-hover:            $color-link !default;
$color-widget-contentnav-active:           $color-link-active !default;

// BU Posts Widget

$font-size-widget-postHeadline:             $font-size-small !default;
$lineHeight-widget-postHeadline:           1.4 !default;
$font-size-widget-postExcerpt:              $font-size-small !default;
$lineHeight-widget-postExcerpt:            $lineHeight-medium !default;
$font-size-widget-postDate:                 $font-size-smallest !default;
$font-size-widget-postMeta:                 $font-size-smallest !default;
$color-widget-postMeta:                    $color-grayScale-a !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Footer
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$footbar-paddingBottom:                    20px !default;
$color-footbar-bg:                         $color-grayScale-f5 !default;
$color-footbar-border:                     $color-grayScale-c !default;
$border-footbar:                           1px solid $color-footbar-border !default;
$borderWidth-footbar:                      $border-top !default;
$color-footbar-container-bg:               $color-footbar-bg !default;
$color-footbar-widget-link:                $color-link !default;
$color-footbar-widget-link-hover:          $color-link !default;

$padding-siteFooter:                       40px 20px 5px !default;
$color-siteFooter-bg:                      $color-grayScale-0 !default;
$color-siteFooter:								 $color-grayScale-f !default;
$color-siteFooter-link:							 $color-grayScale-8 !default;
$color-siteFooter-link-hover:					 $color-grayScale-f !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Miscellaneous
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$image-masterPlate:         "https://www.bu.edu/cdn/images/logos/masterplate112x50.png" !default;
$image-masterPlate-retina:  "https://www.bu.edu/cdn/images/logos/masterplate112x50-retina.png" !default;
$image-subBrand:            "https://www.bu.edu/cdn/images/logos/subbrand49x35.png" !default;
$image-subBrand-retina:     "https://www.bu.edu/cdn/images/logos/subbrand49x35-retina.png" !default;
$image-searchToggle-sprite: "images/search.png" !default;
$image-bumcLogo:         "https://www.bu.edu/cdn/images/logos/bumclogo96x40.png" !default;
$image-bumcLogo-retina:  "https://www.bu.edu/cdn/images/logos/bumclogo96x40-retina.png" !default;
