/* widget */
.widget {
	margin-bottom: 35px;
}
.footbar-container .widget {
	@extend .col-md-4;

	@include breakpoint(medium) {
		padding: 0 20px;
	}
}
.widgetTitle {
	font-size: $fontSize-widgetTitle;
	line-height: $lineHeight-widgetTitle;
	font-family: $fontFamily-widgetTitle;
	border: $border-widgetTitle;
	border-width: $borderWidth-widgetTitle;
	padding: 0 0 4px 0;
}
.widget ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/* BU Posts */
.widget-bu-posts {
	
}
.widget-bu-posts .post {
	@include clearfix;
	margin-bottom: 25px;
	
	&:last-child {
		//border-bottom: none;
		margin-bottom: 0;
	}
}
.widget-bu-posts .headline {
	font-size: $fontSize-widget-postHeadline;
	line-height: $lineHeight-widget-postHeadline;
	margin: 0;
}
.widget-bu-posts .excerpt {
	font-size: $fontSize-widget-postExcerpt;
	line-height: $lineHeight-widget-postExcerpt;
	margin: 5px 0 0;
}
.widget-bu-posts .thumb {
	display: block;
	float: left;
	margin: 5px 15px 15px 0;
	max-width: 45%;
}
.widget-bu-posts .published {
	font-size: $fontSize-widget-postDate;
}
.widget-bu-posts .meta {
	font-size: $fontSize-widget-postMeta;
	margin: 5px 0 0;
}
.widget-bu-posts .comment-counter {
	// margin-left: 4px;
	// padding-left: 8px;
}

/* content nav */
#contentnav h3 {
	margin-bottom: 0;
}
#contentnav ul {
	margin: 25px 0 0;
	border: $border-widget-contentnav;
	border-width: $borderWidth-widget-contentnav;
}
#contentnav h3 + ul {
	margin-top: 0;
	border-width: 0 0 1px;
}
#contentnav li {
	border: $border-widgetList;
	border-width: $borderWidth-widgetList;

	&:first-child {
		border: none;
	}
}
#contentnav li a {
	display: block;
	padding: 10px 0;
	font-size: $fontSize-widget-contentnavA;
	color: $color-widget-contentnav;
}
#contentnav li a:hover,
#contentnav li a:focus {
	color: $color-widget-contentnavHover;
	text-decoration: none;
}
#contentnav li ul {
	margin: 0;
}
#contentnav li ul li {
	border: none;
	padding: 0 0 0 20px;
}
#contentnav li li a {
	font-size: $fontSize-widget-contentnavAA;
}

/* calendar */
.widget-bu-calendar {

}
.widget-bu-calendar .default .date {
	font-weight: 700;
	color: $color-widget-calendarDate;
	position: absolute;
	top: 0;
	left: 0;
}
.widget-bu-calendar .default a .date {
	color: $color-grayScale-0;
}
.widget-bu-calendar .default li {
	border: $border-widgetList;
	border-width: $borderWidth-widgetList;
	margin-top: 10px;
	padding-top: 10px;
	
	&:first-child {
		border: none;
		padding: 0;
	}
}
.widget-bu-calendar .default a {
	position: relative;
	padding-left: 60px;
	display: block;
}

/* calendar: full-date */
.widget-bu-calendar .full-date .date {
	display: block;
	font-size: $fontSize-widget-calendarDate;
}
.widget-bu-calendar .full-date li {
	border: $border-widgetList;
	border-width: $borderWidth-widgetList;
	padding: 10px 0;

	&:first-child {
		border: none;
		padding: 0 0 10px;
	}
}

/* calendar: graphic */
.widget-bu-calendar .graphic li {
	padding-top: 10px;

	&:first-child {
		padding-top: 0;
	}
}
.widget-bu-calendar .graphic a {
	position: relative;
	padding-left: 60px;
	display: block;
	min-height: 48px;
}
.widget-bu-calendar .graphic .date {
	text-align: center;
	width: 48px;
	position: absolute;
	top: 0;
	left: 0;
}
.widget-bu-calendar .graphic .day {
	display: block;
	font-size: $fontSize-widget-calendarDateDay;
	line-height: $lineHeight-widget-calendarDate;
	font-weight: 700;
	color: $color-widget-calendarDateDay;
}
.widget-bu-calendar .graphic .month {
	text-transform: uppercase;
	font-size: $fontSize-widget-calendarDateMonth;
	line-height: $lineHeight-widget-calendarDate;
	color: $color-widget-calendarDateMonth;
}