/* widget contents:

	1. Basic Widgets
	2. BU Posts
	3. Content Nav
	4. Calendar

----------------------------------------------------------------- */

/* Basic Widgets
----------------------------------------------------------------- */

.widget {
	margin-bottom: $widget-marginBottom;
	font-size: $fontSize-widget;
	line-height: $lineHeight-widget;
}
.widget a {
	color: $color-widget-link;
	&:hover,
	&:focus {
		color: $color-widget-link-hover;
	}
}
.footbar a {
	color: $color-footbar-widget-link;
	&:hover,
	&:focus {
		color: $color-footbar-widget-link-hover;
	}
}
.widgetTitle {
	padding: 0 0 4px 0;
	border: $border-widgetTitle;
	border-width: $borderWidth-widgetTitle;
	font-family: $fontFamily-widgetTitle;
	font-size: $fontSize-widgetTitle;
	line-height: $lineHeight-widgetTitle;
	color: $color-widgetTitle;
}
.widgetTitle a {
	color: $color-widgetTitle;
	text-decoration: none;
	&:after {
		content: $widgetTitle-link-after;
		color: $color-widgetTitle-link-after;
	}
}
.widgetTitle a:hover {
	&:after {
		color: $color-widgetTitle-link-after-hover;
	}
}
.widget ul {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
}
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: $fontFamily-widget-heading;
}

/* BU Posts
----------------------------------------------------------------- */


.widget-bu-posts .post {
	margin-bottom: 25px;
	@extend %clearfix;
	&:last-child {
		//border-bottom: none;
		margin-bottom: 0;
	}
}
.widget-bu-posts .headline {
	margin: 0;
	font-size: $fontSize-widget-postHeadline;
	line-height: $lineHeight-widget-postHeadline;
}
.widget-bu-posts .excerpt {
	margin: 4px 0 0;
	font-size: $fontSize-widget-postExcerpt;
	line-height: $lineHeight-widget-postExcerpt;
}
.widget-bu-posts .thumb {
	display: block;
	float: left;
	max-width: 45%;
	margin: 5px 15px 15px 0;
}
.widget-bu-posts .published {
	font-size: $fontSize-widget-postDate;
}
.widget-bu-posts .meta {
	margin: 0;
	font-size: $fontSize-widget-postMeta;
	color: $color-widget-postMeta;
}


/* Content Nav
----------------------------------------------------------------- */

.widget_bu_pages,
.widget_nav_menu {
	h3 {
		margin-bottom: 0;
	}
	ul {
		border: $border-widget-contentnav;
		border-width: $borderWidth-widget-contentnav;
		ul {
			margin: 0;
			border: none;
		}
	}
	li {
		border: $border-widgetList;
		border-width: $borderWidth-widgetList;
		font-family: $fontFamily-widget-contentnav;
		&:first-child {
			border: none;
		}
		li {
			padding: 0 0 0 20px;
			border: none;
			a {
				font-size: $fontSize-widget-contentnav-nestedLink;
			}
		}
		a {
			display: block;
			padding: 10px 0;
			font-size: $fontSize-widget-contentnav-link;
			color: $color-widget-contentnav;

			&:hover,
			&:focus {
				color: $color-widget-contentnav-hover;
				text-decoration: none;
			}
		}
	}
}

.widget_bu_pages .active,
.widget_nav_menu .current_page_item a {
	color: $color-widget-contentnav-active;
}

/* Calendar
----------------------------------------------------------------- */

$width-calendarDate: 48px;

// A placeholder meant only for calendar.
%calendar-absolutePositionDate {
	.date {
		position: absolute;
		top: 0;
		left: 0;
		width: $width-calendarDate;
	}
	a {
		position: relative;
		display: block;
		padding-left: 60px;
	}
}

.widget-bu-calendar {
	/* calendar: shared */
	.date {
		display: block;
		font-family: $fontFamily-widget-calendar-date;
		color: $color-widget-calendarDate;
		font-weight: 700;
	}
	li {
		padding: 10px 0;
		border: $border-widgetList;
		border-width: $borderWidth-widgetList;
		&:first-child {
			padding: 0 0 10px;
			border: none;
		}
	}

	/* calendar: default */
	.default {
		@extend %calendar-absolutePositionDate;
	}

	/* calendar: full-date */
	.full-date {
		.date {
			font-size: $fontSize-widget-calendarDate;
		}
	}

	/* calendar: graphic */
	.graphic {
		@extend %calendar-absolutePositionDate;

		a {
			min-height: $width-calendarDate;
		}
		.date {
			text-align: center;
			line-height: $lineHeight-widget-calendarDate;
		}
		.day {
			display: block;
			font-size: $fontSize-widget-calendarDateDay;
			color: $color-widget-calendarDateDay;
		}
		.month {
			font-size: $fontSize-widget-calendarDateMonth;
			color: $color-widget-calendarDateMonth;
			text-transform: uppercase;
		}
	}
}