// =================================================================
// Widgets
// =================================================================

// TODO: Needs cleanup

// Widget contents:

//	1. Basic Widgets
//	2. BU Posts
//	3. Content Nav
//	4. Calendar

// -----------------------------------------------------------------

// Basic Widgets
// -----------------------------------------------------------------

/// Handles global widget styling.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget {
	font-size: $font-size-widget;
	line-height: $line-height-widget;
	margin-bottom: $widget-margin-bottom;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-family-widget-heading;
	}

	a {
		color: $color-widget-link;

		&:hover,
		&:focus {
			color: $color-widget-link-hover;
		}
	}

	ul {
		list-style: none;
		list-style-image: none;
		margin: 0;
		padding: 0;
	}
}

/// Handles styling for widgets in the footer.
/// @group widgets
/// @access public
/// @since 1.0.0

.footbar {
	a {
		color: $color-footbar-widget-link;

		&:hover,
		&:focus {
			color: $color-footbar-widget-link-hover;
		}
	}
}

/// Handles title styles for all widgets.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-title {
	border: $border-widget-title;
	border-width: $border-width-widget-title;
	color: $color-widget-title;
	font-family: $font-family-widget-title;
	font-size: $font-size-widget-title;
	line-height: $line-height-widget-title;
	padding: 0 0 4px;

	a {
		color: $color-widget-title;
		text-decoration: none;

		&::after {
			color: $color-widget-title-link-after;
			content: $widget-title-link-after;
		}

		&:hover::after {
			color: $color-widget-title-link-after-hover;
		}
	}
}

// BU Posts
// -----------------------------------------------------------------

/// Handles styling for the BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-bu-posts {

	.published {
		font-size: $font-size-widget-post-date;
	}
}

/// Handles styling for posts in the BU Posts widget (news widget).
/// We put the margin on top because the markup displayed when "random"
/// is selected (specifically, the script and noscript tags it outputs)
/// means that we can't rely on first- or last-child. But by putting a
/// reasonable margin-top on instead, we can take advantage of margin
/// collapsing with the title margin and avoid the issue altogether.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-post {
	@extend %clearfix;
	margin-top: 15px;
}

/// Handles styling for the post headline in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-post-headline {
	font-size: $font-size-widget-post-headline;
	line-height: $line-height-widget-post-headline;
	margin: 0;
}

/// Handles styling for metadata in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-post-meta {
	color: $color-widget-post-meta;
	font-size: $font-size-widget-post-meta;
	margin: 0;
}

/// Handles styling for the excerpt in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-post-excerpt {
	font-size: $font-size-widget-post-excerpt;
	line-height: $line-height-widget-post-excerpt;
	margin: 4px 0 0;
}

/// Handles styling for the thumbnail in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-post-thumbnail {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

// Content Nav
// -----------------------------------------------------------------

/// Handles styling for content navigation widgets (BU Pages and Content Navigation, aka side nav).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget_bu_pages,
.widget_nav_menu {
	h3 {
		margin-bottom: 0;
	}

	ul {
		border: $border-widget-contentnav;
		border-width: $border-width-widget-contentnav;

		ul {
			border: 0;
			margin: 0;
		}

	}

	li {
		border: $border-widget-list;
		border-width: $border-width-widget-list;
		font-family: $font-family-widget-contentnav;

		&:first-child {
			border: 0;
		}

		li {
			border: 0;
			padding: 0 0 0 20px;

			a {
				font-size: $font-size-widget-contentnav-nested-link;
			}
		}

		a {
			color: $color-widget-contentnav;
			display: block;
			font-size: $font-size-widget-contentnav-link;
			padding: 10px 0;

			&:hover,
			&:focus {
				color: $color-widget-contentnav-hover;
				text-decoration: none;
			}
		}
	}

	.active,
	.current_page_item a {
		color: $color-widget-contentnav-active;
	}
}

// Calendar
// -----------------------------------------------------------------

/// A helper variable for %_calendar-absolute-position-date.
/// Sets the width of the calendar date.
/// @group widgets
/// @access private
/// @since 1.2.0
/// @see %_calendar-absolute-position-date

$_width-calendar-date: 48px;

/// A placeholder meant only for calendar.
/// This placeholder positions the date absolutely in calendar widgets.
/// @group widgets
/// @access private
/// @since 1.2.0

%_calendar-absolute-position-date {
	.date {
		left: 0;
		position: absolute;
		top: 0;
		width: $_width-calendar-date;
	}

	a {
		display: block;
		padding-left: 60px;
		position: relative;
	}
}

/// Styles the BU Calendar widgets.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-bu-calendar {
	// calendar: shared
	.date {
		color: $color-widget-calendar-date;
		display: block;
		font-family: $font-family-widget-calendar-date;
		font-weight: 700;
	}

	li {
		border: $border-widget-list;
		border-width: $border-width-widget-list;
		padding: 10px 0;

		&:first-child {
			border: 0;
			padding: 0 0 10px;
		}
	}

	// calendar: default
	.default {
		@extend %_calendar-absolute-position-date;
	}

	// calendar: full-date
	.full-date {
		.date {
			font-size: $font-size-widget-calendar-date;
		}
	}

	// calendar: graphic
	.graphic {
		@extend %_calendar-absolute-position-date;

		a {
			min-height: $_width-calendar-date;
		}

		.date {
			line-height: $line-height-widget-calendar-date;
			text-align: center;
		}

		.day {
			color: $color-widget-calendar-date-day;
			display: block;
			font-size: $font-size-widget-calendar-date-day;
		}

		.month {
			color: $color-widget-calendar-date-month;
			font-size: $font-size-widget-calendar-date-month;
			text-transform: uppercase;
		}
	}
}
