/* widget contents:

	1. Basic Widgets
	2. BU Posts
	3. Content Nav
	4. Calendar

----------------------------------------------------------------- */

/* Basic Widgets
----------------------------------------------------------------- */

.widget {
	margin-bottom: $widget-marginBottom;
	font-size: $fontSize-widget;
}
.widgetTitle {
	padding: 0 0 4px 0;
	border: $border-widgetTitle;
	border-width: $borderWidth-widgetTitle;
	font-family: $fontFamily-widgetTitle;
	font-size: $fontSize-widgetTitle;
	line-height: $lineHeight-widgetTitle;
	color: $color-widgetTitle;
}
.widgetTitle a {
	color: $color-widgetTitle;
	text-decoration: none;
	&:after {
		content: $widgetTitle-link-after;
		color: $color-widgetTitle-link-after;
	}
}
.widgetTitle a:hover {
	&:after {
		color: $color-widgetTitle-link-after-hover;
	}
}
.widget a {
	color: $color-widget-link;
	&:hover,
	&:focus {
		color: $color-widget-link-hover;
	}
}
.footbar .widget a {
	color: $color-footbar-widget-link;
	&:hover,
	&:focus {
		color: $color-footbar-widget-link-hover;
	}
}
.widget ul {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
}
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: $fontFamily-widget-heading;
}

/* BU Posts
----------------------------------------------------------------- */


.widget-bu-posts .post {
	margin-bottom: 25px;
	@extend %clearfix;
	&:last-child {
		//border-bottom: none;
		margin-bottom: 0;
	}
}
.widget-bu-posts .headline {
	margin: 0;
	font-size: $fontSize-widget-postHeadline;
	line-height: $lineHeight-widget-postHeadline;
}
.widget-bu-posts .excerpt {
	margin: 4px 0 0;
	font-size: $fontSize-widget-postExcerpt;
	line-height: $lineHeight-widget-postExcerpt;
}
.widget-bu-posts .thumb {
	display: block;
	float: left;
	max-width: 45%;
	margin: 5px 15px 15px 0;
}
.widget-bu-posts .published {
	font-size: $fontSize-widget-postDate;
}
.widget-bu-posts .meta {
	margin: 0;
	font-size: $fontSize-widget-postMeta;
	color: $color-widget-postMeta;
}


/* Content Nav
----------------------------------------------------------------- */

#contentnav h3,
.widget_nav_menu h3 {
	margin-bottom: 0;
}
#contentnav ul,
.widget_nav_menu ul {
	border: $border-widget-contentnav;
	border-width: $borderWidth-widget-contentnav;
}
#contentnav h3 + ul,
.widget_nav_menu h3 + ul {
	border-width: 0 0 1px;
}
#contentnav li,
.widget_nav_menu li {
	border: $border-widgetList;
	border-width: $borderWidth-widgetList;
	font-family: $fontFamily-widget-contentnav;
	&:first-child {
		border: none;
	}
}
#contentnav li a,
.widget_nav_menu li a {
	display: block;
	padding: 10px 0;
	font-size: $fontSize-widget-contentnav-link;
	color: $color-widget-contentnav;
}
#contentnav li a:hover,
#contentnav li a:focus,
.widget_nav_menu li a:hover,
.widget_nav_menu li a:focus {
	color: $color-widget-contentnav-hover;
	text-decoration: none;
}
#contentnav .current_page_item a,
.widget_nav_menu .current_page_item a {
	color: $color-widget-contentnav-active;
}
#contentnav .current_page_item li a,
.widget_nav_menu .current_page_item li a {
	color: $color-widget-contentnav;
}
#contentnav li ul,
.widget_nav_menu li ul {
	margin: 0;
	border: none;
}
#contentnav li ul li,
.widget_nav_menu li ul li {
	padding: 0 0 0 20px;
	border: none;
}
#contentnav li li a,
.widget_nav_menu li li a {
	font-size: $fontSize-widget-contentnav-nestedLink;
}

/* Calendar
----------------------------------------------------------------- */


.widget-bu-calendar .date {
	font-family: $fontFamily-widget-calendar-date;
}
.widget-bu-calendar .default .date {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 700;
	color: $color-widget-calendarDate;
}
.widget-bu-calendar .default li {
	padding-top: 10px;
	margin-top: 10px;
	border: $border-widgetList;
	border-width: $borderWidth-widgetList;
	&:first-child {
		padding: 0;
		border: none;
	}
}
.widget-bu-calendar .default a {
	position: relative;
	display: block;
	padding-left: 60px;
}

/* calendar: full-date */
.widget-bu-calendar .full-date .date {
	display: block;
	font-size: $fontSize-widget-calendarDate;
}
.widget-bu-calendar .full-date li {
	padding: 10px 0;
	border: $border-widgetList;
	border-width: $borderWidth-widgetList;
	&:first-child {
		padding: 0 0 10px;
		border: none;
	}
}

/* calendar: graphic */
.widget-bu-calendar .graphic li {
	padding-top: 10px;
	&:first-child {
		padding-top: 0;
	}
}
.widget-bu-calendar .graphic a {
	position: relative;
	display: block;
	min-height: 48px;
	padding-left: 60px;
}
.widget-bu-calendar .graphic .date {
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	text-align: center;
}
.widget-bu-calendar .graphic .day {
	display: block;
	font-weight: 700;
	font-size: $fontSize-widget-calendarDateDay;
	line-height: $lineHeight-widget-calendarDate;
	color: $color-widget-calendarDateDay;
}
.widget-bu-calendar .graphic .month {
	font-size: $fontSize-widget-calendarDateMonth;
	line-height: $lineHeight-widget-calendarDate;
	color: $color-widget-calendarDateMonth;
	text-transform: uppercase;
}