// =================================================================
// Widgets
// =================================================================

// TODO: Needs cleanup

// Widget contents:

//	1. Basic Widgets
//	2. BU Posts
//	3. Content Nav
//	4. Calendar

// -----------------------------------------------------------------

// Basic Widgets
// -----------------------------------------------------------------

/// Handles global widget styling.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget {
	font-size: $font-size-widget;
	line-height: $line-height-widget;
	margin-bottom: $widget-margin-bottom;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-family-widget-heading;
	}

	a {
		color: $color-widget-link;

		&:hover,
		&:focus {
			color: $color-widget-link-hover;
		}
	}

	ul {
		list-style: none;
		list-style-image: none;
	}
}

/// Handles styling for widgets in the footer.
/// @group widgets
/// @access public
/// @since 1.0.0

.footbar {
	a {
		color: $color-footbar-widget-link;

		&:hover,
		&:focus {
			color: $color-footbar-widget-link-hover;
		}
	}
}

/// Handles title styles for all widgets.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-title {
	border: $border-widget-title;
	border-width: $border-width-widget-title;
	color: $color-widget-title;
	font-family: $font-family-widget-title;
	font-size: $font-size-widget-title;
	line-height: $line-height-widget-title;
	padding: 0 0 4px;

	a {
		color: inherit;
		text-decoration: none;

		&::after {
			color: $color-widget-title-link-after;
			content: $widget-title-link-after;
		}

		&:hover::after {
			color: $color-widget-title-link-after-hover;
		}
	}
}

// BU Posts
// -----------------------------------------------------------------

/// Handles styling for posts in the BU Posts widget (news widget).
/// We put the margin on top because the markup displayed when "random"
/// is selected (specifically, the script and noscript tags it outputs)
/// means that we can't rely on first- or last-child. But by putting a
/// reasonable margin-top on instead, we can take advantage of margin
/// collapsing with the title margin and avoid the issue altogether.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-post {
	@extend %clearfix;
	margin-top: 15px;
}

/// Handles styling for the post headline in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-post-headline {
	font-size: $font-size-widget-post-headline;
	line-height: $line-height-widget-post-headline;
	margin: 0;
}

/// Handles styling for the published date in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-posts-published {
	font-size: $font-size-widget-post-date;
}

/// Handles styling for metadata in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-post-meta {
	color: $color-widget-post-meta;
	font-size: $font-size-widget-post-meta;
	margin: 0;
}

/// Handles styling for the excerpt in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-post-excerpt {
	font-size: $font-size-widget-post-excerpt;
	line-height: $line-height-widget-post-excerpt;
	margin: 4px 0 0;
}

/// Handles styling for the thumbnail in the
/// BU Posts widget (news widget).
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-post-thumbnail {
	margin-bottom: 10px;
}

/// Handles styling for the thumbnail in the
/// BU Posts widget (news widget) in the title and date format.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-post-thumbnail-title-date {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

// Content Nav
// -----------------------------------------------------------------

/// Handles styling for content navigation widgets (BU Pages and Content Navigation, aka side nav).
/// @group widgets
/// @access public
/// @since 1.0.0

.widget_bu_pages,
.widget_nav_menu {
	h3 {
		margin-bottom: 0;
	}

	ul {
		border: $border-widget-contentnav;
		border-width: $border-width-widget-contentnav;
		padding: 0;

		ul {
			border: 0;
			margin: 0;
		}

	}

	li {
		border: $border-widget-list;
		border-width: $border-width-widget-list;
		font-family: $font-family-widget-contentnav;

		&:first-child {
			border: 0;
		}

		li {
			border: 0;
			padding: 0 0 0 20px;

			a {
				font-size: $font-size-widget-contentnav-nested-link;
			}
		}

		a {
			color: $color-widget-contentnav;
			display: block;
			font-size: $font-size-widget-contentnav-link;
			padding: 10px 0;

			&:hover,
			&:focus {
				color: $color-widget-contentnav-hover;
				text-decoration: none;
			}
		}
	}

	.active,
	.current_page_item a {
		color: $color-widget-contentnav-active;
	}
}

// Calendar
// -----------------------------------------------------------------

/// A helper variable for absolute positioning in formats which use it.
/// Sets the width of the calendar date.
/// By default, affects the default and graphic formats.
/// @group widgets
/// @access private
/// @since 1.2.0

$_width-calendar-date: 48px;

/// Styles events in the calendar widget. Affects all formats.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-event {
	border: $border-widget-list;
	border-width: $border-width-widget-list;
	padding: 10px 0;

	&:first-child {
		border: 0;
		padding: 0 0 10px;
	}
}

/// Styles links in the calendar widget. Affects all formats.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-link {
	display: block;
}

/// Styles dates in the calendar widget. Affects all formats.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-date {
	color: $color-widget-calendar-date;
	display: block;
	font-family: $font-family-widget-calendar-date;
	font-weight: 700;
}

/// Styles an event in the calendar widget default format.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-event-default {
	position: relative;
}

/// Styles dates in the calendar widget default format.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-date-default {
	left: 0;
	position: absolute;
	top: auto;
	width: $_width-calendar-date;
}

/// Styles titles in the calendar widget default format.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-title-default {
	display: block;
	padding-left: $_width-calendar-date + 12;
	position: relative;
}

/// Styles dates in the calendar widget full date format.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calednar-date-fulldate {
	font-size: $font-size-widget-calendar-date;
}

.widget-calendar-event-graphic {
	min-height: $_width-calendar-date;
	position: relative;
}

/// Styles links in the calendar widget graphic format.
/// @group widgets
/// @access public
/// @since 2.0.0

.widget-calendar-link-graphic {
	display: table;
	text-decoration: none;
}

.widget-calendar-date-graphic {
	display: table-cell;
	width: $_width-calendar-date;
	line-height: $line-height-widget-calendar-date;
	text-align: center;
}

.widget-calendar-day-graphic {
	color: $color-widget-calendar-date-day;
	display: block;
	font-size: $font-size-widget-calendar-date-day;
}

.widget-calendar-month-graphic {
	color: $color-widget-calendar-date-month;
	font-size: $font-size-widget-calendar-date-month;
	text-transform: uppercase;
}

.widget-calendar-title-graphic {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
	text-decoration: underline;
}

.widgetnav,
.widget_archive ul,
.widget_categories ul { // maybe not though, there are nested categories
	padding: 0;
	margin: 0;
}

/// Styles the BU Calendar list page date picker.
/// @group calendar
/// @access public
/// @since 2.0.0

.widget-calendar-picker {
	color: $color-calendar-month-link;

	.month {
		width: 100%;
	}

	caption {
		color: $color-calendar-month-caption;
		font-family: $font-family-calendar-month-caption;
		font-size: $font-size-calendar-month-caption;
		font-style: normal;
	}

	th,
	td {
		font-family: $font-family-calendar-month-cell;
		padding: $padding-calendar-month-cell;
		text-align: center;
		width: 14.285714285%;
	}

	th {
		background: $color-calendar-month-th-bg;
		color: $color-calendar-month-th;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&::focus {
			color: $color-calendar-month-link-hover;
		}
	}

	.out {
		background: $color-calendar-month-link-out-bg;
		color: $color-calendar-month-link-out;
	}

	.today {
		background: $color-calendar-month-link-today-bg;
		color: $color-calendar-month-link-today;
	}
}

/// Styles the BU Calendar list page topics widget.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-topics {
	padding: 0;

	ul {
		padding-left: 20px;
	}
}

/// Styles the blog list in the blogroll widget.
/// @group calendar
/// @access public
/// @since 2.0.0

.blogroll {
	padding: 0;
}