// Backwards Compatibility: burf-base _grid.scss
// For Responsive Foundation 1.0.4 and below

// BEFORE INCLUDING THIS FILE:
// Please ensure all @extend issues are resolved in your theme, as this file will mask them.
// You will need to include this file before your burf-base and burf-theme includes.

// These classes help ease the transition from CSS classes to SASS placeholder classes in Responsive.
// Use these classes if you have content in Wordpress which relies on grid classes (.col-xs-1, etc)
// @extends within your theme should be changed from CSS classes to their SASS placeholder equivalent.
// Use the following in your theme's variables file to turn on push, pull, offset, and margin as necessary:

// $grid-push
// $grid-pull
// $grid-offset
// $grid-margins

// For best performance, include only the grid classes your theme needs to use.

/* variables
----------------------------------------------------------------- */

// This partial requires these variable values, but you may still override them as usual by including
// a variables file before this file in your own theme.

$grid-breakpoints:                         "sm", "md", "lg" !default;
$grid-margins:                             false !default;
$grid-push:                                true !default;
$grid-pull:                                true !default;
$grid-offset:                              true !default;

/* grid
----------------------------------------------------------------- */

/* default (mobile) */

.col-xs-1 {
	@extend %col-1;
}
.col-xs-2 {
	@extend %col-2;
}
.col-xs-3 {
	@extend %col-3;
}
.col-xs-4 {
	@extend %col-4;
}
.col-xs-5 {
	@extend %col-5;
}
.col-xs-6 {
	@extend %col-6;
}
.col-xs-7 {
	@extend %col-7;
}
.col-xs-8 {
	@extend %col-8;
}
.col-xs-9 {
	@extend %col-9;
}
.col-xs-10 {
	@extend %col-10;
}
.col-xs-11 {
	@extend %col-11;
}
.col-xs-12 {
	@extend %col-12;
}

/* small screens */

.col-sm-1 {
	@extend %col-sm-1;
}
.col-sm-2 {
	@extend %col-sm-2;
}
.col-sm-3 {
	@extend %col-sm-3;
}
.col-sm-4 {
	@extend %col-sm-4;
}
.col-sm-5 {
	@extend %col-sm-5;
}
.col-sm-6 {
	@extend %col-sm-6;
}
.col-sm-7 {
	@extend %col-sm-7;
}
.col-sm-8 {
	@extend %col-sm-8;
}
.col-sm-9 {
	@extend %col-sm-9;
}
.col-sm-10 {
	@extend %col-sm-10;
}
.col-sm-11 {
	@extend %col-sm-11;
}
.col-sm-12 {
	@extend %col-sm-12;
}

/* medium screens */

.col-md-1 {
	@extend %col-md-1;
}
.col-md-2 {
	@extend %col-md-2;
}
.col-md-3 {
	@extend %col-md-3;
}
.col-md-4 {
	@extend %col-md-4;
}
.col-md-5 {
	@extend %col-md-5;
}
.col-md-6 {
	@extend %col-md-6;
}
.col-md-7 {
	@extend %col-md-7;
}
.col-md-8 {
	@extend %col-md-8;
}
.col-md-9 {
	@extend %col-md-9;
}
.col-md-10 {
	@extend %col-md-10;
}
.col-md-11 {
	@extend %col-md-11;
}
.col-md-12 {
	@extend %col-md-12;
}

/* large screens */

.col-lg-1 {
	@extend %col-lg-1;
}
.col-lg-2 {
	@extend %col-lg-2;
}
.col-lg-3 {
	@extend %col-lg-3;
}
.col-lg-4 {
	@extend %col-lg-4;
}
.col-lg-5 {
	@extend %col-lg-5;
}
.col-lg-6 {
	@extend %col-lg-6;
}
.col-lg-7 {
	@extend %col-lg-7;
}
.col-lg-8 {
	@extend %col-lg-8;
}
.col-lg-9 {
	@extend %col-lg-9;
}
.col-lg-10 {
	@extend %col-lg-10;
}
.col-lg-11 {
	@extend %col-lg-11;
}
.col-lg-12 {
	@extend %col-lg-12;
}

@if $grid-push {
	/* push - small */
	.col-sm-push-1 {
		@extend %col-sm-push-1;
	}
	.col-sm-push-2 {
		@extend %col-sm-push-2;
	}
	.col-sm-push-3 {
		@extend %col-sm-push-3;
	}
	.col-sm-push-4 {
		@extend %col-sm-push-4;
	}
	.col-sm-push-5 {
		@extend %col-sm-push-5;
	}
	.col-sm-push-6 {
		@extend %col-sm-push-6;
	}
	.col-sm-push-7 {
		@extend %col-sm-push-7;
	}
	.col-sm-push-8 {
		@extend %col-sm-push-8;
	}
	.col-sm-push-9 {
		@extend %col-sm-push-9;
	}
	.col-sm-push-10 {
		@extend %col-sm-push-10;
	}
	.col-sm-push-11 {
		@extend %col-sm-push-11;
	}

	/* push - medium */
	.col-md-push-1 {
		@extend %col-md-push-1;
	}
	.col-md-push-2 {
		@extend %col-md-push-2;
	}
	.col-md-push-3 {
		@extend %col-md-push-3;
	}
	.col-md-push-4 {
		@extend %col-md-push-4;
	}
	.col-md-push-5 {
		@extend %col-md-push-5;
	}
	.col-md-push-6 {
		@extend %col-md-push-6;
	}
	.col-md-push-7 {
		@extend %col-md-push-7;
	}
	.col-md-push-8 {
		@extend %col-md-push-8;
	}
	.col-md-push-9 {
		@extend %col-md-push-9;
	}
	.col-md-push-10 {
		@extend %col-md-push-10;
	}
	.col-md-push-11 {
		@extend %col-md-push-11;
	}

	/* push - large */
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-push-1 {
		@extend %col-lg-push-1;
	}
	.col-lg-push-2 {
		@extend %col-lg-push-2;
	}
	.col-lg-push-3 {
		@extend %col-lg-push-3;
	}
	.col-lg-push-4 {
		@extend %col-lg-push-4;
	}
	.col-lg-push-5 {
		@extend %col-lg-push-5;
	}
	.col-lg-push-6 {
		@extend %col-lg-push-6;
	}
	.col-lg-push-7 {
		@extend %col-lg-push-7;
	}
	.col-lg-push-8 {
		@extend %col-lg-push-8;
	}
	.col-lg-push-9 {
		@extend %col-lg-push-9;
	}
	.col-lg-push-10 {
		@extend %col-lg-push-10;
	}
	.col-lg-push-11 {
		@extend %col-lg-push-11;
	}
}

@if $grid-pull {
	/* pull - small */
	.col-sm-pull-1 {
		@extend %col-sm-pull-1;
	}
	.col-sm-pull-2 {
		@extend %col-sm-pull-2;
	}
	.col-sm-pull-3 {
		@extend %col-sm-pull-3;
	}
	.col-sm-pull-4 {
		@extend %col-sm-pull-4;
	}
	.col-sm-pull-5 {
		@extend %col-sm-pull-5;
	}
	.col-sm-pull-6 {
		@extend %col-sm-pull-6;
	}
	.col-sm-pull-7 {
		@extend %col-sm-pull-7;
	}
	.col-sm-pull-8 {
		@extend %col-sm-pull-8;
	}
	.col-sm-pull-9 {
		@extend %col-sm-pull-9;
	}
	.col-sm-pull-10 {
		@extend %col-sm-pull-10;
	}
	.col-sm-pull-11 {
		@extend %col-sm-pull-11;
	}

	/* pull - medium */
	.col-md-pull-1 {
		@extend %col-md-pull-1;
	}
	.col-md-pull-2 {
		@extend %col-md-pull-2;
	}
	.col-md-pull-3 {
		@extend %col-md-pull-3;
	}
	.col-md-pull-4 {
		@extend %col-md-pull-4;
	}
	.col-md-pull-5 {
		@extend %col-md-pull-5;
	}
	.col-md-pull-6 {
		@extend %col-md-pull-6;
	}
	.col-md-pull-7 {
		@extend %col-md-pull-7;
	}
	.col-md-pull-8 {
		@extend %col-md-pull-8;
	}
	.col-md-pull-9 {
		@extend %col-md-pull-9;
	}
	.col-md-pull-10 {
		@extend %col-md-pull-10;
	}
	.col-md-pull-11 {
		@extend %col-md-pull-11;
	}

	/* pull - large */
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-pull-1 {
		@extend %col-lg-pull-1;
	}
	.col-lg-pull-2 {
		@extend %col-lg-pull-2;
	}
	.col-lg-pull-3 {
		@extend %col-lg-pull-3;
	}
	.col-lg-pull-4 {
		@extend %col-lg-pull-4;
	}
	.col-lg-pull-5 {
		@extend %col-lg-pull-5;
	}
	.col-lg-pull-6 {
		@extend %col-lg-pull-6;
	}
	.col-lg-pull-7 {
		@extend %col-lg-pull-7;
	}
	.col-lg-pull-8 {
		@extend %col-lg-pull-8;
	}
	.col-lg-pull-9 {
		@extend %col-lg-pull-9;
	}
	.col-lg-pull-10 {
		@extend %col-lg-pull-10;
	}
	.col-lg-pull-11 {
		@extend %col-lg-pull-11;
	}
}

@if $grid-offset {
	/* offset - small */
	.col-sm-offset-1 {
		@extend %col-sm-offset-1;
	}
	.col-sm-offset-2 {
		@extend %col-sm-offset-2;
	}
	.col-sm-offset-3 {
		@extend %col-sm-offset-3;
	}
	.col-sm-offset-4 {
		@extend %col-sm-offset-4;
	}
	.col-sm-offset-5 {
		@extend %col-sm-offset-5;
	}
	.col-sm-offset-6 {
		@extend %col-sm-offset-6;
	}
	.col-sm-offset-7 {
		@extend %col-sm-offset-7;
	}
	.col-sm-offset-8 {
		@extend %col-sm-offset-8;
	}
	.col-sm-offset-9 {
		@extend %col-sm-offset-9;
	}
	.col-sm-offset-10 {
		@extend %col-sm-offset-10;
	}
	.col-sm-offset-11 {
		@extend %col-sm-offset-11;
	}

	/* offset - medium */
	.col-md-offset-1 {
		@extend %col-md-offset-1;
	}
	.col-md-offset-2 {
		@extend %col-md-offset-2;
	}
	.col-md-offset-3 {
		@extend %col-md-offset-3;
	}
	.col-md-offset-4 {
		@extend %col-md-offset-4;
	}
	.col-md-offset-5 {
		@extend %col-md-offset-5;
	}
	.col-md-offset-6 {
		@extend %col-md-offset-6;
	}
	.col-md-offset-7 {
		@extend %col-md-offset-7;
	}
	.col-md-offset-8 {
		@extend %col-md-offset-8;
	}
	.col-md-offset-9 {
		@extend %col-md-offset-9;
	}
	.col-md-offset-10 {
		@extend %col-md-offset-10;
	}
	.col-md-offset-11 {
		@extend %col-md-offset-11;
	}

	/* offset - large */
	.col-lg-offset-0 {
		margin-left: 0;
	}
	.col-lg-offset-1 {
		@extend %col-lg-offset-1;
	}
	.col-lg-offset-2 {
		@extend %col-lg-offset-2;
	}
	.col-lg-offset-3 {
		@extend %col-lg-offset-3;
	}
	.col-lg-offset-4 {
		@extend %col-lg-offset-4;
	}
	.col-lg-offset-5 {
		@extend %col-lg-offset-5;
	}
	.col-lg-offset-6 {
		@extend %col-lg-offset-6;
	}
	.col-lg-offset-7 {
		@extend %col-lg-offset-7;
	}
	.col-lg-offset-8 {
		@extend %col-lg-offset-8;
	}
	.col-lg-offset-9 {
		@extend %col-lg-offset-9;
	}
	.col-lg-offset-10 {
		@extend %col-lg-offset-10;
	}
	.col-lg-offset-11 {
		@extend %col-lg-offset-11;
	}
}

@if $grid-margins {
	/* margin - small */
	.col-sm-margin-1 {
		@extend %col-sm-margin-1;
	}
	.col-sm-margin-2 {
		@extend %col-sm-margin-2;
	}
	.col-sm-margin-3 {
		@extend %col-sm-margin-3;
	}
	.col-sm-margin-4 {
		@extend %col-sm-margin-4;
	}
	.col-sm-margin-5 {
		@extend %col-sm-margin-5;
	}
	.col-sm-margin-6 {
		@extend %col-sm-margin-6;
	}
	.col-sm-margin-7 {
		@extend %col-sm-margin-7;
	}
	.col-sm-margin-8 {
		@extend %col-sm-margin-8;
	}
	.col-sm-margin-9 {
		@extend %col-sm-margin-9;
	}
	.col-sm-margin-10 {
		@extend %col-sm-margin-10;
	}
	.col-sm-margin-11 {
		@extend %col-sm-margin-11;
	}

	/* margin - medium */
	.col-md-margin-1 {
		@extend %col-md-margin-1;
	}
	.col-md-margin-2 {
		@extend %col-md-margin-2;
	}
	.col-md-margin-3 {
		@extend %col-md-margin-3;
	}
	.col-md-margin-4 {
		@extend %col-md-margin-4;
	}
	.col-md-margin-5 {
		@extend %col-md-margin-5;
	}
	.col-md-margin-6 {
		@extend %col-md-margin-6;
	}
	.col-md-margin-7 {
		@extend %col-md-margin-7;
	}
	.col-md-margin-8 {
		@extend %col-md-margin-8;
	}
	.col-md-margin-9 {
		@extend %col-md-margin-9;
	}
	.col-md-margin-10 {
		@extend %col-md-margin-10;
	}
	.col-md-margin-11 {
		@extend %col-md-margin-11;
	}

	/* margin - large */
	.col-lg-margin-0 {
		margin-left: 0;
	}
	.col-lg-margin-1 {
		@extend %col-lg-margin-1;
	}
	.col-lg-margin-2 {
		@extend %col-lg-margin-2;
	}
	.col-lg-margin-3 {
		@extend %col-lg-margin-3;
	}
	.col-lg-margin-4 {
		@extend %col-lg-margin-4;
	}
	.col-lg-margin-5 {
		@extend %col-lg-margin-5;
	}
	.col-lg-margin-6 {
		@extend %col-lg-margin-6;
	}
	.col-lg-margin-7 {
		@extend %col-lg-margin-7;
	}
	.col-lg-margin-8 {
		@extend %col-lg-margin-8;
	}
	.col-lg-margin-9 {
		@extend %col-lg-margin-9;
	}
	.col-lg-margin-10 {
		@extend %col-lg-margin-10;
	}
	.col-lg-margin-11 {
		@extend %col-lg-margin-11;
	}
}