// Backwards Compatibility: burf-base _base-typography.scss
// For Responsive Foundation 1.0.4 and below

// These classes help ease the transition from CSS classes to SASS placeholder classes in Responsive.
// Use these classes if you have content in Wordpress which relies on typography classes (.font-jumbo, etc)
// @extends within your theme should be changed from CSS classes to their SASS placeholder equivalent.
// For best performance, include only the typography classes your theme needs to use.

/* Typography
----------------------------------------------------------------- */

.font-jumbo {
	@extend %font-jumbo;
}
.font-largest {
	@extend %font-largest;
}
.font-larger {
	@extend %font-larger;
}
.font-large {
	@extend %font-large;
}
.font-medium {
	@extend %font-medium;
}
.font-small {
	@extend %font-small;
}
/* Generic font size classes */
.font-smaller {
	@extend %font-smaller;
}
.font-smallest {
	@extend %font-smallest;
}
.font-micro {
	@extend %font-micro;
}