// Backwards Compatibility: burf-theme _icons.scss
// For Responsive Foundation 1.0.4 and below

// These classes help ease the transition from CSS classes to SASS placeholder classes in Responsive.
// Use these classes if you have content in Wordpress which relies on icon classes (.icon-facebook, etc)
// Social footer icons are already accounted for; you do not need to include this partial to support those.
// @extends within your theme should be changed from CSS classes to their SASS placeholder equivalent.
// You may also use this as a starting point for icons you need to include.
// For best performance, include only the icon classes your theme needs to use.

/* icons
----------------------------------------------------------------- */

.icon {
	@extend %icon;
}

/* social icons */
.icon-dropbox {
	@extend %icon-dropbox;
}
.icon-dropbox-alt {
	@extend %icon-dropbox-alt;
}
.icon-facebook {
	@extend %icon-facebook;
}
.icon-facebook-alt {
	@extend %icon-facebook-alt;
}
.icon-flickr {
	@extend %icon-flickr;
}
.icon-flickr-alt {
	@extend %icon-flickr-alt;
}
.icon-foursquare {
	@extend %icon-foursquare;
}
.icon-foursquare-alt {
	@extend %icon-foursquare-alt;
}
.icon-github {
	@extend %icon-github;
}
.icon-github-alt {
	@extend %icon-github-alt;
}
.icon-googleplus {
	@extend %icon-googleplus;
}
.icon-googleplus-alt {
	@extend %icon-googleplus-alt;
}
.icon-instagram {
	@extend %icon-instagram;
}
.icon-instagram-alt {
	@extend %icon-instagram-alt;
}
.icon-kickstarter {
	@extend %icon-kickstarter;
}
.icon-kickstarter-alt {
	@extend %icon-kickstarter-alt;
}
.icon-linkedin {
	@extend %icon-linkedin;
}
.icon-linkedin-alt {
	@extend %icon-linkedin-alt;
}
.icon-paypal {
	@extend %icon-paypal;
}
.icon-paypal-alt {
	@extend %icon-paypal-alt;
}
.icon-pinterest {
	@extend %icon-pinterest;
}
.icon-pinterest-alt {
	@extend %icon-pinterest-alt;
}
.icon-pocket {
	@extend %icon-pocket;
}
.icon-pocket-alt {
	 @extend %icon-pocket-alt;
}
.icon-reddit {
	@extend %icon-reddit;
}
.icon-reddit-alt {
	@extend %icon-reddit-alt;
}
.icon-renren {
	@extend %icon-renren;
}
.icon-retweet {
	@extend %icon-retweet;
}
.icon-soundcloud {
	@extend %icon-soundcloud;
}
.icon-soundcloud-alt {
	@extend %icon-soundcloud-alt;
}
.icon-spotify {
	@extend %icon-spotify;
}
.icon-stackexchange {
	@extend %icon-stackexchange;
}
.icon-stackexchange-alt {
	@extend %icon-stackexchange-alt;
}
.icon-stackoverflow {
	@extend %icon-stackoverflow;
}
.icon-stackoverflow-alt {
	@extend %icon-stackoverflow-alt;
}
.icon-stackoverflow-alt {
	@extend %icon-stackoverflow-alt;
}
.icon-stumbleupon {
	@extend %icon-stumbleupon;
}
.icon-stumbleupon-alt {
	@extend %icon-stumbleupon-alt;
}
.icon-twitter {
	@extend %icon-twitter;
}
.icon-twitter-alt {
	@extend %icon-twitter-alt;
}
.icon-tumblr {
	@extend %icon-tumblr;
}
.icon-tumblr-alt {
	@extend %icon-tumblr-alt;
}
.icon-vimeo {
	@extend %icon-vimeo;
}
.icon-vimeo-alt {
	@extend %icon-vimeo-alt;
}
.icon-vine {
	@extend %icon-vine;
}
.icon-vine-alt {
	@extend %icon-vine-alt;
}
.icon-weibo {
	@extend %icon-weibo;
}
.icon-weibo-alt {
	@extend %icon-weibo-alt;
}
.icon-wordpress {
	@extend %icon-wordpress;
}
.icon-youtube {
	@extend %icon-youtube;
}
.icon-youtube-alt {
	@extend %icon-youtube-alt;
}


/* general icons */

.icon-action {
	@extend %icon-action;
}
.icon-alert {
	@extend %icon-alert;
}
.icon-android {
	@extend %icon-android;
}
.icon-appleinc {
	@extend %icon-appleinc;
}
.icon-burst {
	@extend %icon-burst;
}
.icon-calculator {
	@extend %icon-calculator;
}
.icon-cart {
	@extend %icon-cart;
}
.icon-code {
	@extend %icon-code;
}
.icon-compass {
	@extend %icon-compass;
}
.icon-contract {
	@extend %icon-contract;
}
.icon-dashboard {
	@extend %icon-dashboard;
}
.icon-download {
	@extend %icon-download;
}
.icon-downloadbox {
	@extend %icon-downloadbox;
}
.icon-ban {
	@extend %icon-ban;
}
.icon-barchart {
	@extend %icon-barchart;
}
.icon-bike {
	@extend %icon-bike;
}
.icon-book {
	@extend %icon-book;
}
.icon-bookmark {
	@extend %icon-bookmark;
}
.icon-box {
	@extend %icon-box;
}
.icon-briefcase {
	@extend %icon-briefcase;
}
.icon-bug {
	@extend %icon-bug;
}
.icon-calendar {
	@extend %icon-calendar;
}
.icon-camera {
	@extend %icon-camera;
}
.icon-car {
	@extend %icon-car;
}
.icon-chat {
	@extend %icon-chat;
}
.icon-check {
	@extend %icon-check;
}
.icon-close {
	@extend %icon-close;
}
.icon-clipboard {
	@extend %icon-clipboard;
}
.icon-clock {
	@extend %icon-clock;
}
.icon-cloud {
	@extend %icon-cloud;
}
.icon-compose {
	@extend %icon-compose;
}
.icon-contacts {
	@extend %icon-contacts;
}
.icon-crosshair {
	@extend %icon-crosshair;
}
.icon-delete {
	@extend %icon-delete;
}
.icon-desktop {
	@extend %icon-desktop;
}
.icon-directleft {
	@extend %icon-directleft;
}
.icon-directright {
	@extend %icon-directright;
}
.icon-directup {
	@extend %icon-directup;
}
.icon-dislike {
	@extend %icon-dislike;
}
.icon-down {
	@extend %icon-down;
}
.icon-dropdown {
	@extend %icon-dropdown;
}
.icon-emptycart {
	@extend %icon-emptycart;
}
.icon-grid {
	@extend %icon-grid;
}
.icon-index {
	@extend %icon-index;
}
.icon-envelope {
	@extend %icon-envelope;
}
.icon-expand {
	@extend %icon-expand;
}
.icon-fastforward {
	@extend %icon-fastforward;
}
.icon-file {
	@extend %icon-file;
}
.icon-files {
	@extend %icon-files;
}
.icon-flag {
	@extend %icon-flag;
}
.icon-flask {
	@extend %icon-flask;
}
.icon-folder {
	@extend %icon-folder;
}
.icon-globe {
	@extend %icon-globe;
}
.icon-headphones {
	@extend %icon-headphones;
}
.icon-heart {
	@extend %icon-heart;
}
.icon-home {
	@extend %icon-home;
}
.icon-hyphen {
	@extend %icon-hyphen;
}
.icon-infinity {
	@extend %icon-infinity;
}
.icon-info {
	@extend %icon-info;
}
.icon-key {
	@extend %icon-key;
}
.icon-laptop {
	@extend %icon-laptop;
}
.icon-layers {
	@extend %icon-layers;
}
.icon-layout {
	@extend %icon-layout;
}
.icon-left {
	@extend %icon-left;
}
.icon-lightbulb {
	@extend %icon-lightbulb;
}
.icon-lightning {
	@extend %icon-lightning;
}
.icon-like {
	@extend %icon-like;
}
.icon-like-alt {
	@extend %icon-like-alt;
}
.icon-link {
	@extend %icon-link;
}
.icon-link-alt {
	@extend %icon-link-alt;
}
.icon-list {
	@extend %icon-list;
}
.icon-location {
	@extend %icon-location;
}
.icon-lock {
	@extend %icon-lock;
}
.icon-map {
	@extend %icon-map;
}
.icon-megaphone {
	@extend %icon-megaphone;
}
.icon-menu {
	@extend %icon-menu;
}
.icon-mic {
	@extend %icon-mic;
}
.icon-music {
	@extend %icon-music;
}
.icon-navigate {
	@extend %icon-navigate;
}
.icon-navigateleft {
	@extend %icon-navigateleft;
}
.icon-navigateright {
	@extend %icon-navigateright;
}
.icon-navigatedown {
	@extend %icon-navigatedown;
}
.icon-navigateup {
	@extend %icon-navigateup;
}
.icon-notebook {
	@extend %icon-notebook;
}
.icon-notifications {
	@extend %icon-notifications;
}
.icon-pause {
	@extend %icon-pause;
}
.icon-phone {
	@extend %icon-phone;
}
.icon-picture {
	@extend %icon-picture;
}
.icon-piechart {
	@extend %icon-piechart;
}
.icon-pinboard {
	@extend %icon-pinboard;
}
.icon-pin {
	@extend %icon-pin;
}
.icon-plane {
	@extend %icon-plane;
}
.icon-planet {
	@extend %icon-planet;
}
.icon-play {
	@extend %icon-play;
}
.icon-plus {
	@extend %icon-plus;
}
.icon-poo {
	@extend %icon-poo;
}
.icon-print {
	@extend %icon-print;
}
.icon-puzzle {
	@extend %icon-puzzle;
}v
.icon-record {
	@extend %icon-record;
}
.icon-rss {
	@extend %icon-rss;
}
.icon-rss-alt {
	@extend %icon-rss-alt;
}
.icon-redirect {
	@extend %icon-redirect;
}
.icon-refresh {
	@extend %icon-refresh;
}
.icon-replay {
	@extend %icon-replay;
}
.icon-reply {
	@extend %icon-reply;
}
.icon-rewind {
	@extend %icon-rewind;
}
.icon-right {
	@extend %icon-right;
}
.icon-rotaryphone {
	@extend %icon-rotaryphone;
}
.icon-scaledown {
	@extend %icon-scaledown;
}
.icon-scaleup {
	@extend %icon-scaleup;
}
.icon-screwdriver {
	@extend %icon-screwdriver;
}
.icon-share {
	@extend %icon-share;
}
.icon-signpost {
	@extend %icon-signpost;
}
.icon-smartphone {
	@extend %icon-smartphone;
}
.icon-search {
	@extend %icon-search;
}
.icon-settings {
	@extend %icon-settings;
}
.icon-skipback {
	@extend %icon-skipback;
}
.icon-skipforward {
	@extend %icon-skipforward;
}
.icon-star {
	@extend %icon-star;
}
.icon-stop {
	@extend %icon-stop;
}
.icon-stock {
	@extend %icon-stock;
}
.icon-storagebox {
	@extend %icon-storagebox;
}
.icon-sync {
	@extend %icon-sync;
}
.icon-tablet {
	@extend %icon-tablet;
}
.icon-tag {
	@extend %icon-tag;
}
.icon-thermometer {
	@extend %icon-thermometer;
}
.icon-thumbnails {
	@extend %icon-thumbnails;
}
.icon-toolbox {
	@extend %icon-toolbox;
}
.icon-tv {
	@extend %icon-tv;
}
.icon-unlock {
	@extend %icon-unlock;
}
.icon-up {
	@extend %icon-up;
}
.icon-upload {
	@extend %icon-upload;
}
.icon-uploadcloud {
	@extend %icon-uploadcloud;
}
.icon-user {
	@extend %icon-user;
}
.icon-users {
	@extend %icon-users;
}
.icon-utensils {
	@extend %icon-utensils;
}
.icon-video {
	@extend %icon-video;
}
.icon-view {
	@extend %icon-view;
}
.icon-volume {
	@extend %icon-volume;
}
.icon-watch {
	@extend %icon-watch;
}
.icon-wrench {
	@extend %icon-wrench;
}
.icon-write {
	@extend %icon-write;
}
.icon-wifi {
	@extend %icon-wifi;
}