// =================================================================
// Grid Classes
//
// Creates CSS classes for all grid items, Boostrap-style.
// @group grid
// @access public
// @since 1.2.0
// =================================================================

@if $grid-classes {
	@for $i from 0 through $grid-number-columns {
		.col-#{$i} {
			@extend %col-#{$i} !optional;
		}

		@each $feature, $supported in $grid-supports {
			@if $supported {
				.col-#{$feature}-#{$i} {
					@extend %col-#{$feature}-#{$i} !optional;
				}
			}
		}

		@each $bp-name, $bp-variable in $grid-breakpoints {
			.col-#{$bp-name} {
				&-#{$i} {
					@extend %col-#{$bp-name}-#{$i} !optional;
				}

				@each $feature, $supported in $grid-supports {
					@if $supported {
						&-#{$feature}-#{$i} {
							@extend %col-#{$bp-name}-#{$feature}-#{$i} !optional;
						}
					}
				}
			}
		}
	}
}
