// no-nav
// -----------------------------------------------------------------

.l-no-nav {
	.primary-nav {
		@include breakpoint( sm ) {
			display: none;
		}
	}

	.brand {
		padding-right: 60px;
	}

	#quicksearch {
		border-top: 1px solid $color-grayscale-d;
	}

	.utility-nav {
		@include breakpoint( sm ) {
			top: $_utility-nav-position - 5;
			right: 80px;
		}
	}
}

.search-toggle-nonav {
	color: $color-nav-toggle-alt;
	display: block;
	margin: 0 -60px 0 0;
	font-size: 24px;

	@include breakpoint( sm ) {
		right: 10px;
		display: block;
		@include vertical-center;
	}

	&:visited {
		color: $color-nav-toggle-alt;
	}
	&:hover {
		color: $color-nav-toggle-alt-hover;
	}
}