// Side Navigation Layout
// -----------------------------------------------------------------

/// A helper variable to position things based on search height.
/// @group navigation
/// @access private
/// @since 2.0.0

$_search-height: 103px;

/// The main class for the side navigation layout.
/// Handles styling for any items that do not have their own side navigation classes.
/// @group navigation
/// @access public
/// @since 2.0.0

.l-side-nav {
	.masthead::after {
		@include breakpoint( sm ) {
			display: none;
		}
	}

	.wrapper {
		background: $color-primary-nav-bg;
	}

	#quicksearch {
		@include breakpoint( sm ) {
			position: absolute;
			width: 100%;
			border: 1px solid $color-quicksearch-border;
			border-width: $border-width-quicksearch;
		}
	}

	&.search-open {
		.content {
			@include breakpoint( sm ) {
				margin-top: $_search-height; // adds the height of the open search form
			}
		}
	}

	&.nav-open {
		.content {
			@include breakpoint( sm ) {
				left: $width-side-nav - 60px;
			}
			@include breakpoint( lg ) {
				left: 0;
			}
		}
	}
}

/// Handles styling for the primary navigation in the side navigation layout.
/// @group navigation
/// @access public
/// @since 2.0.0

#primary-nav-menu-sidenav {
	@extend %primary-nav-menu;

	@include breakpoint( sm ) {
		display: none;
		margin: 0 10px;
	}

	@include breakpoint( lg ) {
		display: block;
	}
}

/// Handles styling for top-level primary navigation items in the side navigation layout.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu-sidenav-item {
	@extend %primary-nav-menu-item;
	display: block;
	padding: 0;

	&:first-child {
		a {
			@include breakpoint( lg ) {
				border: 0;
			}
		}
	}
}

/// Handles styling for top-level primary navigation links in the side navigation layout.
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu-sidenav-link {
	@extend %primary-nav-menu-link;
	padding: 10px 0;
	border: 1px solid $color-primary-nav-border;
	border-width: $border-width-primary-nav;
	line-height: $line-height-base;
}

/// Handles styling for second-level primary navigation items in the side navigation layout.
/// By default, these are not supported, so they are set to not display.
/// If you enable it, you may also wish to add these to your Sass on the item and link classes:
/// `@extend %primary-nav-menu-section-item;`
/// `@extend %primary-nav-menu-section-link;`
/// @group navigation
/// @access public
/// @since 2.0.0

.primary-nav-menu-sidenav-section {
	display: none;
}

.nav-toggle-sidenav {
	display: block;

	@include breakpoint( sm ) {
		float: right;
		margin-right: -10px;
	}

	@include breakpoint( lg ) {
		display: none;
	}

	.nav-open & {
		float: left;
		margin-left: -10px;
	}
}

.search-toggle-sidenav {
	position: absolute;
	top: $height-brand + 30px;
	right: 0;
	color: $color-grayscale-f;

	@include breakpoint( sm ) {
		right: -10px;
		display: block;
		position: relative;
		@include vertical-center;
		color: $color-nav-toggle-alt;
	}

	&:active,
	&:visited {
		color: currentColor;
	}
	&:hover {
		color: currentColor;

		@include breakpoint( sm ) {
			color: $color-nav-toggle-alt-hover;
		}
	}
}

.primary-nav-sidenav {
	@include breakpoint( sm ) {
		position: relative;
		top: 0;
		width: $width-side-nav;
		background: none;
		float: left;
		margin-left: -$width-side-nav + 60px;
		left: 0;

		.search-open & {
			top: $_search-height; // adds the height of the open search form
		}
	}

	@include breakpoint( lg ) {
		margin-left: 0;
		display: block;
		width: $width-side-nav;
		padding: 20px 10px;
	}

	&.is-open {
		left: $width-side-nav - 60px;

		@include breakpoint( lg ) {
			left: 0;
		}
	}

	.nav-open & {
		display: block;
		float: none;
	}
}

.utility-nav-sidenav {
	margin: 0 10px;
	position: static;

	@include breakpoint( lg ) {
		position: relative;
		top: auto;
		right: auto;
		display: block;
	}

	li {
		display: block;
		padding-left: 0;
	}

	.nav-open & {
		display: block;
		float: none;
	}
}