// =================================================================
// Calendar List Settings
// =================================================================

/// Controls the color of the date range on the calendar listing template.
/// By default, this is right after the topic.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-heading-date-range:          $color-grayscale-9 !default;

/// Controls the color of links on the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-event-link:                 $color-link !default;

/// Controls the color of links on the calendar listing template when you hover.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-event-link-hover:           $color-link !default;

// =================================================================
// Calendar List Styles
// =================================================================

/// Handles styling for the calendar topic on the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-topic {
	@extend %font-size-6;
}

/// Handles styling for the selected date range in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-range {
	color: $color-calendar-heading-date-range;
}

/// Handles styling for groups of events on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-events {
	margin-bottom: 3em;
	padding: 0;
}

/// Handles styling for an individual event on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event {
	font-size: 0.9em;
	line-height: 1.3;
	list-style: none;
	margin-bottom: 0.5em;
}

/// Handles styling for the first event in a group of events at
/// the same time in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-first-at-time {
	border-top: 1px dotted $color-grayscale-c;
	margin-bottom: 0.75em;
	padding-top: 0.75em;
}

/// Handles styling for an individual event on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-time {
	color: $color-grayscale-6;
	font-weight: 700;
	position: absolute;
}

/// Handles styling for the link to an individual event
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-link {
	color: $color-calendar-event-link;
	display: block;
	margin-left: 5.1em;

	&:hover,
	&:focus {
		color: $color-calendar-event-link-hover;
	}
}
