// =================================================================
// Calendar Single Settings
// =================================================================

// Calendar Item Label Font
//
// Controls the font used for labels in the sidebar of the single
// calendar event template.
//
// Styleguide Calendar.Calendar Item.Label Font
//
// Access: Public
//
// Since: 1.0.0

$font-family-single-event-label:             $font-family-sans-serif !default;

// Calendar Item Label Font Weight
//
// Controls the font weight used for labels in the sidebar of the single
// calendar event template.
//
// Styleguide Calendar.Calendar Item.Label Weight
//
// Access: Public
//
// Since: 1.0.0

$font-weight-calendar-label:                700 !default;

// Calendar Item Label Color
//
// Controls the color of labels in the sidebar of the single
// calendar event template.
//
// Styleguide Calendar.Calendar Item.Label Color
//
// Access: Public
//
// Since: 1.0.0

$color-single-event-label:               $color-grayscale-9 !default;

// =================================================================
// Calendar Single Styles
// =================================================================

// Handles styling for the container around start and end times on
// a single calendar event.
//
// Access: Public
//
// Since: 2.0.0

.single-event-schedule {
	@extend %card-styles;
	@include col( $sm, 'third', false );

	margin: 0 0 20px;

	@include breakpoint( $sm ) {
		float: right;
		margin-left: $grid-margin-width#{"%"};
	}
}

// Handles styling for the list of start and end times on
// a single calendar event.
//
// Access: Public
//
// Since: 2.0.0

.single-event-schedule-list {
	margin: 0;
	padding: 0;
}

// Calendar Schedule Item Placeholder
//
// Handles styling for list items in the schedule of
// a single calendar event. Use if you need to add something to the
// calendar schedule.
//
// Styleguide Calendar.Calendar Item.Schedule Item Placeholder
//
// Access: Public
//
// Since: 2.0.0

%single-event-schedule-list-item {
	list-style: none;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}
}

// Controls whether or not to make the event time into a sentence.
// By default, this is visually hidden so screen readers still read
// it as a sentence, but it is displayed as list information.
// You can override this with `@extend %remove-visually-hidden`.
//
// Access: Public
//
// Since: 2.0.0

.event-time-make-sentence {
	@extend %visually-hidden;
}

// Handles styling for start time in the schedule of
// a single calendar event.
//
// Access: Public
//
// Since: 2.0.0

.single-event-schedule-start {
	@extend %single-event-schedule-list-item;
}

// Handles styling for end time in the schedule of
// a single calendar event.
//
// Access: Public
//
// Since: 2.0.0

.single-event-schedule-end {
	@extend %single-event-schedule-list-item;
}

// Handles styling for all day events in the schedule of
// a single calendar event.
//
// Access: Public
//
// Since: 2.0.0

.single-event-schedule-allday {
	@extend %single-event-schedule-list-item;
}

// Single Event Label Styling
//
// Handles styling for all single calendar labels,
// specifically the event fields.
//
// Styleguide Calendar.Calendar Item.Label Styling Placeholder
//
// Access: Public
//
// Since: 2.0.0

%single-event-label {
	color: $color-single-event-label;
	display: block;
	font-family: $font-family-single-event-label;
	font-weight: $font-weight-calendar-label;
	text-transform: uppercase;
}

// Handles styling for all single calendar labels,
// specifically the event fields.
//
// Access: Public
//
// Since: 2.0.0

.single-event-label {
	@extend %single-event-label;
}

// Single Event Details Placeholder
//
// Handles styling for additional details information in the
// single calendar event template (event field values).
//
// Styleguide Calendar.Calendar Item.Event Details Placeholder
//
// Access: Public
//
// Since: 2.0.0

%single-event-info {
	margin: 0 0 20px;
}

// Handles styling for additional details information in the
// single calendar event template (event field values).
//
// Access: Public
//
// Since: 3.2.1

.single-event-info {
	@extend %single-event-info;
}

// Handles styling for times in the single calendar
// event schedule.
//
// Access: Public
//
// Since: 2.0.0

.single-event-time {
	color: $color-grayscale-0;
	display: block;
	font-weight: bold;
}

// Handles styling for the event description in the single calendar
// event template.
//
// Access: Public
//
// Since: 2.0.0

.single-event-description {
	margin: $font-margin-base;
}

// Handles styling for additional details in the single calendar
// event template.
//
// Access: Public
//
// Since: 2.0.0

.single-event-additional-details {
	margin: 0 0 20px;
}
