// =================================================================
// Profile Single Settings
// =================================================================

/// Controls the color used for labels in the single profile
/// listing template sidebar.
/// @group profiles
/// @access public
/// @since 1.0.0

$color-profile-info-label:                 $color-grayscale-a !default;

// =================================================================
// Profile Single Styles
// =================================================================

/// Styles the single profile name - typically the title of the page.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-single-name {
	margin-bottom: 0;
	text-align: center;
}

/// Styles the single profile title - typically the subtitle of the page.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-single-title {
	text-align: center;
}

/// Styles the single profile photo.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-single-photo {
	margin: 0 auto $margin;
	width: 120px;
}

/// Styles the single profile details sidebar.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-single-details {
	@extend %card-styles;
	margin: 0 0 $margin;

	@include breakpoint( sm ) {
		float: right;
		margin: 0 0 20px 20px;
		width: 33.33333333333333%;
	}
}

/// General styles for labels.
/// @group content
/// @access public
/// @since 1.0.0

.label {
	@extend %font-size-minimum;
	display: block;
	font-family: $font-family-sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

/// Styles the single profile details labels.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-details-label {
	color: $color-profile-info-label;
}

/// Styles the single profile details list.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-details-list {
	margin: 0;
	padding: 0;
}

/// Styles the single profile details items.
/// @group profiles
/// @access public
/// @since 2.0.0

.profile-details-item {
	list-style: none;
	margin: 0 0 $margin;
	word-wrap: break-word;
}
