// placeholders for theme use
// -----------------------------------------------------------------

// Classes used to replicate pseudo-classes may be built on a case by case basis in child themes.
// To do so, create your own class and extend the pseudo-class you would like to replicate.

// .yourClass-hover {
// 	@extend %button-styles:hover;
// }
// .yourInput-active {
// 	@extend %button-styles:active;
// }

%button-styles {
	/* These classes are using %button-styles. */
	background-color: $color-button-bg;
	border: 1px solid #999999;  // IE 6/7/8
	border: none rgba(0, 0, 0, 0);  // IE9 + everything else
	border-radius: 2px;
	color: $color-button-text;
	font-family: $font-family-button;
	font-size: $font-size-button;
	line-height: normal;
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	display: inline-block;

	&:hover {
		@include linear-gradient(transparent, rgba(0,0,0, 0.10));
	}

	&:active {
		@include box-shadow(0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset);
	}
}

// Additional styles for inputs
%button-styles-input {
	/* These classes are using %button-styles-input. */
	cursor: pointer;
	zoom: 1;
	white-space: nowrap;
	*display: inline; // IE 6/7
	-webkit-user-drag: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	*font-size: 90%; // IE 6/7 - To reduce IE's oversized button text
	*overflow: visible; // IE 6/7 - Because of IE's overly large left/right padding on buttons

	&:focus {
		@extend %button-styles:hover;
		outline: 0;
	}

	// Firefox: Get rid of the inner focus border
	&:-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&[disabled],
	&-disabled,
	&-disabled:hover,
	&-disabled:focus,
	&-disabled:active {
		@include box-shadow(none);
		@include opacity(0.4);
		background-image: none;
		border: none;
		cursor: not-allowed;
	}

	&-hidden {
		display: none;
	}
}

%button-styles-primary {
	/* These classes are using %button-styles-primary. */
	color: $color-button-primary-text;
	background-color: $color-button-primary-bg;

	&:hover,
	&:active,
	&:visited {
		color: $color-button-primary-text;
	}
}

// Forms
// -----------------------------------------------------------------

form {
	font-size: $font-size-form;
	margin: $form-margin;
	font-family: $font-family-form;
}

fieldset {
	border: $form-fieldset-border;
	margin: $form-fieldset-margin;
	padding: $form-fieldset-padding;
}

legend {
	border: $form-legend-border;
	border-width: $form-legend-border-width;
	font-weight: 700;
	margin: $form-legend-margin;
	padding: $form-legend-padding;
	width: 100%;
	display: block;
}

label {
	margin: $form-label-margin;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	@extend %button-styles;
	@extend %button-styles-input;
}

/*!
Pure v0.5.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

// Forms: Style (adapted from Pure CSS v0.5.0)
// -----------------------------------------------------------------

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
	@include	box-shadow($form-input-shadow);
	@include border-radius($form-input-border-radius);
	border: $form-input-border;
	display: inline-block;
	padding: $form-input-padding;
}

%form-input-focus-shadow {
	@include box-shadow($form-input-focus-shadow);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
	@extend %form-input-focus-shadow;
	border-color: $color-input-focus-border;
	outline: 0;
	outline: thin dotted \9; // IE6-9
	outline: 1px auto $color-input-focus-border;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@extend %form-input-focus-shadow;
	outline: thin dotted $color-grayscale-3;
	outline: 1px auto $color-input-focus-border;
}

.checkbox,
.radio {
	display: block;
	margin: 0.5em 0;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
	background-color: #eaeded;
	color: #cad2d3;
	cursor: not-allowed;
}

input[readonly],
select[readonly],
textarea[readonly] {
	background: #eeeeee;
	border-color: #cccccc;
	color: #777777;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
	border-color: #ee5f5b;
	color: #b94a48;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
	border-color: #e9322d;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
	outline-color: #e9322d;
}

select {
	background-color: white;
	border: 1px solid #cccccc;
}

select[multiple] {
	height: auto;
}

.form-row {
	margin: $form-row-margin;
}

.form-controls {
	margin: 20px 0 0;
}

.required {
	color: #cc0000 !important;
}

// Form Stacked
.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea,
.form-aligned select,
.form-aligned label,
.form-aligned textarea {
	// Aligned forms should stack on small screens
	display: block;
	margin: $form-input-margin;
}

// Aligned Forms
@include breakpoint(md) {
	.form-aligned input,
	.form-aligned textarea,
	.form-aligned select {
		display: inline-block;
		vertical-align: middle;
		*display: inline;
		*zoom: 1;
	}

	.form-aligned {
		textarea {
			vertical-align: top;
		}

		.form-row {
			label {
				display: inline-block;
				margin: 0 20px 0 0;
				text-align: right;
				vertical-align: middle;
				width: 200px;
			}
		}

		.form-row-checkbox,
		.form-row-radio {
			margin: $form-row-margin;
			margin-left: 220px;
		}

		.form-controls {
			margin-left: 220px;
		}
	}
}

// Gravity Forms
// -----------------------------------------------------------------
.gform_wrapper {
	li {
		list-style: none;
	}

	li:before {
		content: "";
		font-size: 0;
	}

	table {
		table-layout: initial;
	}

	[type="radio"] {
		margin-left: 1px;
	}
}

// buttons
// -----------------------------------------------------------------

.button {
	@extend %button-styles;
}

.button-primary,
.button-selected {
	@extend %button-styles;
	@extend %button-styles-primary;
}