// Links
// -----------------------------------------------------------------

/// Controls base styling for all links.
/// @group global
/// @access public
/// @since 1.0.0

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	// Improve readability when focused and also mouse hovered in all browsers.
	&:hover,
	&:active {
		text-decoration: none;
	}
}

// Typography
// -----------------------------------------------------------------

// TODO: Come back to these when we rework variables and generate similar to grid based on map

%font-jumbo {
	margin: $font-margin-jumbo;
	font-size: $font-size-jumbo;
	line-height: $line-height-jumbo;
}

%font-largest {
	margin: $font-margin-largest;
	font-size: $font-size-largest;
	line-height: $line-height-largest;
}

%font-larger {
	margin: $font-margin-larger;
	font-size: $font-size-larger;
	line-height: $line-height-larger;
}

%font-large {
	margin: $font-margin-large;
	font-size: $font-size-large;
	line-height: $line-height-large;
}

%font-medium {
	margin: $font-margin-medium;
	font-size: $font-size-medium;
	line-height: $line-height-medium;
}

%font-small {
	margin: $font-margin-small;
	font-size: $font-size-small;
	line-height: $line-height-small;
}

%font-smaller {
	margin: $font-margin-smaller;
	font-size: $font-size-smaller;
	line-height: $line-height-smaller;
}

%font-smallest {
	margin: $font-margin-smallest;
	font-size: $font-size-smallest;
	line-height: $line-height-smallest;
}

%font-micro {
	margin: $font-margin-micro;
	font-size: $font-size-micro;
	line-height: $line-height-micro;
}

/// Controls base styles for all heading tags.
/// @group global
/// @access public
/// @since 1.0.0

%heading-base {
	font-family: $font-family-heading;
	color: $color-heading;

	small {
		font-weight: normal;
		font-size: 0.75em;
		color: $color-heading-small;
	}
}

/// Styles for all h1 tags.
/// @group global
/// @access public
/// @since 1.0.0

h1 {
@extend %heading-base;
	@extend %font-jumbo;
}

/// Styles for all h2 tags.
/// @group global
/// @access public
/// @since 1.0.0

h2 {
	@extend %heading-base;
	@extend %font-largest;
}

/// Styles for all h3 tags.
/// @group global
/// @access public
/// @since 1.0.0

h3 {
	@extend %heading-base;
	@extend %font-larger;
}

/// Styles for all h4 tags.
/// @group global
/// @access public
/// @since 1.0.0

h4 {
	@extend %heading-base;
	@extend %font-large;
}

/// Styles for all h5 tags.
/// @group global
/// @access public
/// @since 1.0.0

h5 {
	@extend %heading-base;
	@extend %font-medium;
}

/// Styles for all h6 tags.
/// @group global
/// @access public
/// @since 1.0.0

h6 {
	@extend %heading-base;
	@extend %font-small;
}

hgroup {
	margin: $font-margin-hgroup;

	// remove margins from headings within hgroup
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p, {
		margin: 0;
	}
}

// Adds the help cursor on hover to abbreviations
abbr[title] {
	cursor: help;
}

blockquote {
	margin: $font-margin-blockquote;
}

p,
pre {
	margin: $font-margin-base;
}

code,
kbd,
pre,
samp {
	font-family: $font-family-monospace;
	font-size: $font-size-base;
}

/* Always hide an element when it has the `hidden` HTML attribute.
TODO: Find out if the important here is actually necessary.
[hidden] {
	display: none !important;
}
*/

// Lists
// -----------------------------------------------------------------

dl,
menu,
ol,
ul {
	margin: $font-margin-list;
}

dd {
	margin: $font-margin-dd;
}

menu,
ol,
ul {
	padding: $font-padding-list;
}

nav ul,
nav ol {
	padding: 0;
	margin: 0;
}

// remove margin from nested lists
ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0;
}

// Code
// -----------------------------------------------------------------

code {
	padding: $font-padding-code;
	background: $color-code-bg;
	color: $color-code;
	white-space: nowrap;
}
.content p code {
	font-size: 90%;
}
.code + .code {
	margin-top: -15px;
}
.code {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	padding: 20px;
	margin: $font-margin-code;
	border: 1px solid $color-grayscale-e;
	background: $color-code-bg;

	code {
		padding: 0;
		background: none;
		font-size: 95%;
		white-space: pre;
		word-wrap: normal;
	}
}
