/* base
================================================================= */

/* Box model
----------------------------------------------------------------- */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure {
	margin: 0;
}

/* Base
----------------------------------------------------------------- */

/* 3. Normalize font rendering in Firefox */
html {
	-moz-osx-font-smoothing: grayscale; /* 3 */
}

/* Address `font-family` inconsistency between `textarea` and other form elements. */
html,
button,
input,
select,
textarea {
	font-family: inherit;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-base;
}

section {
	margin: 60px 0 0 0;
}

img,
a img,
object,
embed {
	height: auto;
	max-width: 100%;
}