// Links
// -----------------------------------------------------------------

a {
	color: $color-link;
}
a:visited {
	color: $color-link-visited;
}

// Improve readability when focused and also mouse hovered in all browsers.
a:active,
a:hover {
	text-decoration: none;
}

// Typography
// -----------------------------------------------------------------

%font-jumbo {
	/* These classes are using %font-jumbo. */
	margin: $font-margin-jumbo;
	font-size: $font-size-jumbo;
	line-height: $line-height-jumbo;
}
%font-largest {
	/* These classes are using %font-largest. */
	margin: $font-margin-largest;
	font-size: $font-size-largest;
	line-height: $line-height-largest;
}
%font-larger {
	/* These classes are using %font-larger. */
	margin: $font-margin-larger;
	font-size: $font-size-larger;
	line-height: $line-height-larger;
}
%font-large {
	/* These classes are using %font-large. */
	margin: $font-margin-large;
	font-size: $font-size-large;
	line-height: $line-height-large;
}
%font-medium {
	/* These classes are using %font-medium. */
	margin: $font-margin-medium;
	font-size: $font-size-medium;
	line-height: $line-height-medium;
}
%font-small {
	/* These classes are using %font-small. */
	margin: $font-margin-small;
	font-size: $font-size-small;
	line-height: $line-height-small;
}
/* Generic font size classes */
%font-smaller {
	/* These classes are using %font-smaller. */
	margin: $font-margin-smaller;
	font-size: $font-size-smaller;
	line-height: $line-height-smaller;
}
%font-smallest {
	/* These classes are using %font-smallest. */
	margin: $font-margin-smallest;
	font-size: $font-size-smallest;
	line-height: $line-height-smallest;
}
%font-micro {
	/* These classes are using %font-micro. */
	margin: $font-margin-micro;
	font-size: $font-size-micro;
	line-height: $line-height-micro;
}

h1 {
	@extend %font-jumbo;
}
h2 {
	@extend %font-largest;
}
h3 {
	@extend %font-larger;
}
h4 {
	@extend %font-large;
}
h5 {
	@extend %font-medium;
}
h6 {
	@extend %font-small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	color: $color-heading;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
	font-size: 0.75em;
	color: $color-heading-small;
}

hgroup {
	margin: $font-margin-hgroup;

	// remove margins from headings within hgroup
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p, {
		margin: 0;
	}
}

// Adds the help cursor on hover to abbreviations
abbr[title] {
	cursor: help;
}

blockquote {
	margin: $font-margin-blockquote;
}

p,
pre {
	margin: $font-margin-base;
}

code,
kbd,
pre,
samp {
	font-family: $font-family-monospace;
	font-size: $font-size-base;
}

/* Always hide an element when it has the `hidden` HTML attribute.
TODO: Find out if the important here is actually necessary.
[hidden] {
	display: none !important;
}
*/

// Lists
// -----------------------------------------------------------------

dl,
menu,
ol,
ul {
	margin: $font-margin-list;
}

dd {
	margin: $font-margin-dd;
}

menu,
ol,
ul {
	padding: $font-padding-list;
}

nav ul,
nav ol {
	padding: 0;
	margin: 0;
}

// remove margin from nested lists
ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0;
}

// Code
// -----------------------------------------------------------------

code {
	padding: $font-padding-code;
	background: $color-code-bg;
	color: $color-code;
	white-space: nowrap;
}
.content p code {
	font-size: 90%;
}
.code + .code {
	margin-top: -15px;
}
.code {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	padding: 20px;
	margin: $font-margin-code;
	border: 1px solid $color-grayscale-e;
	background: $color-code-bg;

	code {
		padding: 0;
		background: none;
		font-size: 95%;
		white-space: pre;
		word-wrap: normal;
	}
}
