// Forms
// =================================================================

// Placeholders for Forms
// -----------------------------------------------------------------

/// Controls button styles globally.
/// Extend this class for custom buttons or for elements whose HTML
/// and CSS you don't have control over.
/// May be used on both form element tags and regular links to make
/// them look like buttons.
/// @group forms
/// @access public
/// @since 1.2.0

%button-styles {
	background-color: $color-button-bg;
	border-radius: 2px;
	border: 1px solid $color-grayscale-9;  // IE 6/7/8
	border: none rgba( $color-grayscale-0, 0 );  // IE9 + everything else
	color: $color-button-text;
	display: inline-block;
	font-family: $font-family-button;
	font-size: $font-size-button;
	line-height: normal;
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;

	&:hover {
		@include linear-gradient( transparent, rgba( $color-grayscale-0, 0.10 ) );
	}

	&:active {
		@include box-shadow(
			0 0 0 1px rgba( $color-grayscale-0, 0.15 ) inset,
			0 0 6px rgba( $color-grayscale-0, 0.20 ) inset
		);
	}
}

/// Controls button styles for input tags globally.
/// Only to be used with form element tags.
/// @group forms
/// @access public
/// @since 1.2.0

%button-styles-input {
	cursor: pointer;
	*display: inline; // IE 6/7
	*font-size: 90%; // IE 6/7 - To reduce IE's oversized button text
	*overflow: visible; // IE 6/7 - Because of IE's overly large left/right padding on buttons
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	white-space: nowrap;
	zoom: 1;

	&:focus {
		@extend %button-styles:hover;
		outline: 0;
	}

	// Firefox: Get rid of the inner focus border
	&:-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&[disabled],
	&-disabled,
	&-disabled:hover,
	&-disabled:focus,
	&-disabled:active {
		@include box-shadow( none );
		@include opacity( 0.4 );
		background-image: none;
		border: 0;
		cursor: not-allowed;
	}

	&-hidden {
		display: none;
	}
}

/// Styles buttons in a "primary" way so as to look more important
/// when there are multiple buttons near each other.
/// @group forms
/// @access public
/// @since 1.2.0

%button-styles-primary {
	background-color: $color-button-primary-bg;
	color: $color-button-primary-text;

	&:hover,
	&:active,
	&:visited {
		color: $color-button-primary-text;
	}
}

// Forms
// -----------------------------------------------------------------

/// The general styles for forms.
/// @group forms
/// @access public
/// @since 1.0.0

form {
	font-family: $font-family-form;
	font-size: $font-size-form;
	margin: $form-margin;
}

/// The general styles for the fieldset element.
/// Wraps around sets of controls within a form.
/// See [MDN on fieldset](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset).
/// @group forms
/// @access public
/// @since 1.0.0

fieldset {
	border: $form-fieldset-border;
	margin: $form-fieldset-margin;
	padding: $form-fieldset-padding;
}

/// The general styles for the legend element, which holds a caption for the
/// fieldset element.
/// See [MDN on legend](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend).
/// @group forms
/// @access public
/// @since 1.0.0

legend {
	border: $form-legend-border;
	border-width: $form-legend-border-width;
	display: block;
	font-weight: 700;
	margin: $form-legend-margin;
	padding: $form-legend-padding;
	width: 100%;
}

select,
textarea {
	font-family: inherit; // Address `font-family` inconsistency between `textarea` and other form elements.
}

/// The general styles for labels on form fields.
/// See [MDN on label](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label).
/// @group forms
/// @access public
/// @since 1.0.0

label {
	margin: $form-label-margin;
}

/// The general styles for inputs which should look like buttons.
/// @group forms
/// @access public
/// @since 1.0.0

button,
[type="button"],
[type="reset"],
[type="submit"] {
	@extend %button-styles;
	@extend %button-styles-input;
}

/*!
Pure v0.5.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

// Forms: Style (adapted from Pure CSS v0.5.0)
// -----------------------------------------------------------------

/// A helper for form input focus shadows.
/// @group forms
/// @access private
/// @since 1.0.0

%_form-input-focus-shadow {
	@include box-shadow( $form-input-focus-shadow );
}

/// Styles user inputs in forms.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

[type="text"],
[type="password"],
[type="email"],
[type="url"],
[type="date"],
[type="month"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="week"],
[type="number"],
[type="search"],
[type="tel"],
[type="color"],
select,
textarea {
	@include	box-shadow( $form-input-shadow );
	@include border-radius( $form-input-border-radius );
	border: $form-input-border;
	display: inline-block;
	padding: $form-input-padding;

	&:focus {
		@extend %_form-input-focus-shadow;
		border-color: $color-input-focus-border;
		outline: 0;
		outline: thin dotted \9; // IE6-9
		outline: 1px auto $color-input-focus-border;
	}
}

/// Styles checkbox and radio inputs in forms.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

[type="file"],
[type="radio"],
[type="checkbox"] {
	&:focus {
		@extend %_form-input-focus-shadow;
		outline: thin dotted $color-grayscale-3;
		outline: 1px auto $color-input-focus-border;
	}
}

/// Styles checkboxes and radio buttons in forms.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

.checkbox,
.radio {
	display: block;
	margin: 0.5em 0;
}

/// Styles elements with the "disabled" attribute.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

[disabled] {
	background-color: $color-grayscale-e;
	color: $color-grayscale-c;
	cursor: not-allowed;
}

/// Styles elements with the "readonly" attribute.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

[readonly] {
	background: $color-grayscale-e;
	border-color: $color-grayscale-c;
	color: $color-grayscale-7;
}

/// The color to use on borders and outlines in the invalid state.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

$_invalid-border-color: #e9322d;

/// The color to use on text in the invalid state.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

$_invalid-text-color: #b94a48;

/// Styles elements which accept text with an invalid state
/// until the user types something valid.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

input,
textarea,
select {
	&:focus:invalid {
		border-color: $_invalid-border-color;
		color: $_invalid-text-color;
	}
}

/// Styles elements which do not accept text with an invalid state
/// as long as the element is invalid. Focus state is targeted for
/// the benefit of keyboard users.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

[type="file"],
[type="radio"],
[type="checkbox"] {
	&:focus:invalid {
		outline-color: $_invalid-border-color;
	}
}

/// Styles select and multi-select elements.
/// From Pure v0.5.0.
/// @group forms
/// @access private
/// @since 1.0.0

select {
	background-color: $color-grayscale-f;
	border: 1px solid $color-grayscale-c;

	&[multiple] {
		height: auto;
	}
}

/// Styles form rows, if you are not using Gravity Forms.
/// From Pure v0.5.0.
/// @group forms
/// @access public
/// @since 1.0.0

.form-row {
	margin: $form-row-margin;
}

/// Styles form controls, if you are not using Gravity Forms.
/// From Pure v0.5.0.
/// @group forms
/// @access public
/// @since 1.0.0

.form-controls {
	margin: 20px 0 0;
}

/// Styles required items, if you are not using Gravity Forms.
/// From Pure v0.5.0.
/// @group forms
/// @access public
/// @since 1.0.0

.required {
	color: #cc0;
}

/// Styles inputs and labels in the stacked and aligned layouts,
/// if you are not using Gravity Forms.
/// From Pure v0.5.0.
/// @group forms
/// @access public
/// @since 1.0.0

[type="text"],
[type="password"],
[type="email"],
[type="url"],
[type="date"],
[type="month"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="week"],
[type="number"],
[type="search"],
[type="tel"],
[type="color"],
select,
label,
textarea {
	.form-stacked &,
	.form-aligned & {
		// Aligned forms should stack on small screens
		display: block;
		margin: $form-input-margin;
	}
}

/// Styles inputs and labels in the aligned layout at desktop sizes,
/// if you are not using Gravity Forms.
/// From Pure v0.5.0.
/// @group forms
/// @access public
/// @since 1.0.0

@include breakpoint( md ) {
	.form-aligned {
		input,
		textarea,
		select {
			display: inline-block;
			*display: inline;
			vertical-align: middle;
			*zoom: 1;
		}

		textarea {
			vertical-align: top;
		}

		label {
			display: inline-block;
			margin: 0 20px 0 0;
			text-align: right;
			vertical-align: middle;
			width: 200px;
		}

		.form-row-checkbox,
		.form-row-radio {
			margin: $form-row-margin;
			margin-left: 220px;
		}

		.form-controls {
			margin-left: 220px;
		}
	}
}

// Gravity Forms
// -----------------------------------------------------------------

/// Styles Gravity Forms.
/// @group forms
/// @access public
/// @since 1.0.0

.gform_wrapper {
	li {
		list-style: none;

		&::before {
			content: "";
			font-size: 0;
		}
	}

	table {
		table-layout: initial;
	}

	[type="radio"] {
		margin-left: 1px;
	}
}

// Buttons
// -----------------------------------------------------------------

/// The basic style for a button. Preferred over the extend if
/// you have control over HTML and do not need any styles for your
/// button in particular.
/// @group forms
/// @access public
/// @since 1.0.0

.button {
	@extend %button-styles;
}

/// The basic style for a primary and selected button. Preferred over the extend if
/// you have control over HTML and do not need any styles for your
/// button in particular.
/// @group forms
/// @access public
/// @since 1.0.0

.button-primary,
.button-selected {
	@extend %button-styles;
	@extend %button-styles-primary;
}
