// TODO: Needs documentation

// Tables
// -----------------------------------------------------------------

table {
	margin: $table-margin;
	border: $table-border;
	empty-cells: show;

	caption {
		padding: $table-caption-padding;
		font-style: italic;
		font-size: $font-size-table-caption;
		color: $color-table-caption;
		text-align: center;
	}

	td,
	th {
		overflow: visible; // to make ths where the title is really long work
		padding: $table-padding;
		margin: 0;
		border-width: 0 0 0 1px;
		border-left: 1px solid $color-table-border;
		font-size: inherit;
	}

	th {
		border-bottom: 1px solid $color-table-border;
	}

	td {
		background-color: transparent;
		vertical-align: top;
	}

	td:first-child,
	th:first-child {
		border-left-width: 0;
	}

	thead {
		background: $color-table-head-bg;
		vertical-align: bottom;
		color: $color-table-head;
		text-align: left;
	}
}

// tables that use grid width classes
table col[class*="col-"] {
	display: table-column;
	float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
	display: table-cell;
	float: none;
}

// Striped tables

// nth-child selector for modern browsers, otherwise apply .u-odd class to markup
.table-striped tr:nth-child(2n-1) td,
.u-odd td {
	background-color: $color-table-stripes;
}

// Bordered tables
// -----------------------------------------------------------------

.table-bordered {
	td {
		border-bottom: 1px solid $color-table-border;
	}
}
.table-bordered tbody > tr:last-child td,
.table-horizontal tbody > tr:last-child td {
	border-bottom-width: 0;
}

// Horizontal tables
// -----------------------------------------------------------------

.table-horizontal {
	td,
	th {
		border-width: 0 0 1px 0;
		border-bottom: 1px solid $color-table-border;
	}
}

.section-row {
	tr:last-child {
		td {
			border-bottom-width: 0;
		}
	}
}
