// =================================================================
// Typography
// =================================================================

// Links
// -----------------------------------------------------------------

/// Controls base styling for all links.
/// @group global
/// @access public
/// @since 1.0.0

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	// Improve readability when focused and also mouse hovered in all browsers.
	&:hover,
	&:active {
		text-decoration: none;
	}
}

// Headings
// -----------------------------------------------------------------

// TODO: Come back to these when we rework variables and generate similar to grid based on map

%font-jumbo {
	font-size: $font-size-jumbo;
	line-height: $line-height-jumbo;
	margin: $font-margin-jumbo;
}

%font-largest {
	font-size: $font-size-largest;
	line-height: $line-height-largest;
	margin: $font-margin-largest;
}

%font-larger {
	font-size: $font-size-larger;
	line-height: $line-height-larger;
	margin: $font-margin-larger;
}

%font-large {
	font-size: $font-size-large;
	line-height: $line-height-large;
	margin: $font-margin-large;
}

%font-medium {
	font-size: $font-size-medium;
	line-height: $line-height-medium;
	margin: $font-margin-medium;
}

%font-small {
	font-size: $font-size-small;
	line-height: $line-height-small;
	margin: $font-margin-small;
}

%font-smaller {
	font-size: $font-size-smaller;
	line-height: $line-height-smaller;
	margin: $font-margin-smaller;
}

%font-smallest {
	font-size: $font-size-smallest;
	line-height: $line-height-smallest;
	margin: $font-margin-smallest;
}

%font-micro {
	font-size: $font-size-micro;
	line-height: $line-height-micro;
	margin: $font-margin-micro;
}

/// Controls base styles for all heading tags.
/// @group global
/// @access public
/// @since 1.0.0

%heading-base {
	color: $color-heading;
	font-family: $font-family-heading;

	small {
		color: $color-heading-small;
		font-size: 0.75em;
		font-weight: normal;
	}
}

/// Styles for all h1 tags.
/// @group global
/// @access public
/// @since 1.0.0

h1 {
	@extend %heading-base;
	@extend %font-jumbo;
}

/// Styles for all h2 tags.
/// @group global
/// @access public
/// @since 1.0.0

h2 {
	@extend %heading-base;
	@extend %font-largest;
}

/// Styles for all h3 tags.
/// @group global
/// @access public
/// @since 1.0.0

h3 {
	@extend %heading-base;
	@extend %font-larger;
}

/// Styles for all h4 tags.
/// @group global
/// @access public
/// @since 1.0.0

h4 {
	@extend %heading-base;
	@extend %font-large;
}

/// Styles for all h5 tags.
/// @group global
/// @access public
/// @since 1.0.0

h5 {
	@extend %heading-base;
	@extend %font-medium;
}

/// Styles for all h6 tags.
/// @group global
/// @access public
/// @since 1.0.0

h6 {
	@extend %heading-base;
	@extend %font-small;
}

// Adds the help cursor on hover to abbreviations
abbr[title] {
	cursor: help;
}

/// Styles for all blockquotes.
/// @group global
/// @access public
/// @since 1.0.0

blockquote {
	margin: $font-margin-blockquote;
}

/// Styles for all paragraphs and preformatted content.
/// @group global
/// @access public
/// @since 1.0.0

p,
pre {
	margin: $font-margin-base;
}

/// Styles for all preformatted and code content.
/// @group global
/// @access public
/// @since 1.0.0

code,
kbd,
pre,
samp {
	font-family: $font-family-monospace;
	font-size: $font-size-base;
}

// Always hide an element when it has the `hidden` HTML attribute.
[hidden] {
	display: none !important;
}

// Lists
// -----------------------------------------------------------------

/// Styles for all lists and list-like content.
/// @group global
/// @access public
/// @since 1.0.0

dl,
menu,
ol,
ul {
	margin: $font-margin-list;
}

/// Styles for definition stuff.
/// @group global
/// @access public
/// @since 1.0.0

dd {
	margin: $font-margin-dd;
}

/// Styles menus and lists.
/// @group global
/// @access public
/// @since 1.0.0

menu,
ol,
ul {
	padding: $font-padding-list;
}

/// Styles for navigation.
/// @group global
/// @access public
/// @since 1.0.0

nav {
	ul,
	ol {
		margin: 0;
		padding: 0;
	}
}

// remove margin from nested lists
ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0;
}

// Code
// -----------------------------------------------------------------

/// Styles for code element.
/// @group global
/// @access public
/// @since 1.0.0

code {
	background: $color-code-bg;
	color: $color-code;
	padding: $font-padding-code;
	white-space: nowrap;
}

/// Styles for the code wrapper class.
/// Adding this class around a code element enables scrolling on mobile devices.
/// @group global
/// @access public
/// @since 1.0.0

.code {
	background: $color-code-bg;
	border: 1px solid $color-grayscale-e;
	margin: $font-margin-code;
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
	padding: 20px;

	& + & {
		margin-top: -15px;
	}

	code {
		background: none;
		font-size: 95%;
		padding: 0;
		white-space: pre;
		word-wrap: normal;
	}
}
