/* utilities
----------------------------------------------------------------- */

// Classes used to replicate pseudo-classes may be built on a case by case basis in child themes.
// To do so, create your own class and extend the pseudo-class you would like to replicate.

// .yourClass-hover {
// 	@extend %button-styles:hover;
// }

// .yourInput-active {
// 	@extend %button-styles:active;
// }

%button-styles {
	/* Structure */
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #999999;  /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
	border-radius: 2px;
	background-color: $color-button-bg;
	vertical-align: baseline;
	font-family: $fontFamily-button;
	font-size: $fontSize-button;
	font-size: 100%;
	line-height: normal;
	color: $color-button-text;
	text-align: center;
	text-decoration: none;
	&:hover {
		@include linear-gradient(transparent, rgba(0,0,0, 0.10));
	}
	&:active {
		box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
	}
}

/* Additional styles for inputs */
%button-styles-input {
	white-space: nowrap;
	cursor: pointer;
	zoom: 1;
	*display: inline; /*IE 6/7*/
	-webkit-user-drag: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	*font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
	*overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
	&:focus {
		outline: 0;
		@extend %button-styles:hover;
	}
	/* Firefox: Get rid of the inner focus border */
	&:-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&[disabled],
	&-disabled,
	&-disabled:hover,
	&-disabled:focus,
	&-disabled:active {
		border: none;
		background-image: none;
		box-shadow: none;
		cursor: not-allowed;
		@include opacity(0.4);
	}
	&-hidden {
		display: none;
	}
}

%button-styles-primary {
	background-color: $color-button-primary-bg;
	color: $color-button-primary-text;
}