// =================================================================
// Variables
// =================================================================

/// Whether or not to print media queries in your stylesheet.
/// If you set this to false, it will print media queries in the
/// order they are declared so that desktop styles will always
/// override mobile styles, regardless of screen size.
/// This is mostly useful for browsers which do not support media queries.
/// @group global
/// @access public
/// @since 1.0.0

$mqs: true !default;

/// The window width at which extra small styles will begin.
/// By default, this is set to target most large phones.
/// @group global
/// @access public
/// @since 1.2.0

$xs:                                       500px !default;

/// The window width at which small styles will begin.
/// By default, this is set to target most small tablets
/// and iPads in vertical orientation.
/// @group global
/// @access public
/// @since 1.2.0

$sm:                                       768px !default;

/// The window width at which medium styles will begin.
/// By default, this is set to target older desktops
/// and iPads in horizontal orientation.
/// @group global
/// @access public
/// @since 1.2.0

$md:                                       992px !default;

/// The window width at which large styles will begin.
/// By default, this is set to target most laptops.
/// @group global
/// @access public
/// @since 1.2.0

$lg:                                       1200px !default;

/// The window width at which extra large styles will begin.
/// By default, this is set to target most modern desktops.
/// @group global
/// @access public
/// @since 1.2.0

$xl:                                       1500px !default;

/// The container width for the small (sm) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-sm:                             750px !default;

/// The container width for the medium (md) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-md:                             970px !default;

/// The container width for the large (lg) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-lg:                             1170px !default;

// Z-Index Variables

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;
$z-index-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Typography
//
// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1
//
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

/// A color to tint your grays with.
/// Affects grayscale variables. Try cool colors, like blues.
/// Accepts any valid color.
/// @group config
/// @type color
/// @access public
/// @since 2.0.0

$tint-hue: none !default;

/// The amount to tint your grays, from 0-100%.
/// This will affect the maximum saturation of your tint.
/// @group config
/// @access public
/// @since 2.0.0

$tint-saturation: 15% !default;

/// A tinting helper function for grayscale variables.
/// If you're adding your own grays and want to take advantage
/// of tinting, you can use this function to tint your grays.
/// The actual tint is dependent on two variables: `$tint-hue`,
/// which is the color to use as a tint, and `$tint-saturation`,
/// which is the maximum saturation of that tint. More saturation
/// happens with dark colors, less or none with very light colors.
/// @group config
/// @access public
/// @since 2.0.0

@function tint-gray( $color ) {
	@if ( $tint-hue == "none" ) {
		@return $color;
	} @else {
		$_amt: $tint-saturation - ( lightness( $color ) / $tint-saturation );
		$newgray: adjust-hue( $color, hue( $tint-hue ) );

		@return saturate( $newgray, $_amt );
	}
}

/// A grayscale variable that takes advantage of the tint system.
/// Produces a plain black.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-0:                        tint-gray( #000 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a very dark gray suitable for text.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-1:                        tint-gray( #111 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a very dark gray suitable for text.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-2:                        tint-gray( #222 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a dark gray suitable for text or backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-3:                        tint-gray( #333 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a dark gray suitable for backgrounds or metadata.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-4:                        tint-gray( #444 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a dark gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-5:                        tint-gray( #555 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a middle gray suitable for backgrounds or large typography.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-6:                        tint-gray( #666 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a middle gray suitable for backgrounds or large typography.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-7:                        tint-gray( #777 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a middle gray suitable for backgrounds or large typography.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-8:                        tint-gray( #888 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a middle gray suitable for backgrounds or large typography.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-9:                        tint-gray( #999 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a middle gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-a:                        tint-gray( #aaa );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a light gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-b:                        tint-gray( #bbb );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a light gray suitable for backgrounds, borders, and metadata.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-c:                        tint-gray( #ccc );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a light gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-d:                        tint-gray( #ddd );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a light gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-e:                        tint-gray( #eee );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a near-white gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-f0:                       tint-gray( #f0f0f0 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a near-white gray suitable for backgrounds.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-f5:                       tint-gray( #f5f5f5 );

/// A grayscale variable that takes advantage of the tint system.
/// Produces a plain white.
/// Overriding this variable is not supported.
/// @group config
/// @access public
/// @since 1.0.0

$color-grayscale-f:                        tint-gray( #fff );

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Borders
// -----------------------------------------------------------------

/// The default border style.
/// @group global
/// @access public
/// @since 1.2.0

$border-base:										 1px solid $color-grayscale-d !default;
