// =================================================================
// Variables
// =================================================================

/// Whether or not to print media queries in your stylesheet.
/// If you set this to false, it will print media queries in the
/// order they are declared so that desktop styles will always
/// override mobile styles, regardless of screen size.
/// This is mostly useful for browsers which do not support media queries.
/// @group global
/// @access public
/// @since 1.0.0

$mqs: true !default;

/// The window width at which extra small styles will begin.
/// By default, this is set to target most large phones.
/// @group global
/// @access public
/// @since 1.2.0

$xs:                                       500px !default;

/// The window width at which small styles will begin.
/// By default, this is set to target most small tablets
/// and iPads in vertical orientation.
/// @group global
/// @access public
/// @since 1.2.0

$sm:                                       768px !default;

/// The window width at which medium styles will begin.
/// By default, this is set to target older desktops
/// and iPads in horizontal orientation.
/// @group global
/// @access public
/// @since 1.2.0

$md:                                       992px !default;

/// The window width at which large styles will begin.
/// By default, this is set to target most laptops.
/// @group global
/// @access public
/// @since 1.2.0

$lg:                                       1200px !default;

/// The window width at which extra large styles will begin.
/// By default, this is set to target most modern desktops.
/// @group global
/// @access public
/// @since 1.2.0

$xl:                                       1500px !default;

/// The container width for the small (sm) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-sm:                             750px !default;

/// The container width for the medium (md) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-md:                             970px !default;

/// The container width for the large (lg) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-lg:                             1170px !default;

// Z-Index Variables

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;
$z-index-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Typography
//
// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1
//
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// 18 colors

$grays: (
	0: #000,
	1: #111,
	2: #222,
	3: #333,
	4: #444,
	5: #555,
	6: #666,
	7: #777,
	8: #888,
	9: #999,
	a: #aaa,
	b: #bbb,
	c: #ccc,
	d: #ddd,
	e: #eee,
	f0: #f0f0f0,
	f5: #f5f5f5,
	f: #fff
);

$gray-tint: #000 !default;
$gray-tint-amount: 10 !default;

@function gray-tint( $id ) {
	$gray: map-get( $grays, $id );
	$_bamt: ( $gray-tint-amount / length( $grays ) );
	$_index: index( $grays, ( $id $gray ) );
	$_amt: $gray-tint-amount - ( $_bamt * $_index );

	@return mix( $gray-tint, $gray , $_amt );
}

$color-grayscale-0:                        gray-tint( 0 );
$color-grayscale-1:                        gray-tint( 1 );
$color-grayscale-2:                        gray-tint( 2 );
$color-grayscale-3:                        gray-tint( 3 );
$color-grayscale-4:                        gray-tint( 4 );
$color-grayscale-5:                        gray-tint( 5 );
$color-grayscale-6:                        gray-tint( 6 );
$color-grayscale-7:                        gray-tint( 7 );
$color-grayscale-8:                        gray-tint( 8 );
$color-grayscale-9:                        gray-tint( 9 );
$color-grayscale-a:                        gray-tint( a );
$color-grayscale-b:                        gray-tint( b );
$color-grayscale-c:                        gray-tint( c );
$color-grayscale-d:                        gray-tint( d );
$color-grayscale-e:                        gray-tint( e );
$color-grayscale-f0:                       gray-tint( f0 );
$color-grayscale-f5:                       gray-tint( f5 );
$color-grayscale-f:                        gray-tint( f );

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Borders
// -----------------------------------------------------------------

/// The default border style.
/// @group global
/// @access public
/// @since 1.2.0

$border-base:										 1px solid $color-grayscale-d !default;
