// =================================================================
// Variables
// =================================================================

// TODO: Needs cleanup

/// Whether or not to print media queries in your stylesheet.
/// If you set this to false, it will print media queries in the
/// order they are declared so that desktop styles will always
/// override mobile styles, regardless of screen size.
/// This is mostly useful for browsers which do not support media queries.
/// @group global
/// @access public
/// @since 1.0.0

$mqs: true !default;

/// The window width at which extra small styles will begin.
/// By default, this is set to target most large phones.
/// @group global
/// @access public
/// @since 1.2.0

$xs:                                       500px !default;

/// The window width at which small styles will begin.
/// By default, this is set to target most small tablets
/// and iPads in vertical orientation.
/// @group global
/// @access public
/// @since 1.2.0

$sm:                                       768px !default;

/// The window width at which medium styles will begin.
/// By default, this is set to target older desktops
/// and iPads in horizontal orientation.
/// @group global
/// @access public
/// @since 1.2.0

$md:                                       992px !default;

/// The window width at which large styles will begin.
/// By default, this is set to target most laptops.
/// @group global
/// @access public
/// @since 1.2.0

$lg:                                       1200px !default;

/// The window width at which extra large styles will begin.
/// By default, this is set to target most modern desktops.
/// @group global
/// @access public
/// @since 1.2.0

$xl:                                       1500px !default;

/// The container width for the small (sm) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-sm:                             750px !default;

/// The container width for the medium (md) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-md:                             970px !default;

/// The container width for the large (lg) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-lg:                             1170px !default;

// TODO: Z-Index Variables

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;
$z-index-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// TODO: Typography
//
// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1
//
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$font-family-base:                          "TiemposText", Georgia, serif !default;
$font-family-sans-serif:                     "Benton", Helvetica, sans-serif !default;
$font-family-monospace:                     Consolas, "Liberation Mono", Courier, monospace !default;
$font-family-icons:                     	 "bu-default-icons" !default;

$font-size-base:                            18px !default;

$line-height-base:                          1.6 !default;

$font-margin-base:                          0 0 1.5em 0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// TODO: Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-grayscale-0:                        #000 !default;
$color-grayscale-1:                        #151515 !default;
$color-grayscale-2:                        #222 !default;
$color-grayscale-3:                        #333 !default;
$color-grayscale-4:                        #444 !default;
$color-grayscale-5:                        #555 !default;
$color-grayscale-6:                        #666 !default;
$color-grayscale-7:                        #7a7a7a !default;
$color-grayscale-8:                        #888 !default;
$color-grayscale-9:                        #9f9f9f !default;
$color-grayscale-a:                        #aaa !default;
$color-grayscale-b:                        #bbb !default;
$color-grayscale-c:                        #ccc !default;
$color-grayscale-d:                        #ddd !default;
$color-grayscale-e:                        #eee !default;
$color-grayscale-f0:                       #f0f0f0 !default;
$color-grayscale-f5:                       #f5f5f5 !default;
$color-grayscale-f:                        #fff !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-base:                               $color-grayscale-5 !default;

$font-family-heading:                       $font-family-sans-serif !default;
$color-heading:                            $color-grayscale-0 !default;
$color-heading-small:                      $color-grayscale-9 !default;

$color-link:                               #0f69d7 !default;
$color-link-visited:                       #7337af !default;
$color-link-active:                        $color-grayscale-0 !default;

$font-family-button:                        $font-family-sans-serif !default;
$font-size-button:                          inherit !default;
$color-button-bg:                          $color-grayscale-e !default;
$color-button-text:                        $color-grayscale-4 !default;
$color-button-primary-bg:                  #0078e7 !default;
$color-button-primary-text:                $color-grayscale-f !default;

$font-padding-code:                         0.2em 0.4em !default;
$font-margin-code:                          30px 0 !default;
$color-code:                               $color-grayscale-7 !default;
$color-code-bg:                            $color-grayscale-f5 !default;

$font-margin-blockquote:                    1em 40px !default;

$font-margin-list:                          $font-margin-base !default;
$font-padding-list:                         0 0 0 40px !default;

$font-margin-dd:                            0 0 0 40px !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Tables
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$table-margin:                             35px 0 !default;
$table-padding:                            0.5em 1em !default;

$color-table-border:                       $color-grayscale-d !default;
$table-border:                             1px solid $color-table-border !default;

$color-table-head:                         $color-grayscale-0 !default;
$color-table-head-bg:                      $color-grayscale-e !default;

$table-caption-padding:                    0 0 10px !default;
$color-table-caption:                      $color-grayscale-9 !default;

$color-table-th-border:                    $color-grayscale-c !default;
$color-table-td-border:                    $color-grayscale-c !default;

$color-table-stripes:                      $color-grayscale-f5 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Forms
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$font-family-form:                          $font-family-sans-serif !default;

$form-legend-border:                       1px solid $color-grayscale-e !default;
$form-legend-border-width:                  0 0 1px 0 !default;
$form-legend-margin:                       0 0 20px !default;
$form-legend-padding:                      0 0 4px !default;

$form-fieldset-border:                     0 !default;
$form-fieldset-margin:                     30px 0 !default;
$form-fieldset-padding:                    0 !default;

$form-label-margin:                        0.5em 0 0.2em !default;

$form-row-margin:                          0 0 10px !default;

$form-input-margin:                        0.25em 0 !default;
$form-input-padding:                       0.5em 0.6em !default;
$form-input-border:                        1px solid $color-grayscale-c !default;
$form-input-shadow:                        inset 0 1px 3px $color-grayscale-e !default;
$form-input-border-radius:                  0 !default;
$form-input-focus-shadow:                   0 0 4px 0 rgba( 18, 159, 234, 0.2 ) !default;
$color-input-focus-border:                  #129fea !default;
