// =================================================================
// Variables
// =================================================================

/// Whether or not to print media queries in your stylesheet.
/// If you set this to false, it will print media queries in the
/// order they are declared so that desktop styles will always
/// override mobile styles, regardless of screen size.
/// This is mostly useful for browsers which do not support media queries.
/// @group global
/// @access public
/// @since 1.0.0

$mqs: true !default;

/// The window width at which extra small styles will begin.
/// By default, this is set to target most large phones.
/// @group global
/// @access public
/// @since 1.2.0

$xs:                                       500px !default;

/// The window width at which small styles will begin.
/// By default, this is set to target most small tablets
/// and iPads in vertical orientation.
/// @group global
/// @access public
/// @since 1.2.0

$sm:                                       768px !default;

/// The window width at which medium styles will begin.
/// By default, this is set to target older desktops
/// and iPads in horizontal orientation.
/// @group global
/// @access public
/// @since 1.2.0

$md:                                       992px !default;

/// The window width at which large styles will begin.
/// By default, this is set to target most laptops.
/// @group global
/// @access public
/// @since 1.2.0

$lg:                                       1200px !default;

/// The window width at which extra large styles will begin.
/// By default, this is set to target most modern desktops.
/// @group global
/// @access public
/// @since 1.2.0

$xl:                                       1500px !default;

/// The container width for the small (sm) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-sm:                             750px !default;

/// The container width for the medium (md) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-md:                             970px !default;

/// The container width for the large (lg) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-lg:                             1170px !default;

// Z-Index Variables

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;
$z-index-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Typography
//
// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1
//
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// 18 colors

$grays: (
	1: #fff,
	2: #f5f5f5,
	3: #f0f0f0,
	4: #eee,
	5: #ddd,
	6: #ccc,
	7: #bbb,
	8: #aaa,
	9: #999,
	10: #888,
	11: #777,
	12: #666,
	13: #555,
	14: #444,
	15: #333,
	16: #222,
	17: #111,
	18: #000
);

$mix-color: brown;

.color-test {
	$_bamt: (10/18);
	$_amt: $_bamt;

	@each $gray, $setting in $grays {
		&-#{$gray} {
			display: block;
			width: 100px;
			height: 100px;
			float: left;
			background-color: mix( $mix-color, $setting, $_amt );
		}

		$_amt: $_amt + $_bamt;
	}
}

$color-grayscale-0:                        #000 !default;
$color-grayscale-1:                        #151515 !default;
$color-grayscale-2:                        #222 !default;
$color-grayscale-3:                        #333 !default;
$color-grayscale-4:                        #444 !default;
$color-grayscale-5:                        #555 !default;
$color-grayscale-6:                        #666 !default;
$color-grayscale-7:                        #7a7a7a !default;
$color-grayscale-8:                        #888 !default;
$color-grayscale-9:                        #9f9f9f !default;
$color-grayscale-a:                        #aaa !default;
$color-grayscale-b:                        #bbb !default;
$color-grayscale-c:                        #ccc !default;
$color-grayscale-d:                        #ddd !default;
$color-grayscale-e:                        #eee !default;
$color-grayscale-f0:                       #f0f0f0 !default;
$color-grayscale-f5:                       #f5f5f5 !default;
$color-grayscale-f:                        #fff !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Borders
// -----------------------------------------------------------------

/// The default border style.
/// @group global
/// @access public
/// @since 1.2.0

$border-base:										 1px solid $color-grayscale-d !default;
