// =================================================================
// Grid
// =================================================================

// TODO: Needs documentation
// TODO: Needs col-0 classes

// placeholders for theme use
// -----------------------------------------------------------------
%wrapper-styles {
	overflow: hidden;
}

%container-styles {
	@extend %clearfix;
	margin: 0 auto;
	padding: $grid-container-padding;
	width: 100%;

	@include breakpoint( sm ) {
		max-width: $container-sm;
		padding: $grid-container-padding-large-screen;
	}

	@include breakpoint( md ) {
		max-width: $container-md;
	}

	@include breakpoint( lg ) {
		max-width: $container-lg;
	}
}

%row-styles {
	@extend %clearfix;
	margin: $grid-row-margin;

	@include breakpoint( sm ) {
		margin-right: 0;
	}
}

%row-child-styles {
	padding: $grid-column-padding;
}

%equal-height-parent {
	overflow: hidden;
}

%equal-height-child {
	@include breakpoint( md ) {
		padding-bottom: 99999px;
		margin-bottom: -99999px;
	}
}

// Additional placeholders are available for the grid. See below for detailed docs.
// Examples: %col-sm-one-half, %col-3, %col-md-6
// Optional: %col-md-margin-6, %col-md-push-6, %col-md-offset-6, %col-md-pull-6

// grid
// -----------------------------------------------------------------

.wrapper {
	@extend %wrapper-styles;
}

.content {
	position: relative;
}

.container {
	@extend %container-styles;
}

.row {
	@extend %row-styles;
}

.row [class*="col-"] {
	@extend %row-child-styles;
}

.row .row:nth-last-of-type(1) {
	margin-bottom: 0;
}

// Grid placeholders

// Builds placeholder classes for the grid.
// Available classes follow the pattern below.

// Friendly classes for common column needs, avaiable for the following breakpoints and sizes:
// 	Breakpoints: sm, md
// 	Sizes: 1/4, 1/3, 1/2, 2/3, 3/4, whole column
// 	Examples:
// 		Make something take up 1/2 of available space starting at the small breakpoint:
// 			@extend %col-sm-one-half;
// 		Make something take up 3/4 of available space starting at the medium breakpoint:
// 			@extend %col-md-three-quarter;

// For your less obvious grid needs:
// 	Basic usage (no breakpoints):
// 		@extend %col-3;
// 	Half column that starts only at medium breakpoints (half of 12):
// 		@extend %col-md-6;

// Optional grid classes are available as well, and may be turned on or off using variables:
// 	Margin: Automatically calculates width with margin included. Handy for items with a background color.
// 		Example: Make something take up 6 columns, starting at medium breakpoint, with margins:
// 		Usage: @extend %col-md-margin-6;
// 	Push: position ___ number of columns to the right (no affect on document flow)
// 		Example: Position something 6 columns to the right without affecting anything else
// 		Usage: @extend %col-md-push-6;
// 	Offset: position ___ number of columns to the right (does affect document flow)
// 		Example: Position something 6 columns to the right and bump everything else along with it
// 		Usage: @extend %col-md-offset-6;
// 	Pull: position ___ number of columns to the pull (does not affect document flow)
// 		Example: Position something 6 columns to the pull without affecting anything else
// 		Usage: @extend %col-md-pull-6;

//	Grid controls (see _variables.scss)
//		$grid-number-columns
//			Controls number of columns in grid.
//			Required: Columns must be neatly divisible by 2, 3, and 4.
//			Default: 12
//		$grid-breakpoints
//			The breakpoints you want grids to begin at.
//			Required: Small and medium if you use burf-theme. Large is optional.
//			Default: "small", "medium"
//		$grid-margins
//			Turn on optional margin classes.
//			Default: false
//		$grid-margin-width
//			Your desired grid margin, in %. Default value works out to 20px on large screens.
//			Relies on $grid-margins being set to "true".
//			Default: 2.6
//		$grid-push
//			Turn on optional push classes.
//			Default: false
//		$grid-pull
//			Turn on optional pull classes.
//			Default: false
//		$grid-offset
//			Turn on optional offset classes.
//			Default: false
//		$grid-classes
//			Choose to output numeric grid classes (ie, .col-sm-5)
//			Note that friendly grid classes always print.
//			Default: true

// Base styles
%col-float {
	float: left;
}

%col-base {
	position: relative;
	min-height: 1px;
}

%col-margin-base {
	margin-bottom: $grid-margin-width#{"%"};
	margin-top: 0;
	padding: 20px;
}

%col-noleftmargin {
	margin-left: 0;
}

.col-margin-parent,
%col-margin-parent {
	margin-left: -$grid-margin-width#{"%"};
}

// A helper mixin to build grid styles. No need to use outside this file.
@mixin gridBuild($cssproperty, $amount) {
	#{$cssproperty}: #{$amount}#{"%"};
}

// Initial grid setup
$grid-widths: ();

@for $i from 1 through $grid-number-columns {
	// Determine current base width
	$percentage: ($i / $grid-number-columns)*100;
	// Create a list of widths for gridBuild to use later
	$grid-widths: append($grid-widths, $percentage, comma);

	// Create basic grid classes, no breakpoints
	// Example output: %col-1
	%col-#{$i} {
		@extend %col-base;
		@extend %col-float;
		@include gridBuild(width, $percentage);
	}
}

$grid-widths-margins: ();

@for $i from 1 through $grid-number-columns {
	$percentage: ($i / $grid-number-columns)*100;
	$grid-widths-margins: append($grid-widths-margins, ($percentage - $grid-margin-width), comma);
}

// Breakpoints time

@each $breakpoint in $grid-breakpoints {
	@for $i from 1 through $grid-number-columns {
		// Add to base styles
		%col-#{$breakpoint}-#{$i} {
			@extend %col-base;
		}
	}

	@include breakpoint( $breakpoint, false ) {
		%col-#{$breakpoint}-margin-base {
			margin-left: $grid-margin-width#{"%"};
		}

		.col-#{$breakpoint}-margin-parent,
		%col-#{$breakpoint}-margin-parent {
			margin-left: -$grid-margin-width#{"%"};
		}

		@for $i from 1 through length($grid-widths) {
			// Get percentage from earlier
			$percentage: nth($grid-widths, $i);

			%col-#{$breakpoint} {
				&-#{$i} {
					@include gridBuild(width, $percentage);
					float: left;
				}

				@if map-get($grid-supports, push) {
					&-push-#{$i} {
						@include gridBuild(left, $percentage);
					}
				}

				@if map-get($grid-supports, pull) {
					&-pull-#{$i} {
						@include gridBuild(right, $percentage);
					}
				}

				@if map-get($grid-supports, offset) {
					&-offset-#{$i} {
						@include gridBuild(margin-left, $percentage);
					}
				}
				@if map-get($grid-supports, margin) {
					&-margin-#{$i} {
						$margin-percentage: nth($grid-widths-margins, $i);
						@include gridBuild(width, $margin-percentage);
						float: left;
					}
				}
			}
		}
	}
}

// Friendly placeholders for common needs - calculated based on grid columns
// The classes for these always print, regardless of $grid-classes setting.

$widths: (
	quarter: 		$grid-number-columns * (1/4),
	third: 			$grid-number-columns * (1/3),
	half:				$grid-number-columns * (1/2),
	two-third:		$grid-number-columns * (2/3),
	three-quarter:	$grid-number-columns * (3/4),
	full: 			$grid-number-columns
);

// Creates friendly classes and placeholders

@each $width, $columns in $widths {
	.col-#{$width},
	%col-#{$width} {
		@extend %col-#{$columns};
	}

	@each $breakpoint in $grid-breakpoints {
		.col-#{$breakpoint},
		%col-#{$breakpoint} {

			&-#{$width} {
				@extend %col-#{$breakpoint}-#{$columns};
			}

			@each $feature, $supported in $grid-supports {
				@if $supported {
					&-#{$feature}-#{$width} {
						@extend %col-#{$breakpoint}-#{$feature}-#{$columns};
					}
				}
			}
		}
	}
}

@if $grid-classes {
	@for $i from 1 through $grid-number-columns {
		.col-#{$i} {
			@extend %col-#{$i};
		}
		@each $breakpoint in $grid-breakpoints {
			.col-#{$breakpoint} {
				&-#{$i} {
					@extend %col-#{$breakpoint}-#{$i};
				}

				@each $feature, $supported in $grid-supports {
					@if $supported {
						&-#{$feature}-#{$i} {
							@extend %col-#{$breakpoint}-#{$feature}-#{$i};
						}
					}
				}
			}
		}
	}
}