// =================================================================
// Global Settings
// =================================================================

@import 'normalize-variables';

// =================================================================
// Global Styles
// =================================================================

// Box model
// -----------------------------------------------------------------

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

figure {
	margin: 0;
}

// Base
// -----------------------------------------------------------------

html {
	-moz-osx-font-smoothing: grayscale; // Normalizes font rendering in Firefox
}

// Controls spacing between section tags.
// Access: Public
// Since: 1.0.0

section {
	margin: $margin-section;
}

img,
a img,
object,
embed,
figure {
	height: auto;
	max-width: 100%;
}
