// Base
// =================================================================

$font-family-base:                          "TiemposText", Georgia, serif !default;
$font-size-base:                            18px !default;
$line-height-base:                          1.6 !default;
$color-base:                               $color-grayscale-5 !default;

// Box model
// -----------------------------------------------------------------

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

figure {
	margin: 0;
}

// Base
// -----------------------------------------------------------------

html {
	-moz-osx-font-smoothing: grayscale; // Normalizes font rendering in Firefox
}

/// Base styles and typography for all HTML elements.
/// @group global
/// @access public
/// @since 1.0.0

body {
	color: $color-base;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

/// Controls spacing between section tags.
/// @group global
/// @access public
/// @since 1.0.0

section {
	margin: 60px 0 0;
}

img,
a img,
object,
embed,
figure {
	height: auto;
	max-width: 100%;
}
