// Helpful Guide to translating px => pt sizes:

//  Pixels => Points
//  6px => 5pt
//  7px => 5pt
//  8px => 6pt
//  9px => 7pt
//  10px => 8pt
//  11px => 8pt
//  12px => 9pt
//  13px => 10pt
//  14px => 11pt
//  15px => 11pt
//  16px => 12pt
//  17px => 13pt
//  18px => 14pt
//  19px => 14pt
//  20px => 15pt
//  21px => 16pt
//  22px => 17pt
//  23px => 17pt
//  24px => 18pt

// Print Font Family
//
// Controls the font family used on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-family
//
// Access: Public
//
// Since: 4.0.0

$print-font-family: Georgia, 'Times New Roman', Times, serif !default;

// Print Font Size
//
// Controls the font size used on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size
//
// Access: Public
//
// Since: 4.0.0

$print-font-size: 13pt !default;

// Print Text Color
//
// Controls the text color used on the print stylesheet.
//
// Styleguide Configuration.Print.$print-text-color
//
// Access: Public
//
// Since: 4.0.0

$print-text-color: $color-base !default;

// Print Margins
//
// Controls the margins used on the print stylesheet.
//
// Styleguide Configuration.Print.$print-margins
//
// Access: Public
//
// Since: 4.0.0

$print-margins: 2cm !default;

// Print Heading 1
//
// Controls the size of `h1` on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size-1
//
// Access: Public
//
// Since: 4.0.0

$print-font-size-1: 24pt !default;

// Print Heading 2
//
// Controls the size of `h2` on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size-2
//
// Access: Public
//
// Since: 4.0.0

$print-font-size-2: 14pt !default;

// Print Heading 3
//
// Controls the size of `h3` on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size-3
//
// Access: Public
//
// Since: 4.0.0

$print-font-size-3: 14pt !default;

// Print Heading 4
//
// Controls the size of `h4` on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size-4
//
// Access: Public
//
// Since: 4.0.0

$print-font-size-4: 14pt !default;

// Print Heading 5
//
// Controls the size of `h5` on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size-5
//
// Access: Public
//
// Since: 4.0.0

$print-font-size-5: 12pt !default;

// Print Heading 6
//
// Controls the size of `h6` on the print stylesheet.
//
// Styleguide Configuration.Print.$print-font-size-6
//
// Access: Public
//
// Since: 4.0.0

$print-font-size-6: 12pt !default;

@media print {
	// Set content width, remove floats and margins
	// Attention: The classes and IDs vary from theme to theme. Set your own classes here

	.content-container,
	.content-area {
		float: none;
		margin: 0;
		width: 100%;
	}

	// Force the printer to render the colors as seen on screen  (Chrome and Safari only)

	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	// Adjust margins

	@page {
		margin: $print-margins;
	}

	// Font set to 16px / 13pt, background set to white and font set to black.
	// This saves ink

	body {
		background: $color-grayscale-f !important;
		color: $print-text-color;
		font-family: $print-font-family;
		font-size: $print-font-size;
		line-height: 1.3;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: $print-font-size-1;
	}

	h2 {
		font-size: $print-font-size-2;
		margin-top: 25px;
	}

	h3 {
		font-size: $print-font-size-3;
		margin-top: 25px;
	}

	h4 {
		font-size: $print-font-size-4;
		margin-top: 25px;
	}

	h5 {
		font-size: $print-font-size-5;
		margin-top: 25px;
	}

	h6 {
		font-size: $print-font-size-6;
		margin-top: 25px;
	}

	// Define all page breaks

	blockquote {
		font-style: italic;
		page-break-inside: avoid;

		&::before {
			content: '' !important;
			margin: 0 !important;
		}

		> p {

			&:first-of-type {
				margin: 0 !important;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	table,
	pre {
		page-break-inside: avoid;
	}

	ul,
	ol,
	dl {
		page-break-before: avoid;
	}

	// Show link color and link behavior

	a {
		font-weight: bold;
		page-break-inside: avoid;
		text-align: left;

		&:link,
		&:visited {
			font-weight: bold;
			text-align: left;
		}

		& article {
			font-weight: bolder;
			text-decoration: none;
		}

		&::after {

			> img {
				content: '';
			}

		}

		&[href^='http'] {

			&::after {
				content: ' <' attr( href ) '> ';
			}
		}

		&[href*='mailto:'] {

			&::after {
				color: $color-grayscale-0;
				content: ' (' attr( href ) ') ';
				font-size: 14px;
			}

		}
	}

	// Restore Wordpress alignright, alignleft, aligncenter classes

	.alignleft {
		float: left;
		margin: 0 15px 15px 0;
	}

	.aligncenter {
		display: block;
		margin: 0 auto 15px;
	}

	.alignright {
		float: right;
		margin: 0 0 15px 15px;
	}

	.alignright,
	.alignleft {
		max-width: 50%;
	}

	// Disconnect embedded videos and reduce the whitespace of iframes to zero.

	iframe {
		display: none;
		height: 0 !important;
		line-height: 0 !important;
		overflow: hidden !important;
		white-space: nowrap;
		width: 0 !important;

		&[src^='https://maps.bu.edu'] {
			display: block;
			height: 500px !important;
			width: 100% !important;
		}

	}

	.responsive-video,
	.responsive-youtube,
	.buvideoWrapper {
		display: none;
		height: 0;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
	}

	// Hide unnecessary elements for printing

	.primary-nav,
	.utility-nav,
	.sidebar,
	form,
	.bu-sharing,
	.archive-link-container,
	#comments,
	.footbar,
	.site-footer-disclaimer,
	.site-footer-menus,
	.skip-link,
	.edit-link,
	button,
	.button,
	.button-primary,
	.bu-slideshow-container,
	article a[href^='#'] {
		display: none !important;
	}

	// Hide Collapsible icons

	.icon-plus::before,
	.bu_collapsible::before {
		content: '';
	}

	// Insert copyright after content

	.bu_copyright {
		display: block;
		font-size: 11pt;
		margin: 0 auto;
		text-align: center;
	}

	// remove background color from footer

	.site-footer {
		background: transparent !important;
	}

	// Define important elements

	p,
	address,
	li,
	dt,
	dd,
	blockquote {
		font-size: 100%;
	}

	// Character set for code examples

	code,
	pre {
		font-family: 'Courier New', Courier, mono;
	}

	ul,
	ol {
		list-style: square;
		margin-bottom: 20pt;
		margin-left: 18pt;
	}

	li {
		line-height: 1.6em;
	}
}
