// =================================================================
// Tables
// =================================================================

/// Base margin for the table tag.
/// @group content
/// @access public
/// @since 1.0.0

$table-margin:                             $margin 0 !default;
$table-padding:                            0.5em 1em !default;

$color-table-border:                       $color-grayscale-d !default;
$table-border:                             1px solid $color-table-border !default;

$color-table-head:                         $color-grayscale-0 !default;
$color-table-head-bg:                      $color-grayscale-e !default;

$table-caption-padding:                    0 0 10px !default;
$color-table-caption:                      $color-grayscale-9 !default;

$color-table-th-border:                    $color-grayscale-c !default;
$color-table-td-border:                    $color-grayscale-c !default;

$color-table-stripes:                      $color-grayscale-f5 !default;

/// Controls base styling for tables.
/// @group global
/// @access public
/// @since 1.0.0

table {
	@extend %font-size-secondary;
	border: $table-border;
	empty-cells: show;
	margin: $table-margin;
	width: 100%;

	caption {
		color: $color-table-caption;
		font-style: italic;
		padding: $table-caption-padding;
		text-align: center;
	}

	td,
	th {
		border-left: 1px solid $color-table-border;
		border-width: 0 0 0 1px;
		font-size: inherit;
		margin: 0;
		overflow: visible; // to make ths where the title is really long work
		padding: $table-padding;

		&:first-child {
			border-left-width: 0;
		}

		&[class*="col-"] {
			display: table-cell;
			float: none;
		}
	}

	th {
		border-bottom: 1px solid $color-table-border;
	}

	td {
		background-color: transparent;
		vertical-align: top;
	}

	thead {
		background: $color-table-head-bg;
		color: $color-table-head;
		text-align: left;
		vertical-align: bottom;
	}

	col[class*="col-"] { // Despite what CodeClimate says this is necessary.
		display: table-column;
		float: none;
	}
}

/// Adds stripes to tables.
/// @group global
/// @access public
/// @since 1.0.0

.table-striped tr:nth-child(2n-1),
.u-odd {
	td {
		background-color: $color-table-stripes;
	}
}

// Bordered tables
// -----------------------------------------------------------------

/// Adds both horizontal and vertical borders.
/// @group global
/// @access public
/// @since 1.0.0

.table-bordered {
	td {
		border-bottom: 1px solid $color-table-border;
	}
}

// Horizontal tables
// -----------------------------------------------------------------

/// Switches the border on tables from vertical to horizontal.
/// @group global
/// @access public
/// @since 1.0.0

.table-horizontal {
	td,
	th {
		border: 0;
		border-bottom: 1px solid $color-table-border;
	}
}

.table-bordered,
.table-horizontal,
.section-row {
	tbody > {
		tr:last-child {
			td {
				border-bottom-width: 0;
			}
		}
	}
}
