// =================================================================
// Tests
// For testing and debugging Responsive styles for development.
// Subject to change at any time. Do not use in production.
// =================================================================
.color-grayscale-0 {
	background-color: $color-grayscale-0;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-1 {
	background-color: $color-grayscale-1;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-2 {
	background-color: $color-grayscale-2;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-3 {
	background-color: $color-grayscale-3;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-4 {
	background-color: $color-grayscale-4;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-5 {
	background-color: $color-grayscale-5;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-6 {
	background-color: $color-grayscale-6;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-7 {
	background-color: $color-grayscale-7;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-8 {
	background-color: $color-grayscale-8;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-9 {
	background-color: $color-grayscale-9;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-a {
	background-color: $color-grayscale-a;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-b {
	background-color: $color-grayscale-b;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-c {
	background-color: $color-grayscale-c;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-d {
	background-color: $color-grayscale-d;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-e {
	background-color: $color-grayscale-e;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-f0 {
	background-color: $color-grayscale-f0;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-f5 {
	background-color: $color-grayscale-f5;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}

.color-grayscale-f {
	background-color: $color-grayscale-f;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
}
