// =================================================================
// Typography Settings
// =================================================================

/// Controls the default font size used across the site.
/// Affects body text and anything else that isn't
/// specifically overridden.
/// @group 01-config
/// @access public
/// @since 1.0.0

$font-size-base:                            18px !default;

/// Controls the default line height used across the site.
/// Affects body text and anything else that isn't
/// specifically overridden.
/// @group 01-config
/// @access public
/// @since 1.0.0

$line-height-base:                          1.6 !default;

/// A serif font to use. This variable is not used by default.
/// @group 01-config
/// @access public
/// @since 1.0.0

$font-family-serif:                         "TiemposText", Georgia, serif !default;

/// A sans-serif font to use sitewide.
/// By default, this affects the site footer and label text in profiles.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-family-sans-serif:                    "Benton-Sans", "Helvetica", sans-serif !default;

/// A monospace font to use sitewide.
/// By default, this affects the `<code>` and `<pre>` elements.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-family-monospace:                     "Consolas", "Liberation Mono", Courier, monospace !default;

/// The default font for body copy.
/// @group 01-config
/// @access public
/// @since 1.0.0

$font-family-base:                          $font-family-sans-serif !default;

/// A font to use for headings.
/// Affects `<h1>`, `<h2>`, etc.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-family-heading:                       $font-family-sans-serif !default;

/// A color to use for headings.
/// Affects `<h1>`, `<h2>`, etc.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-heading:                             $color-grayscale-0 !default;

/// A font to use for small tags within headings.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-heading-small:                       $color-grayscale-6 !default;

/// Base margin for HTML tags. Primarily affects `<p>`.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-margin-base:                          0 0 1.5em 0 !default;

/// Base color for links.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-link:                                #0f69d7 !default;

/// Base color for visited links.
/// Must be different from `$color-link` for accessibility
/// reasons.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-link-visited:                        #7337af !default;

/// Base color for active links.
/// Must be different from `$color-link` for accessibility
/// reasons.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-link-active:                         $color-grayscale-0 !default;

/// Base padding for the `<code>` tag.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-padding-code:                         0.2em 0.4em !default;

/// Base margin for the `<code>` tag.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-margin-code:                          $margin 0 !default;

/// Text color to use for the `<code>` tag.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-code:                                $color-grayscale-6 !default;

/// Background color to use for the `<code>` tag.
/// @group 04-typography
/// @access public
/// @since 1.0.0
/// @accessibility AA

$color-code-bg:                             $color-grayscale-f5 !default;

/// Base border for the `<code>` tag.
/// @group 04-typography
/// @access public
/// @since 2.0.0

$border-code:                               $border !default;

/// Base margin for the `<blockquote>` tag.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-margin-blockquote:                    1em $margin-large !default;

/// Base margin for `<ul>` and `<ol>` tags.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-margin-list:                          $font-margin-base !default;

/// Base padding for `<ul>` and `<ol>` tags.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-padding-list:                         0 0 0 40px !default;

/// Base margin for `<dd>` tags.
/// @group 04-typography
/// @access public
/// @since 1.0.0

$font-margin-dd:                            0 0 0 $margin !default;
