// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Grid and Layout
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Grid Controls

$grid-number-columns:                      12 !default;
$grid-margin-width:                        2.6 !default;

// Choose which breakpoints and features you want to support.
// Small (sm) and medium (md) are required, everything else is optional.

$grid-breakpoints:                         "xs", "sm", "md" !default;
$grid-margins:                             true !default;
$grid-push:                                true !default;
$grid-pull:                                true !default;
$grid-offset:                              true !default;

// Choose whether or not to print the numeric grid classes (.col-sm-5). Optional.
// Note that friendly placeholders (.col-quarter, .col-sm-quarter) will always print.

$grid-classes:										 true !default;

// Grid Spacing

$grid-container-padding:                   35px 20px 0 !default;
$grid-container-padding-largeScreen:       60px 20px 0 !default;
$grid-row-margin:                          0 -20px !default;
$grid-column-padding:                      0 20px !default;
$grid-sidebar-padding:                     0 0 0 60px !default;

// Media Queries

$MQs: true !default;

$XS:                                       500px !default;
$SM:                                       768px !default;
$MD:                                       992px !default;
$LG:                                       1200px !default;

// Container Widths

$container-SM:                             750px !default;
$container-MD:                             970px !default;
$container-LG:                             1170px !default;

// Z-Index Variables

$zIndex-1:                                 100;
$zIndex-2:                                 200;
$zIndex-3:                                 300;
$zIndex-4:                                 400;
$zIndex-5:                                 500;
$zIndex-6:                                 600;
$zIndex-7:                                 700;
$zIndex-8:                                 800;
$zIndex-9:                                 900;
$zIndex-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Typography
//
// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1
//
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$fontFamily-base:                          "TiemposText", Georgia, serif !default;
$fontFamily-sansSerif:                     "Benton", Helvetica, sans-serif !default;
$fontFamily-monospace:                     Consolas, "Liberation Mono", Courier, monospace !default;

$fontSize-base:                            18px !default;
$fontSize-micro:                           11px !default;
$fontSize-smallest:                        12px !default;
$fontSize-smaller:                         14px !default;
$fontSize-small:                           16px !default;
$fontSize-medium:                          $fontSize-base !default;
$fontSize-large:                           21px !default;
$fontSize-larger:                          28px !default;
$fontSize-largest:                         37px !default;
$fontSize-jumbo:                           49px !default;

$lineHeight-base:                          1.6 !default;
$lineHeight-micro:                         $lineHeight-base !default;
$lineHeight-smallest:                      $lineHeight-base !default;
$lineHeight-smaller:                       $lineHeight-base !default;
$lineHeight-small:                         1.5 !default;
$lineHeight-medium:                        1.4 !default;
$lineHeight-large:                         1.3 !default;
$lineHeight-larger:                        1.25 !default;
$lineHeight-largest:                       1.15 !default;
$lineHeight-jumbo:                         1.05 !default;

$fontMargin-base:                          0 0 25px 0 !default;
$fontMargin-micro:                         $fontMargin-base !default;
$fontMargin-smallest:                      $fontMargin-base !default;
$fontMargin-smaller:                       $fontMargin-base !default;
$fontMargin-small:                         $fontMargin-base !default;
$fontMargin-medium:                        $fontMargin-base !default;
$fontMargin-large:                         $fontMargin-base !default;
$fontMargin-larger:                        $fontMargin-base !default;
$fontMargin-largest:                       0 0 27px 0 !default;
$fontMargin-jumbo:                         0 0 25px 0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-grayScale-0:                        #000000 !default;
$color-grayScale-1:                        #151515 !default;
$color-grayScale-2:                        #222222 !default;
$color-grayScale-3:                        #333333 !default;
$color-grayScale-4:                        #444444 !default;
$color-grayScale-5:                        #555555 !default;
$color-grayScale-6:                        #666666 !default;
$color-grayScale-7:                        #7a7a7a !default;
$color-grayScale-8:                        #888888 !default;
$color-grayScale-9:                        #9f9f9f !default;
$color-grayScale-a:                        #aaaaaa !default;
$color-grayScale-b:                        #bbbbbb !default;
$color-grayScale-c:                        #cccccc !default;
$color-grayScale-d:                        #dddddd !default;
$color-grayScale-e:                        #eeeeee !default;
$color-grayScale-f5:                       #f5f5f5 !default;
$color-grayScale-f0:                       #f0f0f0 !default;
$color-grayScale-f:                        #ffffff !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-base:                               $color-grayScale-5 !default;

$fontFamily-heading:                       $fontFamily-sansSerif !default;
$color-heading:                            $color-grayScale-0 !default;
$color-heading-small:                      $color-grayScale-9 !default;
$fontMargin-hgroup:                        $fontMargin-base !default;

$color-link:                               #0f69d7 !default;
$color-link-visited:                       #7337af !default;
$color-link-active:                        $color-grayScale-0 !default;

$fontFamily-button:                        $fontFamily-sansSerif !default;
$fontSize-button:                          $fontSize-small !default;
$color-button-bg:                          $color-grayScale-e !default;
$color-button-text:                        $color-grayScale-4 !default;
$color-button-primary-bg:                  #0078e7 !default;
$color-button-primary-text:                $color-grayScale-f !default;

$fontPadding-code:                         0.2em 0.4em !default;
$fontMargin-code:                          30px 0 !default;
$color-code:                               $color-grayScale-7 !default;
$color-code-bg:                            $color-grayScale-f5 !default;

$fontMargin-blockquote:                    1em 40px !default;

$fontMargin-list:                          $fontMargin-base !default;
$fontPadding-list:                         0 0 0 40px !default;

$fontMargin-dd:                            0 0 0 40px !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Tables
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$table-margin:                             35px 0 !default;
$table-padding:                            0.5em 1em !default;

$color-table-border:                       $color-grayScale-d !default;
$table-border:                             1px solid $color-table-border !default;

$color-table-head:                         $color-grayScale-0 !default;
$color-table-head-bg:                      $color-grayScale-e !default;

$table-caption-padding:                    0 0 10px !default;
$fontSize-table-caption:                   $fontSize-small !default;
$color-table-caption:                      $color-grayScale-9 !default;

$color-table-th-border:                    $color-grayScale-c !default;
$color-table-td-border:                    $color-grayScale-c !default;

$color-table-stripes:                      #f6f9fc !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Forms
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$form-margin:                              0 !default;
$fontFamily-form:                          $fontFamily-sansSerif !default;
$fontSize-form:                            $fontSize-small !default;

$form-legend-border:                       1px solid #e5e5e5 !default;
$form-legend-borderWidth:                  0 0 1px 0 !default;
$form-legend-margin:                       0 0 20px !default;
$form-legend-padding:                      0 0 4px !default;
$fontSize-legend:                          $fontSize-large !default;

$form-fieldset-border:                     0 !default;
$form-fieldset-margin:                     30px 0 !default;
$form-fieldset-padding:                    0 !default;

$form-label-margin:                        0.5em 0 0.2em !default;

$form-row-margin:                          0 0 10px !default;

$form-input-margin:                        0.25em 0 !default;
$form-input-padding:                       0.5em 0.6em !default;
$form-input-border:                        1px solid #ccc !default;
$form-input-shadow:                        inset 0 1px 3px #eee !default;
$form-input-borderRadius:                  0 !default;
$form-input-focusShadow:                   0 0 4px 0 rgba(18 ,159 ,234 ,0.2) !default;
$color-input-focusBorder:                  #129fea !default;