// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Grid and Layout
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Grid Controls

$grid-number-columns:                      12 !default;
$grid-margin-width:                        2.6 !default;

// Choose which breakpoints and features you want to support.
// Small (sm) and medium (md) are required, everything else is optional.

$grid-breakpoints:                         "xs", "sm", "md", "lg" !default;
$grid-margins:                             true !default;
$grid-push:                                true !default;
$grid-pull:                                true !default;
$grid-offset:                              true !default;

// Choose whether or not to print the numeric grid classes (.col-sm-5). Optional.
// Note that friendly placeholders (.col-quarter, .col-sm-quarter) will always print.

$grid-classes:										 true !default;

// Grid Spacing

$grid-container-padding:                   35px 20px 0 !default;
$grid-container-padding-large-screen:       60px 20px 0 !default;
$grid-row-margin:                          0 -20px !default;
$grid-column-padding:                      0 20px !default;
$grid-sidebar-padding:                     0 0 0 60px !default;

// Media Queries

$MQs: true !default;

$XS:                                       500px !default;
$SM:                                       768px !default;
$MD:                                       992px !default;
$LG:                                       1200px !default;
$XL:                                       1500px !default;

// Container Widths

$container-sm:                             750px !default;
$container-md:                             970px !default;
$container-lg:                             1170px !default;

// Z-Index Variables

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;
$z-index-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Typography
//
// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1
//
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$font-family-base:                          "TiemposText", Georgia, serif !default;
$font-family-sans-serif:                     "Benton", Helvetica, sans-serif !default;
$font-family-monospace:                     Consolas, "Liberation Mono", Courier, monospace !default;
$font-family-icons:                     	 "bu-default-icons" !default;

$font-size-base:                            18px !default;
$font-size-micro:                           11px !default;
$font-size-smallest:                        12px !default;
$font-size-smaller:                         14px !default;
$font-size-small:                           16px !default;
$font-size-medium:                          $font-size-base !default;
$font-size-large:                           21px !default;
$font-size-larger:                          28px !default;
$font-size-largest:                         37px !default;
$font-size-jumbo:                           49px !default;

$line-height-base:                          1.6 !default;
$line-height-micro:                         $line-height-base !default;
$line-height-smallest:                      $line-height-base !default;
$line-height-smaller:                       $line-height-base !default;
$line-height-small:                         1.5 !default;
$line-height-medium:                        1.4 !default;
$line-height-large:                         1.3 !default;
$line-height-larger:                        1.25 !default;
$line-height-largest:                       1.15 !default;
$line-height-jumbo:                         1.05 !default;

$font-margin-base:                          0 0 25px 0 !default;
$font-margin-micro:                         $font-margin-base !default;
$font-margin-smallest:                      $font-margin-base !default;
$font-margin-smaller:                       $font-margin-base !default;
$font-margin-small:                         $font-margin-base !default;
$font-margin-medium:                        $font-margin-base !default;
$font-margin-large:                         $font-margin-base !default;
$font-margin-larger:                        $font-margin-base !default;
$font-margin-largest:                       0 0 27px 0 !default;
$font-margin-jumbo:                         0 0 25px 0 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-grayscale-0:                        #000000 !default;
$color-grayscale-1:                        #151515 !default;
$color-grayscale-2:                        #222222 !default;
$color-grayscale-3:                        #333333 !default;
$color-grayscale-4:                        #444444 !default;
$color-grayscale-5:                        #555555 !default;
$color-grayscale-6:                        #666666 !default;
$color-grayscale-7:                        #7a7a7a !default;
$color-grayscale-8:                        #888888 !default;
$color-grayscale-9:                        #9f9f9f !default;
$color-grayscale-a:                        #aaaaaa !default;
$color-grayscale-b:                        #bbbbbb !default;
$color-grayscale-c:                        #cccccc !default;
$color-grayscale-d:                        #dddddd !default;
$color-grayscale-e:                        #eeeeee !default;
$color-grayscale-f5:                       #f5f5f5 !default;
$color-grayscale-f0:                       #f0f0f0 !default;
$color-grayscale-f:                        #ffffff !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-base:                               $color-grayscale-5 !default;

$font-family-heading:                       $font-family-sans-serif !default;
$color-heading:                            $color-grayscale-0 !default;
$color-heading-small:                      $color-grayscale-9 !default;
$font-margin-hgroup:                        $font-margin-base !default;

$color-link:                               #0f69d7 !default;
$color-link-visited:                       #7337af !default;
$color-link-active:                        $color-grayscale-0 !default;

$font-family-button:                        $font-family-sans-serif !default;
$font-size-button:                          $font-size-small !default;
$color-button-bg:                          $color-grayscale-e !default;
$color-button-text:                        $color-grayscale-4 !default;
$color-button-primary-bg:                  #0078e7 !default;
$color-button-primary-text:                $color-grayscale-f !default;

$font-padding-code:                         0.2em 0.4em !default;
$font-margin-code:                          30px 0 !default;
$color-code:                               $color-grayscale-7 !default;
$color-code-bg:                            $color-grayscale-f5 !default;

$font-margin-blockquote:                    1em 40px !default;

$font-margin-list:                          $font-margin-base !default;
$font-padding-list:                         0 0 0 40px !default;

$font-margin-dd:                            0 0 0 40px !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Tables
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$table-margin:                             35px 0 !default;
$table-padding:                            0.5em 1em !default;

$color-table-border:                       $color-grayscale-d !default;
$table-border:                             1px solid $color-table-border !default;

$color-table-head:                         $color-grayscale-0 !default;
$color-table-head-bg:                      $color-grayscale-e !default;

$table-caption-padding:                    0 0 10px !default;
$font-size-table-caption:                   $font-size-small !default;
$color-table-caption:                      $color-grayscale-9 !default;

$color-table-th-border:                    $color-grayscale-c !default;
$color-table-td-border:                    $color-grayscale-c !default;

$color-table-stripes:                      #f6f9fc !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Forms
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$form-margin:                              0 !default;
$font-family-form:                          $font-family-sans-serif !default;
$font-size-form:                            $font-size-small !default;

$form-legend-border:                       1px solid #e5e5e5 !default;
$form-legend-border-width:                  0 0 1px 0 !default;
$form-legend-margin:                       0 0 20px !default;
$form-legend-padding:                      0 0 4px !default;
$font-size-legend:                          $font-size-large !default;

$form-fieldset-border:                     0 !default;
$form-fieldset-margin:                     30px 0 !default;
$form-fieldset-padding:                    0 !default;

$form-label-margin:                        0.5em 0 0.2em !default;

$form-row-margin:                          0 0 10px !default;

$form-input-margin:                        0.25em 0 !default;
$form-input-padding:                       0.5em 0.6em !default;
$form-input-border:                        1px solid #ccc !default;
$form-input-shadow:                        inset 0 1px 3px #eee !default;
$form-input-border-radius:                  0 !default;
$form-input-focus-shadow:                   0 0 4px 0 rgba(18 ,159 ,234 ,0.2) !default;
$color-input-focus-border:                  #129fea !default;