// =================================================================
// Variables
// =================================================================

// TODO: Needs cleanup

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Grid and Layout
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

//	Grid controls (see _variables.scss)
//		$grid-number-columns
//			Controls number of columns in grid.
//			Required: Columns must be neatly divisible by 2, 3, and 4.
//			Default: 12
//		$grid-breakpoints
//			The breakpoints you want grids to begin at.
//			Required: Small and medium if you use burf-theme. Large is optional.
//			Default: "small", "medium"
//		$grid-margins
//			Turn on optional margin classes.
//			Default: false
//		$grid-margin-width
//			Your desired grid margin, in %. Default value works out to 20px on large screens.
//			Relies on $grid-margins being set to "true".
//			Default: 2.6
//		$grid-push
//			Turn on optional push classes.
//			Default: false
//		$grid-pull
//			Turn on optional pull classes.
//			Default: false
//		$grid-offset
//			Turn on optional offset classes.
//			Default: false
//		$grid-classes
//			Choose to output numeric grid classes (ie, .col-sm-5)
//			Note that friendly grid classes always print.
//			Default: true

/// The number of columns you would like in your grid.
/// To use styles in burf-theme, you must set this to a number that
/// is divisible by 2, 3, and 4.
/// @group grid
/// @access public
/// @since 1.2.0

$grid-number-columns:                      12 !default;

/// The percentage you'd like a margin to take up on grid items, if you
/// are using margins on grid items.
/// The default setting, 2.6%, equals about 20px on a large screen.
/// @group grid
/// @access public
/// @since 1.2.0

$grid-margin-width:                        2.6 !default;

/// Choose which breakpoints you want grid classes to support.
/// Small (sm) and medium (md) are required, everything else is optional.
/// @group grid
/// @access public
/// @since 1.2.0

$grid-breakpoints:                         "xs", "sm", "md", "lg" !default;


/// Determines which classes to calculate and print for the theme.
/// By default, all are on so clients can freely use these in custom CSS.
/// However, you may choose to only support the ones you like in a custom theme.
/// @group grid
/// @access public
/// @since 2.0.0

$grid-supports: (
	margin: 		true, // optional
	push: 		true, // required for the framework
	pull: 		true, // required for the framework
	offset: 		true  // optional
);

/// Choose whether or not to print the numeric grid classes (.col-sm-5). Optional.
/// Note that friendly placeholders (.col-quarter, .col-sm-quarter) will always print.
/// You may wish to disable these on custom themes.
/// @group grid
/// @access public
/// @since 1.2.0

$grid-classes:										 true !default;

// TODO: Grid Spacing

$grid-container-padding:                   20px !default;
$grid-container-padding-large-screen:       60px 20px 0 !default;
$grid-row-margin:                          0 -20px !default;
$grid-column-padding:                      0 20px !default;
$grid-sidebar-padding:                     0 0 0 60px !default;

/// Whether or not to print media queries in your stylesheet.
/// If you set this to false, it will print media queries in the
/// order they are declared so that desktop styles will always
/// override mobile styles, regardless of screen size.
/// This is mostly useful for browsers which do not support media queries.
/// @group global
/// @access public
/// @since 1.0.0

$mqs: true !default;

/// The window width at which extra small styles will begin.
/// By default, this is set to target most large phones.
/// @group global
/// @access public
/// @since 1.2.0

$xs:                                       500px !default;

/// The window width at which small styles will begin.
/// By default, this is set to target most small tablets
/// and iPads in vertical orientation.
/// @group global
/// @access public
/// @since 1.2.0

$sm:                                       768px !default;

/// The window width at which medium styles will begin.
/// By default, this is set to target older desktops
/// and iPads in horizontal orientation.
/// @group global
/// @access public
/// @since 1.2.0

$md:                                       992px !default;

/// The window width at which large styles will begin.
/// By default, this is set to target most laptops.
/// @group global
/// @access public
/// @since 1.2.0

$lg:                                       1200px !default;

/// The window width at which extra large styles will begin.
/// By default, this is set to target most modern desktops.
/// @group global
/// @access public
/// @since 1.2.0

$xl:                                       1500px !default;

/// The container width for the small (sm) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-sm:                             750px !default;

/// The container width for the medium (md) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-md:                             970px !default;

/// The container width for the large (lg) breakpoint.
/// @group layout
/// @access public
/// @since 1.2.0

$container-lg:                             1170px !default;

// TODO: Z-Index Variables

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;
$z-index-10:                                1000;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// TODO: Colors
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-grayscale-0:                        #000 !default;
$color-grayscale-1:                        #151515 !default;
$color-grayscale-2:                        #222 !default;
$color-grayscale-3:                        #333 !default;
$color-grayscale-4:                        #444 !default;
$color-grayscale-5:                        #555 !default;
$color-grayscale-6:                        #666 !default;
$color-grayscale-7:                        #7a7a7a !default;
$color-grayscale-8:                        #888 !default;
$color-grayscale-9:                        #9f9f9f !default;
$color-grayscale-a:                        #aaa !default;
$color-grayscale-b:                        #bbb !default;
$color-grayscale-c:                        #ccc !default;
$color-grayscale-d:                        #ddd !default;
$color-grayscale-e:                        #eee !default;
$color-grayscale-f0:                       #f0f0f0 !default;
$color-grayscale-f5:                       #f5f5f5 !default;
$color-grayscale-f:                        #fff !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Content
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$color-base:                               $color-grayscale-5 !default;

$font-family-heading:                       $font-family-sans-serif !default;
$color-heading:                            $color-grayscale-0 !default;
$color-heading-small:                      $color-grayscale-9 !default;

$color-link:                               #0f69d7 !default;
$color-link-visited:                       #7337af !default;
$color-link-active:                        $color-grayscale-0 !default;

$font-family-button:                        $font-family-sans-serif !default;
$font-size-button:                          $font-size-small !default;
$color-button-bg:                          $color-grayscale-e !default;
$color-button-text:                        $color-grayscale-4 !default;
$color-button-primary-bg:                  #0078e7 !default;
$color-button-primary-text:                $color-grayscale-f !default;

$font-padding-code:                         0.2em 0.4em !default;
$font-margin-code:                          30px 0 !default;
$color-code:                               $color-grayscale-7 !default;
$color-code-bg:                            $color-grayscale-f5 !default;

$font-margin-blockquote:                    1em 40px !default;

$font-margin-list:                          $font-margin-base !default;
$font-padding-list:                         0 0 0 40px !default;

$font-margin-dd:                            0 0 0 40px !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Tables
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$table-margin:                             35px 0 !default;
$table-padding:                            0.5em 1em !default;

$color-table-border:                       $color-grayscale-d !default;
$table-border:                             1px solid $color-table-border !default;

$color-table-head:                         $color-grayscale-0 !default;
$color-table-head-bg:                      $color-grayscale-e !default;

$table-caption-padding:                    0 0 10px !default;
$font-size-table-caption:                   $font-size-small !default;
$color-table-caption:                      $color-grayscale-9 !default;

$color-table-th-border:                    $color-grayscale-c !default;
$color-table-td-border:                    $color-grayscale-c !default;

$color-table-stripes:                      $color-grayscale-f5 !default;

// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Forms
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

$form-margin:                              0 !default;
$font-family-form:                          $font-family-sans-serif !default;
$font-size-form:                            $font-size-small !default;

$form-legend-border:                       1px solid $color-grayscale-e !default;
$form-legend-border-width:                  0 0 1px 0 !default;
$form-legend-margin:                       0 0 20px !default;
$form-legend-padding:                      0 0 4px !default;
$font-size-legend:                          $font-size-large !default;

$form-fieldset-border:                     0 !default;
$form-fieldset-margin:                     30px 0 !default;
$form-fieldset-padding:                    0 !default;

$form-label-margin:                        0.5em 0 0.2em !default;

$form-row-margin:                          0 0 10px !default;

$form-input-margin:                        0.25em 0 !default;
$form-input-padding:                       0.5em 0.6em !default;
$form-input-border:                        1px solid $color-grayscale-c !default;
$form-input-shadow:                        inset 0 1px 3px $color-grayscale-e !default;
$form-input-border-radius:                  0 !default;
$form-input-focus-shadow:                   0 0 4px 0 rgba( 18, 159, 234, 0.2 ) !default;
$color-input-focus-border:                  #129fea !default;
