// =================================================================
// Single Post Settings
// =================================================================

// Message Border
//
// The style of the border on comments and items using the card styles.
//
// Styleguide News.News Item. Message Border
//
// Access: Public
//
// Since: 1.0.0

$border-message:                           $border !default;

// Message Border Width
//
// The width of the border on comments and items using the card styles.
//
// Styleguide News.News Item.Message Border Width
//
// Access: Public
//
// Since: 1.0.0

$border-width-message:                     1px 1px 1px 5px !default;

// Message Radius
//
// The amount of rounding (border radius) to apply to the corners
// of comments.
//
// Styleguide News.News Item.Message Radius
//
// Access: Public
//
// Since: 1.0.0

$border-radius-message:                     3px !default;

// Message Padding
//
// The amount of padding to apply to comments.
//
// Styleguide News.News Item.Message Padding
//
// Access: Public
//
// Since: 1.0.0

$padding-message:                          20px !default;

// Message Background Color
//
// The background of comments.
//
// Styleguide News.News Item.Message Background
//
// Access: Public
//
// Since: 1.0.0

$color-message-bg:                         $color-grayscale-f0 !default;

// Message Left Border
//
// The left border color of comments.
//
// Styleguide News.News Item.Message Left Border
//
// Access: Public
//
// Since: 1.0.0

$color-message-border-left:                $color-grayscale-0 !default;

// Metadata Padding
//
// Controls the padding of the metadata card at the bottom of news posts
// on the single post template.
//
// Styleguide News.News Item.Metadata Padding
//
// Access: Public
//
// Since: 1.0.0

$padding-single-meta:                      20px !default;

// Metadata Border
//
// Controls the border style on the metadata card at the bottom of news posts
// on the single post template.
//
// Styleguide News.News Item.Metadata Border
//
// Access: Public
//
// Since: 1.0.0

$border-single-meta:                       $border-message !default;

// Metadata Border Width
//
// Controls the border width on the metadata card at the bottom of news posts
// on the single post template.
//
// Styleguide News.News Item.Metadata Border Width
//
// Access: Public
//
// Since: 1.0.0

$border-width-single-meta:                  $border-width-message !default;

// Metadata Radius
//
// Controls the amount of rounding applied to corners of the metadata card
// at the bottom of the single post template.
//
// Styleguide News.News Item.Metadata Radius
//
// Access: Public
//
// Since: 1.0.0

$border-radius-single-meta:                 $border-radius-message !default;

// Metadata Background
//
// Controls the background of the metadata card at the bottom of the single
// post template.
//
// Styleguide News.News Item.Metadata Background
//
// Access: Public
//
// Since: 1.0.0

$color-single-meta-bg:                     $color-grayscale-f0 !default;

// Metadata Left Border Color
//
// Controls the color of the left border in the metadata card
// at the bottom of the single post template.
//
// Styleguide News.News Item.Metadata Left Border Color
//
// Access: Public
//
// Since: 1.0.0

$color-single-meta-border-left:             $color-message-border-left !default;


// =================================================================
// Single Post Styles
// =================================================================

// Card Styles Placeholder
//
// Controls card-like styles used throughout Foundation.
// By default, this controls single profile info styling in the sidebar,
// the metadata styling at the bottom of single posts, and the date summary.
//
// Styleguide Utilities.Styling.Card Styles
//
// Access: Public
//
// Since: 1.0.0

%card-styles {
	@extend %font-size-secondary;
	@include border-radius( $border-radius-message );
	background-color: $color-message-bg;
	border: $border-message;
	border-left-color: $color-message-border-left;
	border-width: $border-width-message;
	padding: $padding-message;
}

// Controls the styling for messages.
//
// Access: Public
//
// Since: 1.0.0

.message {
	@extend %card-styles;
}


// Handles styling for the metadata card at the bottom of posts.
//
// Styleguide Components.News Item.single-meta
//
// Access: Public
//
// Since: 2.0.0

.single-meta {
	@extend %card-styles;
	@include border-radius( $border-radius-single-meta );
	background-color: $color-single-meta-bg;
	border: $border-single-meta;
	border-left-color: $color-single-meta-border-left;
	border-width: $border-width-single-meta;
	margin-bottom: $margin;
	padding: $padding-single-meta;
}

// Handles styling for the title in the metadata card at the bottom of posts.
//
// Styleguide Components.News Item.single-meta-post-title
//
// Access: Public
//
// Since: 2.0.0

.single-meta-post-title {
	margin-bottom: 10px;
}

// Handles styling for the byline in the metadata card at the bottom of posts.
//
// Styleguide Components.News Item.single-meta-byline
//
// Access: Public
//
// Since: 2.0.0

.single-meta-byline {
	font-size: inherit;
	font-weight: normal;
	margin-bottom: $margin-small;
}

// Handles styling for categories and tags in the metadata card at the bottom of posts.
//
// Styleguide Components.News Item.single-meta-info
//
// Access: Public
//
// Since: 2.0.0

.single-meta-info {
	margin-bottom: 0;
	margin-top: $margin-small;
}

// Handles styling for the archive (View all posts) link container.
//
// Styleguide Components.News Item.archive-link-container
//
// Access: Public
//
// Since: 2.0.0

.archive-link-container {
	clear: both;
	text-align: center;
}

// Handles styling for the archive (View all posts) link.
//
// Styleguide Components.News Item.archive-link
//
// Access: Public
//
// Since: 2.0.0

.archive-link {
	@extend %button-styles;
	@extend %button-styles-primary;
	@extend %back-link-styles;
}
