$colors: (
   neutral-0:           #ffffff,
   neutral-50:          #fafafa,
   neutral-100:         #f5f5f5,
   neutral-200:         #e5e5e5,
   neutral-300:         #d4d4d4,
   neutral-400:         #a3a3a3,
   neutral-500:         #737373,
   neutral-600:         #525252,
   neutral-700:         #404040,
   neutral-800:         #262626,
   neutral-900:         #171717,
   neutral-950:         #0a0a0a,
   neutral-1000:        #000000,

   success-0:           #f0fdf4,
   success-50:          #e7f4e9,
   success-100:         #d7f3db,
   success-200:         #c2e8b6,
   success-300:         #a6dfb8,
   success-400:         #81d188,
   success-500:         #60c976,
   success-600:         #42b758,
   success-700:         #2c9f4c,
   success-800:         #1f8d38,
   success-900:         #176f26,
   success-950:         #0f5c0f,
   success-1000:        #004000,

   warning-0:           #fff9e6,
   warning-50:          #fff3bf,
   warning-100:         #ffec99,
   warning-200:         #ffe066,
   warning-300:         #ffd43b,
   warning-400:         #fcc419,
   warning-500:         #fab005,
   warning-600:         #c29d00,
   warning-700:         #9a7f00,
   warning-800:         #6c5c00,
   warning-900:         #423b00,
   warning-950:         #252100,
   warning-1000:        #000000,

   error-0:             #fff2f2,
   error-50:            #ffe3e3,
   error-100:           #ffc9c9,
   error-200:           #ffa7a7,
   error-300:           #ff8d8d,
   error-400:           #ff6e6e,
   error-500:           #ff5757,
   error-600:           #ff4444,
   error-700:           #ff2f2f,
   error-800:           #ff1717,
   error-900:           #cc0000,
   error-950:           #990000,
   error-1000:          #660000,

   info-0:              #f2f9ff,
   info-50:             #e6f2ff,
   info-100:            #cce5ff,
   info-200:            #99ccff,
   info-300:            #66b2ff,
   info-400:            #3399ff,
   info-500:            #007fff,
   info-600:            #0066cc,
   info-700:            #005499,
   info-800:            #003e66,
   info-900:            #002733,
   info-950:            #00141b,
   info-1000:           #000000,
);