// Global
// -----------------------------------------------------------------

/// The default border style.
/// @group global
/// @access public
/// @since 1.2.0

$border-base:										 1px solid $color-grayscale-d !default;

/// The default width of the top border.
/// @group global
/// @access public
/// @since 1.2.0

$border-top:										 1px 0 0 0;

/// The default width of the bottom border.
/// @group global
/// @access public
/// @since 1.2.0

$border-bottom:									 0 0 1px 0;

// Message
// -----------------------------------------------------------------
