// =================================================================
// Post Widget Settings
// =================================================================

// Widget Post Metadata Color
//
// Controls the color of the metadata in the BU posts widget.
//
// Styleguide Widgets.BU Posts Widget.Post Meta Color
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-widget-post-meta:                    $color-grayscale-6 !default;

// =================================================================
// Post Widget Styles
// =================================================================

// Handles styling for posts in the BU Posts widget (news widget).
//
// Styleguide Components.Widgets.widget-post
//
// Access: Public
//
// Since: 2.0.0

.widget-post {
	@extend %clearfix;
}

// Handles styling for the post headline in the
// BU Posts widget (news widget).
//
// Styleguide Components.Widgets.widget-post-headline
//
// Access: Public
//
// Since: 2.0.0

.widget-post-headline {
	@extend %font-size-5;
}

// Handles styling for metadata in the
// BU Posts widget (news widget).
//
// Styleguide Components.Widgets.widget-post-meta
//
// Access: Public
//
// Since: 2.0.0

.widget-post-meta {
	@extend %font-size-minimum;
	color: $color-widget-post-meta;
}

// Handles styling for the excerpt in the
// BU Posts widget (news widget).
//
// Styleguide Components.Widgets.widget-post-excerpt
//
// Access: Public
//
// Since: 2.0.0

.widget-post-excerpt {
	margin-top: -0.5em;
}

// Handles styling for the thumbnail in the
// BU Posts widget (news widget).
//
// Styleguide Components.Widgets.widget-post-thumbnail
//
// Access: Public
//
// Since: 2.0.0

.widget-post-thumbnail {
	margin-bottom: $margin-small;
}

// Handles styling for the thumbnail in the
// BU Posts widget (news widget) in the title and date format.
//
// Styleguide Components.Widgets.widget-post-thumbnail-title-date
//
// Access: Public
//
// Since: 2.0.0

.widget-post-thumbnail-title-date {
	float: right;
	margin-bottom: $margin-small;
	margin-left: $margin-small;
}
