// =================================================================
// Widgets
// =================================================================

// Widget contents:

//	1. Basic Widgets
//	2. BU Posts
//	3. Content Nav
//	4. Calendar

// -----------------------------------------------------------------

// Basic Widgets
// -----------------------------------------------------------------

/// Handles global widget styling.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget {
	@extend %font-size-secondary;
	margin-bottom: $widget-margin-bottom;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-family-widget-heading;
	}

	a {
		color: $color-widget-link;

		&:hover,
		&:focus {
			color: $color-widget-link-hover;
		}
	}

	ul {
		list-style: none;
		list-style-image: none;
	}
}

/// Handles styling for widgets in the footer.
/// @group widgets
/// @access public
/// @since 1.0.0

.footbar {
	a {
		color: $color-footbar-widget-link;

		&:hover,
		&:focus {
			color: $color-footbar-widget-link-hover;
		}
	}
}

/// Handles title styles for all widgets.
/// @group widgets
/// @access public
/// @since 1.0.0

.widget-title {
	border: $border-widget-title;
	border-width: $border-width-widget-title;
	color: $color-widget-title;
	font-family: $font-family-widget-title;
	padding: 0 0 4px;

	a {
		color: inherit;
		text-decoration: none;

		&::after {
			color: $color-widget-title-link-after;
			content: $widget-title-link-after;
		}

		&:hover::after {
			color: $color-widget-title-link-after-hover;
		}
	}
}

/// Styles the blog list in the blogroll widget.
/// @group calendar
/// @access public
/// @since 2.0.0

.blogroll {
	padding: 0;
}