// =================================================================
// Content Contaner Settings
// =================================================================
// Styles for content-container which houses the content-area, and sidebar for legacy pages.

// Content Area Background Color
//
// Controls the background color of the content.
//
// Styleguide Configuration.Content Area.Background Color
//
// Access: Public
//
// Since: 1.0.0

$color-content-bg:                         $color-grayscale-f !default;

:where( .content-container ) {
	background: $color-content-bg;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas:
		"breadcrumbs"
		"content"
		"sidebar";

	@include breakpoint( $sm ) {
		grid-template-columns: 1fr auto;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"breadcrumbs	sidebar"
			"content		sidebar";
    }
}
