// =================================================================
// Sidebar Settings
// =================================================================

.sidebar {
	background-color: var( --sidebar-background-color, #fafafa );
	display: flex;
	flex-direction: column;
	gap: var( --bu-spacing );
	grid-area: sidebar;
	padding-block: var( --bu-container-padding-vertical );
	padding-inline: var( --bu-container-padding-horizontal );

	// max-width: clamp( 20vw, 360px, 33.3333vw);

	@include breakpoint( $sm ) {
		max-width: clamp( 20vw, 360px, 34vw);
	}

	// @include breakpoint( $sm ) {
	// 	max-width: 250px;
	// }

	// @include breakpoint( $md ) {
	// 	max-width: 300px;
	// }

	// @include breakpoint( $lg ) {
	// 	max-width: 350px;
	// }

	// @include breakpoint( $xl ) {
	// 	max-width: 400px;
	// }
}