// =================================================================
// Sidebar Settings
// =================================================================

.sidebar {
	padding-block: var(--bu--content--padding-block);
	padding-inline: var(--bu--content--padding-inline);

	@include breakpoint( $sm ) {
		max-width: clamp( 20%, 360px, 33.3333%);
	}
}