// =================================================================
// Action Icons
	// action
	// ban
	// bookmark
	// close
	// delete
	// download
	// downloadbox
	// like
	// alt
	// dislike
	// menu
	// plus
	// hyphen
	// print
	// redirect
	// refresh
	// replay
	// share
	// search
	// settings
	// sync
	// star
	// tag
	// upload
	// uploadcloud
// =================================================================

/// The action icon.
/// @example scss - Add the action icon to a menu item
/// .menu-item {
///    @extend %icon-action;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-action {
	@include icon( "action" );
}

/// The ban icon.
/// @example scss - Add the ban icon to a menu item
/// .menu-item {
///    @extend %icon-ban;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-ban {
	@include icon( "ban" );
}

/// The bookmark icon.
/// @example scss - Add the bookmark icon to a menu item
/// .menu-item {
///    @extend %icon-bookmark;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-bookmark {
	@include icon( "bookmark" );
}

/// The close icon.
/// @example scss - Add the close icon to a menu item
/// .menu-item {
///    @extend %icon-close;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-close {
	@include icon( "close" );
}

/// The delete icon.
/// @example scss - Add the delete icon to a menu item
/// .menu-item {
///    @extend %icon-delete;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-delete {
	@include icon( "delete" );
}

/// The download icon.
/// @example scss - Add the download icon to a menu item
/// .menu-item {
///    @extend %icon-download;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-download {
	@include icon( "download" );
}

/// The downloadbox icon.
/// @example scss - Add the downloadbox icon to a menu item
/// .menu-item {
///    @extend %icon-downloadbox;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-downloadbox {
	@include icon( "downloadbox" );
}

/// The like icon.
/// @example scss - Add the like icon to a menu item
/// .menu-item {
///    @extend %icon-like;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-like {
	@include icon( "like" );
}

/// The like alt icon.
/// @example scss - Add the like alt icon to a menu item
/// .menu-item {
///    @extend %icon-like-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-like-alt {
	@include icon( "like-alt" );
}

/// The dislike icon.
/// @example scss - Add the dislike icon to a menu item
/// .menu-item {
///    @extend %icon-dislike;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-dislike {
	@include icon( "dislike" );
}

/// The menu icon.
/// @example scss - Add the menu icon to a menu item
/// .menu-item {
///    @extend %icon-menu;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-menu {
	@include icon( "menu" );
}

/// The plus icon.
/// @example scss - Add the plus icon to a menu item
/// .menu-item {
///    @extend %icon-plus;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-plus {
	@include icon( "plus" );
}

/// The hyphen icon.
/// @example scss - Add the hyphen icon to a menu item
/// .menu-item {
///    @extend %icon-hyphen;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-hyphen {
	@include icon( "hyphen" );
}

/// The print icon.
/// @example scss - Add the print icon to a menu item
/// .menu-item {
///    @extend %icon-print;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-print {
	@include icon( "print" );
}

/// The redirect icon.
/// @example scss - Add the redirect icon to a menu item
/// .menu-item {
///    @extend %icon-redirect;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-redirect {
	@include icon( "redirect" );
}

/// The refresh icon.
/// @example scss - Add the refresh icon to a menu item
/// .menu-item {
///    @extend %icon-refresh;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-refresh {
	@include icon( "refresh" );
}

/// The replay icon.
/// @example scss - Add the replay icon to a menu item
/// .menu-item {
///    @extend %icon-replay;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-replay {
	@include icon( "replay" );
}

/// The share icon.
/// @example scss - Add the share icon to a menu item
/// .menu-item {
///    @extend %icon-share;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-share {
	@include icon( "share" );
}

/// The search icon.
/// @example scss - Add the search icon to a menu item
/// .menu-item {
///    @extend %icon-search;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-search {
	@include icon( "search" );
}

/// The settings icon.
/// @example scss - Add the settings icon to a menu item
/// .menu-item {
///    @extend %icon-settings;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-settings {
	@include icon( "settings" );
}

/// The sync icon.
/// @example scss - Add the sync icon to a menu item
/// .menu-item {
///    @extend %icon-sync;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-sync {
	@include icon( "sync" );
}

/// The star icon.
/// @example scss - Add the star icon to a menu item
/// .menu-item {
///    @extend %icon-star;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-star {
	@include icon( "star" );
}

/// The tag icon.
/// @example scss - Add the tag icon to a menu item
/// .menu-item {
///    @extend %icon-tag;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tag {
	@include icon( "tag" );
}

/// The upload icon.
/// @example scss - Add the upload icon to a menu item
/// .menu-item {
///    @extend %icon-upload;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-upload {
	@include icon( "upload" );
}

/// The upload to cloud icon.
/// @example scss - Add the upload to cloud icon to a menu item
/// .menu-item {
///    @extend %icon-uploadcloud;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-uploadcloud {
	@include icon( "uploadcloud" );
}
