// =================================================================
// Action Icons
	// action
	// ban
	// bookmark
	// close
	// delete
	// download
	// downloadbox
	// like
	// alt
	// dislike
	// menu
	// plus
	// hyphen
	// print
	// redirect
	// refresh
	// replay
	// share
	// search
	// settings
	// sync
	// star
	// tag
	// upload
	// uploadcloud
// =================================================================

/// The action icon.
/// @example scss - Add the action icon to a menu item
/// .menu-item {
///    @extend %icon-action;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-action {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EE00";
	}
}

/// The ban icon.
/// @example scss - Add the ban icon to a menu item
/// .menu-item {
///    @extend %icon-ban;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-ban {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F6AB";
	}
}

/// The bookmark icon.
/// @example scss - Add the bookmark icon to a menu item
/// .menu-item {
///    @extend %icon-bookmark;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-bookmark {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F516";
	}
}

/// The close icon.
/// @example scss - Add the close icon to a menu item
/// .menu-item {
///    @extend %icon-close;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-close {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E421";
	}
}

/// The delete icon.
/// @example scss - Add the delete icon to a menu item
/// .menu-item {
///    @extend %icon-delete;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-delete {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2421";
	}
}

/// The download icon.
/// @example scss - Add the download icon to a menu item
/// .menu-item {
///    @extend %icon-download;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-download {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB01";
	}
}

/// The downloadbox icon.
/// @example scss - Add the downloadbox icon to a menu item
/// .menu-item {
///    @extend %icon-downloadbox;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-downloadbox {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB02";
	}
}

/// The like icon.
/// @example scss - Add the like icon to a menu item
/// .menu-item {
///    @extend %icon-like;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-like {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F44D";
	}
}

/// The like alt icon.
/// @example scss - Add the like alt icon to a menu item
/// .menu-item {
///    @extend %icon-like-alt;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-like-alt {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F44B";
	}
}

/// The dislike icon.
/// @example scss - Add the dislike icon to a menu item
/// .menu-item {
///    @extend %icon-dislike;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-dislike {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F44E";
	}
}

/// The menu icon.
/// @example scss - Add the menu icon to a menu item
/// .menu-item {
///    @extend %icon-menu;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-menu {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E9A1";
	}
}

/// The plus icon.
/// @example scss - Add the plus icon to a menu item
/// .menu-item {
///    @extend %icon-plus;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-plus {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\002B";
	}
}

/// The hyphen icon.
/// @example scss - Add the hyphen icon to a menu item
/// .menu-item {
///    @extend %icon-hyphen;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-hyphen {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\002D";
	}
}

/// The print icon.
/// @example scss - Add the print icon to a menu item
/// .menu-item {
///    @extend %icon-print;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-print {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2399";
	}
}

/// The redirect icon.
/// @example scss - Add the redirect icon to a menu item
/// .menu-item {
///    @extend %icon-redirect;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-redirect {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\21AA";
	}
}

/// The refresh icon.
/// @example scss - Add the refresh icon to a menu item
/// .menu-item {
///    @extend %icon-refresh;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-refresh {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\21BB";
	}
}

/// The replay icon.
/// @example scss - Add the replay icon to a menu item
/// .menu-item {
///    @extend %icon-replay;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-replay {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\21BA";
	}
}

/// The share icon.
/// @example scss - Add the share icon to a menu item
/// .menu-item {
///    @extend %icon-share;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-share {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F601";
	}
}

/// The search icon.
/// @example scss - Add the search icon to a menu item
/// .menu-item {
///    @extend %icon-search;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-search {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F50E";
	}
}

/// The settings icon.
/// @example scss - Add the settings icon to a menu item
/// .menu-item {
///    @extend %icon-settings;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-settings {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2699";
	}
}

/// The sync icon.
/// @example scss - Add the sync icon to a menu item
/// .menu-item {
///    @extend %icon-sync;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-sync {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB82";
	}
}

/// The star icon.
/// @example scss - Add the star icon to a menu item
/// .menu-item {
///    @extend %icon-star;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-star {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\22C6";
	}
}

/// The tag icon.
/// @example scss - Add the tag icon to a menu item
/// .menu-item {
///    @extend %icon-tag;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-tag {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E100";
	}
}

/// The upload icon.
/// @example scss - Add the upload icon to a menu item
/// .menu-item {
///    @extend %icon-upload;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-upload {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB41";
	}
}

/// The upload to cloud icon.
/// @example scss - Add the upload to cloud icon to a menu item
/// .menu-item {
///    @extend %icon-uploadcloud;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-uploadcloud {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB40";
	}
}
