// =================================================================
// Dependencies
// =================================================================

@import "mixins";

// =================================================================
// Base Icon Styles
// =================================================================

/// Choose whether or not to use BU Default icons for icons in your
/// stylesheet. By default, this option is set to true. Set to false
/// to load your own icon font family.
/// @group icons
/// @access public
/// @since 2.1.11

$use-default-icons:                  true !default;

@if $use-default-icons {
	@font-face {
		font-family: "bu-default-icons";
		src: url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot?" ) format( "embedded-opentype" );
		src: url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.woff" ) format( "woff" ),
			url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.ttf" ) format( "truetype" ),
			url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.svg#bu-default-icons" ) format( "svg" );
		font-weight: normal;
		font-style: normal;
	}
}

/// Choose whether or not to print CSS classes for icons in your
/// stylesheet. By default, this option is false for child themes,
/// and true for the framework. Set this to true when you want to
/// give the client flexibility to choose their own icons using CSS
/// and custom HTML.
/// @group icons
/// @access public
/// @since 2.0.0

$print-icon-classes:                 false !default;

/// Provides base icon styles normalized across browsers and optimized
/// for accessibility.
/// Use this placeholder if you are loading your own font library
/// and can't use the built-in icons because the content is different.
/// This should go on your base element. The complimentary placeholder,
/// `%icon`, needs to go on a `:before` or `:after` underneath.
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-base {
	@include icon-base;
}

/// Provides base icon styles normalized across browsers and optimized
/// for accessibility.
/// Use this placeholder on :before or :after if you are loading your own
/// font library and can't use the built-in icons because the content is different.
/// You will also need the %icon-base placeholder on your hoverable element if you
/// need compatibility before IE9.
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-content {
	@include icon-content;
}
