// =================================================================
// Dependencies
// =================================================================

@if $use-default-icons {
	@font-face {
		font-family: "bu-default-icons";
		src: url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot?" ) format( "embedded-opentype" );
		src: url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.woff" ) format( "woff" ),
			url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.ttf" ) format( "truetype" ),
			url( "//www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.svg#bu-default-icons" ) format( "svg" );
		font-weight: normal;
		font-style: normal;
	}
}

@import "mixins";

// =================================================================
// Base Icon Styles
// =================================================================

// Print Icon Classes
//
// Choose whether or not to print CSS classes for icons in your
// stylesheet. By default, this option is false for child themes,
// and true for the framework. Set this to true when you want to
// give the client flexibility to choose their own icons using CSS
// and custom HTML.
//
// #### Examples
//
// ##### Print all icon classes in your stylesheet.
//
// ```
//
// $print-icon-classes: true;
//
// ```
//
// Styleguide Utilities.Icons.Print Icon Classes
//
// Access: Public
//
// Since: 2.0.0

$print-icon-classes:                 false !default;

// Icon Base placeholder
//
// Provides base icon styles normalized across browsers and optimized
// for accessibility.
//
// Use this placeholder if you are loading your own font library
// and can't use the built-in icons because the content is different.
//
// This should go on your base element. The complimentary placeholder,
// `%icon-content`, needs to go on a `:before` or `:after` underneath.
//
// #### Examples
//
// ##### Add the icon base to a custom icon you've created.
//
// ```
//
// .your-custom-icon {
// 	@extend %icon-base;
//
//		&::after {
// 		@extend %icon-content;
//		}
//	}
// ```
//
// Styleguide Utilities.Icons.Icon Base Placeholder
//
// Access: Public
//
// Since: 1.2.0

%icon-base {
	@include icon-base;
}

// Icon Content Placeholder
//
// Provides base icon styles normalized across browsers and optimized
// for accessibility.
//
// Use this placeholder on :before or :after if you are loading your own
// font library and can't use the built-in icons because the content is different.
//
// You will also need the %icon-base placeholder on your hoverable element if you
// need compatibility before IE9.
//
// #### Examples
//
// ##### Add the icon base to a custom icon you've created.
//
// ```
//
// .your-custom-icon {
// 	@extend %icon-base;
//
//		&::after {
// 		@extend %icon-content;
//		}
//	}
// ```
//
// Styleguide Utilities.Icons.Icon Content Placeholder
//
// Access: Public
//
// Since: 1.2.0

%icon-content {
	@include icon-content;
}
