// =================================================================
// Communication Icons
	// envelope
	// phone
	// rss
	// alt
	// rotaryphone
// =================================================================

/// The envelope icon.
/// @example scss - Add the envelope icon to a menu item
/// .menu-item {
///    @extend %icon-envelope;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-envelope {
	@include icon( "envelope" );
}

/// The phone icon.
/// @example scss - Add the phone icon to a menu item
/// .menu-item {
///    @extend %icon-phone;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-phone {
	@include icon( "phone" );
}

/// The rss icon.
/// @example scss - Add the rss icon to a menu item
/// .menu-item {
///    @extend %icon-rss;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-rss {
	@include icon( "rss" );
}

/// The rss alt icon.
/// @example scss - Add the rss alt icon to a menu item
/// .menu-item {
///    @extend %icon-rss-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-rss-alt {
	@include icon( "rss-alt" );
}

/// The rotaryphone icon.
/// @example scss - Add the rotaryphone icon to a menu item
/// .menu-item {
///    @extend %icon-rotaryphone;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-rotaryphone {
	@include icon( "rotaryphone" );
}
