// =================================================================
// eCommerce Icons
	// burst
	// cart
	// emptycart
// =================================================================

/// The burst icon.
/// @example scss - Add the burst icon to a menu item
/// .menu-item {
///    @extend %icon-burst;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-burst {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F552";
	}
}

/// The cart icon.
/// @example scss - Add the cart icon to a menu item
/// .menu-item {
///    @extend %icon-cart;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-cart {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E500";
	}
}

/// The emptycart icon.
/// @example scss - Add the emptycart icon to a menu item
/// .menu-item {
///    @extend %icon-emptycart;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-emptycart {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E507";
	}
}
