// =================================================================
// Editing Icons
	// compose
	// grid
	// layers
	// layout
	// list
	// flag
	// reply
	// thumbnails
	// write
// =================================================================

/// The compose icon.
/// @example scss - Add the compose icon to a menu item
/// .menu-item {
///    @extend %icon-compose;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-compose {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4DD";
	}
}

/// The grid icon.
/// @example scss - Add the grid icon to a menu item
/// .menu-item {
///    @extend %icon-grid;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-grid {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E9A0";
	}
}
/// The layers icon.
/// @example scss - Add the layers icon to a menu item
/// .menu-item {
///    @extend %icon-layers;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-layers {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E202";
	}
}

/// The layout icon.
/// @example scss - Add the layout icon to a menu item
/// .menu-item {
///    @extend %icon-layout;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-layout {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E202";
	}
}

/// The list icon.
/// @example scss - Add the list icon to a menu item
/// .menu-item {
///    @extend %icon-list;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-list {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\ED50";
	}
}

/// The flag icon.
/// @example scss - Add the flag icon to a menu item
/// .menu-item {
///    @extend %icon-flag;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-flag {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2691";
	}
}

/// The reply icon.
/// @example scss - Add the reply icon to a menu item
/// .menu-item {
///    @extend %icon-reply;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-reply {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\21A9";
	}
}

/// The thumbnails icon.
/// @example scss - Add the thumbnails icon to a menu item
/// .menu-item {
///    @extend %icon-thumbnails;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-thumbnails {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E9A3";
	}
}

/// The write icon.
/// @example scss - Add the write icon to a menu item
/// .menu-item {
///    @extend %icon-write;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-write {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\270E";
	}
}
