// =================================================================
// Object Icons
	// book
	// box
	// briefcase
	// bug
	// chat
	// clipboard
	// code
	// contacts
	// dashboard
	// flask
	// heart
	// home
	// key
	// lightbulb
	// lightning
	// lock
	// unlock
	// notebook
	// notifications
	// pin
	// pinboard
	// planet
	// poo
	// puzzle
	// screwdriver
	// thermometer
	// toolbox
	// user
	// users
	// utensils
	// view
	// wrench
// =================================================================

/// The book icon.
/// @example scss - Add the book icon to a menu item
/// .menu-item {
///    @extend %icon-book;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-book {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4D5";
	}
}

/// The box icon.
/// @example scss - Add the box icon to a menu item
/// .menu-item {
///    @extend %icon-box;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-box {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4E6";
	}
}

/// The briefcase icon.
/// @example scss - Add the briefcase icon to a menu item
/// .menu-item {
///    @extend %icon-briefcase;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-briefcase {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4BC";
	}
}

/// The bug icon.
/// @example scss - Add the bug icon to a menu item
/// .menu-item {
///    @extend %icon-bug;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-bug {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F41B";
	}
}

/// The chat icon.
/// @example scss - Add the chat icon to a menu item
/// .menu-item {
///    @extend %icon-chat;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-chat {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4AC";
	}
}

/// The clipboard icon.
/// @example scss - Add the clipboard icon to a menu item
/// .menu-item {
///    @extend %icon-clipboard;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-clipboard {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4CB";
	}
}

/// The code icon.
/// @example scss - Add the code icon to a menu item
/// .menu-item {
///    @extend %icon-code;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-code {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E780";
	}
}

/// The contacts icon.
/// @example scss - Add the contacts icon to a menu item
/// .menu-item {
///    @extend %icon-contacts;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-contacts {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4C7";
	}
}

/// The dashboard icon.
/// @example scss - Add the dashboard icon to a menu item
/// .menu-item {
///    @extend %icon-dashboard;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-dashboard {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F000";
	}
}


/// The flask icon.
/// @example scss - Add the flask icon to a menu item
/// .menu-item {
///    @extend %icon-flask;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-flask {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F4C0";
	}
}

/// The heart icon.
/// @example scss - Add the heart icon to a menu item
/// .menu-item {
///    @extend %icon-heart;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-heart {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2665";
	}
}

/// The home icon.
/// @example scss - Add the home icon to a menu item
/// .menu-item {
///    @extend %icon-home;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-home {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2302";
	}
}

/// The key icon.
/// @example scss - Add the key icon to a menu item
/// .menu-item {
///    @extend %icon-key;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-key {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F511";
	}
}

/// The lightbulb icon.
/// @example scss - Add the lightbulb icon to a menu item
/// .menu-item {
///    @extend %icon-lightbulb;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-lightbulb {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4A1";
	}
}

/// The lightning icon.
/// @example scss - Add the lightning icon to a menu item
/// .menu-item {
///    @extend %icon-lightning;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-lightning {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2607";
	}
}

/// The lock icon.
/// @example scss - Add the lock icon to a menu item
/// .menu-item {
///    @extend %icon-lock;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-lock {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F512";
	}
}

/// The unlock icon.
/// @example scss - Add the unlock icon to a menu item
/// .menu-item {
///    @extend %icon-unlock;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-unlock {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F513";
	}
}

/// The notebook icon.
/// @example scss - Add the notebook icon to a menu item
/// .menu-item {
///    @extend %icon-notebook;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-notebook {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4D3";
	}
}

/// The notifications icon.
/// @example scss - Add the notifications icon to a menu item
/// .menu-item {
///    @extend %icon-notifications;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-notifications {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F514";
	}
}

/// The pin icon.
/// @example scss - Add the pin icon to a menu item
/// .menu-item {
///    @extend %icon-pin;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-pin {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4CD";
	}
}

/// The pinboard icon.
/// @example scss - Add the pinboard icon to a menu item
/// .menu-item {
///    @extend %icon-pinboard;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-pinboard {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F654";
	}
}


/// The planet icon.
/// @example scss - Add the planet icon to a menu item
/// .menu-item {
///    @extend %icon-planet;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-planet {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F280";
	}
}

/// The poo icon.
/// @example scss - Add the poo icon to a menu item
/// .menu-item {
///    @extend %icon-poo;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-poo {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4A9";
	}
}

/// The puzzle icon.
/// @example scss - Add the puzzle icon to a menu item
/// .menu-item {
///    @extend %icon-puzzle;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-puzzle {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E710";
	}
}

/// The screwdriver icon.
/// @example scss - Add the screwdriver icon to a menu item
/// .menu-item {
///    @extend %icon-screwdriver;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-screwdriver {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F037";
	}
}

/// The thermometer icon.
/// @example scss - Add the thermometer icon to a menu item
/// .menu-item {
///    @extend %icon-thermometer;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-thermometer {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F201";
	}
}

/// The toolbox icon.
/// @example scss - Add the toolbox icon to a menu item
/// .menu-item {
///    @extend %icon-toolbox;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-toolbox {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F030";
	}
}

/// The user icon.
/// @example scss - Add the user icon to a menu item
/// .menu-item {
///    @extend %icon-user;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-user {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F464";
	}
}

/// The users icon.
/// @example scss - Add the users icon to a menu item
/// .menu-item {
///    @extend %icon-users;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-users {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F465";
	}
}

/// The utensils icon.
/// @example scss - Add the utensils icon to a menu item
/// .menu-item {
///    @extend %icon-utensils;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-utensils {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F374";
	}
}

/// The view icon.
/// @example scss - Add the view icon to a menu item
/// .menu-item {
///    @extend %icon-view;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-view {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F440";
	}
}

/// The wrench icon.
/// @example scss - Add the wrench icon to a menu item
/// .menu-item {
///    @extend %icon-wrench;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-wrench {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F527";
	}
}
