@import "burf-base/icons/base";

/// Generates the icon placeholders and classes
/// based off the $icons-responsive Sass map.

@each $name, $content in $icons-responsive {
	%icon-#{$name} {
		@include icon( $name, "before", true );
	}

	@if $print-icon-classes {
		.icon-#{$name} {
			@extend %icon-#{$name};
		}
	}
}