/// Choose whether or not to use BU Default icons for icons in your
/// stylesheet. By default, this option is set to true. Set to false
/// to load your own icon font family.
/// @group icons
/// @access public
/// @since 2.1.11

$use-default-icons:                  true !default;

/// Controls the placement of icon content globally
/// in placeholders and default icon classes.
/// @group icons
/// @access public
/// @since 3.0.2

$icons-positioning:                   'before' !default;

@import "base";

/// Generates the icon placeholders and classes
/// based off the $icons-responsive Sass map.

@each $name, $content in $icons-responsive {
	%icon-#{$name} {
		@include icon( $name, $icons-positioning, true );
	}

	@if $print-icon-classes {
		.icon-#{$name} {
			@extend %icon-#{$name};
		}
	}
}
