// =================================================================
// Social Icons
	// dropbox (two options)
	// facebook (two options)
	// flickr (two options)
	// foursquare (two options)
	// github (two options)
	// googleplus (two options)
	// instagram (two options)
	// kickstarter (two options)
	// linkedin (two options)
	// paypal (two options)
	// pinterest (two options)
	// pocket (two options)
	// reddit (two options)
	// renren
	// retweet
	// soundcloud (two options)
	// spotify
	// stackexchange (two options)
	// stackoverflow (two options)
	// stumbleupon (two options)
	// twitter (two options)
	// tumblr (two options)
	// vimeo (two options)
	// vine (two options)
	// weibo (two options)
	// wordpress
	// youtube (two options)
// =================================================================

/// The dropbox icon.
/// @example scss - Add the dropbox icon to a menu item
/// .menu-item {
///    @extend %icon-dropbox;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-dropbox {
	@include icon( "dropbox" );
}

/// The dropbox alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-dropbox-alt {
	@include icon( "dropbox-alt" );
}

/// The facebook icon.
/// @example scss - Add the facebook icon to a menu item
/// .menu-item {
///    @extend %icon-facebook;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-facebook {
	@include icon( "facebook" );
}

/// The facebook alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-facebook-alt {
	@include icon( "facebook-alt" );
}

/// The flickr icon.
/// @example scss - Add the flickr icon to a menu item
/// .menu-item {
///    @extend %icon-flickr;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-flickr {
	@include icon( "flickr" );
}

/// The flickr alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-flickr-alt {
	@include icon( "flickr-alt" );
}

/// The foursquare icon.
/// @example scss - Add the foursquare icon to a menu item
/// .menu-item {
///    @extend %icon-foursquare;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-foursquare {
	@include icon( "foursquare" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-foursquare-alt {
	@include icon( "foursquare-alt" );
}

/// The github icon.
/// @example scss - Add the github icon to a menu item
/// .menu-item {
///    @extend %icon-github;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-github {
	@include icon( "github" );
}

/// The github alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-github-alt {
	@include icon( "github-alt" );
}

/// The googleplus icon.
/// @example scss - Add the googleplus icon to a menu item
/// .menu-item {
///    @extend %icon-googleplus;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-googleplus {
	@include icon( "googleplus" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-googleplus-alt {
	@include icon( "googleplus-alt" );
}

/// The instagram icon.
/// @example scss - Add the instagram icon to a menu item
/// .menu-item {
///    @extend %icon-instagram;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-instagram {
	@include icon( "instagram" );
}

/// The instagram alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-instagram-alt {
	@include icon( "instagram-alt" );
}

/// The kickstarter icon.
/// @example scss - Add the kickstarter icon to a menu item
/// .menu-item {
///    @extend %icon-kickstarter;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-kickstarter {
	@include icon( "kickstarter" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-kickstarter-alt {
	@include icon( "ickstarter-alt" );
}

/// The linkedin icon.
/// @example scss - Add the linkedin icon to a menu item
/// .menu-item {
///    @extend %icon-linkedin;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-linkedin {
	@include icon( "linkedin" );
}

/// The linkedin alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-linkedin-alt {
	@include icon( "linkedin-alt" );
}

/// The paypal icon.
/// @example scss - Add the paypal icon to a menu item
/// .menu-item {
///    @extend %icon-paypal;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-paypal {
	@include icon( "paypal" );
}

/// The paypal alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-paypal-alt {
	@include icon( "paypal-alt" );
}

/// The pinterest icon.
/// @example scss - Add the pinterest icon to a menu item
/// .menu-item {
///    @extend %icon-pinterest;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-pinterest {
	@include icon( "pinterest" );
}

/// The pinterest alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-pinterest-alt {
	@include icon( "pinterest-alt" );
}

/// The pocket icon.
/// @example scss - Add the pocket icon to a menu item
/// .menu-item {
///    @extend %icon-pocket;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-pocket {
	@include icon( "pocket" );
}

/// The pocket alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-pocket-alt {
	@include icon( "pocket-alt" );
}

/// The reddit icon.
/// @example scss - Add the reddit icon to a menu item
/// .menu-item {
///    @extend %icon-reddit;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-reddit {
	@include icon( "reddit" );
}

/// The reddit alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-reddit-alt {
	@include icon( "reddit-alt" );
}

/// The renren icon.
/// @example scss - Add the renren icon to a menu item
/// .menu-item {
///    @extend %icon-renren;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-renren {
	@include icon( "renren" );
}

/// The retweet icon.
/// @example scss - Add the retweet icon to a menu item
/// .menu-item {
///    @extend %icon-retweet;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-retweet {
	@include icon( "retweet" );
}

/// The soundcloud icon.
/// @example scss - Add the soundcloud icon to a menu item
/// .menu-item {
///    @extend %icon-soundcloud;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-soundcloud {
	@include icon( "soundcloud" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-soundcloud-alt {
	@include icon( "soundcloud-alt" );
}

/// The spotify icon.
/// @example scss - Add the spotify icon to a menu item
/// .menu-item {
///    @extend %icon-spotify;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-spotify {
	@include icon( "spotify" );
}

/// The stackexchange icon.
/// @example scss - Add the stackexchange icon to a menu item
/// .menu-item {
///    @extend %icon-stackexchange;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stackexchange {
	@include icon( "stackexchange" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stackexchange-alt {
	@include icon( "stackexchange-alt" );
}

/// The stackoverflow icon.
/// @example scss - Add the stackoverflow icon to a menu item
/// .menu-item {
///    @extend %icon-stackoverflow;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stackoverflow {
	@include icon( "stackoverflow" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stackoverflow-alt {
	@include icon( "stackoverflow-alt" );
}

/// The stumbleupon icon.
/// @example scss - Add the stumbleupon icon to a menu item
/// .menu-item {
///    @extend %icon-stumbleupon;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stumbleupon {
	@include icon( "stumbleupon" );
}

/// The icon alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stumbleupon-alt {
	@include icon( "stumbleupon-alt" );
}

/// The twitter icon.
/// @example scss - Add the twitter icon to a menu item
/// .menu-item {
///    @extend %icon-twitter;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-twitter {
	@include icon( "twitter" );
}

/// The twitter alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-twitter-alt {
	@include icon( "twitter-alt" );
}

/// The tumblr icon.
/// @example scss - Add the tumblr icon to a menu item
/// .menu-item {
///    @extend %icon-tumblr;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tumblr {
	@include icon( "tumblr" );
}

/// The tumblr alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tumblr-alt {
	@include icon( "tumblr-alt" );
}

/// The vimeo icon.
/// @example scss - Add the vimeo icon to a menu item
/// .menu-item {
///    @extend %icon-vimeo;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-vimeo {
	@include icon( "vimeo" );
}

/// The alt alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-vimeo-alt {
	@include icon( "vimeo-alt" );
}

/// The vine icon.
/// @example scss - Add the vine icon to a menu item
/// .menu-item {
///    @extend %icon-vine;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-vine {
	@include icon( "vine" );
}

/// The alt alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-vine-alt {
	@include icon( "vine-alt" );
}

/// The weibo icon.
/// @example scss - Add the weibo icon to a menu item
/// .menu-item {
///    @extend %icon-weibo;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-weibo {
	@include icon( "weibo" );
}

/// The alt alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-weibo-alt {
	@include icon( "weibo-alt" );
}

/// The wordpress icon.
/// @example scss - Add the wordpress icon to a menu item
/// .menu-item {
///    @extend %icon-wordpress;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-wordpress {
	@include icon( "wordpress" );
}

/// The youtube icon.
/// @example scss - Add the youtube icon to a menu item
/// .menu-item {
///    @extend %icon-youtube;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-youtube {
	@include icon( "youtube" );
}

/// The youtube alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-youtube-alt {
	@include icon( "youtube-alt" );
}
