// =================================================================
// Supported Icons
// =================================================================

/// The icons this site supports.
/// All icons get a name and a UTF-8 value. It's unlikely you'll
/// need to change these, and you probably shouldn't. However,
/// if you're using your own icon font, you may want to add to it.
/// @group icons
/// @access public
/// @since 2.0.0

$icons-supported: (

	// Actions

	action: "\EE00";
	ban: "\1F6AB";
	bookmark: "\1F516";
	close: "\E421";
	delete: "\2421";
	download: "\EB01";
	downloadbox: "\EB02";
	like: "\1F44D";
	like-alt: "\1F44B";
	dislike: "\1F44E";
	menu: "\E9A1";
	plus: "\002B";
	hyphen: "\002D";
	print: "\2399";
	redirect: "\21AA";
	refresh: "\21BB";
	replay: "\21BA";
	share: "\F601";
	search: "\1F50E";
	settings: "\2699";
	sync: "\EB82";
	star: "\22C6";
	tag: "\E100";
	upload: "\EB41";
	uploadcloud: "\EB40";

	// Arrows

	contract: "\EE01";
	expand: "\2922";
	scaledown: "\EE05";
	scaleup: "\EE04";
	up: "\2806";
	right: "\27A1";
	down: "\2B07";
	left: "\2B05";
	directup: "\25B4";
	directright: "\25B9";
	dropdown: "\25BE";
	directleft: "\25C3";
	navigateup: "\F500";
	navigateright: "\25BB";
	navigatedown: "\F501";
	navigateleft: "\25C5";

	// Charts

	calculator: "\E551";
	barchart: "\1F4CA";
	piechart: "\E570";
	stock: "\E579";

	// Communication

	envelope: "\2709";
	phone: "\1F4DE";
	rss: "\E310";
	rss-alt: "\E31A";
	rotaryphone: "\260E";

	// Documents

	link: "\1F51B";
	link-alt: "\F699";
	file: "\1F4C4";
	files: "\EC00";
	folder: "\1F4C1";
	index: "\E902";
	storagebox: "\E901";

	// eCommerce

	burst: "\F552";
	cart: "\E500";
	creditcard: "\1F4B3";
	emptycart: "\E507";

);
