// =================================================================
// Technology Icons
	// android
	// appleinc
	// desktop
	// cloud
	// laptop
	// tablet
	// smartphone
	// tv
	// wifi
// =================================================================

/// The android icon.
/// @example scss - Add the android icon to a menu item
/// .menu-item {
///    @extend %icon-android;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-android {
	@include icon( "android" );
}

/// The appleinc icon.
/// @example scss - Add the appleinc icon to a menu item
/// .menu-item {
///    @extend %icon-appleinc;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-appleinc {
	@include icon( "appleinc" );
}

/// The desktop icon.
/// @example scss - Add the desktop icon to a menu item
/// .menu-item {
///    @extend %icon-desktop;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-desktop {
	@include icon( "desktop" );
}

/// The cloud icon.
/// @example scss - Add the cloud icon to a menu item
/// .menu-item {
///    @extend %icon-cloud;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-cloud {
	@include icon( "cloud" );
}

/// The laptop icon.
/// @example scss - Add the laptop icon to a menu item
/// .menu-item {
///    @extend %icon-laptop;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-laptop {
	@include icon( "laptop" );
}

/// The tablet icon.
/// @example scss - Add the tablet icon to a menu item
/// .menu-item {
///    @extend %icon-tablet;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-tablet {
	@include icon( "tablet" );
}

/// The smartphone icon.
/// @example scss - Add the smartphone icon to a menu item
/// .menu-item {
///    @extend %icon-smartphone;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-smartphone {
	@include icon( "smartphone" );
}

/// The tv icon.
/// @example scss - Add the tv icon to a menu item
/// .menu-item {
///    @extend %icon-tv;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-tv {
	@include icon( "tv" );
}

/// The wifi icon.
/// @example scss - Add the wifi icon to a menu item
/// .menu-item {
///    @extend %icon-wifi;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-wifi {
	@include icon( "wifi" );
}
