// =================================================================
// Transportation Icons
	// bike
	// car
	// plane
// =================================================================

/// The bike icon.
/// @example scss - Add the bike icon to a menu item
/// .menu-item {
///    @extend %icon-bike;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-bike {
	@include icon( "bike" );
}

/// The car icon.
/// @example scss - Add the car icon to a menu item
/// .menu-item {
///    @extend %icon-car;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-car {
	@include icon( "car" );
}

/// The plane icon.
/// @example scss - Add the plane icon to a menu item
/// .menu-item {
///    @extend %icon-plane;
/// }
/// @group 03-icons
/// @access public
/// @since 1.2.0

%icon-plane {
	@include icon( "plane" );
}
