// =================================================================
// Course Feed Settings
// =================================================================

/// Controls the border between course feed items.
/// @group 09-content
/// @access public
/// @since 2.0.0

$border-coursefeed:               $border !default;

// =================================================================
// Course Feed Styles
// =================================================================

/// Controls the styling for a single course in a course feed.
/// @group 09-content
/// @access public
/// @since 1.0.0

.cf-course {
	border-top: $border-coursefeed;
	margin-top: $margin;
	padding-top: $padding;
  clear: right;

	&:first-child {
		border: 0;
		margin: 0;
	}
}

/// Controls the styling for the course title in a course feed.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-course-title {
	margin-bottom: 0.2em;
}

/// Controls the styling for the course id (college, department, and number) in a course feed.
/// You may style each of these individually as well using `.cf-course-college`,
/// `.cf-course-dept`, etc.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-course-id {
	color: $color-grayscale-7;
	display: block;
	font-family: $font-family-sans-serif;
	font-size: 0.5em;
	margin-bottom: 0.5em;
}

/// Controls the styling for course credits, availability, and prerequisites.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-course-info {
	font-size: 0.8em;
}

/// Controls the styling for the section table.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-table {
	font-size: 0.8em;
	width: 100%;
}

/// Controls the styling for the section title.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-section-title {
	color: inherit;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

/// Controls the styling for the section start and end dates.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-section-dates {
	float: right;
}

/// Conditional styling to label course availability.
/// There isn't currently a way to do this in the course template reliably.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-course-offered {
	&:not(:empty)::before {
		content: "Available during ";
	}
}

/// Conditional styling to label course prerequisites.
/// There isn't currently a way to do this in the course template reliably.
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-course-prereqs {
	&:not(:empty)::before {
		content: "Prerequisites: ";
	}
}

/// BU Hub Indicator Wrapper
/// Styles for BU Hub Areas Indicator
/// @group 09-content
/// @access public
/// @since 2.0.0

.cf-hub-ind {
  display: block;
  max-width: 305px;
  width: 100%;
  margin: 0px 0px 20px 20px;
  float: unset;
}

.cf-hub-head {
  text-decoration: none;
}

.bu-hub-iconstyles {
  display: inline-block;
  height: 25px;
  overflow: hidden;
  margin: 5px 0px;
  &:before {
    height: 25px;
    width: 90px;
    font-family: "BU-Default-Icons";
    font-size: 65px;
    overflow: hidden;
    content: attr(data-icon);
    speak: none;
    color: #555555;
    line-height: 16px;
  }
}

.icon-buhub:before {
  content: "\F700";
  width: 70px;
}

.icon-questionmark:before {
  content: "\2753";
  font-size: 16px;
  line-height: 17px;
}

.icon-buhub:before, .icon-questionmark:before {
  display: block;
  a:hover & {
    color: #767676;
  }
}

.cf-hub-offerings {
  list-style-type: none;
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Benton-Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #767676;
  padding: 0px;
  margin: -5px 0px 10px;
  li {
    margin-bottom: 7px;
  }
}

@media (min-width: 525px) {
  .cf-course-card .cf-hub-ind {
    float: right;
  }
}