// =================================================================
// Course Feed Settings
// =================================================================

// Controls the border between course feed items.
//
// Styleguide WordPress.Course Feeds.Border
//
// Access: Public
//
// Since: 2.0.0

$border-coursefeed:							 $border !default;

// =================================================================
// Course Feed Styles
// =================================================================

// Controls the styling for a single course in a course feed.
//
// Access: Public
//
// Since: 1.0.0

.cf-course {
	border-top: $border-coursefeed;
	clear: right;
	margin-top: $margin;
	padding-top: $padding;

	&:first-child {
		border: 0;
		margin: 0;
	}
}

// Controls the styling for the course title in a course feed.
//
// Access: Public
//
// Since: 2.0.0

.cf-course-title {
	margin-bottom: 0.2em;
}

// Controls the styling for the course id (college, department, and number) in a course feed.
// You may style each of these individually as well using `.cf-course-college`,
// `.cf-course-dept`, etc.
//
// Access: Public
//
// Since: 2.0.0
//
// Accessibility: AA

.cf-course-id {
	display: block;
	font-family: $font-family-sans-serif;
	font-size: 0.5em;
	margin-bottom: 0.5em;
}

// Controls the styling for the course id (college, department, and number) in a course feed.
// You may style each of these individually as well using `.cf-course-college`,
// `.cf-course-dept`, etc.
//
// Access: Public
//
// Since: 2.0.0
//
// Accessibility: AA

.cf-course-id-color {
	color: $color-grayscale-6;
}

// Controls the styling for course credits, availability, and prerequisites.
//
// Access: Public
//
// Since: 2.0.0

.cf-course-info {
	font-size: 0.8em;
}

// Controls the styling for the section table.
//
// Access: Public
//
// Since: 2.0.0

.cf-table {
	font-size: 0.8em;
	width: 100%;
}

// Controls the styling for the section title.
//
// Access: Public
//
// Since: 2.0.0

.cf-section-title {
	color: inherit;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

// Controls the styling for the section start and end dates.
//
// Access: Public
//
// Since: 2.0.0

.cf-section-dates {
	float: right;
}

// Conditional styling to label course availability.
// There isn't currently a way to do this in the course template reliably.
//
// Access: Public
//
// Since: 2.0.0

.cf-course-offered {
	&:not(:empty)::before {
		content: "Available during ";
	}
}

// Conditional styling to label course prerequisites.
// There isn't currently a way to do this in the course template reliably.
//
// Access: Public
//
// Since: 2.0.0

.cf-course-prereqs {
	&:not(:empty)::before {
		content: "Prerequisites: ";
	}
}

// =================================================================
// BU Hub Indicator Styles
// =================================================================


// BU Hub Indicator Wrapper
//
// Access: Public
//
// Since: 2.0.1

.cf-hub-ind {
	display: block;
	float: unset;
	margin: 0 0 20px 20px;
	max-width: 305px;
	width: 100%;

	.cf-course-card & {
		// This breakpoint is explicit and shouldn’t be altered.
		@include breakpoint( 525px ) {
			float: right;
		}
	}
}

// BU Hub Indicator Title
//
// Access: Public
//
// Since: 2.0.1

.cf-hub-head {
	text-decoration: none;
}

// BU Hub Indicator Title Iconstyles
//
// Access: Public
//
// Since: 2.0.1
//
// Accessibility: AA

.bu-hub-iconstyles {
	display: inline-block;
	height: 25px;
	margin: 5px 0;
	overflow: hidden;

	&::before {
		color: $color-grayscale-5;
		display: block;
		font-size: 65px;
		height: 25px;
		line-height: 16px;
		overflow: hidden;
		width: 90px;

		a:hover & {
			color: $color-hub;
		}
	}

	&.icon-buhub::before {
		line-height: 8px;
		margin-right: 0;
		width: 70px;
	}

	&.icon-questionmark::before {
		font-size: 16px;
		line-height: 17px;
	}
}

.icon-buhub {
	@extend %icon-buhub;
}

.icon-questionmark {
	@extend %icon-questionmark;
}

// BU Hub Indicator Area <ul> List
//
// Access: Public
//
// Since: 2.0.1

.cf-hub-offerings {
	color: $color-hub;
	// ! Regardless where this lives, always maintain consistent use of Benton.
	font-family: "Benton-Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 300;
	list-style-type: none;
	margin: -5px 0 10px;
	padding: 0;

	li {
		margin-bottom: 7px;
	}
}
