// Course Feeds
// -----------------------------------------------------------------

/// Controls the styling for a single course in a course feed.
/// @group content
/// @access public
/// @since 1.0.0

.cf-course {
	border-top: $border-base;
	margin-top: $margin*2;
	padding-top: 2em;

	&:first-child {
		border: 0;
		margin: 0;
	}
}

/// Controls the styling for the course title in a course feed.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-title {
	margin-bottom: 0.2em;
}

/// Controls the styling for the course id (college, department, and number) in a course feed.
/// You may style each of these individually as well using `.cf-course-college`,
/// `.cf-course-dept`, etc.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-id {
	color: $color-grayscale-7;
	display: block;
	font-family: $font-family-sans-serif;
	font-size: 0.5em;
	margin-bottom: 0.5em;
}

/// Controls the styling for course credits, availability, and prerequisites.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-info {
	font-size: 0.8em;
}

/// Controls the styling for the section table.
/// @group content
/// @access public
/// @since 2.0.0

.cf-table {
	font-size: 0.8em;
	width: 100%;
}

/// Controls the styling for the section title.
/// @group content
/// @access public
/// @since 2.0.0

.cf-section-title {
	color: inherit;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

/// Controls the styling for the section start and end dates.
/// @group content
/// @access public
/// @since 2.0.0

.cf-section-dates {
	float: right;
}

/// Conditional styling to label course availability.
/// There isn't currently a way to do this in the course template reliably.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-offered {
	&:not(:empty)::before {
		content: "Available during ";
	}
}

/// Conditional styling to label course prerequisites.
/// There isn't currently a way to do this in the course template reliably.
/// @group content
/// @access public
/// @since 2.0.0

.cf-course-prereqs {
	&:not(:empty)::before {
		content: "Prerequisites: ";
	}
}
