// =================================================================
// Gallery
// =================================================================

/// A helper variable to control the number of columns a gallery
/// supports in our WordPress environment.
/// @group content
/// @access priavte
/// @since 1.4.0

$_wp-supported-gallery-columns: 9;

/// Base styles for the gallery shortcode in WordPress.
/// @group content
/// @access public
/// @since 1.4.0

.gallery {
	@extend %clearfix;
	margin-right: -10px;

	a {
		display: block;
	}

	img {
		display: block;
		width: 100%;
	}
}

/// Styles for image/caption pairs in the WordPress gallery shortcode.
/// @group content
/// @access public
/// @since 1.4.0

.gallery-item {
	float: left;
	border-right: 10px solid transparent;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	width: 33.33%;

	@for $i from 1 through $_wp-supported-gallery-columns {
		.gallery-columns-#{$i} & {
			@include breakpoint( xs ) {
				width: 100 / $i#{"%"};

				&:nth-child(#{$i}n + 1) {
					clear: left;
				}
			}
		}
	}
}

.gallery-icon {
	a {
		@extend %icon-scaleup;

		&::before,
		&::after {
			@include transition(opacity 250ms ease-in-out 0s);
		}

		&::before {
			color: $color-grayscale-f;
			display: block;
			font-size: 2em;
			left: 0;
			margin-top: -0.5em;
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;
			z-index: 2;

			@for $i from 4 through $_wp-supported-gallery-columns {
				.gallery-columns-#{$i} & {
					font-size: 1em;
				}
			}
		}

		&::after {
			@include rgba-color(background-color, rgba(black, 0.75), transparent);
			content: "";
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		img {
			@include transition(transform 250ms ease-in-out 0s);
		}

		&:hover {
			img {
				@include transition(transform 250ms ease-in-out 0s);
				@include scale(1.1);
			}

			&::before,
			&::after {
				@include transition(opacity 250ms ease-in-out 0s);
				opacity: 1;
			}
		}
	}
}

/// Styles for captions in the WordPress gallery shortcode.
/// @group content
/// @access public
/// @since 1.4.0

.gallery-caption {
	@include rgba-color(background-color, rgba($color-grayscale-0, 0.75), $color-grayscale-0);
	bottom: 0;
	color: $color-grayscale-f;
	left: 0;
	margin-right: 10px;
	padding: 1em;
	position: absolute;
	width: 100%;

	@for $i from 4 through $_wp-supported-gallery-columns {
		.gallery-columns-#{$i} & {
			display: none;
		}
	}
}

.admin-bar {
	.lg-outer {
		margin-top: 32px;
	}
}

// LightGallery custom styles

.lg-sub-html {
	@include transition( max-height, .25s, cubic-bezier( 0, 0, .25, 1 ), 0s );
	max-height: 33vh; // Prevent the captions from covering the ENTIRE thing on mobile
	overflow-y: auto;

	.lg-thumb-open & {
		@include transition( max-height, .25s, cubic-bezier( 0, 0, .25, 1 ), 0s );
		max-height: 20vh;
	}
}

.lg-thumb-outer {
	border-top: 1px solid;
	@include rgba-color(border-color, rgba(white, 0.2), white);
}

.lg-toogle-thumb {
	border: 1px solid;
	@include rgba-color(border-color, rgba(white, 0.2), white);
	border-bottom: none;

	&::before {
		@extend %font-size-minimum;
		content: 'Show thumbnails';
		font-family: $font-family-sans-serif;
		margin-right: 5px;
		position: relative;
		top: -5px;
	}

	.lg-thumb-open &::before {
		content: 'Hide thumbnails';
	}

	// Required to override plugin CSS
	.lg-outer .lg-thumb-outer & {
		padding: 5px 10px 0 14px;
		width: auto;
	}
}

.lg-thumb {
	// Required to override plugin CSS
	.lg-outer .lg-thumb-outer & {
		padding: $padding-small 0;
	}
}

.lg-outer .lg .lg-inner {
	height: calc(100% - 140px);
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg .lg-sub-html,
.lg-outer.lg-pull-caption-up .lg .lg-sub-html {
	margin-bottom: 40px;
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg .lg-sub-html {
	bottom: 100px;
}
