// Slideshow
// -----------------------------------------------------------------

/// BU Slideshow styles.
/// @group content
/// @access public
/// @since 1.0.0

.bu-slideshow-container {
	margin-bottom: $margin-large;
	text-align: center;
	z-index: 1;
}
