
@import 'burf';
@import 'burf-theme';

/*
These are added by the Theme Customizer when using the Framework.
TODO: Set sensible defaults in Foundation so these aren't required.
*/

/* heading colors */
h1,h2,h3,h4,h5,h6,
.sidebar h1,
.sidebar h1 a {
	color: #000000;
}
/* accent text colors */
strong,
.sidebar h3,
.sidebar h3 a,
.sidebar a .day,
.footbar h3,
.footbar h3 a,
ul > li:before,
ol > li:before {
	color: #4a97a7;
}
.default .date {
	background-color: #4a97a7;
}
/* general text colors */
body, p, li,
.sidebar a,
.footbar a {
	color: #606060;
}
/* anchor colors */
a,
.comment-counter a strong {
	color: #cc0000;
}
/* page background color */
.wrapper {
	background-color: #ffffff;
}

/*
Font Demos
 */
.font-benton {
	font-family: 'Benton';
}
.font-pressura {
	font-family: 'Pressura';
}
.font-capita {
	font-family: 'Capita';
}
.font-weight-300 {
	font-weight: 300;
}
.font-weight-400 {
	font-weight: 400;
}
.font-weight-700 {
	font-weight: 700;
}
.font-weight-900 {
	font-weight: 900;
}