// -----------------------------------------------------------------
// Calendar Listing Template
// -----------------------------------------------------------------

/// Controls the color of the border on the mini profile format
/// in the profiles shortcode.
/// @group profiles
/// @access public
/// @since 1.0.0

$color-profile-mini-border:                $color-grayscale-e !default;

/// Controls the color of the date range on the calendar listing template.
/// By default, this is right after the topic.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-heading-date-range:          $color-grayscale-9 !default;

/// Controls the color of links on the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-event-link:                 $color-link !default;

/// Controls the color of links on the calendar listing template when you hover.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-event-link-hover:           $color-link !default;

/// Handles styling for the calendar topic on the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

/// Controls the font used in the calendar picker in the sidebar
/// of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$font-family-calendar-month-caption:         $font-family-sans-serif !default;

/// Controls the color of the selected month in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-caption:              $color-grayscale-7 !default;

/// Controls the background of day cells in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-th-bg:                $color-grayscale-e !default;

/// Controls the color of text in the day cells in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-th:                   $color-grayscale-0 !default;

/// Controls the spacing of day cells in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$padding-calendar-month-cell:               4px !default;

/// Controls the font family of day cells in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$font-family-calendar-month-cell:            $font-family-sans-serif !default;

/// Controls the color of links in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-link:             $color-link !default;

/// Controls the color of links when you hover in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-link-hover:       $color-link !default;

/// Controls the background of links in the calendar picker
/// for days that are not in the current month (previous/next month)
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-link-out-bg:       $color-grayscale-f5 !default;

/// Controls the color of links in the calendar picker
/// for days that are not in the current month (previous/next month)
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-link-out:          $color-grayscale-9 !default;

/// Controls the background of the current day's link in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-link-today-bg:     $color-grayscale-e !default;

/// Controls the color of the current day's link in the calendar picker
/// in the sidebar of the calendar listing template.
/// @group calendar
/// @access public
/// @since 1.0.0

$color-calendar-month-link-today:        $color-grayscale-0 !default;

.calendar-list-topic {
	@extend %font-size-6;
}

/// Handles styling for the selected date range in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-range {
	color: $color-calendar-heading-date-range;
}

/// Handles styling for groups of events on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-events {
	margin-bottom: 3em;
	padding: 0;
}

/// Handles styling for an individual event on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event {
	font-size: 0.9em;
	line-height: 1.3;
	list-style: none;
	margin-bottom: 0.5em;
}

/// Handles styling for the first event in a group of events at
/// the same time in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-first-at-time {
	border-top: 1px dotted $color-grayscale-c;
	margin-bottom: 0.75em;
	padding-top: 0.75em;
}

/// Handles styling for an individual event on a given day
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-time {
	color: $color-grayscale-6;
	font-weight: 700;
	position: absolute;
}

/// Handles styling for the link to an individual event
/// in the calendar listing page.
/// @group calendar
/// @access public
/// @since 2.0.0

.calendar-list-event-link {
	color: $color-calendar-event-link;
	display: block;
	margin-left: 5.1em;

	&:hover,
	&:focus {
		color: $color-calendar-event-link-hover;
	}
}
