// -----------------------------------------------------------------
// Grid Archive
// -----------------------------------------------------------------

/// The number of columns you would like to use in your layout.
/// This controls the width of the content area vs. the sidebar.
/// By default, setting this to 3 will make the sidebar take up 1 column,
/// and the content area 2 columns.
/// If you were to set this to 4, the sidebar would take up 1/4 of the space,
/// while the content area would take up 3/4 of the space.
/// By default, the number of supported widgets in your footer will match this number.
/// @group grid
/// @access public
/// @since 1.2.0

$number-columns: 									 3 !default;

/// Sets the margin width for content and footbar widgets.
/// @group grid
/// @access public
/// @since 1.2.0

$margin-width: 			  					    5.2% !default;

/// Sets the number of supported widgets in the footbar.
/// Matches the number of columns in the theme by default.
/// @group grid
/// @access public
/// @since 1.2.0

$number-widgets-footbar: 						 $number-columns !default;

/// The width of the side nav, if you are using the left hand layout.
/// @group grid
/// @access public
/// @since 1.2.0

$width-side-nav:                            240px !default;

/// The amount of padding to add to the sidebar.
/// Calculated based on the number of columns by default.
/// @group grid
/// @access public
/// @since 1.2.0

$sidebar-padding:                          ( $margin-width - $margin-width * ( 1 / ( $number-widgets-footbar ) ) ) !default;

/// The amount of padding to add to columns on mobile.
/// @group grid
/// @access public
/// @since 1.2.0

$column-padding-bottom:                     10px !default;

/// The amount of padding to add to columns on desktop.
/// @group grid
/// @access public
/// @since 1.2.0

$column-padding-bottom-large-screen:         35px !default;