// -----------------------------------------------------------------
// News Listing Template
// -----------------------------------------------------------------

/// Controls the color of the border on the mini profile format
/// in the profiles shortcode.
/// @group profiles
/// @access public
/// @since 1.0.0

$color-profile-mini-border:                $color-grayscale-e !default;

// News and Archive Template: Listing
// -----------------------------------------------------------------

/// Controls the border style between posts on post listing templates.
/// @group news
/// @access public
/// @since 1.0.0

$border-news-post:                         $border-base !default;

/// Controls the border width between posts on post listing templates.
/// @group news
/// @access public
/// @since 1.0.0

$border-width-news-post:                    $border-top !default;

/// Controls the color of the separators between metadata.
/// @group news
/// @access public
/// @since 1.0.0

$color-news-meta-em:                        $color-grayscale-7 !default;

/// Controls the shape of the separators between metadata.
/// By default, this is set to a dot.
/// @group news
/// @access public
/// @since 1.0.0

$color-news-meta-before:                    $color-grayscale-a !default;