// -----------------------------------------------------------------
// Profile Listing and Archive Templates
// -----------------------------------------------------------------

/// Controls the style of border used on profile callouts.
/// By default, this applies to the basic format only.
/// @group profiles
/// @access public
/// @since 1.0.0

$border-profiles:                          $border-base !default;

/// Controls the shape of the profile photo.
/// By default, this is set to a circle.
/// @group profiles
/// @access public
/// @since 1.0.0

$border-radius-profile-figure:              50% !default;

/// Controls the color used for profile names in the profile
/// listing template.
/// @group profiles
/// @access public
/// @since 1.0.0

$color-profile-name:                       $color-link !default;

/// Controls the color used for profile titles in the profile
/// listing template.
/// @group profiles
/// @access public
/// @since 1.0.0

$color-profile-title:                      $color-base !default;

/// Controls the color used for labels in the single profile
/// listing template sidebar.
/// @group profiles
/// @access public
/// @since 1.0.0

$color-profile-info-label:                 $color-grayscale-a !default;

/// Controls the number of profiles in a row in the advanced format.
/// Kicks in at the extra small breakpoint.
/// @group profiles
/// @access public
/// @since 2.0.0

$profiles-advanced-cols-xs:			2 !default;

/// Controls the number of profiles in a row in the advanced format.
/// Kicks in at the medium breakpoint.
/// @group profiles
/// @access public
/// @since 2.0.0

$profiles-advanced-cols-md:			3 !default;

/// Controls the number of profiles in a row in the mini format.
/// Kicks in at the small breakpoint.
/// @group profiles
/// @access public
/// @since 2.0.0

$profiles-mini-cols-sm:			2 !default;

.page-template-profiles,
.post-type-archive-profile {
	@extend %template-narrow;
}
