// =================================================================
// Content Banner Settings
// =================================================================

// Content Banner Background Color
//
// Controls the background color of the banner container.
// By default, this only affects the window width banner container.
//
// Styleguide WordPress.Content Banner.Background Color
//
// Access: Public
//
// Since: 1.0.0

$color-banner-container:                    $color-grayscale-f0 !default;

// Content Banner Padding
//
// Controls the padding on the banner container.
//
// Styleguide WordPress.Content Banner.Padding
//
// Access: Public
//
// Since: 3.0.2

$padding-banner:                                              0 !default;

// Content Banner Padding - Window Width
//
// Controls the padding on the banner container when using
// the window-width layout.
//
// Styleguide WordPress.Content Banner.Padding Window Width
//
// Access: Public
//
// Since: 3.0.2

$padding-banner-window-width:                    $padding-small !default;

// =================================================================
// Content Banner Styles
// =================================================================

// General styles for all content banner positions.
//
// Access: Public
//
// Since: 1.0.0

.banner-container {
	padding: 0;
	text-align: center;

	img {
		display: block;
		margin: 0 auto;
	}
}

// Styles for the window-width content banner position.
// Sits outside of `.content-container`.
//
// Access: Public
//
// Since: 1.0.0

.banner-container-window-width {
	@include breakpoint( $lg ) {
		background: $color-banner-container;
		padding: $padding-banner-window-width;
	}
}

// Styles for the page-width content banner position.
// Sits directly inside `.content-container` and just
// outside of `.content-area`.
//
// Access: Public
//
// Since: 1.0.0

.banner-container-page-width {
	margin: -$grid-container-padding;
	margin-bottom: $grid-container-padding;

	@include breakpoint( $sm ) {
		margin: 0 0 $margin-large;
	}

	img {
		@include breakpoint( $md ) {
			background: $color-banner-container;
			width: 100%;
		}
	}
}

// Styles for the content-width content banner position.
// Sits directly inside `.content-area`.
//
// Access: Public
//
// Since: 1.0.0

.banner-container-content-width {
	background: none;
	margin: -$grid-container-padding;
	margin-bottom: ( 1.5 * $grid-container-padding );
	padding: 0;

	@include breakpoint( $sm ) {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
}
