// =================================================================
// Content Area Settings
// =================================================================

// Set Content Area Columns
//
// The number of columns you would like to use in your layout.
// This controls the width of the content area vs. the sidebar.
// By default, setting this to 3 will make the sidebar take up 1 column,
// and the content area 2 columns.
//
// If you were to set this to 4, the sidebar would take up 1/4 of the space,
// while the content area would take up 3/4 of the space.
// By default, the number of supported widgets in your footer will match this number.
//
// Styleguide Configuration.Content Area.Columns
//
// Access: Public
//
// Since: 1.2.0

$number-columns: 									 3 !default;

// Set Content Area Margin
//
// Sets the margin width for content and footbar widgets.
//
// Styleguide Configuration.Content Area.Margin Width
//
// Access: Public
//
// Since: 1.2.0

$margin-width: 			  					    5.2% !default;

// Content Area Background Color
//
// Controls the background color of the content.
//
// Styleguide Configuration.Content Area.Background Color
//
// Access: Public
//
// Since: 1.0.0

$color-content-bg:                         $color-grayscale-f !default;

// Content Area Column Padding - Mobile
//
// The amount of padding to add to columns on mobile.
//
// Styleguide Configuration.Content Area.Mobile Column Padding
//
// Access: Public
//
// Since: 1.2.0

$column-padding-bottom:                     10px !default;

// Content Area Column Padding - Desktop
//
// The amount of padding to add to columns on desktop.
//
// Styleguide Configuration.Content Area.Desktop Column Padding
//
// Access: Public
//
// Since: 1.2.0

$column-padding-bottom-large-screen:         35px !default;

// =================================================================
// Content Area Styles
// =================================================================

// Controls styling for all content, from the masthead to the site footer.
//
// Access: Public
//
// Since: 1.0.0

.content {
	background: $color-content-bg;
}

// A wrapper to contain content to a certain size. Sits just below the window
// width banner and just above the footbar.
//
// Access: Public
//
// Since: 1.0.0

.content-container {
	@extend %container-styles;
}


// Content Area
// -----------------------------------------------------------------

// A helper variable to figure out the proper width for the content
// based on the desired number of columns in the design.
// Note that this is different from the number of columns supported in
// the grid.
//
// By default, the width is one less than the number of columns.
//
// Access: Private
//
// Since: 1.0.0

$_content-width: $grid-number-columns * ( ( $number-columns - 1 ) / $number-columns );

// A helper variable to figure out the proper width for the sidebar
// based on the desired number of columns in the design.
// Note that this is different from the number of columns supported in
// the grid.
//
// By default, the width is one column.
//
// Access: Private
//
// Since: 1.0.0

$_sidebar-width: $grid-number-columns * ( 1 / $number-columns );

// Styles for the content area (formerly styled by article[role=main]).
// Sits next to the sidebar.
//
// Access: Public
//
// Since: 1.0.0

.content-area {
	@extend %col-full;
	padding-bottom: $column-padding-bottom;
	position: relative;

	@include breakpoint( $sm ) {
		padding-bottom: $column-padding-bottom-large-screen;
	}

	// For templates with sidebars
	.content-container & {
		@extend %col-md-#{$_content-width};
	}

	// Left layout
	// This level of specificity is necessary to prevent interfering with the narrow template.
	.sidebar-location-left .content-container & {
		@extend %col-md-push-#{$_sidebar-width};
	}

	// For templates without sidebars
	.page-template-no-sidebars &,
	.error404 & {
		@extend %col-md-full;
		left: 0;
	}
}

// Sidebar
// -----------------------------------------------------------------

// The amount of padding to add to the sidebar.
// Calculated based on the number of columns by default.
//
// Access: Public
//
// Since: 1.2.0

$sidebar-padding:                          3.46667% !default; // $sidebar-padding:                          ( $margin-width - $margin-width * ( 1 / ( $number-widgets-footbar ) ) ) !default;

// The default class for styling sidebars.
//
// Access: Public
//
// Since: 1.0.0

.sidebar {
	@extend %equal-heights;
	@extend %font-size-secondary;
	clear: none;
	place-content: baseline;

	.content-container & {
		@extend %col-md-#{$_sidebar-width};
	}

	// Right layout
	// This level of specificity is necessary to prevent interfering with the narrow template.
	.sidebar-location-right .content-container & {
		@include breakpoint( $md ) {
			padding-left: $sidebar-padding;

			@if ( $enable-css-grid ) {
				@supports ( display: grid ) {
					padding-left: 0;
				}
			}
		}
	}

	// Left layout
	// This level of specificity is necessary to prevent interfering with the narrow template.
	.sidebar-location-left .content-container & {
		@extend %col-md-pull-#{$_content-width};
		position: relative;

		@include breakpoint( $md ) {
			padding-right: $sidebar-padding;

			@if ( $enable-css-grid ) {
				@supports ( display: grid ) {
					order: -1;
					padding-right: 0;
				}
			}
		}
	}
}

// Layouts
// -----------------------------------------------------------------

// Styles for the left sidebar location.
//
// Access: Public
//
// Since: 1.2.0

.sidebar-location-left {
	.sidebar {
		@extend %col-md-pull-#{$_content-width};
	}
}

// Styles for narrow content.
//
// Access: Public
//
// Since: 1.4.0

.content-container-narrow {
	.sidebar {
		@extend %clearfix;
		@extend %col-sm-margin-parent;
		margin-bottom: $widget-margin-bottom;
		padding-left: 0;
		padding-right: 0;
	}

	.widget {
		@extend %col-sm-margin-half;
	}
}
