/// Controls the background color of the content.
/// @group content
/// @access public
/// @since 1.0.0

$color-content-bg:                         $color-grayscale-f !default;

/// Controls the shape used in "back" links, such as the links you
/// see at the bottom of the page when viewing a single profile.
/// By default, this is an arrow.
/// @group content
/// @access public
/// @since 1.0.0

$back-link-before:                          "← " !default;

/// Controls the color of the arrow in "back" links, such as the links you
/// see at the bottom of the page when viewing a single profile.
/// @group content
/// @access public
/// @since 1.0.0

$color-back-link-before:                    $color-grayscale-f !default;

// =================================================================
// Layout
// =================================================================

/// Controls styling for all content, from the masthead to the site footer.
/// @group layout
/// @access public
/// @since 1.0.0

// Wordpress WYSIWYG
// -----------------------------------------------------------------

/// The margin to use around anything floated in the content area.
/// @group content
/// @access public
/// @since 1.0.0

$margin-floated-content: 						 10px !default;

/// The font to use for captions.
/// @group content
/// @access public
/// @since 1.0.0

$font-family-caption:                       $font-family-sans-serif !default;

/// The color to use for captions.
/// @group content
/// @access public
/// @since 1.0.0

$color-caption:                            $color-grayscale-6 !default;

/// The border color to use in tables.
/// @group content
/// @access public
/// @since 1.0.0

$border-color-table:                        $color-grayscale-d !default;

/// A darker border color to use in tables.
/// @group content
/// @access public
/// @since 1.0.0

$border-color-table-dark:                   $color-grayscale-9 !default;

/// The shadow to use in tables.
/// @group content
/// @access public
/// @since 1.0.0

$box-shadow-table:                          inset -20px 0 20px -10px $color-grayscale-f0 !default;

// Plugins and Shortcodes
// -----------------------------------------------------------------

/// Controls the color of icons on collapsibles.
/// @group content
/// @access public
/// @since 2.0.0

$color-collapsible-icon:           $color-icons !default;

/// Controls the color of icons on collapsibles when you hover.
/// @group content
/// @access public
/// @since 2.0.0

$color-collapsible-icon-hover:     $color-link !default;

/// Controls the border between collapsibles.
/// @group content
/// @access public
/// @since 2.0.0

$border-collapsible:     1px solid $color-grayscale-c !default;

.content {
	background: $color-content-bg;
}

/// A wrapper to contain content to a certain size. Sits just below the window
/// width banner and just above the footbar.
/// @group layout
/// @access public
/// @since 1.0.0

.content-container {
	@extend %container-styles;
}


// Content Area
// -----------------------------------------------------------------

/// A helper variable to figure out the proper width for the content
/// based on the desired number of columns in the design.
/// Note that this is different from the number of columns supported in
/// the grid.
/// By default, the width is one less than the number of columns.
/// @group layout
/// @access private
/// @since 1.0.0

$_content-width: $grid-number-columns * ( ( $number-columns - 1 ) / $number-columns );

/// A helper variable to figure out the proper width for the sidebar
/// based on the desired number of columns in the design.
/// Note that this is different from the number of columns supported in
/// the grid.
/// By default, the width is one column.
/// @group layout
/// @access private
/// @since 1.0.0

$_sidebar-width: $grid-number-columns * ( 1 / $number-columns );

/// Styles for the content area (formerly styled by article[role=main]).
/// Sits next to the sidebar.
/// @group layout
/// @access public
/// @since 1.0.0

.content-area {
	@extend %col-md-#{$_content-width};
	padding-bottom: $column-padding-bottom;

	@include breakpoint( sm ) {
		padding-bottom: $column-padding-bottom-large-screen;
	}

	// Left layout
	.sidebar-location-left & {
		@extend %col-md-push-#{$_sidebar-width};
	}

	.page-template-no-sidebars & {
		left: 0;
		width: 100%;
	}
}

/// Styles for the bottom sidebar location.
/// @group layout
/// @access public
/// @since 1.0.0

.sidebar-location-bottom {
	@extend %template-narrow;

	.sidebar {
		@extend %col-sm-margin-parent;
		clear: both;
		float: none;
		margin-bottom: $widget-margin-bottom;
		overflow: hidden;
		padding-left: 0;
		width: auto;

		.widget {
			@extend %col-sm-margin-half;
		}
	}
}


// Sidebar
// -----------------------------------------------------------------

/// Controls styles for the sidebar.
/// You may extend this class if you can't use .sidebar for some reason.
/// @group layout
/// @access public
/// @since 1.2.0

%sidebar-styles {
	@extend %font-size-secondary;
	@extend %col-md-#{$_sidebar-width};
	clear: none;

	// TODO: sunset this in a future release -
	// this padding should really only apply to .sidebar-location-right
	@include breakpoint( md ) {
		padding-left: $sidebar-padding;
	}

	// Left layout
	.sidebar-location-left & {
		@extend %col-md-pull-#{$_content-width};

		@include breakpoint( md ) {
			// TODO: sunset in a future release
			padding: 0;
			padding-right: $sidebar-padding;
		}
	}
}

/// The default class for styling sidebars.
/// @group layout
/// @access public
/// @since 1.0.0

.sidebar {
	@extend %sidebar-styles;
}

// layouts
// -----------------------------------------------------------------

/// Styles for the left sidebar location.
/// @group layout
/// @access public
/// @since 1.2.0

.sidebar-location-left {
	.sidebar {
		@extend %col-md-pull-#{$_content-width};

		@include breakpoint( md ) {
			// TODO: sunset in a future release
			padding: 0;
			padding-right: $sidebar-padding;
		}
	}

	.sidebar-posts {
		@extend %remove-template-narrow-sidebar;
	}
}
