// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Masthead and Brand
// -----------------------------------------------------------------

/// The style of border to use on the masthead.
/// This shows directly below navigation or brand depending on the layout
/// you've chosen for your site.
/// @group header
/// @access public
/// @since 1.0.0

$border-masthead:                          $border-base !default;

/// The placement and size of the border on the masthead.
/// @group header
/// @access public
/// @since 1.0.0

$border-width-masthead:                     $border-bottom !default;

/// The background color of the masthead.
/// Bright colors are not recommended.
/// @group header
/// @access public
/// @since 1.0.0

$color-masthead-bg:                        $color-grayscale-f !default;

// Primary Navigation
// -----------------------------------------------------------------

/// The style of border used on primary navigation.
/// By default, this border shows above primary navigation on mobile only.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$border-width-primary-nav:                   $border-top !default;

/// The width of border used on primary navigation at desktop sizes.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$border-primary-nav-desktop: 					 0 !default;

/// The color of border used on primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-border:                  $color-grayscale-3 !default;

/// The font used in primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$font-family-navigation:                    $font-family-sans-serif !default;

/// The color to use behind primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-bg:                      $color-grayscale-0 !default;

/// The color of links in primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-link:                    $color-grayscale-f !default;

/// The color of links when you hover in primary navigation.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-link-hover:              $color-grayscale-a !default;

/// The color of an active link in primary navigation - in other words, the
/// color that a link will be when you are on that link's page.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-link-current:            $color-grayscale-9 !default;

/// The color to use behind dropdown menus. Only affects non-mobile devices.
/// This variable is not used in the left hand navigation layout as dropdowns
/// are not supported.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-dropdown-bg:             $color-grayscale-0 !default;

/// The color of links in dropdown menus.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-dropdown-link:           $color-primary-nav-link !default;

/// The color of links in dropdown menus when you hover over them.
/// @group primary-navigation
/// @access public
/// @since 1.0.0

$color-primary-nav-dropdown-link-hover:     $color-primary-nav-link-hover !default;

// Utility Navigation
// -----------------------------------------------------------------

/// The width and style of border used in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

$border-width-utility-nav:                   $border-top !default;

/// The font size used in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

$font-size-utility-nav:                      14px !default;

/// The color of links in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

$color-utility-nav-link:                    $color-grayscale-7 !default;

/// The color of links when you hover in the utility navigation.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

$color-utility-nav-link-hover:              $color-grayscale-0 !default;

/// The color of links in the utility navigation on mobile.
/// The placement of utility navigation on mobile usually means
/// the utility navigation will be on a different background color,
/// so it's important to double check that this is set correctly.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

$color-utility-nav-mobile-link:       			$color-grayscale-a !default;

/// The color of links in the utility navigation when you hover on mobile.
/// @group utility-navigation
/// @access public
/// @since 1.0.0

$color-utility-nav-mobile-link-hover: 			$color-grayscale-f !default;

// Navigation and Search Toggles
// -----------------------------------------------------------------

/// Controls the color of toggles in the navigation at mobile sizes.
/// By default, this affects both the menu and search toggles.
/// @group header
/// @access public
/// @since 1.0.0

$color-nav-toggle:                          $color-grayscale-f !default;

/// Controls the color of toggles in the navigation at mobile sizes on hover.
/// @group header
/// @access public
/// @since 1.0.0

$color-nav-toggle-hover:                    $color-grayscale-a !default;

/// Controls the color of toggles in the navigation at desktop sizes.
/// By default, this affects both the menu and search toggles.
/// @group header
/// @access public
/// @since 1.0.0

$color-nav-toggle-alt:                      $color-grayscale-9 !default;

/// Controls the color of toggles in the navigation at desktop sizes on hover.
/// @group header
/// @access public
/// @since 1.0.0

$color-nav-toggle-alt-hover:                $color-grayscale-0 !default;

// Search
// -----------------------------------------------------------------

/// Controls the width of the border used on the search pane.
/// @group header
/// @access public
/// @since 1.0.0

$border-width-quicksearch:                  $border-top !default;

/// Controls the color of the border used on the search form.
/// @group header
/// @access public
/// @since 1.0.0

$color-quicksearch-border:                 $color-grayscale-d !default;

/// Controls how much rounding is applied to the search form field corners.
/// @group header
/// @access public
/// @since 1.0.0

$border-radius-quicksearch-input:           20px 0 0 20px !default;

/// Controls how much rounding is applied to the search form submit button.
/// @group header
/// @access public
/// @since 1.0.0

$border-radius-quicksearch-button:          0 20px 20px 0 !default;

/// Controls the width of the border used on the search field.
/// @group header
/// @access public
/// @since 1.0.0

$border-search:                            0 !default;

/// Controls the background color of the search field.
/// @group header
/// @access public
/// @since 1.0.0

$color-search-bg:                          $color-grayscale-f5 !default;

/// Controls the color of the text in the search field.
/// @group header
/// @access public
/// @since 1.0.0

$color-search-text:                        $color-grayscale-0 !default;

/// The width of the side nav, if you are using the left hand layout.
/// @group grid
/// @access public
/// @since 1.2.0

$width-side-nav:                            240px !default;

// Masthead
// -----------------------------------------------------------------

/// Controls all styling related to the masthead. This includes
/// navigation, branding, and search.
/// @group layout
/// @access public
/// @since 1.0.0

.masthead {
	@extend %clearfix;
	background: $color-masthead-bg;
	border: $border-masthead;
	border-width: $border-width-masthead;
	position: relative;
}

/// A wrapper for items in the masthead. Often used to restrict the
/// masthead to a certain width without interfering with the background.
/// @group layout
/// @access public
/// @since 1.0.0

.masthead-container {
	position: relative;
}


// =================================================================
// Navigation
// =================================================================

nav {
	font-family: $font-family-navigation;

	a {
		text-decoration: none;
	}
}

// .search-toggle appears only when header is small and above, otherwise it's hidden
.brand {
	.search-toggle {
		display: none;
	}

	.site-description {
		float: left;
		width: auto;
		margin-left: 50px;
	}
}
// quicksearch (use WordPress plugin class name)

#quicksearch {
	position: relative;
	display: none;
	padding: 30px 20px;
	margin: 0;
	background: $color-search-bg;

	&.is-open {
		display: block;
		border-bottom: $border-search;
	}

	fieldset {
		margin: 0;

		@include breakpoint(sm) {
			max-width: $container-sm;
			padding: 0 20px;
			margin: 0 auto;
		}
	}
}

.search-field {
	@include border-radius($border-radius-quicksearch-input);
	width: 75%;
	padding-right: 10px;
	padding-left: 10px;
	color: $color-search-text;

	@include breakpoint(sm) {
		width: 85%;
	}
}

.search-submit {
	@extend %button-styles-primary;
	@include border-radius($border-radius-quicksearch-button);
	width: 25%;
	padding: 11px 0 12px 0;
	float: right;

	@include breakpoint(sm) {
		width: 15%;
	}
}

// search-toggle

.search-toggle {
	@extend %icon-search;
	@include transition(color 200ms ease-in-out 0s);
	float: right;
	width: 60px;
	height: 60px;
	padding: 0;
	font-size: 31px;
	line-height: 60px;
	color: $color-nav-toggle;
	text-align: center;

	&:visited {
		color: $color-nav-toggle;
	}
	&:hover {
		color: $color-nav-toggle-hover;
	}

	span {
		display: none;
	}
}

.search-toggle.is-open {
	@extend %icon-close;
}

// when nav or search are opened
.is-open .primary-nav-menu,
.is-open .utility-nav {
	display: block;
	clear: left;
}


// nav-toggle

.nav-toggle {
	@extend %hide-text;
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;

	@include breakpoint(sm) {
		display: none;
	}
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
	position: absolute;
	top: 28px;
	left: 15px;
	display: block;
	width: 30px;
	height: 4px;
	background: $color-nav-toggle;
	content: "";
	cursor: pointer;
}
.nav-toggle span:before {
	top: -10px;
	left: 0;
}
.nav-toggle span:after {
	top: 10px;
	left: 0;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
	@include transition(all, 250ms, ease-in-out, 0s);
}
.nav-toggle.is-open span {
	background-color: transparent;
}
.nav-toggle.is-open span:before,
.nav-toggle.is-open span:after {
	top: 0;
}
.nav-toggle.is-open span:before {
	@include rotate (45);
}
.nav-toggle.is-open span:after {
	@include rotate (-45);
}

// primaryNav and menu

.primary-nav {
	@extend %clearfix;
	display: block;
	padding: 0 10px;
	background: $color-primary-nav-bg;
}

.primary-nav.is-open {
	height: auto;
	padding-bottom: 20px;
	@include breakpoint(sm) {
		padding-bottom: 0;
	}
}

.primary-nav-menu {
	display: none;
	margin: 40px 10px 0 10px;

	@include breakpoint(sm) {
		display: inline;
		margin: 0;
		border: none;
	}

	li {
		display: block;
		zoom: 1;

		@include breakpoint(sm) {
			display: inline-block;
			border: none;

			.lt-ie8 & {
				display: inline;
			}
		}
	}
	a {
		display: block;
		padding: 10px 0;
		border: 1px solid $color-primary-nav-border;
		border-width: $border-width-primary-nav;
		color: $color-primary-nav-link;
		text-decoration: none;

		@include breakpoint(sm) {
			padding: 0 10px;
			border: $border-primary-nav-desktop;
			line-height: 60px;
		}

		&:hover,
		&:focus {
			color: $color-primary-nav-link-hover;
		}
	}

	ul {
		display: none;

		@include breakpoint(sm) {
			position: absolute;
			left: -9999px;
			z-index: 2;
			display: block;
			width: 240px;
			background: $color-primary-nav-dropdown-bg;
		}
	}
}

.primary-nav-menu li a.active,
.primary-nav-menu li a.active_section {
	color: $color-primary-nav-link-current;
}

.primary-nav-menu li:hover ul,
.primary-nav-menu li:focus ul {
	left: auto;
}
.primary-nav-menu li li {
	display: block;
	padding: 0 10px;
}
.primary-nav-menu li li a {
	padding: 10px 0;
	line-height: $line-height-base;
	color: $color-primary-nav-dropdown-link;

	&:hover,
	&:focus {
		color: $color-primary-nav-dropdown-link-hover;
	}
}

/* utilityNav
----------------------------------------------------------------- */

.utility-nav {
	display: none;
	padding: 20px 0 0;
	margin: 0 10px;
	border: 1px solid $color-primary-nav-border;
	border-width: $border-width-utility-nav;
	font-size: $font-size-utility-nav;
	color: $color-utility-nav-mobile-link;
	text-decoration: none;

	@include breakpoint(sm) {
		color: $color-utility-nav-link;
	}

	li {
		padding: 0;
		border: none;

		@include breakpoint(sm) {
			display: inline-block;
			padding-left: 10px;
			border: none;
			*display: inline;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: $color-utility-nav-mobile-link-hover;

			@include breakpoint(sm) {
				color: $color-utility-nav-link-hover;
			}
		}
	}
}
.masthead-container .utility-nav {
	@include breakpoint(sm) {
		display: block;
		padding: 0;
		margin: 0;
		border: none;
	}
}

/* default
----------------------------------------------------------------- */

.l-default .utility-nav {
	@include breakpoint(sm) {
		position: absolute;
		top: ($height-brand / 2) - ($font-size-utility-nav / 2);
		right: 20px;
		line-height: 1;
	}
}

/* side-nav
----------------------------------------------------------------- */

.l-side-nav {
	.masthead:after {
		@include breakpoint(sm) {
			display: none;
		}
	}

	.wrapper {
		background: $color-primary-nav-bg;
	}

	.primary-nav {
		@include breakpoint(sm) {
			position: relative;
			top: 0;
			width: $width-side-nav;
			background: none;
			float: left;
			margin-left: -$width-side-nav + 60px;
			left: 0;

			&.is-open {
				left: $width-side-nav - 60px;

				@include breakpoint(lg) {
					left: 0;
				}
			}
		}

		@include breakpoint(lg) {
			margin-left: 0;
			display: block;
			width: $width-side-nav;
			padding: 20px 10px;
		}
	}

	.nav-toggle {
		@include breakpoint(sm) {
			float: right;
			margin-right: -10px;
		}
	}

	.primary-nav-menu {
		@include breakpoint(sm) {
			display: none;
			margin: 0 10px;
		}

		@include breakpoint(lg) {
			display: block;
		}

		li {
			display: block;
			padding: 0;

			&:first-child {
				a {
					@include breakpoint(lg) {
						border: 0;
					}
				}
			}
		}

		a {
			padding: 10px 0;
			border: 1px solid $color-primary-nav-border;
			border-width: $border-width-primary-nav;
			line-height: $line-height-base;
		}

		ul {
			display: none;
		}
	}
}

.l-side-nav .search-toggle {
	position: absolute;
	//top: $height-brand + 30px;
	right: 0;
	color: $color-grayscale-f;

	@include breakpoint(sm) {
		right: 10px;
		display: block;
		position: relative;
		@include vertical-center;
		color: $color-nav-toggle-alt;
	}

	&:active,
	&:visited {
		color: currentColor;
	}
	&:hover {
		color: currentColor;

		@include breakpoint(sm) {
			color: $color-nav-toggle-alt-hover;
		}
	}
}

$_search-height: 103px;

.search-open.l-side-nav {
	.primary-nav {
		@include breakpoint(sm) {
			top: $_search-height; // adds the height of the open search form
		}
	}
	.content {
		@include breakpoint(sm) {
			margin-top: $_search-height; // adds the height of the open search form
		}
	}
}

// side-nav and no-nav: quicksearch
.l-side-nav {
	#quicksearch {
		@include breakpoint(sm) {
			position: absolute;
			width: 100%;
			border: 1px solid $color-quicksearch-border;
			border-width: $border-width-quicksearch;
		}
	}

	.primary-nav {
		.search-toggle {
			@include breakpoint(sm) {
				display: none;
			}
		}
	}
}

.l-side-nav.nav-open {
	.content {
		@include breakpoint(sm) {
			left: $width-side-nav - 60px;
		}
		@include breakpoint(lg) {
			left: 0;
		}
	}
	.nav-toggle {
		float: left;
		margin-left: -10px;
	}
}

.l-no-nav .brand .search-toggle {
	color: $color-nav-toggle-alt;
	@include breakpoint(sm) {
		right: 10px;
		display: block;
		@include vertical-center;
	}
	&:visited {
		color: $color-nav-toggle-alt;
	}
	&:hover {
		color: $color-nav-toggle-alt-hover;
	}
}

// side-nav: nav-toggle
.l-side-nav .nav-toggle {
	display: block;
	@include breakpoint(lg) {
		display: none;
	}
}
.l-side-nav .masthead-container .utility-nav {
	margin: 0 10px;

	@include breakpoint(lg) {
		position: relative;
		top: auto;
		right: auto;
		display: block;
	}
}

.l-side-nav .utility-nav li {
	display: block;
	padding-left: 0;
}

.l-side-nav.nav-open .primary-nav-menu,
.l-side-nav.nav-open .utility-nav {
	display: block;
	float: none;
}

/* top nav
----------------------------------------------------------------- */

.l-top-nav {
	.utility-nav {
		@include breakpoint(sm) {
			position: absolute;
			top: (($height-brand / 2) - ($font-size-utility-nav / 2)) + 60;
			right: 20px;
			line-height: 1;
		}
	}

	#quicksearch {
		border-bottom: 1px solid $color-grayscale-d;
	}
}
.l-top-nav.search-open .utility-nav {
	@include breakpoint(sm) {
		top: 209px;
	}
}

/* no-nav
----------------------------------------------------------------- */

.l-no-nav {
	.primary-nav {
		@include breakpoint(sm) {
			display: none;
		}
	}

	.brand {
		padding-right: 60px;
		.search-toggle {
			display: block;
			margin: 0 -60px 0 0;
			font-size: 24px;
		}
	}

	#quicksearch {
		border-top: 1px solid $color-grayscale-d;
	}

	.masthead-container{
		.utility-nav {
			display: none;
			@include breakpoint(sm) {
				position: absolute;
				top: ($height-brand / 2) - ($font-size-utility-nav / 2) - 5;
				right: 80px;
				display: block;
			}
		}
	}
}