// =================================================================
// Button Block Settings
// =================================================================
// Preliminary layout styles for the button block

.wp-block-button {
    &.is-style-outline {
        border: 0;
        padding: 0;
    }

    .wp-block-button__link {
        padding: var( --wp-block-button-padding-block, 0.5em ) var( --wp-block-button-padding-inline, 1.25em );
    }
}