// =================================================================
// Query Loops Post Image Block Block Settings
// =================================================================
// Preliminary layout styles for the Query Loops Post Image Block block

// 
.wp-block-post-featured-image {
	img {
		aspect-ratio: 4 / 3;
		width: 100%;
		object-fit: cover;
	}
}