.wp-block-pullquote {
    padding-block: var( --pullquote-padding-block, 2em );
    padding-inline: var( --pullquote-padding-block, var( --bu--content--margin-inline ) );

    :where( blockquote ) {
        margin: 0;
    }
}