// =================================================================
//
// A partial for those who only want the very basic of basics. Only
// mixins and placeholders are supported in this partial, and only
// pieces which are used will print. Useful for plugin development
// where you want your dependencies and extra CSS to be at an
// absolute minimum, or for development which will occur in another
// pre-existing framework or environment with its own normalizing
// partials and other opinionated stuff.
//
// =================================================================

// =================================================================
// Dependencies
// =================================================================

@import "math";

// =================================================================
// Blah
// =================================================================

$burf-extras:								       false;

@import "burf-base/config";
@import "burf-base/mixins";
@import "burf-base/normalize-variables";

@import "burf-base/grid/grid-variables";
@import "burf-base/grid/grid-mixins";
@import "burf-base/grid/grid-placeholders";
@import "burf-base/grid/grid-friendly";

// Special settings for icons

$print-icon-classes:                       false;

@import "burf-base/icons/package";

@import "burf-base/typography-variables";
@import "burf-base/typography-tools";
