// =================================================================
//
// A partial for those who only want the very basic of basics. Only
// mixins and placeholders are supported in this partial, and only
// pieces which are used will print. Useful for plugin development
// where you want your dependencies and extra CSS to be at an
// absolute minimum, or for development which will occur in another
// pre-existing framework or environment with its own normalizing
// partials and other opinionated stuff.
//
// =================================================================

// =================================================================
// Dependencies
// =================================================================

@import "math";

// =================================================================
// Blah
// =================================================================

$burf-extras:								       false;

@import "burf-base/config";
@import "burf-base/mixins";
@import "burf-base/normalize-variables";

@import "burf-base/grid/grid-variables";
@import "burf-base/grid/grid-mixins";
@import "burf-base/grid/grid-placeholders";
@import "burf-base/grid/grid-friendly";

// Special settings for icons

$use-default-icons:                        false;
$print-icon-classes:                       false;

@import "burf-base/icons/base"; // Required
@import "burf-base/icons/social"; // Required
@import "burf-base/icons/actions"; // Required
@import "burf-base/icons/arrows";
@import "burf-base/icons/charts";
@import "burf-base/icons/communication";
@import "burf-base/icons/documents";
@import "burf-base/icons/ecommerce";
@import "burf-base/icons/editing";
@import "burf-base/icons/location";
@import "burf-base/icons/media";
@import "burf-base/icons/objects";
@import "burf-base/icons/status";
@import "burf-base/icons/technology";
@import "burf-base/icons/time";
@import "burf-base/icons/transportation";
@import "burf-base/icons/ui";

@import "burf-base/typography-variables";
@import "burf-base/typography-tools";
