// theme-specific elements
// -----------------------------------------------------------------

// variables
@import 'burf-theme/variables';

// layout
@import 'burf-theme/layout';

// branding
@import 'burf-theme/branding';

// icons
@import 'burf-theme/icons/base'; // Required
	@import 'burf-theme/icons/social'; // Required
	@import 'burf-theme/icons/actions'; // Required
	@import 'burf-theme/icons/arrows';
	@import 'burf-theme/icons/charts';
	@import 'burf-theme/icons/communication';
	@import 'burf-theme/icons/documents';
	@import 'burf-theme/icons/ecommerce';
	@import 'burf-theme/icons/editing';
	@import 'burf-theme/icons/location';
	@import 'burf-theme/icons/media';
	@import 'burf-theme/icons/objects';
	@import 'burf-theme/icons/status';
	@import 'burf-theme/icons/technology';
	@import 'burf-theme/icons/time';
	@import 'burf-theme/icons/transportation';

// navigation
@import 'burf-theme/navigation';

// utilities
@import 'burf-theme/utilities';

// comments
@import 'burf-theme/comments';

// widgets
@import 'burf-theme/widgets';

// templates
@import 'burf-theme/templates';

// plugins
@import 'burf-theme/plugins';

// wordpress standard shortcodes
@import 'burf-theme/gallery';