// =================================================================
// Basic styling and resets which do not depend on WordPress
// =================================================================

// resets
@import "../bower_components/normalize-css/normalize";
@import "../bower_components/mathsass/dist/math";

// variables
@import 'burf-base/config';

// mixins
@import 'burf-base/mixins';

// fonts
@import 'burf-base/fonts';

// grid
@import 'burf-base/grid';

// base styles
@import 'burf-base/normalize';
@import 'burf-base/typography';
@import 'burf-base/tables';
@import 'burf-base/forms';