// theme-specific elements
// -----------------------------------------------------------------

// variables
@import 'burf-theme/variables';

// layout
@import 'burf-theme/layout';

// branding
@import 'burf-theme/branding';

// icons
@import 'burf-theme/icons';

// navigation
@import 'burf-theme/navigation';

// utilities
@import 'burf-theme/utilities';

// comments
@import 'burf-theme/comments';

// widgets
@import 'burf-theme/widgets';

// templates
@import 'burf-theme/templates';

// plugins
@import 'burf-theme/plugins';

// wordpress standard shortcodes
@import 'burf-theme/gallery';