// =================================================================
// Basic styling and resets which do not depend on WordPress
// =================================================================

// dependencies and resets
@import 'node_modules/normalize-scss/sass/normalize/import-now';
@import 'node_modules/mathsass/dist/math';

// Utilities
@import 'burf-base/config';
@import 'burf-base/accessibility';
@import 'burf-base/mixins';
@import 'burf-base/fonts';
@import 'burf-base/icons/package';

// Styles
@import "burf-base/normalize";
@import "burf-base/grid/package";
@import "burf-base/typography";
@import "burf-base/tables";
@import "burf-base/forms";
@import 'burf-base/print';

// =================================================================
// Tests
// TODO: Remove before release
// =================================================================

@import 'burf-base/tests';