// =================================================================
// Styling for the WordPress theme framework
// =================================================================

// variables
@import 'burf-theme/variables';

// widgets
@import 'burf-theme/widgets/global';
@import 'burf-theme/widgets/widgets';
@import 'burf-theme/widgets/widget-calendar';
@import 'burf-theme/widgets/widget-navigation';
@import 'burf-theme/widgets/widget-posts';

// layout
@import 'burf-theme/layout/branding';
@import 'burf-theme/layout/navigation';
@import 'burf-theme/layout/content';
@import 'burf-theme/layout/footer';

// utilities
@import 'burf-theme/utilities';

// comments
@import 'burf-theme/comments';

// templates
@import 'burf-theme/templates/base';
	@import 'burf-theme/templates/calendar-archive'; // Calendar listing
	@import 'burf-theme/templates/archive'; // News and archive
	@import 'burf-theme/templates/single'; // Single post
	@import 'burf-theme/templates/calendar-single'; // Calendar event
	@import 'burf-theme/templates/profile-archive'; // Profiles listing
	@import 'burf-theme/templates/profile-single'; // Single profile

// plugins
@import 'burf-theme/plugins';

// wordpress standard shortcodes
@import 'burf-theme/gallery';