// Button Font Family
//
// Controls the font used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Font Family
//
// Access: Public
//
// Since: 1.0.0

// Change the font family of buttons
//
// Controls the font used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$font-family-button
//
// Access: Public
//
// Since: 1.0.0

$font-family-button:                       $font-family-sans-serif !default;

// Button Font Size
//
// Controls the font size used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Font Size
//
// Access: Public
//
// Since: 1.0.0

// Change the font size of buttons
//
// Controls the font size used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$font-size-button
//
// Access: Public
//
// Since: 1.0.0

$font-size-button:                         inherit !default;

// Button Background Color
//
// Controls the background color used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Background Color
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

// Change the background color of buttons
//
// Controls the background color used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$color-button-bg
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

$color-button-bg:                          $color-grayscale-e !default;

// Button Text Color
//
// Controls the text color used on default buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Text Color
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

// Change the text color of buttons
//
// Controls the text color used on default buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$color-button-text
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

$color-button-text:                        $color-grayscale-4 !default;

// Primary Button Background Color
//
// Controls the background color used on all primary buttons and
// things that looks like primary buttons across the site.
//
// Styleguide Configuration.Buttons.Primary Button Background Color
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

// Change the background color of primary buttons
//
// Controls the background color used on all primary buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$color-button-primary-bg
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

$color-button-primary-bg:                  #0074E0 !default;

// Primary Button Text Color
//
// Controls the text color used on primary buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Primary Button Text Color
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

// Change the text color of buttons
//
// Controls the text color used on primary buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$color-button-primary-text
//
// Accessibility: AA
//
// Access: Public
//
// Since: 1.0.0

$color-button-primary-text:                $color-grayscale-f !default;

// Button Margin
//
// Controls the margin used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Margin
//
// Access: Public
//
// Since: 1.0.0

// Change the margin of buttons
//
// Controls the margin used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$margin-button
//
// Access: Public
//
// Since: 1.0.0

$margin-button:                            0 $margin-small $margin-small 0 !default;

// Button Padding
//
// Controls the padding used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Padding
//
// Access: Public
//
// Since: 1.0.0

// Change the padding of buttons
//
// Controls the padding used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$padding-button
//
// Access: Public
//
// Since: 1.0.0

$padding-button:                           0.5em 1em !default;

// Button Border
//
// Controls the border used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Border
//
// Access: Public
//
// Since: 1.0.0

// Change the border of buttons
//
// Controls the border used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$border-button
//
// Access: Public
//
// Since: 1.0.0

$border-button:                            0;

// Button Border Radius
//
// Controls the border radius used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Configuration.Buttons.Button Border Radius
//
// Access: Public
//
// Since: 1.0.0

// Change the border radius of buttons
//
// Controls the border radius used on all buttons and
// things that looks like buttons across the site.
//
// Styleguide Forms.Buttons.$border-radius-button
//
// Access: Public
//
// Since: 1.0.0

$border-radius-button:                     2px !default;

// =================================================================
// Forms Styles
// =================================================================

// Placeholders for Forms
// -----------------------------------------------------------------

// Make an element look like a button
//
// This placeholder class controls button styles globally.
// Extend this class for custom buttons or for elements whose HTML
// and CSS you don't have control over.
//
// May be used on both form element tags and regular links to make
// them look like buttons.
//
// #### Examples
//
// ##### Make a custom toggle look like a button.
// 			.custom-toggle {
//				@extend %button-styles;
//			}
//
// Styleguide Forms.Buttons.%button-styles
//
// Author: Ashley Kolodziej
//
// Access: Public
//
// Since: 1.2.0

%button-styles {
	background: var(--bu-button-background-color, #{$color-button-bg});
	border: var(--bu-button-border, #{$border-button});
	border-radius: var(--bu-button-border-radius, #{$border-radius-button});
	color: var(--bu-button-text-color, #{$color-button-text});
	display: inline-block;
	font-family: var(--bu-button-font-family, #{$font-family-button});
	font-size: var(--bu-button-font-size, #{$font-size-button});
	font-weight: var(--bu-button-font-weight, 700);
	line-height: normal;
	margin: var(--bu-button-margin, #{$margin-button});
	padding: var(--bu-button-padding, #{$padding-button});
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;

	&:hover,
	&:focus {
		background: var(--bu-button-background-color--hover, #{darken($color-button-bg, 10%)});
		color: var(--bu-button-text-color--hover);
	}

	&:visited {
		color: var(--bu-button-text-color, #{$color-button-text});
	}

	&:active {
		box-shadow:
			0 0 0 1px rgba( $color-grayscale-0, 0.15 ) inset,
			0 0 6px rgba( $color-grayscale-0, 0.20 ) inset;
	}
}

// Input styles
//
// Controls button styles for input tags globally.
// Only to be used with form element tags.
//
// Styleguide Forms.Buttons.%button-styles
//
// Author: Ashley Kolodziej
//
// Access: Public
//
// Since: 1.2.0

%button-styles-input {
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	white-space: nowrap;
	zoom: 1;

	&[disabled],
	&-disabled,
	&-disabled:hover,
	&-disabled:active {
		box-shadow: none;
		background: var(--button-disabled-background, #{$color-grayscale-d});
		color: var(--button-disabled-text-color, #{$color-grayscale-7});
		cursor: not-allowed;
	}

	&-hidden {
		display: none;
	}
}

// Make an element look like a primary button
//
// Styles buttons in a "primary" way so as to look more important
// when there are multiple buttons near each other.
//
// Extend this class for custom buttons or for elements whose HTML
// and CSS you don't have control over.
//
// May be used on both form element tags and regular links to make
// them look like buttons.
//
// #### Examples
//
// ##### Make a custom toggle look like a primary button.
// 			.custom-toggle {
//				@extend %button-styles;
//			}
//
// Styleguide Forms.Buttons.%button-styles-primary
//
// Author: Ashley Kolodziej
//
// Access: Public
//
// Since: 1.2.0

%button-styles-primary {
	background: var(--bu-button-primary-background-color, #{$color-button-primary-bg});
	color: var(--bu-button-primary-text-color, #{$color-button-primary-text});

	&:hover,
	&:focus {
		background: var(--bu-button-primary-background-color--hover, #{darken($color-button-primary-bg, 10%)});
		color: var(--bu-button-primary-text-color--hover, #{$color-button-primary-text});
	}

	&:visited {
		color: var(--bu-button-primary-text-color, #{$color-button-primary-text});
	}
}

// The general styles for inputs which should look like buttons.
//
// Access: Public
// Since: 1.0.0

button,
[type="button"],
[type="reset"],
[type="submit"] {
	@extend %button-styles;
	@extend %button-styles-input;
}

// Buttons
// -----------------------------------------------------------------

// Button Class
//
// The basic style for a button. Preferred over the extend if
// you have control over HTML and do not need any styles for your
// button in particular.
//
// Styleguide Forms.Utilities.Button Class
//
// Access: Public
//
// Since: 1.0.0

.button {
	@extend %button-styles;
}

// Button Primary Class
//
// The basic style for a primary and selected button. Preferred over the extend if
// you have control over HTML and do not need any styles for your
// button in particular.
//
// Styleguide Forms.Utilities.Button Primary Class
//
// Access: Public
//
// Since: 1.0.0

.button-primary,
.button-selected {
	@extend %button-styles;
	@extend %button-styles-primary;
}
