// =================================================================
// Tables Settings
// =================================================================

// Table Margin
//
// Base margin for the table tag.
//
// Styleguide Content.Tables.Margin
//
// Access: Public
//
// Since: 1.0.0

$table-margin:                             $margin 0 !default;

// Table Padding
//
// Base padding for the table.
//
// Styleguide Content.Tables.Padding
//
// Access: Public
//
// Since: 1.0.0

$table-padding:                            0.5em 1em !default;

// Border
//
// Default border for tables.
//
// Styleguide Content.Tables.Border
//
// Access: Public
//
// Since: 1.0.0

$table-border:                             $border !default;

// Table Heading Color
//
// Default color for table headings.
//
// Styleguide Content.Tables.Table Heading Color
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-table-head:                         $color-heading !default;

// Table Heading Background Color
//
// Default background for table headings.
//
// Styleguide Content.Tables.Table Heading Background Color
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$table-head-bg:                            $color-grayscale-e !default;

// Table Caption Padding
//
// Default padding for table captions.
//
// Styleguide Content.Tables.Caption Padding
//
// Access: Public
//
// Since: 1.0.0

$table-caption-padding:                    0 0 10px !default;

// Table Caption Color
//
// Default color for table captions.
//
// Styleguide Content.Tables.Caption Color
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-table-caption:                      $color-grayscale-6 !default;

// Table Striped Background Color
// Default background for striped table backgrounds.
//
// Styleguide Content.Tables.Striped Background Color
//
// Access: Public
//
// Since: 1.0.0

$table-stripes:                            $color-grayscale-f5 !default;

// =================================================================
// Tables Styles
// =================================================================

// Controls base styling for tables.
//
// Access: Public
//
// Since: 1.0.0

table {
	@extend %font-size-secondary;
	border: $table-border;
	border-collapse: collapse;
	empty-cells: show;
	margin: $table-margin;
	width: 100%;

	caption {
		color: $color-table-caption;
		font-style: italic;
		padding: $table-caption-padding;
		text-align: center;
	}

	td,
	th {
		border-left: $table-border;
		font-size: inherit;
		margin: 0;
		overflow: visible; // to make ths where the title is really long work
		padding: $table-padding;

		&:first-child {
			border-left-width: 0;
		}

		&[class*="col-"] {
			display: table-cell;
			float: none;
		}
	}

	th {
		border-bottom: $table-border;
	}

	td {
		background-color: transparent;
		vertical-align: top;
	}

	thead {
		background: $table-head-bg;
		color: $color-table-head;
		text-align: left;
		vertical-align: bottom;
	}

	col[class*="col-"] { // Despite what CodeClimate says this is necessary.
		display: table-column;
		float: none;
	}
}

// Striped Table Class
//
// Adds stripes to tables using the `table-striped` class.
//
// Styleguide Content.Tables.Striped Table Class
//
// Access: Public
//
// Since: 1.0.0

.table-striped tr:nth-child(2n-1),
.u-odd {
	td {
		background: $table-stripes;
	}
}

// Bordered tables
// -----------------------------------------------------------------

// Bordered Table Class
//
// Adds both horizontal and vertical borders
// using the `table-bordered` class.
//
// Styleguide Content.Tables.Bordered Table Class
//
// Access: Public
//
// Since: 1.0.0

.table-bordered {
	td {
		border-bottom: $table-border;
	}
}

// Horizontal tables
// -----------------------------------------------------------------

// Horizontal Tables
//
// Switches the border on tables from vertical to horizontal
// using the `table-horizontal` class.
//
// Styleguide Content.Tables.Horizontal Table Class
//
// Access: Public
//
// Since: 1.0.0

.table-horizontal {
	td,
	th {
		border: 0;
		border-bottom: $table-border;
	}
}

// Removes the border at the bottom of tables to avoid overlap

.table-bordered,
.table-horizontal,
.section-row {
	tbody > {
		tr:last-child {
			td {
				border-bottom-width: 0;
			}
		}
	}
}

// BU Table Sorter override

table.sortable thead tr th.header {
	border: $table-border;
}
