// =================================================================
// Slideshow Styles
// =================================================================

// BU Slideshow styles.
//
// Access: Public
//
// Since: 1.0.0

.bu-slideshow-container {
	margin-bottom: var(--margin-large, var(--bu-spacing-lg, #{$margin-large}));
	text-align: center;
	z-index: 1;
}
