/* Branding Hotfix
----------------------------------------------------------------- */

%brand-strong {
	font-weight: 600;
}
.brand-part-logotype {
	@extend %brand-strong;
}

/* Sponsored branding */
.brand-part-sitename {
	display: block;

	.brand-part-logotype + & {
		display: inline;
	}
}
.brand-part-parent {
	@extend %brand-strong;

	.brand-part-logotype + & {
		font-weight: 400;
	}
}
.brand-part-subparent {
	display: block;
}