/* Forms
----------------------------------------------------------------- */

/* 1. Correct margin displayed oddly in IE 6/7. */
form {
	margin: 0; /* 1 */
}
/* Define consistent border, margin, and padding. */
fieldset {
	border: $form-fieldset-border;
	margin: $form-fieldset-margin;
	padding: $form-fieldset-padding;
}
/* 1. Correct color not being inherited in IE 6/7/8/9. 
   2. Correct text not wrapping in Firefox 3. 
   3. Correct alignment displayed oddly in IE 6/7. */
legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}
/* 1. Correct font size not being inherited in all browsers. 
   2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome. 
   3. Improve appearance and consistency in all browsers.
   4. Remove default webkit appearance */ 
button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
	-webkit-appearance: none; /* 4 */
}
/* Address Firefox 3+ setting `line-height` on `input` using ` !important` in the UA stylesheet. */
button,
input {
	line-height: normal;
}
/* Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button,
select {
	text-transform: none;
}
/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 
   2. Removed from normalize.css: Correct inability to style clickable `input` types in iOS: -webkit-appearance: button. 
   3. Improve usability and consistency of cursor style between image-type `input` and others. 
   4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue:inner spacing remains in IE 6. */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	@extend .button;
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}
/* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
	cursor: default;
}
/* 1. Address box sizing set to content-box in IE 8/9. 
   2. Remove excess padding in IE 8/9. 
   3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}
/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 
   2. Removed from normalize.css (Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof)). */
input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
}
/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
/* Remove inner padding and border in Firefox 3+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/* 1. Remove default vertical scrollbar in IE 6/7/8/9. 
   2. Improve readability and alignment in all browsers. */
textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/* Gravity Forms
----------------------------------------------------------------- */

.gform_wrapper li {
	list-style: none;
}
.gform_wrapper li:before {
	content: "";
	font-size: 0;
}
.gform_wrapper table {
	table-layout: initial;
}
.gform_wrapper input[type="radio"] {
	margin-left: 1px;
}

/* buttons
----------------------------------------------------------------- */

.button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.button {
    font-family: inherit;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.button-hover,
.button:hover,
.button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.button:focus {
    outline: 0;
}
.button-active,
.button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}
.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}
.button-hidden {
    display: none;
}
/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
.button-primary,
.button-selected,
a.button-primary,
a.button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
