/* typography
----------------------------------------------------------------- */

a {
	text-decoration: none;
}
a:hover,
a:focus
a:active {
	text-decoration: underline;
}

/* tables */
table {
	width: 100%;
	table-layout: fixed;
}
th,
td {
	text-align: left;
	padding: 20px;
}
table col[class*="col-"] {
	display: table-column;
	float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
	display: table-cell;
	float: none;
}

/* group 1: capita / benton (default)
----------------------------------------------------------------- */

body {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
} 
p {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 24px;
}
h1 {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 22px;
}
h2 {
	font-weight: 700;
	font-size: 33px;
	margin-bottom: 22px;
}
h3 {
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 22px;
}
.widget h3 {
	font-size: 23px;
	line-height: 26px;
}
h4 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 22px;
}
h5 {
	font-weight: 700;
	font-size: 23px;
	margin-bottom: 22px;
}
h6 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 22px;
}
#q {
	font-size: 18px;
}
.primaryNav li a {
	font-weight: 500;
	font-size: 18px;
}
.utilityNav li a {
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}