/* forms (use Gravity Forms class names)
----------------------------------------------------------------- */

.gform_wrapper li {
	list-style: none;
}
.gform_wrapper li:before {
	content: "";
	font-size: 0;
}
.gform_wrapper table {
	table-layout: initial;
}
.gform_wrapper input[type="radio"] {
	margin-left: 1px;
}

/* .button */
.button {
	position: absolute;
	right: 20px;
	top: 12px;
	width: 35px;
	height: 35px;
	text-indent: -9000px;
	background: transparent;
	border: none;
}