/* typography
----------------------------------------------------------------- */

a {
	text-decoration: none;
}
a:hover,
a:focus
a:active {
	text-decoration: underline;
}

/* group 1: capita / benton
----------------------------------------------------------------- */
.f1 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
} p {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 24px;
}
.f1 h1 {
	font-family: 'Capita';
	font-weight: 700;
	font-size: 40px;
	line-height: 43px;
	margin-bottom: 22px;
}
.f1 h2 {
	font-family: 'Capita';
	font-weight: 700;
	font-size: 33px;
	line-height: 36px;
	margin-bottom: 22px;
}
.f1 h3 {
	font-family: 'Capita';
	font-weight: 700;
	font-size: 28px;
	line-height: 31px;
	margin-bottom: 22px;
}
.f1 .widget h3 {
	font-size: 23px;
	line-height: 26px;
}
.f1 h4 {
	font-family: 'Capita';
	font-weight: 700;
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 22px;
}
.f1 h5 {
	font-family: 'Capita';
	font-weight: 700;
	font-size: 23px;
	line-height: 26px;
	margin-bottom: 22px;
}
.f1 h6 {
	font-family: 'Capita';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 22px;
}
.f1 #q {
	font-family: 'Capita';
	font-size: 18px;
}
.f1 .primaryNav li a {
	font-family: 'Capita';
	font-weight: 500;
	font-size: 18px;
}
.f1 .utilityNav li a {
	font-family: 'Capita';
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}

/* group 2: benton / benton
----------------------------------------------------------------- */
.f2 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
.f2 p {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 24px;
}
.f2 h1 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 22px;
}
.f2 h2 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 29px;
	line-height: 32px;
	margin-bottom: 22px;
}
.f2 h3 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 25px;
	line-height: 28px;
	margin-bottom: 22px;
}
.f2 .widget h3 {
	font-size: 18px;
	line-height: 21px;
}
.f2 h4 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 22px;
}
.f2 h5 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 22px;
}
.f2 h6 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 22px;
}
.f2 #q {
	font-family: 'Benton';
	font-size: 18px;
}
.f2 .primaryNav li a {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
}
.f2 .utilityNav li a {
	font-family: 'Capita';
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}

/* group 3: benton / capita
----------------------------------------------------------------- */
.f3 {
	font-family: 'Capita';
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}
.f3 p {
	font-family: 'Capita';
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 24px;
}
.f3 h1 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 33px;
	line-height: 36px;
	margin-bottom: 22px;
}
.f3 h2 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 26px;
	line-height: 29px;
	margin-bottom: 22px;
}
.f3 h3 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 23px;
	line-height: 26px;
	margin-bottom: 22px;
}
.f3 .widget h3 {
	font-size: 18px;
	line-height: 21px;
}
.f3 h4 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 22px;
}
.f3 h5 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 22px;
}
.f3 h6 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 22px;
}
.f3 #q {
	font-family: 'Benton';
	font-size: 18px;
}
.f3 .primaryNav li a {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 16px;
}
.f3 .utilityNav li a {
	font-family: 'Capita';
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}

/* group 4: pressura / benton
----------------------------------------------------------------- */
.f4 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
.f4 p {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 24px;
}
.f4 h1 {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 43px;
	margin-bottom: 22px;
}
.f4 h2 {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 22px;
}
.f4 h3 {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 33px;
	margin-bottom: 22px;
}
.f4 .widget h3 {
	font-size: 20px;
	line-height: 23px;
}
.f4 h4 {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 27px;
	margin-bottom: 22px;
}
.f4 h5 {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 23px;
	margin-bottom: 22px;
}
.f4 h6 {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 21px;
	margin-bottom: 22px;
}
.f4 #q {
	font-family: 'Pressura';
	font-size: 18px;
	text-transform: uppercase;
}
.f4 .primaryNav li a {
	font-family: 'Pressura';
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
.f4 .utilityNav li a {
	font-family: 'Capita';
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}

/* group 5: stag / benton
----------------------------------------------------------------- */
.f5 {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
.f5 p {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 24px;
}
.f5 h1 {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 40px;
	line-height: 43px;
	margin-bottom: 22px;
}
.f5 h2 {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 22px;
}
.f5 h3 {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 22px;
}
.f5 .widget h3 {
	font-size: 20px;
	line-height: 23px;
}
.f5 h4 {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 25px;
	line-height: 28px;
	margin-bottom: 22px;
}
.f5 h5 {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 22px;
}
.f5 h6 {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 22px;
}
.f5 #q {
	font-family: 'Stag';
	font-size: 18px;
}
.f5 .primaryNav li a {
	font-family: 'Stag';
	font-weight: 500;
	font-size: 18px;
}
.f5 .utilityNav li a {
	font-family: 'Stag';
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
}