// colors
// -----------------------------------------------------------------
$color-grayScale-0:       #000000 !default;
$color-grayScale-1:       #151515 !default;
$color-grayScale-2:       #222222 !default;
$color-grayScale-3:       #333333 !default;
$color-grayScale-4:       #444444 !default;
$color-grayScale-7:       #7a7a7a !default;
$color-grayScale-9:       #9f9f9f !default;
$color-grayScale-e:       #eeeeee !default;
$color-grayScale-c:       #cccccc !default;
$color-grayScale-d:       #dddddd !default;
$color-grayScale-f5:      #f5f5f5 !default;
$color-grayScale-f0:      #f0f0f0 !default;
$color-grayScale-f:       #ffffff !default;
 
// applications
$color-base:              $color-grayScale-4 !default;
$color-link:              rgb(0, 0, 238) !default;
$color-link-visited:      rgb(85, 26, 139) !default;
$color-heading:           $color-grayScale-0 !default;
$color-heading-small:     $color-grayScale-9 !default;
$color-code:              $color-grayScale-7 !default;
$color-code-bg:           $color-grayScale-f5 !default;
$color-table-border:      $color-grayScale-d !default;
$color-table-head:        $color-grayScale-0 !default;
$color-table-head-bg:     $color-grayScale-e !default;
$color-table-caption:     $color-grayScale-9 !default;
$color-table-th-border:   $color-grayScale-c !default;
$color-table-td-border:   $color-grayScale-c !default;
$color-table-stripes:     #f6f9fc !default;






// typography & vertical whitespace
// -----------------------------------------------------------------

// base     = p
// small    = h6
// medium   = h5
// large    = h4
// larger   = h3
// largest  = h2
// jumbo    = h1

// font-size
$fontSize-base:           16px !default;
$fontSize-micro:          10px !default;
$fontSize-smallest:       11px !default;
$fontSize-smaller:        12px !default;
$fontSize-small:          13px !default;
$fontSize-medium:         $fontSize-base !default;
$fontSize-large:          21px !default;
$fontSize-larger:         28px !default;
$fontSize-largest:        37px !default;
$fontSize-jumbo:          49px !default;
//applications
$fontSize-table-caption:  $fontSize-small !default;

// line-height
$lineHeight-base:         1.5 !default;
$lineHeight-micro:        $lineHeight-base !default;
$lineHeight-smallest:     $lineHeight-base !default;
$lineHeight-smaller:      $lineHeight-base !default;
$lineHeight-small:        $lineHeight-base !default;
$lineHeight-medium:       $lineHeight-base !default;
$lineHeight-large:        1.3 !default;
$lineHeight-larger:       1.25 !default;
$lineHeight-largest:      1.2 !default;
$lineHeight-jumbo:        1.15 !default;

// margin/padding
$fontMargin-base:         25px 0 !default;
$fontMargin-micro:        $fontMargin-base !default;
$fontMargin-smallest:     $fontMargin-base !default;
$fontMargin-smaller:      $fontMargin-base !default;
$fontMargin-small:        25px 0 !default;
$fontMargin-medium:       $fontMargin-base !default;
$fontMargin-large:        25px 0 !default;
$fontMargin-larger:       25px 0 !default;
$fontMargin-largest:      25px 0 !default;
$fontMargin-jumbo:        25px 0 !default;
// applications
$fontMargin-blockquote:   1em 40px !default;
$fontMargin-hgroup:       $fontMargin-base !default;
$fontMargin-list:         $fontMargin-base !default;
$fontPadding-list:        0 0 0 40px !default;
$fontMargin-dd:           0 0 0 40px !default;
$fontPadding-code:        0.2em 0.4em !default;
$fontMargin-code:         30px 0 !default;

//font-family
$fontFamily-base:         "Benton", Helvetica, san-serif !default;
$fontFamily-micro:        $fontFamily-base !default;
$fontFamily-smallest:     $fontFamily-base !default;
$fontFamily-smaller:      $fontFamily-base !default;
$fontFamily-small:        $fontFamily-base !default;
$fontFamily-medium:       $fontFamily-base !default;
$fontFamily-large:        $fontFamily-base !default;
$fontFamily-larger:       $fontFamily-base !default;
$fontFamily-largest:      $fontFamily-base !default;
$fontFamily-jumbo:        $fontFamily-base !default;
// applications
$fontFamily-branding:     "Whitney SSm A", "Whitney SSm B" !default;
$fontFamily-monospace:    Consolas, "Liberation Mono", Courier, monospace !default;


// tables
// -----------------------------------------------------------------

$table-border:               1px solid $color-table-border !default;
$table-margin:               30px 0 !default;
$table-padding:              0.5em 1em !default;
$table-caption-padding:      0 0 10px !default;


// forms
// -----------------------------------------------------------------

$form-fieldset-border:         1px solid #ccc !default;
$form-fieldset-margin:         0 !default;
$form-fieldset-padding:        20px !default;


// grid & responsive layout
// -----------------------------------------------------------------

// grid spacing
$grid-container-padding: 28px 20px !default;
$grid-row-margin:        0 -20px !default;
$grid-column-padding:    0 20px !default;

// breakpoints
$XS:              500px !default;
$S:               768px !default;
$M:               992px !default;
$L:              1200px !default;

// grid .container widths
$container-S:     750px !default;
$container-M:     970px !default;
$container-L:    1170px !default;

// media queries
$MQs: true !default;


// z-index
// -----------------------------------------------------------------

$zIndex-1:        100;
$zIndex-2:        200;
$zIndex-3:        300;
$zIndex-4:        400;
$zIndex-5:        500;
$zIndex-6:        600;
$zIndex-7:        700;
$zIndex-8:        800;
$zIndex-9:        900;
$zIndex-10:      1000;
// applications