// =================================================================
// Content Navigation Settings
// =================================================================

// Content Navigation Widget Border
//
// Controls the style of border used on the content navigation list.
//
// Styleguide Widgets.Content Navigation.Border
//
// Access: Public
//
// Since: 1.0.0

$border-widget-contentnav:                 $border !default;

// Content Navigation Widget Font Family
//
// Controls the font family used in the content navigation widget.
//
// Styleguide Widgets.Content Navigation.Font Family
//
// Access: Public
//
// Since: 1.0.0

$font-family-widget-contentnav:             $font-family-sans-serif !default;

// Content Navigation Widget Font Size
//
// Controls the font size used for items on the first level in the
// content navigation widget.
//
// Styleguide Widgets.Content Navigation.Font Size
//
// Access: Public
//
// Since: 1.0.0

$font-size-widget-contentnav-link:          inherit !default;

// Content Navigation Widget Nested Link Color
//
// Controls the font size used for items below the first level in the
// content navigation widget.
//
// Styleguide Widgets.Content Navigation.Nested Link Color
//
// Access: Public
//
// Since: 1.0.0

$font-size-widget-contentnav-nested-link:    inherit !default;

// Content Navigation Widget Link Color
//
// Controls the color of nav items in the content navigation widget.
//
// Styleguide Widgets.Content Navigation.Link Color
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-widget-contentnav:                  $color-link !default;

// Content Navigation Widget Link Hover
//
// Controls the color of nav items when you hover in the content navigation widget.
//
// Styleguide Widgets.Content Navigation.Link Hover
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-widget-contentnav-hover:            $color-link !default;

// Content Navigation Widget Link Active
//
// Controls the active color of nav items in the content navigation widget.
//
// Styleguide Widgets.Content Navigation.Link Active
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-widget-contentnav-active:           $color-link-active !default;


// =================================================================
// Content Navigation Styles
// =================================================================

// Handles styling for content navigation widgets (BU Pages and Content Navigation, aka side nav).
//
// Styleguide Components.Widgets.widget_bu_pages
//
// Access: Public
//
// Since: 1.0.0

// Handles styling for content navigation widgets (BU Pages and Content Navigation, aka side nav).
//
// Styleguide Components.Widgets.widget_nav_menu
//
// Access: Public
//
// Since: 1.0.0

.widget_bu_pages,
.widget_nav_menu {
	h3 {
		margin-bottom: 0;
	}

	ul {
		border-bottom: $border-widget-contentnav;
		padding: 0;

		ul {
			border: 0;
			margin: 0;
		}

	}

	li {
		border-top: $border-widget-contentnav;
		font-family: $font-family-widget-contentnav;

		&:first-child {
			border: 0;
		}

		li {
			border: 0;
			padding: 0 0 0 $padding-small;

			a {
				font-size: $font-size-widget-contentnav-nested-link;
			}
		}

		a {
			color: $color-widget-contentnav;
			display: block;
			font-size: $font-size-widget-contentnav-link;
			padding: $padding-small 0;

			&:hover,
			&:focus {
				color: $color-widget-contentnav-hover;
				text-decoration: none;
			}
		}
	}

	.active,
	.current_page_item a {
		color: $color-widget-contentnav-active;
	}
}
