// =================================================================
// Branding Settings
// =================================================================

// Branding Font Family
//
// The font to use for branding.
// You may not change this unless you have permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.Font Family
//
// Access: Public
//
// Since: 1.0.0

$font-family-brand:                         "Whitney SSm A", "Whitney SSm B", "Helvetica", "Arial", sans-serif !default;

// Branding Font Family - Sponsored
//
// The font family to use for the sponsored branding type.
//
// Styleguide WordPress.Branding.Font Family Sponsored
//
// Access: Public
//
// Since: 1.0.0

$font-family-brand-sponsored:               $font-family-brand !default;

// Branding Font Family - Unbranded
//
// The font family to use for the unbranded branding type.
//
// Styleguide WordPress.Branding.Font Family Unbranded
//
// Access: Public
//
// Since: 1.0.0

$font-family-brand-unbranded:               $font-family-sans-serif !default;

// Branding Height
//
// The height of the branding area.
//
// Styleguide WordPress.Branding.Height
//
// Access: Public
//
// Since: 1.0.0

$height-brand:                             120px !default;

// Branding Color
//
// The color used for the site name when a site is using BU branding.
//
// Styleguide WordPress.Branding.Color
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-brand:                              $color-grayscale-0 !default;

// Branding Color - Unbranded
//
// The color used for the site name when a site is not using BU branding.
//
// Styleguide WordPress.Branding.Color Unbranded
//
// Access: Public
//
// Since: 1.0.0
//
// Accessibility: AA

$color-unbranded:                            #c00;

// Branding Masterplate Image
//
// The image used for the BU Masterplate.
// Do not change this without permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.Masterplate Image
//
// Access: Public
//
// Since: 1.0.0

$image-masterplate:         "https://www.bu.edu/cdn/images/logos/masterplate112x50.png" !default;

// Branding Masterplate Image Retina
//
// The image used for the BU Masterplate on retina devices.
// Do not change this without permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.Masterplate Image Retina
//
// Access: Public
//
// Since: 1.0.0

$image-masterplate-retina:  "https://www.bu.edu/cdn/images/logos/masterplate112x50-retina.png" !default;

// Branding Subbrand Image
//
// The image used for the BU plate in the Signature style.
// Do not change this without permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.Subbrand Image
//
// Access: Public
//
// Since: 1.0.0

$image-subbrand:            "https://www.bu.edu/cdn/images/logos/subbrand49x35.png" !default;

// Branding Subbrand Image Retina
//
// The image used for the BU plate in the Signature style on retina devices.
// Do not change this without permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.Subbrand Image Retina
//
// Access: Public
//
// Since: 1.0.0

$image-subbrand-retina:     "https://www.bu.edu/cdn/images/logos/subbrand49x35-retina.png" !default;

// Branding BUMC Image
//
// The image used for the BUMC logo.
// Do not change this without permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.BUMC Image
//
// Access: Public
//
// Since: 1.0.0

$image-bumclogo:         "https://www.bu.edu/cdn/images/logos/bumclogo96x40.png" !default;

// Branding BUMC Image Retina
//
// The image used for the BUMC logo on retina devices.
// Do not change this without permission from Marketing &amp; Communications.
//
// Styleguide WordPress.Branding.BUMC Image Retina
//
// Access: Public
//
// Since: 1.0.0

$image-bumclogo-retina:  "https://www.bu.edu/cdn/images/logos/bumclogo96x40-retina.png" !default;

// =================================================================
// Branding Styles
// =================================================================

// A placeholder for vertically centering children in the branding partial.
//
// Access: Private
//
// Since: 1.4.0

%_vertical-center-child {
	@include vertical-center-child-ie8;
}

// A placeholder for vertical centering in the branding partial.
//
// Access: Private
//
// Since: 1.4.0

%_vertical-center {
	@include vertical-center-ie9;
}

// A placeholder for ensuring background images print.
//
// Access: Private
//
// Since: 1.4.0

%_brand-print {
	@media print {
		-webkit-print-color-adjust: exact;
	}
}

// Controls styling for elements in the branding area, including the logo and
// site description.
//
// Access: Public
//
// Since: 1.0.0

.brand {
	@extend %_vertical-center-child;
	font-family: $font-family-brand;
	font-size: 18px;
	height: $height-brand;
	line-height: 1.3;
	padding: 0 $padding-small;

	@include breakpoint( $sm ) {
		padding: 0 $padding;
	}

	> .has-parent {
		font-size: 16px;
	}

	> .brand-unbranded {
		font-size: inherit;
	}
}

// Controls styling for the logo container.
//
// Access: Public
//
// Since: 1.0.0

.brand-container {
	@extend %_vertical-center;
	color: $color-brand;
	display: block;
	float: left;
	font-weight: 400;
	text-decoration: none;

	&:visited {
		color: $color-brand;
	}
}

// Resets the font-weight to the appropriate weight for branding.
//
// Access: Private
//
// Since: 1.0.0

%_brand-strong {
	font-weight: 600;
}

// Controls styling for the signature brand style.
//
// Access: Public
//
// Since: 1.4.0

.brand-signature {
	@extend %_brand-print;
	background: url( $image-subbrand ) no-repeat 0 49%;
	min-height: 35px;
	padding: 10px 30px 9px 56px;

	@include retina {
		background-image: url( $image-subbrand-retina );
		background-size: 49px 35px;
	}

	&.has-parent {
		background-position: 0 3px;
		padding-bottom: 0;
		padding-top: 0;
	}
}

// Controls styling for the unbranded brand style.
//
// Access: Public
//
// Since: 1.4.0

.brand-unbranded {
	@extend %_brand-strong;
	color: $color-unbranded;
	font-family: $font-family-brand-unbranded;
	font-size: 20px;

	&:visited {
		color: $color-unbranded;
	}
}

// Controls styling for the logotype brand part.
//
// Access: Public
//
// Since: 1.4.0

.brand-part-logotype {
	@extend %_brand-strong;
}

// Controls styling for the site name brand part.
//
// Access: Public
//
// Since: 1.4.0

.brand-part-sitename {
	display: block;

	.brand-part-logotype + & {
		display: inline;
	}
}

// Controls styling for the parent entity brand part.
//
// Access: Public
//
// Since: 1.4.0

.brand-part-parent {
	@extend %_brand-strong;

	.brand-part-logotype + & {
		font-weight: 400;
	}
}

// Controls styling for the subparent entity brand part.
//
// Access: Public
//
// Since: 1.4.0

.brand-part-subparent {
	display: block;
}

// Controls styling for the site description.
//
// Access: Public
//
// Since: 1.4.0

.brand-site-description {
	@extend %font-size-secondary;
	@extend %_vertical-center;
	display: none;

	@include breakpoint( $md ) {
		color: $color-grayscale-9;
		display: block;
		font-family: $font-family-base;
	}
}


// Controls styling for the masterplate.
//
// Access: Public
//
// Since: 1.0.0

.brand-masterplate {
	@extend %_brand-print;
	@extend %hide-text;
	background: url( $image-masterplate ) no-repeat 0 0;
	display: block;
	height: 50px;
	width: 112px;

	@include retina {
		background-image: url( $image-masterplate-retina );
		background-size: 112px 50px;
	}
}

// Controls styling for the BUMC logo.
//
// Access: Public
//
// Since: 1.0.0

.brand-bumclogo {
	@extend %_brand-print;
	@extend %hide-text;
	background: url( $image-bumclogo ) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 96px;

	@include retina {
		background-image: url( $image-bumclogo-retina );
		background-size: 96px 40px;
	}
}
