
// =================================================================
// Breadcrumb Navigation Styles
// =================================================================

:where( .nav-crumbs ) {
	background: var( --nav-crumbs-background, #fff );
	border-block: var( --nav-crumbs-border, var( --bu-base-border, 1px solid #ddd ) );
	display: flex;
	font-family: var( --nav-crumb-font-family, var( --bu-base-font-family, sans-serif ) );
	font-size: var( --nav-crumb-font-size, 1rem );
	margin-block: var(--bu--content--margin-block, 1em);
	margin-inline: auto;
	padding: var( --nav-crumbs-padding-block, 0.75em ) var( --nav-crumbs-padding-inline, 0 );

	grid-area: breadcrumbs;

	width: var( --bu-container-size--content );

	* {
		line-height: 1em;
		vertical-align: middle;
	}
	
	.nav-crumb-button {
		background: var( --nav-crumbs-color-buttons-background, var( --bu-base-button-bg-color, #eee ) );
		border: 0;
		border-radius: var( --nav-crumbs-color-buttons-radius, var( --bu-base-button-border-radius, 4px ) );
		font-family: var( --nav-crumb-font-family );
		font-size: var( --nav-crumb-font-size, 1em );
		line-height: var( --nav-crumb-height, 1em );
		margin: 0;
		padding: var( --nav-crumb-button-padding, 0.75em 0.75em );

		&:hover {
			background: var( --nav-crumbs-color-buttons-background-hover, var( --nav-crumbs-color-buttons-background, var( --bu-base-button-bg-color, #eee ) ) );
		}
	}


	&[ data-expandable="false" ] {
		.nav-crumb-expander-wrapper {
			display: none;
		}	
	}

	// Styles for when breadcrumbs are expanded
	&[ data-crumbs-expanded="true" ] {
		display: block;
		
		.nav-crumb-expander-wrapper {
			display: none;
		}

		.nav-crumb-list {
			display: inline;
			height: auto;

			// &::before {
			// 	display: none;
			// }

			&::before {
				display: none;
			}
		}

		.nav-crumb {
			a {
				max-width: none;
			}
		}
	}


	// Styles for when breadcrumb dropdown menu is open
	&:has( .nav-crumb-menu[open] ) {

		.nav-crumb-menu-wrapper {
			min-width: clamp( 0px, var( --nav-crumb-char-count-current, 27ch ), 90vw );
		}

		.nav-crumb-current {
			border-radius: var( --nav-crumbs-color-buttons-radius-d, var( --bu-base-button-border-radius, 4px ) var( --bu-base-button-border-radius, 4px ) 0 0 );
			max-width: var( --nav-crumb-char-count-current, 27ch );

			&::after {
				content: "\f106";
			}
		}
		
		.nav-crumb-menu {
			border-radius: var( --bu-base-button-border-radius-menu-open, 0 0 var( --bu-base-button-border-radius, 4px ) var( --bu-base-button-border-radius, 4px ));
		}		
	}
}

.nav-crumb-list {
	display: inline-flex;
	flex-wrap: wrap;
	height: calc( var( --nav-crumb-height, 1em ) + (var( --nav-crumb-padding, 0.75em ) * 2 ) );
	list-style: none;
	margin: 0;
	max-width: var( --nav-crumblist-max-width );
	overflow: hidden;
	padding: 0;
	vertical-align: middle;

	// &:has(*:nth-child(3)) {
	// 	--nav-crumb-max-width: 33%;
	// }

	&::before {
		content: '';
		display: inline;
		height: 100%;
	}
}
	
.nav-crumb,
.nav-crumb-expander-wrapper {

	&::after {
		content:'/';
		display: inline-block;
		padding: var( --nav-crumb-spacer-padding, 0.75em 0.75em );
	}
}
	
.nav-crumb {
	display: inline-flex;
	// max-width: var( --nav-crumb-max-width );

	a {
		color:  var( --nav-crumb-color-text, var( --bu-base-link-color, #0f69d7 ) );
		display: inline-block;
		margin: var( --nav-crumb-margin, 0.5  );
		max-width: var( --nav-crumb-max-width );
		overflow: hidden;
		padding: var( --nav-crumb-padding, 0.75em ) 0;
		text-decoration: none;
		text-overflow: ellipsis;
		vertical-align: middle;
		white-space: nowrap;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.nav-crumb-home {
	a{
		// font-size: 0;
		max-width: none;

		&::before {
			content: "\f015";
			display: block;
			font-family: "Font Awesome 5 Free";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			float: right;
			font-style: normal;
			font-variant: normal;
			font-weight: 900;
			line-height: 1;
			// padding: var( --nav-crumb-padding, 0.75em ) 0;
			text-decoration: none;
			text-rendering: optimizeLegibility;
			text-transform: none;
			translate: 0 -0.1em;
			white-space: nowrap;
		}	

		span {
			display: none;
		}
	}
	
}

.nav-crumb-expander-wrapper,
.nav-crumb-menu-wrapper {
	flex-shrink: 0;
}

.nav-crumb-menu {
	padding: var( --nav-crumb-menu-padding, 0.75em );
}


.nav-crumb-current {
	display: inline-block;
	max-width: var( --nav-crumb-char-count-current, 27ch );
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:not( :has( button ) ) {
		padding: var( --nav-crumb-padding, 0.75em ) 0;
	}

	&:has( button ) {
		padding-right: calc( var( --nav-crumb-padding, 0.75em ) * 2 + 1em);

		&::after {
			content: "\f107";
			display: block;
			font-family: "Font Awesome 5 Free";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			float: right;
			font-style: normal;
			font-variant: normal;
			font-weight: 900;
			line-height: 1;
			position: absolute;
			right: var(--nav-crumb-padding, 0.75em );
			top: 50%;
			text-decoration: none;
			text-rendering: optimizeLegibility;
			text-transform: none;
			translate: 0 -50%;
			white-space: nowrap;
			z-index: 0;
		}
	}
	
}

.nav-crumb-menu-toggle {
	display: block;
	bottom: 0;
	font-size: 0;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	z-index: 1;
}

.nav-crumb-menu-wrapper {
	display: inline-block;
	min-width: 0;
	position: relative;
	transition: min-width 250ms;
	
	&:has( .nav-crumb-menu[open] ) {
		min-width: clamp( 0px, var( --nav-crumb-char-count-current, 27ch ), 90vw );
		
		.nav-crumb-current {
			border-radius: var( --nav-crumbs-color-buttons-radius, var( --bu-base-button-border-radius, 4px ) ) var( --nav-crumbs-color-buttons-radius, var( --bu-base-button-border-radius, 4px ) ) 0 0;

			&::after {
				content: "\f106";
			}
		}
		
		.nav-crumb-menu {
			border-radius: 0 0 var( --nav-crumbs-color-buttons-radius, var( --bu-base-button-border-radius, 4px ) ) var( --nav-crumbs-color-buttons-radius, var( --bu-base-button-border-radius, 4px ) );
		}
	}
}

.nav-crumb-menu {
	background:  var( --nav-crumbs-color-menu-background, var( --bu-base-button-bg-color, #eee ) );
	border: 0;

	box-sizing: border-box;
	margin: 0;
	padding: var( --nav-crumb-padding, 0.75em );
	position: absolute;

	width: auto;

	left: anchor( left );
	right: anchor( right );
	top: calc( anchor( bottom ) - 1px );
	
	ul,
	menu {
		border-inline-start: 2px solid var( --nav-crumbs-color-buttons-text, var( --bu-base-button-text-color, #333 ) );
		border-inline-start: var( --nav-crumbs-border, var( --bu-base-border, 1px solid #ddd ) );
		list-style: none;
		margin: 0;
		padding: var(--nav-crumb-padding, 0.75em );
	}

	li {
		margin-block: 1em;

		&:first-child {
			margin-block-start: 0;
		}

		&:last-child {
			margin-block-end: 0;
		}
	}
	
	a {
		color:  var( --nav-crumbs-color-menu-text, var( --bu-base-button-text-color, #333 ) );

		&:hover {
			text-decoration: underline;
		}
	}
}
