// Base Icon Styles
// -----------------------------------------------------------------

@font-face {
	font-family: "bu-default-icons";
	src: url( "https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot?" ) format( "embedded-opentype" );
	src: url( "https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.woff" ) format( "woff" ),
		url( "https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.ttf" ) format( "truetype" ),
		url( "https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.svg#bu-default-icons" ) format( "svg" );
	font-weight: normal;
	font-style: normal;
}

/// Provides base icon styles normalized across browsers and optimized
/// for accessibility.
/// Use this placeholder if you are loading your own font library
/// and can't use the built-in icons because the content is different.
/// This should go on your base element. The complimentary placeholder,
/// `%icon`, needs to go on a `:before` or `:after` underneath.
/// @group icons
/// @access public
/// @since 1.2.0

%icon-base {
	.lt-ie9:hover & {
		// This triggers a redraw in IE to Fix IE8's :before content rendering.
		-ms-zoom: 1;
	}

	span {
		display: none; // Hide labels
	}
}

/// Provides base icon styles normalized across browsers and optimized
/// for accessibility.
/// Use this placeholder on :before or :after if you are loading your own
/// font library and can't use the built-in icons because the content is different.
/// You will also need the %icon-base placeholder on your hoverable element if you
/// need compatibility before IE9.
/// @group icons
/// @access public
/// @since 1.2.0

%icon-content {
	color: $color-icons;
	display: inline-block;
	font-family: $font-family-icons;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
	line-height: 1;
	padding-bottom: 0.2em; // Accomodate for inline icons
	speak: none;
	text-decoration: none !important;
	text-rendering: optimizeLegibility;
	text-transform: none !important;
	vertical-align: middle;
	white-space: nowrap;
}

/// The android icon.
/// @example scss - Add the android icon to a menu item
/// .menu-item {
///    @extend %icon-android;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-android {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F6F3";
	}
}

/// The appleinc icon.
/// @example scss - Add the appleinc icon to a menu item
/// .menu-item {
///    @extend %icon-appleinc;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-appleinc {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F8FF";
	}
}

/// The bike icon.
/// @example scss - Add the bike icon to a menu item
/// .menu-item {
///    @extend %icon-bike;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-bike {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F6B2";
	}
}

/// The calendar icon.
/// @example scss - Add the calendar icon to a menu item
/// .menu-item {
///    @extend %icon-calendar;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-calendar {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4C5";
	}
}

/// The car icon.
/// @example scss - Add the car icon to a menu item
/// .menu-item {
///    @extend %icon-car;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-car {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F698";
	}
}

/// The clock icon.
/// @example scss - Add the clock icon to a menu item
/// .menu-item {
///    @extend %icon-clock;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-clock {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\23F2";
	}
}

/// The cloud icon.
/// @example scss - Add the cloud icon to a menu item
/// .menu-item {
///    @extend %icon-cloud;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-cloud {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2601";
	}
}

/// The desktop icon.
/// @example scss - Add the desktop icon to a menu item
/// .menu-item {
///    @extend %icon-desktop;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-desktop {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4BB";
	}
}

/// The infinity icon.
/// @example scss - Add the infinity icon to a menu item
/// .menu-item {
///    @extend %icon-infinity;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-infinity {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\221E";
	}
}

/// The laptop icon.
/// @example scss - Add the laptop icon to a menu item
/// .menu-item {
///    @extend %icon-laptop;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-laptop {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EA00";
	}
}

/// The plane icon.
/// @example scss - Add the plane icon to a menu item
/// .menu-item {
///    @extend %icon-plane;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-plane {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2708";
	}
}

/// The smartphone icon.
/// @example scss - Add the smartphone icon to a menu item
/// .menu-item {
///    @extend %icon-smartphone;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-smartphone {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EA02";
	}
}

/// The tablet icon.
/// @example scss - Add the tablet icon to a menu item
/// .menu-item {
///    @extend %icon-tablet;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tablet {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EA01";
	}
}

/// The thermometer icon.
/// @example scss - Add the thermometer icon to a menu item
/// .menu-item {
///    @extend %icon-thermometer;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-thermometer {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F201";
	}
}

/// The toolbox icon.
/// @example scss - Add the toolbox icon to a menu item
/// .menu-item {
///    @extend %icon-toolbox;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-toolbox {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F030";
	}
}

/// The tv icon.
/// @example scss - Add the tv icon to a menu item
/// .menu-item {
///    @extend %icon-tv;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tv {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4FA";
	}
}

/// The user icon.
/// @example scss - Add the user icon to a menu item
/// .menu-item {
///    @extend %icon-user;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-user {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F464";
	}
}

/// The users icon.
/// @example scss - Add the users icon to a menu item
/// .menu-item {
///    @extend %icon-users;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-users {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F465";
	}
}

/// The utensils icon.
/// @example scss - Add the utensils icon to a menu item
/// .menu-item {
///    @extend %icon-utensils;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-utensils {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F374";
	}
}

/// The view icon.
/// @example scss - Add the view icon to a menu item
/// .menu-item {
///    @extend %icon-view;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-view {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F440";
	}
}

/// The watch icon.
/// @example scss - Add the watch icon to a menu item
/// .menu-item {
///    @extend %icon-watch;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-watch {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\231A";
	}
}

/// The wrench icon.
/// @example scss - Add the wrench icon to a menu item
/// .menu-item {
///    @extend %icon-wrench;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-wrench {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F527";
	}
}

/// The wifi icon.
/// @example scss - Add the wifi icon to a menu item
/// .menu-item {
///    @extend %icon-wifi;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-wifi {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB84";
	}
}


.site-footer-social a {
	@include transition(color 200ms ease-in-out 0s);
}
.site-footer-social i {
	@extend %icon-content;
	font-size: $font-size-large;
}
.site-footer-social a[href*="dropbox.com"] i {
	@extend %icon-dropbox;
}
.site-footer-social a[href*="facebook.com"] i {
	@extend %icon-facebook;
}
.site-footer-social a[href*="flickr.com"] i {
	@extend %icon-flickr;
}
.site-footer-social a[href*="foursquare.com"] i {
	@extend %icon-foursquare;
}
.site-footer-social a[href*="github.com"] i {
	@extend %icon-github;
}
.site-footer-social a[href*="instagram.com"] i {
	@extend %icon-instagram;
}
.site-footer-social a[href*="kickstarter.com"] i {
	@extend %icon-kickstarter;
}
.site-footer-social a[href*="linkedin.com"] i {
	@extend %icon-linkedin;
}
.site-footer-social a[href*="pinterest.com"] i {
	@extend %icon-pinterest;
}
.site-footer-social a[href*="plus.google.com"] i {
	@extend %icon-googleplus;
}
.site-footer-social a[href*="getpocket.com"] i {
	@extend %icon-pocket;
}
.site-footer-social a[href*="reddit.com"] i {
	@extend %icon-reddit;
}
.site-footer-social a[href*="tumblr.com"] i {
	@extend %icon-tumblr;
}
.site-footer-social a[href*="twitter.com"] i {
	@extend %icon-twitter;
}
.site-footer-social a[href*="vimeo.com"] i {
	@extend %icon-vimeo;
}
.site-footer-social a[href*="vine.co"] i {
	@extend %icon-vine;
}
.site-footer-social a[href*="youtube.com"] i {
	@extend %icon-youtube;
}