// Charts, Graphs, & Data Icons
// -----------------------------------------------------------------

/// The calculator icon.
/// @example scss - Add the calculator icon to a menu item
/// .menu-item {
///    @extend %icon-calculator;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-calculator {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E551";
	}
}

/// The barchart icon.
/// @example scss - Add the barchart icon to a menu item
/// .menu-item {
///    @extend %icon-barchart;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-barchart {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4CA";
	}
}

/// The piechart icon.
/// @example scss - Add the piechart icon to a menu item
/// .menu-item {
///    @extend %icon-piechart;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-piechart {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E570";
	}
}

/// The stock icon.
/// @example scss - Add the stock icon to a menu item
/// .menu-item {
///    @extend %icon-stock;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stock {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E579";
	}
}
