// Document Icons
// -----------------------------------------------------------------

/// The link icon.
/// @example scss - Add the link icon to a menu item
/// .menu-item {
///    @extend %icon-link;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-link {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F51B";
	}
}

/// The link alt icon.
/// @example scss - Add the alt icon to a menu item
/// .menu-item {
///    @extend %icon-alt;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-link-alt {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F699";
	}
}

/// The file icon.
/// @example scss - Add the file icon to a menu item
/// .menu-item {
///    @extend %icon-file;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-file {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4C4";
	}
}

/// The files icon.
/// @example scss - Add the files icon to a menu item
/// .menu-item {
///    @extend %icon-files;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-files {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EC00";
	}
}

/// The folder icon.
/// @example scss - Add the folder icon to a menu item
/// .menu-item {
///    @extend %icon-folder;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-folder {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4C1";
	}
}

/// The index icon.
/// @example scss - Add the index icon to a menu item
/// .menu-item {
///    @extend %icon-index;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-index {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E902";
	}
}

/// The storagebox icon.
/// @example scss - Add the storagebox icon to a menu item
/// .menu-item {
///    @extend %icon-storagebox;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-storagebox {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E901";
	}
}
