// Location Icons
// -----------------------------------------------------------------

/// The compass icon.
/// @example scss - Add the compass icon to a menu item
/// .menu-item {
///    @extend %icon-compass;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-compass {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E671";
	}
}

/// The crosshair icon.
/// @example scss - Add the crosshair icon to a menu item
/// .menu-item {
///    @extend %icon-crosshair;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-crosshair {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2316";
	}
}

/// The globe icon.
/// @example scss - Add the globe icon to a menu item
/// .menu-item {
///    @extend %icon-globe;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-globe {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F310";
	}
}

/// The location icon.
/// @example scss - Add the location icon to a menu item
/// .menu-item {
///    @extend %icon-location;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-location {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E6D0";
	}
}

/// The map icon.
/// @example scss - Add the map icon to a menu item
/// .menu-item {
///    @extend %icon-map;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-map {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E673";
	}
}

/// The navigate icon.
/// @example scss - Add the navigate icon to a menu item
/// .menu-item {
///    @extend %icon-navigate;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-navigate {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E670";
	}
}

/// The signpost icon.
/// @example scss - Add the signpost icon to a menu item
/// .menu-item {
///    @extend %icon-signpost;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-signpost {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E672";
	}
}