// =================================================================
// Media Icons
	// play
	// pause
	// stop
	// rewind
	// fastforward
	// skipback
	// skipforward
	// record
	// volume
	// camera
	// headphones
	// mic
	// music
	// picture
	// video
// =================================================================

/// The play icon.
/// @example scss - Add the play icon to a menu item
/// .menu-item {
///    @extend %icon-play;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-play {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\25B6";
	}
}

/// The pause icon.
/// @example scss - Add the pause icon to a menu item
/// .menu-item {
///    @extend %icon-pause;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-pause {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\E8A0";
	}
}

/// The stop icon.
/// @example scss - Add the stop icon to a menu item
/// .menu-item {
///    @extend %icon-stop;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-stop {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\25A0";
	}
}

/// The rewind icon.
/// @example scss - Add the rewind icon to a menu item
/// .menu-item {
///    @extend %icon-rewind;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-rewind {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\23EA";
	}
}

/// The fastforward icon.
/// @example scss - Add the fastforward icon to a menu item
/// .menu-item {
///    @extend %icon-fastforward;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-fastforward {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\29E3";
	}
}

/// The skipback icon.
/// @example scss - Add the skipback icon to a menu item
/// .menu-item {
///    @extend %icon-skipback;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-skipback {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\23EE";
	}
}

/// The skipforward icon.
/// @example scss - Add the skipforward icon to a menu item
/// .menu-item {
///    @extend %icon-skipforward;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-skipforward {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\23ED";
	}
}

/// The record icon.
/// @example scss - Add the record icon to a menu item
/// .menu-item {
///    @extend %icon-record;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-record {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\25CF";
	}
}

/// The volume icon.
/// @example scss - Add the volume icon to a menu item
/// .menu-item {
///    @extend %icon-volume;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-volume {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F508";
	}
}

/// The camera icon.
/// @example scss - Add the camera icon to a menu item
/// .menu-item {
///    @extend %icon-camera;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-camera {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4F7";
	}
}

/// The headphones icon.
/// @example scss - Add the headphones icon to a menu item
/// .menu-item {
///    @extend %icon-headphones;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-headphones {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F3A7";
	}
}

/// The mic icon.
/// @example scss - Add the mic icon to a menu item
/// .menu-item {
///    @extend %icon-mic;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-mic {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F3A4";
	}
}

/// The music icon.
/// @example scss - Add the music icon to a menu item
/// .menu-item {
///    @extend %icon-music;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-music {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\266B";
	}
}

/// The picture icon.
/// @example scss - Add the picture icon to a menu item
/// .menu-item {
///    @extend %icon-picture;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-picture {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F304";
	}
}

/// The video icon.
/// @example scss - Add the video icon to a menu item
/// .menu-item {
///    @extend %icon-video;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-video {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4F9";
	}
}
