// =================================================================
// Status Icons
	// alert
	// check
	// info
	// megaphone
// =================================================================

/// The alert icon.
/// @example scss - Add the alert icon to a menu item
/// .menu-item {
///    @extend %icon-alert;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-alert {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\26A0";
	}
}

/// The check icon.
/// @example scss - Add the check icon to a menu item
/// .menu-item {
///    @extend %icon-check;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-check {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2713";
	}
}

/// The info icon.
/// @example scss - Add the info icon to a menu item
/// .menu-item {
///    @extend %icon-info;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-info {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2139";
	}
}

/// The megaphone icon.
/// @example scss - Add the megaphone icon to a menu item
/// .menu-item {
///    @extend %icon-megaphone;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-megaphone {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4E2";
	}
}