// Technology Icons
// -----------------------------------------------------------------

/// The android icon.
/// @example scss - Add the android icon to a menu item
/// .menu-item {
///    @extend %icon-android;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-android {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F6F3";
	}
}

/// The appleinc icon.
/// @example scss - Add the appleinc icon to a menu item
/// .menu-item {
///    @extend %icon-appleinc;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-appleinc {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\F8FF";
	}
}

/// The desktop icon.
/// @example scss - Add the desktop icon to a menu item
/// .menu-item {
///    @extend %icon-desktop;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-desktop {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4BB";
	}
}

/// The cloud icon.
/// @example scss - Add the cloud icon to a menu item
/// .menu-item {
///    @extend %icon-cloud;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-cloud {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2601";
	}
}

/// The laptop icon.
/// @example scss - Add the laptop icon to a menu item
/// .menu-item {
///    @extend %icon-laptop;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-laptop {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EA00";
	}
}

/// The tablet icon.
/// @example scss - Add the tablet icon to a menu item
/// .menu-item {
///    @extend %icon-tablet;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tablet {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EA01";
	}
}

/// The smartphone icon.
/// @example scss - Add the smartphone icon to a menu item
/// .menu-item {
///    @extend %icon-smartphone;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-smartphone {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EA02";
	}
}

/// The tv icon.
/// @example scss - Add the tv icon to a menu item
/// .menu-item {
///    @extend %icon-tv;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-tv {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4FA";
	}
}

/// The wifi icon.
/// @example scss - Add the wifi icon to a menu item
/// .menu-item {
///    @extend %icon-wifi;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-wifi {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\EB84";
	}
}
