// =================================================================
// Time & Date Icons
	// calendar
	// clock
	// watch
	// infinity
// =================================================================

/// The calendar icon.
/// @example scss - Add the calendar icon to a menu item
/// .menu-item {
///    @extend %icon-calendar;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-calendar {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F4C5";
	}
}

/// The clock icon.
/// @example scss - Add the clock icon to a menu item
/// .menu-item {
///    @extend %icon-clock;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-clock {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\23F2";
	}
}

/// The watch icon.
/// @example scss - Add the watch icon to a menu item
/// .menu-item {
///    @extend %icon-watch;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-watch {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\231A";
	}
}

/// The infinity icon.
/// @example scss - Add the infinity icon to a menu item
/// .menu-item {
///    @extend %icon-infinity;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-infinity {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\221E";
	}
}
