// Transportation Icons
// -----------------------------------------------------------------

/// The bike icon.
/// @example scss - Add the bike icon to a menu item
/// .menu-item {
///    @extend %icon-bike;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-bike {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F6B2";
	}
}

/// The car icon.
/// @example scss - Add the car icon to a menu item
/// .menu-item {
///    @extend %icon-car;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-car {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\1F698";
	}
}

/// The plane icon.
/// @example scss - Add the plane icon to a menu item
/// .menu-item {
///    @extend %icon-plane;
/// }
/// @group icons
/// @access public
/// @since 1.2.0

%icon-plane {
	@extend %icon-base;

	&::before {
		@extend %icon-content;
		content: "\2708";
	}
}
