// BU Landing Pages overrides
//
// Basic styles to override Responsive defaults
// for BU Landing Pages plugin.
//
// Access: Public
//
// Since: 4.0.0

.page-template-bu-landing {
	.content-container {
		display: flex;
		max-width: none;
		flex-direction: column;
	}

	.content-area {
		float: none;
		margin: auto;
	}
}